<ng-container *ngIf="catagory != 'Not Mapped' && catagory != 'Exception' && catagory != 'OnBench'">
    <div class="row md-2">
        <div class="col-md-2 m-2" [hidden]="allEmployeeData.length == 0 && catagory" style="display: flex;
                    justify-content: left;
                    max-width: fit-content;
                    padding: 5px; border: 2px solid #053885;border-radius: 20%;">
            <i class="fa fa-download" style="color: #053885;display: flex;
                        justify-content: left;
                        max-width: fit-content;" (click)="exportToExcel()"></i>
        </div>
        <div class="col-md-2 m-2" [hidden]="allEmployeeData.length == 0" style="display: flex;
                    justify-content: left;
                    max-width: fit-content;
                    padding: 5px; border: 2px solid #053885;border-radius: 20%;">
            <a (click)="toggleSearch()" style="color: #193d8a; background-color: #fff;">
                <i class="fa fa-search" *ngIf="!isSearchEnabled"></i>
                <i *ngIf="isSearchEnabled" class="fa-solid fa-xmark"></i>
            </a>
        </div>
        <div class="col d-flex align-items-center ">
          <span class="font-weight-bold text-muted small">
            Displaying:
            {{ (filteredEmployeeList | colFilter : filters : false).length }} of
            {{ allEmployeeData.length }} employees
          </span>
      </div>
        <!-- mat-sort-header="employeementId|string"
mat-sort-header="name|string"
mat-sort-header="department|string"
mat-sort-header="billableType|string"
mat-sort-header="billable|string"
mat-sort-header="projectName|string"
mat-sort-header="clientName|string"
mat-sort-header="apmosysRM|string"
mat-sort-header="clientRM|string"
mat-sort-header="poNo|string"
mat-sort-header="poProjectType|string"
mat-sort-header="poStartDate|datetime"
mat-sort-header="poEndDate|datetime"
mat-sort-header="projectManagerName|string"
mat-sort-header="teamName|string"
mat-sort-header="teamName|string"
mat-sort-header="status|string" 
matSort (matSortChange)="sortData($event)"
-->
    </div>
    <div class="row">
<div class="table-container" bassHorizontalScroll [tableId]="'projectInfo'" [tableTHeadId]="'projectInfoTHead'"
    [tableTHeadTrId]="'projectInfoTHeadTr'">
    <table class="table" id="project-info" matSort>
        <thead class="thead-light">
            <tr id="projectInfoTHeadTr">
                <th scope="col" class="info-label" style="min-width: 50px;">
                    <i class="fa-solid fa-up-right-and-down-left-from-center" title="Expand/Collapse"></i>
                </th>
                <th scope="col" class="info-label" style="min-width: 120px;">Sr No.</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Employment Id</th>
                <th scope="col" class="info-label" style="min-width: 300px;">Employee Name</th>
                <th scope="col" class="info-label" style="min-width: 300px;">Department</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Billable Type</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Is Billable</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Project Name</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Client Name</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Apmosys RM</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Client RM</th>
                <th scope="col" class="info-label" style="min-width: 200px;">PO No.</th>
                <th scope="col" class="info-label" style="min-width: 200px;">PO Project Type</th>
                <th scope="col" class="info-label" style="min-width: 200px;">PO Start Date</th>
                <th scope="col" class="info-label" style="min-width: 200px;">PO End Date</th>
                <th scope="col" class="info-label" style="min-width: 250px;">Project Manager Name</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Team Name</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Employee Role</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Status</th>
            </tr>
            <tr app-column-filter-bar *ngIf="isSearchEnabled" [columnList]="tableColumns"
                (onSearch)="onSearch($event)">
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="allEmployeeData.length == 0">
                <tr>
                    <th colspan="19" style="max-width: fit-content;" class="text-center info-label">No details
                        to display...</th>
                </tr>
            </ng-container>
            
            <ng-container
                *ngFor="let employee of filteredEmployeeList | paginate: { itemsPerPage: 5, currentPage: page }; let eIndex = index">
                
                <tr class="main-employee-row" [class.expanded]="isEmployeeExpanded(eIndex)">
                    <td class="text-center expand-cell">
                        <button 
                            *ngIf="hasMultipleSubRows(employee)"
                            class="btn-expand"
                            (click)="toggleEmployeeExpansion(eIndex)"
                            [title]="isEmployeeExpanded(eIndex) ? 'Collapse' : 'Expand'">
                            <i class="fas" 
                               [class.fa-chevron-down]="!isEmployeeExpanded(eIndex)"
                               [class.fa-chevron-up]="isEmployeeExpanded(eIndex)"></i>
                        </button>
                    </td>
                    
                    <td class="text-center">{{ getGlobalProjectIndex(eIndex) + 1 }}</td>
                    <td class="text-center">A-{{employee.employeementId}}</td>
                    <td class="text-center">{{employee.name}}</td>
                    <td class="text-center">{{employee.department}}</td>
                    <td class="text-center">{{employee.billableType}}</td>
                    <td class="text-center">{{employee.billable}}</td>
                    
                    <ng-container *ngIf="employee.rmgprojects && employee.rmgprojects.length > 0">
                        <td class="text-center">{{employee.rmgprojects[0].projectName}}</td>
                        <td class="text-center">{{employee.rmgprojects[0].clientName}}</td>
                        <td class="text-center">{{employee.rmgprojects[0].apmosysRM}}</td>
                        <td class="text-center">{{employee.rmgprojects[0].clientRM}}</td>
                        <td class="text-center">{{employee.rmgprojects[0].poNo}}</td>
                        <td class="text-center">{{employee.rmgprojects[0].poProjectType}}</td>
                        <td class="text-center">{{employee.rmgprojects[0].poStartDate | date: 'dd-MM-yyyy'}}</td>
                        <td class="text-center">{{employee.rmgprojects[0].poEndDate | date: 'dd-MM-yyyy'}}</td>
                        <td class="text-center">{{nameListToString(employee.rmgprojects[0].projectManagers)}}</td>
                        
                        <ng-container *ngIf="employee.rmgprojects[0].rmgTeam && employee.rmgprojects[0].rmgTeam.length > 0">
                            <td class="text-center">{{employee.rmgprojects[0].rmgTeam[0].teamName}}</td>
                            <td class="text-center">{{employee.rmgprojects[0].rmgTeam[0].employeeRole}}</td>
                            <td class="text-center">{{employee.rmgprojects[0].rmgTeam[0].status}}</td>
                        </ng-container>
                    </ng-container>
                    
                    <ng-container *ngIf="!employee.rmgprojects || employee.rmgprojects.length === 0">
                        <td class="text-center" colspan="12">-</td>
                    </ng-container>
                </tr>
                
                <!-- Expandable Sub-rows -->
                <ng-container *ngIf="isEmployeeExpanded(eIndex) || !hasMultipleSubRows(employee)">
                    <ng-container *ngFor="let empProject of employee.rmgprojects; let pIndex = index">
                        <ng-container *ngFor="let empTeam of empProject.rmgTeam; let tIndex = index">
                            <tr *ngIf="!(pIndex === 0 && tIndex === 0)" 
                                class="sub-row"
                                [@slideInOut]="isEmployeeExpanded(eIndex) ? 'in' : 'out'">
                                
                                <td class="text-center">
                                    <span class="sub-row-indicator"></span>
                                </td>
                                <td class="text-center">{{ getHierarchicalSrNo(eIndex, pIndex, tIndex) }}</td>
                                
                                <td class="text-center sub-row-empty"></td>
                                <td class="text-center sub-row-empty"></td>
                                <td class="text-center sub-row-empty"></td>
                                <td class="text-center sub-row-empty"></td>
                                <td class="text-center sub-row-empty"></td>
                                
                                <ng-container *ngIf="tIndex === 0">
                                    <td class="text-center">{{empProject.projectName}}</td>
                                    <td class="text-center">{{empProject.clientName}}</td>
                                    <td class="text-center">{{empProject.apmosysRM}}</td>
                                    <td class="text-center">{{empProject.clientRM}}</td>
                                    <td class="text-center">{{empProject.poNo}}</td>
                                    <td class="text-center">{{empProject.poProjectType}}</td>
                                    <td class="text-center">{{empProject.poStartDate | date: 'dd-MM-yyyy'}}</td>
                                    <td class="text-center">{{empProject.poEndDate | date: 'dd-MM-yyyy'}}</td>
                                    <td class="text-center">{{nameListToString(empProject.projectManagers)}}</td>
                                </ng-container>
                                <ng-container *ngIf="tIndex !== 0">
                                    <td class="text-center sub-row-empty"></td>
                                    <td class="text-center sub-row-empty"></td>
                                    <td class="text-center sub-row-empty"></td>
                                    <td class="text-center sub-row-empty"></td>
                                    <td class="text-center sub-row-empty"></td>
                                    <td class="text-center sub-row-empty"></td>
                                    <td class="text-center sub-row-empty"></td>
                                    <td class="text-center sub-row-empty"></td>
                                    <td class="text-center sub-row-empty"></td>
                                </ng-container>
                                
                                <td class="text-center">{{empTeam.teamName}}</td>
                                <td class="text-center">{{empTeam.employeeRole}}</td>
                                <td class="text-center">{{empTeam.status}}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
    <div class="row col-md-12">
        <pagination-controls class="my-pagination" [hidden]="allEmployeeData.length == 0"
            (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
</div>
    </div>
</ng-container>
<ng-container *ngIf="catagory === 'Not Mapped'">
    <div class="row md-2">
        <div class="col-md-2 m-2" [hidden]="allEmployeeData.length == 0 && catagory" style="display: flex;
        justify-content: left;
        max-width: fit-content;
        padding: 5px; border: 2px solid #053885;border-radius: 20%;">
            <i class="fa fa-download" style="color: #053885;display: flex;
            justify-content: left;
            max-width: fit-content;" (click)="exportNotMappedToExcel()"></i>
        </div>
        <div class="col-md-2 m-2" [hidden]="allEmployeeData.length == 0" style="display: flex;
                    justify-content: left;
                    max-width: fit-content;
                    padding: 5px; border: 2px solid #053885;border-radius: 20%;">
            <a (click)="toggleSearch()" style="color: #193d8a;">
                <i class="fa fa-search" *ngIf="!isSearchEnabled"></i>
                <i *ngIf="isSearchEnabled" class="fa-solid fa-xmark"></i>
            </a>
        </div>
        <div class="col d-flex align-items-center ">
          <span class="font-weight-bold text-muted small">
            Displaying:
            {{ (filteredEmployeeData | colFilter : filters : false).length }} of
            {{ allEmployeeData.length }} employees
          </span>
      </div>
    </div>
    <div class="row">
        <div class="table-container" bassHorizontalScroll [tableId]="'projectInfo'" [tableTHeadId]="'projectInfoTHead'"
            [tableTHeadTrId]="'projectInfoTHeadTr'">
            <table class="table" id="project-info" matSort>
                <thead class="thead-light">
                    <tr id="projectInfoTHeadTr">
                        <th scope="col" class="info-label" style=" min-width: 120px;">Sr No.</th>
                        <th scope="col" class="info-label" style=" min-width: 200px;">Employment Id</th>
                        <th scope="col" class="info-label" style=" min-width: 300px;">Employee Name</th>
                        <th scope="col" class="info-label" style=" min-width: 300px;">Department</th>
                        <th scope="col" class="info-label" style=" min-width: 300px">Billable Type</th>
                        <th scope="col" class="info-label" style=" min-width: 250px;">Manager Name</th>
                        <th scope="col" class="info-label" style=" min-width: 200px;">Employee Role</th>

                    </tr>
                    <tr app-column-filter-bar *ngIf="isSearchEnabled" [columnList]="tableColumnsNotMapped"
                        (onSearch)="onSearchException($event)">
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="allEmployeeData.length == 0">
                        <tr>
                            <th colspan="10" style="max-width: fit-content;" class="text-center info-label">No details
                                to display...</th>
                        </tr>
                    </ng-container>
                    <ng-container
                        *ngFor="let employee of filteredEmployeeData | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
                        <tr>
                            <td class="text-center">{{ (page - 1) * 10 + i + 1 }}</td>
                            <td class="text-center">A-{{employee.employeementId}}</td>
                            <td class="text-center">{{employee.name}}</td>
                            <td class="text-center">{{employee.departmentName}}</td>
                            <td class="text-center">{{employee.billableType}}</td>
                            <!-- <td class="text-center">{{employee.employeementId}}</td> -->
                            <td class="text-center">{{employee.managerName}}</td>
                            <td class="text-center">{{employee.jobRoleName}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="row col-md-12">
                <pagination-controls class="my-pagination" [hidden]="allEmployeeData.length == 0"
                    (pageChange)="handlePageChange($event)"></pagination-controls>

            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="catagory === 'Exception'">
  
    <div class="row md-2">

        <div class="col-md-2 m-2" [hidden]="allEmployeeData.length == 0 && catagory" style="display: flex;
        justify-content: left;
        max-width: fit-content;
        padding: 5px; border: 2px solid #053885;border-radius: 20%;">
            <i class="fa fa-download" style="color: #053885;display: flex;
            justify-content: left;
            max-width: fit-content;" (click)="exportExceptionToExcel1()"></i>
        </div>

        <div class="col-md-2 m-2" [hidden]="allEmployeeData.length == 0" style="display: flex;
                        justify-content: left;
                        max-width: fit-content;
                        padding: 5px; border: 2px solid #053885;border-radius: 20%;">
            <a (click)="toggleSearch()" style="color: #193d8a;">
                <i class="fa fa-search" *ngIf="!isSearchEnabled"></i>
                <i *ngIf="isSearchEnabled" class="fa-solid fa-xmark"></i>
            </a>
        </div>
                <div class="col d-flex align-items-center ">
          <span class="font-weight-bold text-muted small">
            Displaying:
            {{ (filteredEmployeeData | colFilter : filters : false).length }} of
            {{ allEmployeeData.length }} employees
          </span>
      </div>
    </div>
    <div class="row">
<div class="table-container" bassHorizontalScroll [tableId]="'projectInfo'" [tableTHeadId]="'projectInfoTHead'" [tableTHeadTrId]="'projectInfoTHeadTr'">
    <table class="table" id="project-info" matSort>
        <thead class="thead-light">
            <tr id="projectInfoTHeadTr">
                <th scope="col" class="info-label" style="min-width: 50px;">
                    <i class="fa-solid fa-up-right-and-down-left-from-center" title="Expand/Collapse"></i>
                </th>
                <th scope="col" class="info-label" style="min-width: 120px;">Sr No.</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Employment Id</th>
                <th scope="col" class="info-label" style="min-width: 300px;">Employee Name</th>
                <th scope="col" class="info-label" style="min-width: 300px;">Department</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Billable Type</th>

                <th scope="col" class="info-label" style="min-width: 200px;">Project Name</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Client Name</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Apmosys RM</th>
                <th scope="col" class="info-label" style="min-width: 200px;">Client RM</th>
                <th scope="col" class="info-label" style="min-width: 200px;">PO No.</th>
                <th scope="col" class="info-label" style="min-width: 200px;">PO Project Type</th>
                <th scope="col" class="info-label" style="min-width: 200px;">PO Start Date</th>
                <th scope="col" class="info-label" style="min-width: 200px;">PO End Date</th>
            </tr>
            <tr app-column-filter-bar *ngIf="isSearchEnabled" [columnList]="exceptionTableColumns" (onSearch)="onSearchException($event)">
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="allEmployeeData.length == 0">
                <tr>
                    <th colspan="14" class="text-center info-label">No details to display...</th>
                </tr>
            </ng-container>

            <ng-container *ngFor="let employee of filteredEmployeeData | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
                <!-- Main Employee Row -->
                <tr class="main-employee-row" [class.expanded]="isEmployeeExpanded(i)">
                    <td class="text-center expand-cell">
                        <button 
                            *ngIf="employee.rmgProjects?.length > 1"
                            class="btn-expand"
                            (click)="toggleEmployeeExpansion(i)"
                            [title]="isEmployeeExpanded(i) ? 'Collapse' : 'Expand'">
                            <i class="fas" 
                               [class.fa-chevron-down]="!isEmployeeExpanded(i)"
                               [class.fa-chevron-up]="isEmployeeExpanded(i)"></i>
                        </button>
                    </td>
                    <td class="text-center">{{ i + 1 }}</td>
                    <td class="text-center">A-{{employee.employmentId}}</td>
                    <td class="text-center">{{employee.employeeName}}</td>
                    <td class="text-center">{{employee.department}}</td>
                    <td class="text-center">{{employee.billableType}}</td>

                    <ng-container *ngIf="employee.rmgProjects?.length > 0">
                        <td class="text-center">{{employee.rmgProjects[0].projectName}}</td>
                        <td class="text-center">{{employee.rmgProjects[0].clientName}}</td>
                        <td class="text-center">{{employee.rmgProjects[0].apmosysRM}}</td>
                        <td class="text-center">{{employee.rmgProjects[0].clientRM}}</td>
                        <td class="text-center">{{employee.rmgProjects[0].poNo}}</td>
                        <td class="text-center">{{employee.rmgProjects[0].poProjectType}}</td>
                        <td class="text-center">{{employee.rmgProjects[0].poStartDate}}</td>
                        <td class="text-center">{{employee.rmgProjects[0].poEndDate}}</td>
                    </ng-container>

                    <ng-container *ngIf="!employee.rmgProjects || employee.rmgProjects.length === 0">
                        <td class="text-center" colspan="8">-</td>
                    </ng-container>
                </tr>

                <!-- Sub Rows -->
                <ng-container *ngIf="isEmployeeExpanded(i)">
                    <ng-container *ngFor="let project of employee.rmgProjects; let j = index">
                        <tr *ngIf="j !== 0" class="sub-row" [@slideInOut]="'in'">
                            <td class="text-center">
                                <span class="sub-row-indicator"></span>
                            </td>
                            <td class="text-center">{{ i + 1 }}.{{ j + 1 }}</td>
                            <td class="text-center sub-row-empty"></td>
                            <td class="text-center sub-row-empty"></td>
                            <td class="text-center sub-row-empty"></td>
                            <td class="text-center sub-row-empty"></td>

                            <td class="text-center">{{project.projectName}}</td>
                            <td class="text-center">{{project.clientName}}</td>
                            <td class="text-center">{{project.apmosysRM}}</td>
                            <td class="text-center">{{project.clientRM}}</td>
                            <td class="text-center">{{project.poNo}}</td>
                            <td class="text-center">{{project.poProjectType}}</td>
                            <td class="text-center">{{project.poStartDate}}</td>
                            <td class="text-center">{{project.poEndDate}}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </ng-container>
        </tbody>
    </table>

    <div class="row col-md-12">
        <pagination-controls class="my-pagination" [hidden]="allEmployeeData.length == 0" (pageChange)="handlePageChange($event)">
        </pagination-controls>
    </div>
</div>

    </div>
</ng-container>

<ng-container *ngIf="catagory === 'OnBench'">
    <div class="row md-2">
        <div class="col-md-2 m-2" [hidden]="allEmployeeData.length == 0 && catagory" style="display: flex;
                    justify-content: left;
                    max-width: fit-content;
                    padding: 5px; border: 2px solid #053885;border-radius: 20%;">
            <i class="fa fa-download" style="color: #053885;display: flex;
                        justify-content: left;
                        max-width: fit-content;" (click)="exportToExcelBench()"></i>
        </div>
        <div class="col-md-2 m-2" [hidden]="allEmployeeData.length == 0" style="display: flex;
                    justify-content: left;
                    max-width: fit-content;
                    padding: 5px; border: 2px solid #053885;border-radius: 20%;">
            <a (click)="toggleSearch()" style="color: #193d8a;">
                <i class="fa fa-search" *ngIf="!isSearchEnabled"></i>
                <i *ngIf="isSearchEnabled" class="fa-solid fa-xmark"></i>
            </a>
        </div>
                <div class="col d-flex align-items-center ">
          <span class="font-weight-bold text-muted small">
            Displaying:
            {{ (filteredBenchEmployeeList | colFilter : filters : false).length }} of
            {{ allEmployeeData.length }} employees
          </span>
      </div>
    </div>
    <div class="row">
        <div class="table-container" bassHorizontalScroll [tableId]="'projectInfo'" [tableTHeadId]="'projectInfoTHead'"
            [tableTHeadTrId]="'projectInfoTHeadTr'">
            <table class="table" id="project-info" matSort>
                
<thead class="thead-light">
    <tr id="projectInfoTHeadTr">
        <th scope="col" class="info-label" style="min-width: 50px;">
            <i class="fa-solid fa-up-right-and-down-left-from-center" title="Expand/Collapse"></i>
        </th>

        <th scope="col" class="info-label" style="min-width: 80px;">Sr No.</th>
        <th scope="col" class="info-label" style="min-width: 200px;">Employment Id</th>
        <th scope="col" class="info-label" style="min-width: 300px;">Employee Name</th>
        <th scope="col" class="info-label" style="min-width: 300px;">Department</th>
        <th scope="col" class="info-label" style="min-width: 200px;">Billable Type</th>
        <th scope="col" class="info-label" style="min-width: 120px;">Is Billable</th>
        <th scope="col" class="info-label" style="min-width: 200px;">On Bench Date</th>
        <th scope="col" class="info-label" style="min-width: 140px;">No Of Days In Bench</th>
        <th scope="col" class="info-label" style="min-width: 280px;">Project Name</th>
        <th scope="col" class="info-label" style="min-width: 200px;">Client Name</th>
        <th scope="col" class="info-label" style="min-width: 250px;">Project Manager Name</th>
        <th scope="col" class="info-label" style="min-width: 200px;">Team Name</th>
        <th scope="col" class="info-label" style="min-width: 200px;">Employee Role</th>
        <th scope="col" class="info-label" style="min-width: 120px;">Status</th>
        <th scope="col" class="info-label" style="min-width: 200px;">Apmosys RM</th>
        <th scope="col" class="info-label" style="min-width: 200px;">Client RM</th>
        <th scope="col" class="info-label" style="min-width: 200px;">PO No.</th>
        <th scope="col" class="info-label" style="min-width: 200px;">PO Project Type</th>
        <th scope="col" class="info-label" style="min-width: 200px;">PO Start Date</th>
        <th scope="col" class="info-label" style="min-width: 200px;">PO End Date</th>
        
    </tr>
    <tr app-column-filter-bar *ngIf="isSearchEnabled" [columnList]="tableColumnsBench" (onSearch)="onBenchSearch($event)">
    </tr>
</thead>

<tbody>
    <ng-container *ngIf="filteredBenchEmployeeList.length == 0">
        <tr>
            <th colspan="21" class="text-center info-label">No details to display...</th>
        </tr>
    </ng-container>

    <ng-container *ngFor="let employee of filteredBenchEmployeeList | paginate: { itemsPerPage: 10, currentPage: page }; let eIndex = index">

        <tr class="main-employee-row" [class.expanded]="isEmployeeExpanded(eIndex)">

            <td class="text-center expand-cell">
                <button *ngIf="hasMultipleSubRows(employee)" 
                        class="btn-expand"
                        (click)="toggleEmployeeExpansion(eIndex)" 
                        [title]="isEmployeeExpanded(eIndex) ? 'Collapse' : 'Expand'">
                    <i class="fas" 
                       [class.fa-chevron-down]="!isEmployeeExpanded(eIndex)"
                       [class.fa-chevron-up]="isEmployeeExpanded(eIndex)"></i>
                </button>
            </td>

            <td class="text-center">{{ getGlobalProjectIndex(eIndex) + 1 }}</td>
            <td class="text-center">{{ employee.employeementId }}</td>
            <td class="text-center">{{ employee.name }}</td>
            <td class="text-center">{{ employee.department }}</td>
            <td class="text-center">{{ employee.billableType }}</td>
            <td class="text-center">{{ employee.billable }}</td>
            <td class="text-center">{{ employee.onBenchDate | date: 'dd-MM-yyyy' }}</td>
            <td class="text-center">{{ employee.daysOnBench }}</td>

            <ng-container *ngIf="employee.rmgprojects?.length > 0">
                <ng-container *ngIf="employee.rmgprojects[0] as firstProject">
                    <td class="text-center">{{ firstProject.projectName }}</td>
                    <td class="text-center">{{ firstProject.clientName }}</td>
                    <td class="text-center">{{ nameListToString(firstProject.projectManagers) }}</td>

                    <ng-container *ngIf="firstProject.rmgTeam?.length > 0">
                        <ng-container *ngIf="firstProject.rmgTeam[0] as firstTeam">
                            <td class="text-center">{{ firstTeam.teamName }}</td>
                            <td class="text-center">{{ firstTeam.employeeRole }}</td>
                            <td class="text-center">{{ firstTeam.status }}</td>
                        </ng-container>
                    </ng-container>
                    <td class="text-center">{{ firstProject.apmosysRM }}</td>
                    <td class="text-center">{{ firstProject.clientRM }}</td>
                    <td class="text-center">{{ firstProject.poNo }}</td>
                    <td class="text-center">{{ firstProject.poProjectType }}</td>
                    <td class="text-center">{{ firstProject.poStartDate | date: 'dd-MM-yyyy' }}</td>
                    <td class="text-center">{{ firstProject.poEndDate | date: 'dd-MM-yyyy' }}</td>
                    
                    <ng-container *ngIf="!firstProject.rmgTeam || firstProject.rmgTeam.length === 0">
                        <td colspan="3" class="text-center">-</td>
                    </ng-container>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="!employee.rmgprojects || employee.rmgprojects.length === 0">
                <td class="text-center" colspan="12">-</td>
            </ng-container>
        </tr>

        <ng-container *ngIf="isEmployeeExpanded(eIndex)">
            <ng-container *ngFor="let empProject of employee.rmgprojects; let pIndex = index">
                <ng-container *ngFor="let empTeam of empProject.rmgTeam; let tIndex = index">

                    <tr *ngIf="!(pIndex === 0 && tIndex === 0)" 
                        class="sub-row" 
                        [@slideInOut]="'in'">
                        
                        <td class="text-center"><span class="sub-row-indicator"></span></td>
                        
                        <td class="text-center">{{ getHierarchicalSrNo(eIndex, pIndex, tIndex) }}</td>

                        <td class="sub-row-empty" colspan="7"></td>

                        <ng-container *ngIf="tIndex === 0">
                            <td class="text-center">{{ empProject.projectName }}</td>
                            <td class="text-center">{{ empProject.clientName }}</td>
                            <td class="text-center">{{ empProject.apmosysRM }}</td>
                            <td class="text-center">{{ empProject.clientRM }}</td>
                            <td class="text-center">{{ empProject.poNo }}</td>
                            <td class="text-center">{{ empProject.poProjectType }}</td>
                            <td class="text-center">{{ empProject.poStartDate | date: 'dd-MM-yyyy' }}</td>
                            <td class="text-center">{{ empProject.poEndDate | date: 'dd-MM-yyyy' }}</td>
                            <td class="text-center">{{ nameListToString(empProject.projectManagers) }}</td>
                        </ng-container>
                        
                        <ng-container *ngIf="tIndex !== 0">
                            <td class="sub-row-empty" colspan="9"></td>
                        </ng-container>

                        <td class="text-center">{{ empTeam.teamName }}</td>
                        <td class="text-center">{{ empTeam.employeeRole }}</td>
                        <td class="text-center">{{ empTeam.status }}</td>
                    </tr>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</tbody>
            </table>
            <div class="row col-md-12">
                <pagination-controls class="my-pagination" [hidden]="allEmployeeData.length == 0"
                    (pageChange)="handlePageChange($event)"></pagination-controls>

            </div>
        </div>
    </div>
</ng-container>