.scrollable-table{
    width: 92vw;
    height: 70vh;
}

.thead-light th{
    position: sticky;
    top: -0.7px;
}

.table-container {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
}

table {
    border-collapse: collapse;
}

th {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


thead {
    position: sticky;
    top: -0.7px;
    z-index: 100;
}
.export-button{
    position:absolute;
    right: 0%;
    /* top:-25px; */
  }
