<div class="row" style="margin-top: 50px;">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 table-header">
                <h1 class="table-header-title">Policies</h1> 
              </div>
            </div>
      
            <div class="row">
              <div class="form-group ml-auto col-md-3">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">	
              </div>
            </div>
      
            <div class="row">
              <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'policyInfo'"
                [tableTHeadId]="'policyInfoTHead'" [tableTHeadTrId]="'policyInfoTHeadTr'">
                  <table class="table" id="policyInfo" matSort (matSortChange)="sortData($event)" >
                    <thead class="thead-light" id="policyInfoTHead">	
                      <tr id="policyInfoTHeadTr">
                        <th scope="col" class="info-label">Sr No.</th>	
                        <th scope="col" class="info-label" mat-sort-header="fileName|string">File Name</th>	
                        <th scope="col" class="info-label" mat-sort-header="policyName|string">Policy Name</th>
                        <th scope="col" class="info-label" mat-sort-header="createdByName|string">Created By</th>
                        <th scope="col" class="info-label" mat-sort-header="createdOn|datetime">Created On</th>
                        <th scope="col" class="info-label">Action</th>	  
                      </tr>
                    </thead>
                    <tbody> 
                      <tr *ngIf="document.length == 0 || (document | colFilter: {fileName: data, policyName: data, createdByName: data, createdOn: data}:false).length == 0">
                        <th colspan="6" class="text-center info-label">No Document to display...</th>
                      </tr>
                      <tr *ngFor="let doc of document | colFilter: {fileName: data, policyName: data, createdByName: data, createdOn: data}:false | sort : [sortColumn, sortColumnType, sortDirection] |  paginate: { itemsPerPage: 10, currentPage: page }, let i = index  ">
                        <th class="info-label">{{10*(page-1)+i+1}}</th>
                        <td>{{doc.fileName}}</td>
                        <td>{{doc.policyName}}</td>
                        <td>{{doc.createdByName}}</td>
                        <td>{{doc.createdOn}}</td>
                        <td>
                          <button  class="btn btn-sm btn-outline-primary"  type="submit" (click)="downloadFile(doc)"><em class="fa fa-download"></em></button> &nbsp;
                          <button  class="btn btn-sm btn-outline-primary" *ngIf="doc.readEnabled == 'true'&& !doc.isRead"   type="submit" (click)="openReadEnabledMod(read_enabled, doc)" >Mark As Read</button> 
                        </td> 
                    </tbody>
                  </table>
                </div>
                <pagination-controls class="my-pagination" [hidden]="document.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls>
              </div>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Templates-->
<ng-template #alert_message>
  <div class="modal-body text-center">
    <p>{{alertMessage}}</p>
    <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
  </div>
</ng-template>

<ng-template #read_enabled>
  <div class="modal-body text-center">
    <p>By my consent, I acknowledge that I have read, understood, and agree to
      the policies and conditions mention in the document </p>
    <button type="button" class="btn btn-success" (click)="onReadPolicy(alert_message)">Yes, proceed</button>&nbsp;
    <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
  </div>
</ng-template>