<!-- <div class="row mb-3">
    <div class="col-md-12 px-0"> -->
        <!-- <button class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isDomainTable}"
            (click)="showAllDomain()">All Domain</button> -->
        <!-- <button class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isApplication}" (click)="showApplicationForm()">Create Application</button> -->
        <!-- <button class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isAppTable}" (click)="showApplicationsTable()">Applications</button> -->
        <!-- <button class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isfileUpload}"
            (click)="showFileUploadForm()">File Upload <small>(skills)</small></button> -->
    <!-- </div> -->
<!-- </div> -->

<!-- isfileUpload -->

<div class="row" *ngIf="isfileUpload">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">File upload</h1>
            </div>
        </div>

        <!-- New Feature: Select Columns for Excel Export -->
        <div class="row ">
            <div class="col-md-3">
                <label class="info-label"><span class="text-danger">*</span>Available Columns</label>
                <div class="scroll-box">
                    <ul>
                        <li *ngFor="let column of availableColumns" (click)="selectColumn(column, 'available')"
                            [ngClass]="{'selected-column': availableColumn === column}">
                            {{ column }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-1 mt-5 d-flex justify-content-center">
                <div class="arrow-btns">
                    <button (click)="moveColumn('right')">
                        <i class="fa fa-arrow-right"></i>
                    </button><br><br>
                    <button (click)="moveColumn('left')">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                </div>
            </div>

            <div class="col-md-3">
                <label class="info-label"><span class="text-danger">*</span>Selected Columns</label>
                <div class="scroll-box">
                    <ul>
                        <li *ngFor="let column of selectedColumns" (click)="selectColumn(column, 'selected')"
                            [ngClass]="{'selected-column': selectedColumn === column}">
                            {{ column }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="row">
                    <!-- Save Custom Query Anchor -->
                    <div class="col-md-12">
                        <a href="#/configuration/other" (click)="openQueryModal()">Save Custom Query</a>
                    </div>
                    <!-- Saved Formats Dropdown -->
                    <div class="col-md-12 mt-2">
                        <label for="savedFormats">Saved Formats</label>
                        <select class="form-control" id="savedFormats" (change)="onFormatSelect($event)">
                            <option value="" disabled selected>Select</option>
                            <option *ngFor="let format of savedFormats" [value]="format.queryName">{{ format.queryName
                                }}</option>
                        </select>
                    </div>



                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4  mt-4">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Download Sheet Format</label>
                        <button class="btn btn-outline-danger" (click)="downloadExcel()"><em
                                class="fa fa-download"></em></button>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-0 mt-4">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Bulk Upload</label>
                        <input type="file" class="form-control p-1" (change)="onEmployeeUpload($event,alert_message)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>
<!-- Save Custom Query Modal -->
<ng-template #queryModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Save Custom Query</h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- Query Name Input -->
            <div class="form-group">
                <label for="queryName">Query Name:</label>
                <input type="text" class="form-control" id="queryName" [(ngModel)]="queryName">
            </div>

            <!-- Disabled Available/Selected Columns -->
            <div class="row" style="
            margin-top: 15px;
            margin-bottom: 15px;
        ">
                <div class="col-md-5">
                    <label>Available Columns</label>
                    <div class="scroll-box">
                        <ul>
                            <li *ngFor="let column of availableColumns" class="disabled-column">
                                {{ column }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 mt-5 d-flex justify-content-center">
                    <div class="arrow-btnss">
                        <button disabled>
                            <i class="fa fa-arrow-right"></i>
                        </button><br><br>
                        <button disabled>
                            <i class="fa fa-arrow-left"></i>
                        </button>
                    </div>
                </div>

                <div class="col-md-5">
                    <label>Selected Columns</label>
                    <div class="scroll-box">
                        <ul>
                            <li *ngFor="let column of selectedColumns" class="disabled-column">
                                {{ column }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Save and Close Buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveQuery(alertTemplate)">Save</button>
            </div>
        </div>
    </div>
</ng-template>

