<div class="row mb-3">
    <div class="col-md-12 px-0">
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.add_timesheet"
            [ngClass]="{'active' : isTimesheetForm && isCreation}" (click)="showCreateTimesheetForm()">Create New
            Timesheet</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1"
            *ngIf="userMapping.view_my_timesheets || userMapping.update_timesheet"
            [ngClass]="{'active' : isTimesheetTable}" (click)="showViewMyTimesheets()">View My Timesheets</button>
    </div>
</div>

<!-- start :: Create & Update Team -->
<div class="row" *ngIf="isTimesheetForm">
    <div class="card col-md-12 px-0">
        <div class="card-header text-center text-uppercase">
            <strong *ngIf="isCreation">Create Timesheet</strong>
            <strong *ngIf="isUpdation">Update Timesheet</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="d-block info-label"><span class="text-danger">*</span>Timesheet Application
                                For</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="leaveFor" id="forSelf" value="self"
                                    [(ngModel)]="timesheetObj.timesheetAppliedFor" [disabled]="isUpdation"
                                    (change)="getAllTeamMemberList();getTimesheetMetadata()">
                                <label class="form-check-label" for="forSelf">Self</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="leaveFor" id="forTeamMember"
                                    value="team" [(ngModel)]="timesheetObj.timesheetAppliedFor" [disabled]="isUpdation"
                                    (change)="getAllTeamMemberList()">
                                <label class="form-check-label" for="forTeamMember">Team member</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="this.timesheetObj.timesheetAppliedFor == 'team'" class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Team Member</label>
                            <select class="form-control" aria-hidden="true" [(ngModel)]="timesheetObj.empId"
                                [disabled]="isUpdation" (change)="getTimesheetMetadata()">
                                <option selected="selected" value="" disabled>Select</option>
                                <option *ngFor="let teamMember of teamMemberList" value="{{teamMember.empId}}">
                                    {{teamMember.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Day Type</label>
                            <select class="form-control" aria-hidden="true" [(ngModel)]="timesheetObj.dayType" (change)="onTimesheetDescriptionChange();resetTimeonDayTypeChange()" >
                                <option selected="selected" value="" disabled>Select</option>
                                <option value="Working">Working</option>
                                <option value="Public Holiday">Public Holiday</option>
                                <option value="Week Off">Week Off</option>
                                <option value="Leave">Leave</option>
                                <option value="Non-working">Working on non-working day</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="timesheetObj.dayType == 'Public Holiday' || timesheetObj.dayType == 'Week Off' || timesheetObj.dayType == 'Leave'" class="row">
                <div class="col-md-3 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Date</label>
                            <!-- <input id="timesheetDate" type="date" class="form-control" autocomplete="none" [(ngModel)]="timesheetObj.date" [disabled]="isUpdation"> -->
                            <div class="d-flex">
                                <input class="form-control" #input (focus)="timesheetDate.open()" matInput
                                    id="timesheetDate" [matDatepicker]="timesheetDate"
                                    [matDatepickerFilter]="timesheetDateFilter" placeholder="Choose a timesheet date"
                                    [(ngModel)]="timesheetObj.date" (keydown)="disableMannualDateInput()"
                                    autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="timesheetDate" style="margin-left: -44px; margin-top: 0px;"></mat-datepicker-toggle>
                            </div>
                            <mat-datepicker #timesheetDate (closed)="input.blur()"></mat-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="timesheetObj.dayType == 'Public Holiday' || timesheetObj.dayType == 'Week Off' || timesheetObj.dayType == 'Leave'" class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label for="leaveDesc"><span class="text-danger">*</span>Description</label>
                            <textarea class="form-control" id="dayTypeDesc" rows="3"
                                [(ngModel)]="timesheetObj.description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- IN/OUT Time-->
            <div *ngIf="timesheetObj.dayType != 'Public Holiday' && timesheetObj.dayType != 'Week Off' && timesheetObj.dayType != 'Leave'" class="row">
                <div class="col-md-3 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group input-wrapper">
                            <label class="info-label"><span class="text-danger">*</span>In Time</label>
                            <input id="officeInTime" class="form-control" autocomplete="none" [(ngModel)]="timesheetObj.officeInTime" [owlDateTimeTrigger]="officeInTimePicker" [owlDateTime]="officeInTimePicker" [owlDateTimeFilter]="timesheetDateFilter"
                            (dateTimeChange)="resetTotalWorkingOfficeHours()" (keydown)="disableMannualDateInput()" placeholder="Select In Time" autocomplete="off">
                            <owl-date-time class="picker" [hour12Timer]="true" #officeInTimePicker></owl-date-time>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group input-wrapper">
                            <label class="info-label"><span class="text-danger">*</span>Out Time</label>
                            <input id="officeOutTime" class="form-control" autocomplete="none" [(ngModel)]="timesheetObj.officeOutTime" [owlDateTimeTrigger]="officeOutTimePicker" [owlDateTime]="officeOutTimePicker"
                            (dateTimeChange)="setTotalWorkingOfficeHours()" (keydown)="disableMannualDateInput()" placeholder="Select Out Time" autocomplete="off" [disabled]="!timesheetObj.officeInTime" [owlDateTimeFilter]="outTimeFilter">
                            <owl-date-time class="picker" [startAt]="timesheetObj.officeInTime" [hour12Timer]="true" #officeOutTimePicker></owl-date-time>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label">Total Working Hours</label>
                            <input type="text" [(ngModel)]="timesheetObj.totalWorkingOfficeHours" step="any" class="form-control" autocomplete="none" value="0" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label">Night Shift</label>
                            <input class="form-control cell-checkbox" [(ngModel)]="timesheetObj.isNightShift" (click)="openNightShiftTemplate(night_shift_template,$event)" type="checkbox"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add & Update Activities -->
            <div *ngIf="timesheetObj.dayType != 'Public Holiday' && timesheetObj.dayType != 'Week Off' && timesheetObj.dayType != 'Leave'" class="container-fluid px-0">
                <div class="row ml-1 mt-5">
                    <h3>Activities</h3>
                </div>
                <div *ngFor="let activityObj of allTimesheetActivities; let i = index" class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 mb-0">
                                <div class="info-wrapper">
                                    <div class="form-group">
                                        <label class="info-label"><span class="text-danger">*</span>Client Name</label>
                                        <select class="form-control" aria-hidden="true"
                                            [(ngModel)]="activityObj.clientId" (blur)="validateClientName($event,activityObj.clientId)"
                                            (change)="getClientLocationList(activityObj);" >
                                            <option selected="selected" value="" disabled>Select</option>
                                            <option *ngFor="let client of clientList" value="{{client.clientId}}" >
                                                {{client.clientName}}</option>
                                        </select>
                                        <small class="errorMsg text-danger"></small>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 mb-0">
                                <div class="info-wrapper">
                                    <div class="form-group">
                                        <label class="info-label"><span class="text-danger">*</span>Client
                                            Location</label>
                                        <select class="form-control" aria-hidden="true"
                                            [(ngModel)]="activityObj.clientLocationId" (blur)="validateClientLocation($event,activityObj.clientLocationId)"
                                            (change)="getProjectList(activityObj);">
                                            <option selected="selected" value="" disabled>Select</option>
                                            <option *ngFor="let clientLocation of activityObj.clientLocationList"
                                                value="{{clientLocation.clientLocationId}}">
                                                {{clientLocation.clientLocation}}</option>
                                        </select>
                                        <small class="errorMsg text-danger"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-3 mb-0">
                                <div class="info-wrapper">
                                    <div class="form-group">
                                        <label class="info-label"><span class="text-danger">*</span>Project Name</label>
                                        <select class="form-control" aria-hidden="true"
                                            [(ngModel)]="activityObj.projectId" (blur)="validateProjectName($event,activityObj.projectId)"
                                            (change)="getAllActivitiesByProjectIdandEmpId(activityObj);">
                                            <option selected="selected" value="" disabled>Select</option>
                                            <option *ngFor="let project of activityObj.projectList"
                                                value="{{project.projectId}}">{{project.projectName}}</option>
                                        </select>
                                        <small class="errorMsg text-danger"></small>
                                    </div>
                                </div>
                            </div> -->

                            <div class="col-md-3 mb-0">
                                <div class="info-wrapper">
                                    <div class="form-group">
                                        <label class="info-label"><span class="text-danger">*</span>Team Name</label>
                                        <select class="form-control" aria-hidden="true"
                                            [(ngModel)]="activityObj.teamId" 
                                            (change)="getAllActivitiesByProjectIdandEmpId(activityObj);">
                                            <option selected="selected" value="" disabled>Select</option>
                                            <option *ngFor="let project of activityObj.projectList"
                                                value="{{project.teamId}}">{{project.projectName}} | {{project.teamName}}</option>
                                        </select>
                                        <small class="errorMsg text-danger"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 mb-0">
                                <div class="info-wrapper">
                                    <div class="form-group">
                                        <label class="info-label"><span class="text-danger">*</span>Activity</label>
                                        <select class="form-control" aria-hidden="true"
                                            [(ngModel)]="activityObj.activityId" (blur)="validateActivity($event,activityObj.activityId)" (change)="setActivity(activityObj)">
                                            <option selected="selected" value="" disabled>Select</option>
                                            <option *ngFor="let activity of activityObj.projectActivities"
                                                value="{{activity.activityId}}">{{activity.activity}}</option>
                                        </select>
                                        <small class="errorMsg text-danger"></small>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-0">
                                <div class="info-wrapper">
                                    <div class="form-group">
                                        <label for="leaveDesc">Description</label>
                                        <textarea class="form-control" id="dayTypeDesc" rows="1"  
                                            [(ngModel)]="activityObj.description"  ></textarea>
                                            <small class="errorMsg text-danger"></small>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 mb-0">
                                <div class="info-wrapper">
                                    <div class="form-group">
                                        <label class="info-label"><span class="text-danger">*</span>Time
                                            <small>(hrs)</small></label>
                                        <input type="number" step="any" class="form-control" autocomplete="none" 
                                            [(ngModel)]="activityObj.completionTime"  (blur)="validateTime($event,activityObj.completionTime)" (keypress)="omit_special_char($event)">
                                            <small class="errorMsg text-danger"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 d-flex">
                                <div class="m-0 mt-4 pt-2">
                                    <button type="button" class="btn btn-sm btn-outline-primary mx-1"
                                        (click)="addInputActivityField(activityObj)" [disabled]="(allTimesheetActivities.length > 1 && i !== allTimesheetActivities.length-1)" ><i class="fa fa-plus"
                                            aria-hidden="true"></i></button>
                                    <button *ngIf="i != 0" type="button" class="btn btn-sm btn-outline-primary mx-1"
                                        (click)="removeInputActivityField(activityObj)"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end :: Add & Update Activities -->
            <div class="row mt-3">
                <div class="col-md-12">
                    <button *ngIf="isCreation && userMapping.add_timesheet" type="submit"
                        class="btn btn-primary btn-sm mx-1" (click)="onCreateTimesheet(alert_message)">Create
                        Timesheet</button>
                    <button *ngIf="isUpdation && userMapping.update_timesheet" type="submit"
                        class="btn btn-primary btn-sm mx-1"
                        (click)="openUpdateConfimationModal(update_timesheet_template)">Update Timesheet</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end :: create & update Team -->

<!-- start :: View Timesheets -->
<div class="row" *ngIf="isTimesheetTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">My Timesheets</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-outline-primary btn-sm mx-1"
                    [ngClass]="{'active' : isSelfTimesheets}" (click)="showSelfTimesheets()">Self</button>
                <button type="button" class="btn btn-outline-primary btn-sm mx-1"
                    [ngClass]="{'active' : isTeamTimesheets}" (click)="showTeamTimesheets()">For Team</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Start Date</label>
                        <input id="timesheetStartDate" type="date" OnClick="this.showPicker()" class="form-control" autocomplete="none"
                            [(ngModel)]="startDate" (change)="getAllMyTimesheetsByEmpId(alert_message)"
                            (keydown)="disableMannualDateInput()">
                    </div>
                </div>
            </div>
            <!-- For Self -->
            <div *ngIf="isSelfTimesheets" class="col-md-4">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>End Date</label>
                        <input id="timesheetEndDate" type="date" OnClick="this.showPicker()" class="form-control" autocomplete="none"
                            [(ngModel)]="endDate" (change)="getAllMyTimesheetsByEmpId(alert_message)"
                            (keydown)="disableMannualDateInput()">
                    </div>
                </div>
            </div>
            <!-- For Team -->
            <div *ngIf="isTeamTimesheets" class="col-md-4">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>End Date</label>
                        <input id="timesheetEndDate" type="date" OnClick="this.showPicker()" class="form-control" autocomplete="none"
                            [(ngModel)]="endDate" (change)="getMyTeamTimesheets(alert_message)"
                            (keydown)="disableMannualDateInput()">
                    </div>
                </div>
            </div>
            <div class="form-group ml-auto col-md-3 mb-2 mt-4 pt-2">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'myTimesheetInfo'"
                    [tableTHeadId]="'myTimesheetInfoTHead'" [tableTHeadTrId]="'myTimesheetInfoTHeadTr'">
                    <table class="table table-responsive" id="myTimesheetInfo" matSort
                        (matSortChange)="sortMyTimesheet($event)">
                        <thead class="thead-light" id="myTimesheetInfoTHead">
                            <tr id="myTimesheetInfoTHeadTr">
                                <th scope="col" class="info-label">Sr No.</th>
                                <th *ngIf="isTeamTimesheets" scope="col" class="info-label column-md" mat-sort-header="employeeName">Name</th>
                                <th scope="col" class="info-label column-md" mat-sort-header="date">Date</th>
                                <th scope="col" class="info-label column-md" mat-sort-header="dayType">Day Type</th>
                                <th scope="col" class="info-label column-md" mat-sort-header="officeInTime">In Time</th>
                                <th scope="col" class="info-label column-md" mat-sort-header="officeOutTime">Out Time</th>
                                <th scope="col" class="info-label" mat-sort-header="totalWorkingOfficeHours">Total Working Hours</th>
                                <th scope="col" colspan="4" class="info-label column-md" mat-sort-header="description">Activity</th>
                                <th scope="col" colspan="info-label" class="info-label" mat-sort-header="totalTime">Total Activity Time</th>
                                <th scope="col" class="info-label" mat-sort-header="status">Status</th>
                                <th *ngIf="isSelfTimesheets" scope="col" class="info-label column-md" mat-sort-header="createdByName">Applied By</th>
                                <th scope="col" class="info-label column-md" mat-sort-header="createdOn">Applied On</th>
                                <th scope="col" class="info-label column-md">Shift</th>
                                <th scope="col" class="info-label column-md" mat-sort-header="remarks">Remarks</th>
                                <th scope="col" class="info-label column-md">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="allMyTimesheets.length == 0">
                                <th colspan="16" class="text-center info-label">No details to display...</th>
                            </tr>
                            <tr
                                *ngFor="let timesheet of allMyTimesheets|filter:data | paginate: { itemsPerPage: 20, currentPage: page }; let i = index" [ngClass]="{'highlight': timesheet.isNightShift == 'true'}">
                                <td>{{20*(page-1)+i+1}}</td>
                                <td *ngIf="isTeamTimesheets">{{timesheet.employeeName}}</td>
                                <td>{{timesheet.date}}</td>
                                <td>{{timesheet.dayType}}</td>
                                <td>{{timesheet.officeInTime}}</td>
                                <td>{{timesheet.officeOutTime}}</td>
                                <td>{{timesheet.totalWorkingOfficeHours}}</td>
                                <td colspan="4" [innerHTML]="timesheet.description"></td>
                                <td>{{timesheet.totalTime}}</td>
                                <td>{{timesheet.status}}</td>
                                <td *ngIf="isSelfTimesheets">{{timesheet.createdByName}}</td>
                                <td>{{timesheet.createdOn}}</td>
                                <td>{{timesheet.isNightShift == 'true' ? 'Night Shift' : 'Regular Shift'}}</td>
                                <td>{{timesheet.remarks}}</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-primary mb3" type="submit" title="view more"
                                        (click)="openTimesheetDetailsModal(timesheet_details, timesheet)"><em>view</em></button>&nbsp;
                                    <button class="btn btn-sm btn-outline-primary mb3" type="submit" title="copy timesheet"
                                        (click)="copyTimesheetDetailsToNotepad(timesheet)"><em>copy</em></button>&nbsp;
                                    <button
                                        *ngIf="userMapping.update_timesheet && (timesheet.status === 'Pending' || timesheet.status === 'Rejected' || ( timesheet.status === 'Approved' && timesheet.dayType === 'Holiday'))"
                                        class="btn btn-sm btn-outline-primary mb3" type="submit"
                                        (click)="showUpdateTimesheetForm(timesheet)"><em
                                            class="fa fa-edit"></em></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls class="my-pagination" [hidden]="allMyTimesheets.length == 0"
                    (pageChange)="handlePageChange($event)"></pagination-controls>
                <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2"
                    [hidden]="allMyTimesheets.length == 0" (click)="exportToExcel()"><em
                        class="fa fa-file-arrow-down fa-2x"></em></button>
            </div>
        </div>
    </div>
</div>
<!-- end :: View Timesheets -->



<!-- Advance filter backupcode -->

<!-- <div class="row">
    <div class="form-group col-md-3 mb-2 mt-4 pt-2">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">
    </div>
    <div class="form-group col-md-3 mb-2 mt-4 pt-2">
        <button type="button" class="btn btn-sm btn-outline-primary mx-1" (click)="openFilterModal(filter, timesheetColumns, 'Filter Timesheet')"><i class="fa-solid fa-filter"></i></button>
    </div>
</div> -->




<!-- Filter Modal -->
<!-- <ng-template #filter>
<div class="modal-header">
<b>{{filterData.title}}</b>
<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelRequest()">
    <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body ">
<app-custom-filter (filterSubmitted)="onFilterSubmit($event,alert_message)" [data]="filterData"></app-custom-filter>
</div>
</ng-template> -->









<!-- Modals Template -->
<ng-template #update_timesheet_template>
    <div class="modal-body text-center">
        <p>Are you sure you want to Update the Timesheet?</p>
        <button type="button" class="btn btn-success" (click)="cancelRequest();onUpdateTimesheet(alert_message)">Yes,
            proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<ng-template #night_shift_template>
    <div class="modal-body text-center">
        <p>Do you have required permission for night shift from your manager?</p>
        <button type="button" class="btn btn-success" (click)="cancelRequest();this.timesheetObj.isNightShift = true">Yes,proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest();this.timesheetObj.isNightShift = false">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>

<!-- View Timesheet Details -->
<ng-template #timesheet_details>
    <div class="modal-header">
        <h5 class="modal-title">Timesheet Details</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2 mb-0">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label">Date</label>
                        <input type="text" class="form-control" autocomplete="none" [(ngModel)]="timesheetObj.date"
                            disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-0">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label">Day Type</label>
                        <input type="text" class="form-control" autocomplete="none" [(ngModel)]="timesheetObj.dayType"
                            disabled>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="timesheetObj.dayType == 'Public Holiday' || timesheetObj.dayType == 'Week Off' || timesheetObj.dayType == 'Leave'" class="row">
            <div class="col-md-4 mb-0">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label for="leaveDesc"><span class="text-danger">*</span>Description</label>
                        <textarea class="form-control" id="dayTypeDesc" rows="3" [(ngModel)]="timesheetObj.description"
                            disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="timesheetObj.dayType != 'Public Holiday' && timesheetObj.dayType != 'Week Off' && timesheetObj.dayType != 'Leave'" class="row px-3">
            <table class="table timesheet-table" matSort (matSortChange)="sortMyTimesheetView($event)" >
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="info-label">Sr No.</th>
                        <th scope="col" class="info-label" mat-sort-header="clientName">Client Name</th>
                        <th scope="col" class="info-label" mat-sort-header="clientLocation">Client Location</th>
                        <th scope="col" class="info-label" mat-sort-header="projectName">Project Name</th>
                        <th scope="col" class="info-label" mat-sort-header="teamName">Team Name</th>
                        <th scope="col" class="info-label" mat-sort-header="activity">Activity</th>
                        <th scope="col" colspan="4" class="info-label" mat-sort-header="description">Description</th>
                        <th scope="col" class="info-label" mat-sort-header="completionTime">Time<small>(Hrs)</small></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="timesheetObj.allTimesheetActivities.length == 0">
                        <th colspan="10" class="text-center info-label">No details to display...</th>
                    </tr>
                    <tr
                        *ngFor="let activity of timesheetObj.allTimesheetActivities | paginate: { itemsPerPage: 20, currentPage: page }; let i = index">
                        <td>{{20*(page-1)+i+1}}</td>
                        <td>{{activity.clientName}}</td>
                        <td>{{activity.clientLocation}}</td>
                        <td>{{activity.projectName}}</td>
                        <td>{{activity.teamName}}</td>
                        <td>{{activity.activity}}</td>
                        <td colspan="4">{{activity.description}}</td>
                        <td>{{activity.completionTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">Close</button>
    </div>
</ng-template>