<app-my-timesheet-header [userMapping]="userMapping" [isTimesheetForm]="isTimesheetForm" [isCreation]="isCreation"
    [isTimesheetBulkForm]="isTimesheetBulkForm" [isTimesheetTable]="isTimesheetTable" [clientIdNeeded]="clientIdNeeded"
    (createTimesheetClicked)="resetTimesheetForm(); showCreateTimesheetForm()"
    (bulkUploadClicked)="resetTimesheetForm(); showBulkUploadForm()"
    (viewMyTimesheetsClicked)="resetTimesheetForm(); showViewMyTimesheets()">
</app-my-timesheet-header>


<!-- start :: Create & Update Team -->
<!-- ============================================ -->
<!-- OLD TIMESHEET FORM - HIDDEN - USING NEW MULTI-PROJECT FORM -->
<!-- ============================================ -->
<ng-container *ngIf="false">
<div class="row" *ngIf="isTimesheetForm">
    <div class="card col-md-12 px-0">
        <!-- <div class="card-header text-center text-uppercase">
            <strong *ngIf="isCreation">Create Timesheet</strong>
            <strong *ngIf="isUpdation">Update Timesheet</strong>
        </div> -->
        <div class="card-body">
            <div class="card col-md-12 px-3">
                 <div class="row">
                    <div class="col-md-4 mb-0">
                        <div class="info-wrapper">
                            <div class="row ml-1 mt-5">
                                <h6><span class="text-danger">*</span>Timesheet Application For</h6>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="leaveFor" id="forSelf"
                                        value="self" [(ngModel)]="timesheetObj.timesheetAppliedFor"
                                        [disabled]="isUpdation"
                                        (change)="getAllTeamMemberList();getTimesheetMetadata();timesheetObj.isShadowTimesheet = false">
                                    <label class="form-check-label" for="forSelf">Self</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="leaveFor" id="forSelfAsShadow"
                                        value="asShadow" [(ngModel)]="timesheetObj.timesheetAppliedFor"
                                        [disabled]="isUpdation"
                                        (change)="resetTimesheetFormForAutoFill();timesheetObj.isShadowTimesheet = true">
                                    <label class="form-check-label" for="forShadow">As Shadow</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="leaveFor" id="forTeamMember"
                                        value="team" [(ngModel)]="timesheetObj.timesheetAppliedFor"
                                        [disabled]="isUpdation"
                                        (change)="resetTimesheetFormForAutoFill();getAllTeamMemberList();timesheetObj.isShadowTimesheet = false">
                                    <label class="form-check-label" for="forTeamMember">Team member</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.timesheetObj.timesheetAppliedFor == 'team'" class="row">
                    <div class="col-md-4 mb-0">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label class="info-label"><span class="text-danger">*</span>Team Member</label>
                                <select class="form-control" aria-hidden="true" [(ngModel)]="timesheetObj.empId"
                                    [ngModel]="timesheetObj.empId === currentUser.empId ? '' : timesheetObj.empId"
                                    [disabled]="isUpdation" (change)="getTimesheetMetadata($event.target)">
                                    <option selected="selected" value="" disabled>Select</option>
                                    <option *ngFor="let teamMember of teamMemberList" value="{{teamMember.empId}}"
                                        [disabled]="teamMember.empId === currentUser.empId">
                                        {{teamMember.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> 
            <!-- <app-my-timesheet-application-selector
                [timesheetAppliedFor]="timesheetObj.timesheetAppliedFor"
                [isUpdation]="isUpdation"
                [(empId)]="timesheetObj.empId"
                [currentUserEmpId]="currentUser.empId"
                [teamMemberList]="teamMemberList"
                (applicationTypeChange)="onTimesheetAppliedForChange($event)"
                (teamMemberChange)="getTimesheetMetadata($event)">
            </app-my-timesheet-application-selector> -->

                <div class="row" *ngIf="timesheetObj.timesheetAppliedFor">
                    <div class="col-md-3 mb-0">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label class="info-label"><span class="text-danger">*</span>Day Type</label>
                                <select class="form-control" id="dayTypeCursor" aria-hidden="true"
                                    [(ngModel)]="timesheetObj.dayType"
                                    (change)="getActiveProjectsAndClientSideIdByEmpId();onTimesheetDescriptionChange()">
                                    <option selected="selected" value="" disabled>Select</option>
                                    <option value="Working">Working</option>
                                    <option value="Public Holiday">Public Holiday</option>
                                    <option value="Client Holiday">Client Holiday</option>
                                    <option value="Week Off">Week Off</option>
                                    <!-- <option value="Leave">Leave</option> -->
                                    <option value="Non-working">Working on non-working day</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-0" *ngIf="!shadowForSelf">
                        <div class="form-group">
                            <label class="info-label" style="margin-bottom: 0rem;"
                                *ngIf="!timesheetObj.isNightShift"><span class="text-danger">*</span>Date</label>
                            <label class="info-label" style="margin-bottom: 0rem;"
                                *ngIf="timesheetObj.isNightShift"><span class="text-danger">*</span>From Date</label>
                            <mat-form-field style="display: contents;">
                                <input matInput [matDatepicker]="picker"
                                    [matDatepickerFilter]="(timesheetObj.dayType === 'Non-working') ? customDateFilter : timesheetDateFilter"
                                    [(ngModel)]="fromDate"
                                    readonly
                                    (dateChange)="makeApmosysInTime();makeApmosysOutTime();makeClientInTime();makeClientOutTime();onFromDateChange()"
                                    [disabled]="!timesheetObj.dayType" required />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3 mb-0" *ngIf="!shadowForSelf && timesheetObj.isNightShift">
                        <div class="form-group">
                            <label class="info-label" style="margin-bottom: 0rem;"><span class="text-danger">*</span>To
                                Date</label>
                            <mat-form-field style="display: contents;">
                                <input matInput [matDatepicker]="picker"
                                    [matDatepickerFilter]="(timesheetObj.dayType === 'Non-working') ? customDateFilter : timesheetDateFilter"
                                    [(ngModel)]="toDate" readonly [min]="fromDate" [max]="maxToDate"
                                    (dateChange)="makeApmosysInTime();makeApmosysOutTime();makeClientInTime();makeClientOutTime()"
                                    [disabled]="!fromDate" required />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-1 mb-0"
                        *ngIf="timesheetObj.dayType !== 'Public Holiday' && timesheetObj.dayType !== 'Client Holiday'">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label class="info-label">Night Shift</label>
                                <input class="form-control cell-checkbox" [(ngModel)]="timesheetObj.isNightShift"
                                    (click)="openNightShiftTemplate(night_shift_template,$event)" type="checkbox" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="timesheetObj.timesheetAppliedFor && fromDate">
                    <div class="col-md-3 mb-0">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label class="info-label"><span class="text-danger">*</span>Project</label>
                                <app-my-select #filterActiveProjects placeholder="Select Project" class="form-control"
                                    [(ngModel)]="timesheetObj.projectId" [options]="activeProjectList" displayKey="projectName" valueKey="projectId"
                                    [multiple]="false" (selectionChange)="onProjectSelect($event)">
                                </app-my-select>
                                <!-- <mat-select ngxMatSelect class="form-control" #filterActiveProjects="ngxMatSelect"
                                    [displayMember]="'projectName'" [valueMember]="'projectId'"
                                    [source]="activeProjectList" [useInfiniteScroll]="true"
                                    (selectionChange)="onProjectSelect(timesheetObj.projectId)" [multiple]="false"
                                    [(ngModel)]="timesheetObj.projectId">
                                    <mat-option [value]="project.projectId"
                                        *ngFor="let project of filterActiveProjects.filteredSource">
                                        {{project.projectName}}
                                    </mat-option>
                                </mat-select> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-0"
                        *ngIf="timesheetObj.isShadowTimesheet == true || timesheetObj.timesheetAppliedFor == 'asShadow'">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label class="info-label"><span class="text-danger">*</span>Shadow For</label>
                                <app-my-select #filterShadowFor class="form-control" placeholder="Select Shadow For"
                                    [(ngModel)]="timesheetObj.shadowEmpId" [options]="employeeList" displayKey="name" valueKey="empId"
                                    [multiple]="false"
                                    (selectionChange)="getClientSideIdByProjectIdAndEmpId(timesheetObj.projectId,timesheetObj.shadowEmpId)">
                                </app-my-select>
                                <!-- <mat-select ngxMatSelect class="form-control" #filterShadowFor="ngxMatSelect"
                                    [displayMember]="'name'" [valueMember]="'empId'" [source]="employeeList"
                                    [useInfiniteScroll]="true" [multiple]="false" [(ngModel)]="timesheetObj.shadowEmpId"
                                    (selectionChange)="onShadowForChange(); getClientSideIdByProjectIdAndEmpId(timesheetObj.projectId,timesheetObj.shadowEmpId)">
                                    <mat-option [value]="currentUser.empId">Self/Learning</mat-option>
                                    <mat-option [value]="emp.empId" *ngFor="let emp of filterShadowFor.filteredSource">
                                        {{emp.name}}
                                    </mat-option>
                                </mat-select> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-0"
                        *ngIf="(timesheetObj.projectId && !clientSideIdNotMandatory) || (isUpdation && timesheetObj.projectId && !clientSideIdNotMandatory)">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label class="info-label">Client Side ID <span *ngIf="!clientSideIdNotMandatory"
                                        class="clickable-icon" title="Update Client Side ID"
                                        (click)="openSelfModal3(update_clientId)"><i
                                            class="fa-solid fa-user-pen"></i></span></label>
                                
                                <input *ngIf="timesheetObj.timesheetAppliedFor != 'team'" class="form-control" autocomplete="none" disabled
                                    [(ngModel)]="timesheetObj.clientSideId">
                                    <input  *ngIf="timesheetObj.timesheetAppliedFor == 'team'" class="form-control" autocomplete="none" disabled
                                    [(ngModel)]="empClientSideObj.clientSideId">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 mb-0"
                        *ngIf="timesheetObj.projectId && (!timesheetObj.hasClientSideId || clientSideIdNotMandatory)">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label class="info-label">Employment ID</label>
                                <input class="form-control" autocomplete="none" disabled
                                    [(ngModel)]="timesheetObj.employmentId">
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-3 mb-0"
                        *ngIf="timesheetObj.projectId && timesheetFillable && timesheetObj.hasClientSideId && !clientSideIdNotMandatory && docRequiredForShadow">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label class="info-label">Client DSR Approval Status</label>
                                <select class="form-control" aria-hidden="true"
                                    [(ngModel)]="timesheetObj.clientApprovalStatus"
                                    (change)="onClientApprovalStatusChange($event,noNotAppliedYet)"
                                    aria-placeholder="Select">
                                    <option selected="selected" value="" disabled>Select</option>
                                    <option selected="selected" value="no">Not Filled</option>
                                    <option selected="selected" value="pending">Filled</option>
                                    <option selected="selected" value="approved">Approved</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <input id="timesheetDate" type="date" class="form-control" autocomplete="none" [(ngModel)]="timesheetObj.date" [disabled]="isUpdation"> -->
            <!-- <div class="card col-md-12 px-3"
                *ngIf="timesheetObj.projectId && ((timesheetObj.clientApprovalStatus !== 'no' && timesheetObj.clientApprovalStatus !== '' && timesheetObj.clientApprovalStatus !== null) || clientSideIdNotMandatory || timesheetObj.hasClientSideId)">
                <div *ngIf="timesheetObj.dayType == 'Public Holiday' || timesheetObj.dayType == 'Week Off' || timesheetObj.dayType == 'Leave'"
                    class="row">
                    <div class="col-md-3 mb-0">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label class="info-label"><span class="text-danger">*</span>Date</label>
                                
                                <div class="d-flex">
                                    <input class="form-control" #input (focus)="timesheetDate.open()" matInput
                                        id="timesheetDate" [matDatepicker]="timesheetDate"
                                        [matDatepickerFilter]="timesheetDateFilter"
                                        placeholder="Choose a timesheet date" [(ngModel)]="timesheetObj.date"
                                        (keydown)="disableMannualDateInput()" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="timesheetDate"
                                        style="margin-left: -44px; margin-top: 0px;"></mat-datepicker-toggle>
                                </div>
                                <mat-datepicker #timesheetDate (closed)="input.blur()"></mat-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="timesheetObj.dayType == 'Public Holiday' || timesheetObj.dayType == 'Week Off' || timesheetObj.dayType == 'Leave'"
                    class="row">
                    <div class="col-md-4 mb-0">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label class="info-label">Client DSR Approval Status</label>
                                <select class="form-control" aria-hidden="true"
                                    [(ngModel)]="timesheetObj.clientApprovalStatus"
                                    (change)="onClientApprovalStatusChange($event,noNotAppliedYet)"
                                    aria-placeholder="Select">
                                    <option selected="selected" value="" disabled>Select</option>
                                    <option value="approved">Approved</option>
                                    <option value="pending">Filled</option>
                                    <option value="no">Not Filled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card col-md-12 px-3"
                *ngIf="timesheetObj.projectId && timesheetFillable && ((timesheetObj.clientApprovalStatus !== 'no' && timesheetObj.clientApprovalStatus !== '' && timesheetObj.clientApprovalStatus !== null) || clientSideIdNotMandatory || !timesheetObj.hasClientSideId)">
                <div class="row ml-1 mt-5">
                    <h6><span class="text-danger">*</span>ApMoSys</h6>
                </div>
                <div class="row "
                    *ngIf="timesheetObj.projectId && ((timesheetObj.clientApprovalStatus !== 'no' && timesheetObj.clientApprovalStatus !== '' && timesheetObj.clientApprovalStatus !== null) || clientSideIdNotMandatory || ! timesheetObj.hasClientSideId)">
                    <div class="col-md-4 mb-0"
                        *ngIf="timesheetObj.clientSideId && !shadowForSelf && !clientSideIdNotMandatory && (timesheetObj.clientApprovalStatus === 'approved' || timesheetObj.clientApprovalStatus === 'pending') && timesheetFillable">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label class="info-label" style="min-width:250px"><span class="text-danger">*</span>
                                    Filled Attendance Proof</label>
                                <div class="d-flex align-items-center">
                                    <input type="file" class="form-control form-control-sm"
                                        accept=".pdf,.jpg,.jpeg,.png" (change)="onFileSelected($event,'doc1')"
                                        style="max-width: 200px;">
                                    <button class="btn btn-outline-primary btn-sm ms-2 p" title="Preview"
                                        [disabled]="!previewUrl1" (click)="openPreviewModalForTwo('doc1')">
                                        <i class="fa fa-eye fa-lg text-primary"></i>
                                    </button>
                                </div>
                                <small class="errorMsg text-danger">{{fileError1}}</small>
                                <small class="pl-2">{{fileName1}}</small>
                            </div>
                        </div>
                    </div>
                    <!-- View Previous Doc Proof filledDocument-->
                    <div class="col-md-6"
                        *ngIf="timesheetObj.clientSideId && !shadowForSelf && !clientSideIdNotMandatory && (timesheetObj.clientApprovalStatus === 'approved' || timesheetObj.clientApprovalStatus === 'pending') && timesheetFillable && isUpdation && timesheetObj.filledDocument">
                        <div class="info-wrapper">
                            <label class="info-label">View Previous Filled Doc Proof</label>
                            <div class="d-flex align-items-center">
                                <button *ngIf="timesheetObj.filledDocument" class="btn btn-sm btn-outline-primary"
                                    (click)="getDoscForPreview(timesheetObj.filledDocument)">
                                    <em>View Doc</em>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-0"
                        *ngIf="timesheetObj.clientSideId && !shadowForSelf && !clientSideIdNotMandatory && timesheetObj.clientApprovalStatus === 'approved' ">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label class="info-label" style="min-width:250px"><span class="text-danger">*</span>
                                    Approved Attendance Proof</label>
                                <div class="d-flex align-items-center">
                                    <input type="file" class="form-control form-control-sm"
                                        accept=".pdf,.jpg,.jpeg,.png" (change)="onFileSelected($event,'doc2')"
                                        style="max-width: 200px;">
                                    <button class="btn btn-outline-primary btn-sm ms-2 p" title="Preview"
                                        [disabled]="!previewUrl2" (click)="openPreviewModalForTwo('doc2')">
                                        <i class="fa fa-eye fa-lg text-primary"></i>
                                    </button>
                                </div>
                                <small class="errorMsg text-danger">{{fileError2}}</small>
                                <small class="pl-2">{{fileName2}}</small>
                            </div>
                        </div>
                    </div>
                    <!-- View Previous Doc Proof approvedDocument-->
                    <div class="col-md-6"
                        *ngIf="timesheetObj.clientSideId && !shadowForSelf && !clientSideIdNotMandatory && timesheetObj.clientApprovalStatus === 'approved' && isUpdation && timesheetObj.approvedDocument">
                        <div class="info-wrapper">
                            <label class="info-label">View Previous Approved Doc Proof</label>
                            <div class="d-flex align-items-center">
                                <button *ngIf="timesheetObj.approvedDocument" class="btn btn-sm btn-outline-primary"
                                    (click)="getFinalDocumentDataByDocId(timesheetObj.timesheetId,timesheetObj.approvedDocument)">
                                    <em>View Doc</em>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ApMoSys IN/OUT Time-->
                <div *ngIf="timesheetFillable" class="row gy-3 align-items-center justify-content-between">
                    <!-- In Time -->
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                        <div class="info-wrapper">
                            <label class="info-label" style="margin-bottom: 1px;"><span class="text-danger">*</span>In
                                Time</label>
                            <div class="d-flex flex-nowrap gap-2 align-items-center">
                                <mat-form-field appearance="outline" class="mat-form-field-custom-time-picker">
                                    <mat-select [(ngModel)]="selectedInHour" (selectionChange)="makeApmosysInTime()">
                                        <mat-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <span class="align-self-center">:</span>

                                <mat-form-field appearance="outline" class="mat-form-field-custom-time-picker">
                                    <mat-select [(ngModel)]="selectedInMinute" (selectionChange)="makeApmosysInTime()">
                                        <mat-option *ngFor="let minute of minutes" [value]="minute">{{ minute
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="mat-form-field-custom-time-picker">
                                    <mat-select [(ngModel)]="selectedInPeriod" (selectionChange)="makeApmosysInTime()">
                                        <mat-option *ngFor="let period of periods" [value]="period">{{ period
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!-- <p *ngIf="timesheetObj.officeInTime" class="mt-1 mb-0 small text-primary">
                                <strong>In Time:</strong> {{ timesheetObj.officeInTime | date: 'hh:mm a' }}
                            </p> -->
                        </div>
                    </div>

                    <!-- Out Time -->
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                        <div class="info-wrapper">
                            <label class="info-label" style="margin-bottom: 1px;"><span class="text-danger">*</span>Out
                                Time</label>
                            <div class="d-flex flex-nowrap gap-2 align-items-center">
                                <mat-form-field appearance="outline" class="mat-form-field-custom-time-picker">
                                    <mat-select [(ngModel)]="selectedOutHour" (selectionChange)="makeApmosysOutTime()">
                                        <mat-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <span>:</span>

                                <mat-form-field appearance="outline" class="mat-form-field-custom-time-picker">
                                    <mat-select [(ngModel)]="selectedOutMinute"
                                        (selectionChange)="makeApmosysOutTime()">
                                        <mat-option *ngFor="let minute of minutes" [value]="minute">{{ minute
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="mat-form-field-custom-time-picker">
                                    <mat-select [(ngModel)]="selectedOutPeriod"
                                        (selectionChange)="makeApmosysOutTime()">
                                        <mat-option *ngFor="let period of periods" [value]="period">{{ period
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!-- <p *ngIf="timesheetObj.officeOutTime" class="mt-1 mb-0 small text-primary">
                                <strong>Out Time:</strong> {{ timesheetObj.officeOutTime | date: 'hh:mm a' }}
                            </p> -->
                        </div>
                    </div>

                    <!-- Total Working Hours -->
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                        <div class="info-wrapper">
                            <label class="info-label">Total Working Hours</label>
                            <mat-form-field appearance="fill">
                            <input matInput [(ngModel)]="timesheetObj.totalWorkingOfficeHours" disabled />
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card col-md-12 px-3"
                *ngIf="timesheetObj.projectId && ((timesheetObj.clientApprovalStatus !== 'no' && timesheetObj.clientApprovalStatus !== '' && timesheetObj.clientApprovalStatus !== null) || clientSideIdNotMandatory || !timesheetObj.hasClientSideId)">
                <div *ngIf="timesheetObj.clientSideId && !shadowForSelf && !clientSideIdNotMandatory">

                    <div class="form-check my-3" *ngIf="timesheetFillable">
                        <input type="checkbox" class="form-check-input" id="syncTimes" [(ngModel)]="syncTimes"
                            (change)="onSyncToggle()" />
                        <label class="form-check-label" for="syncTimes">
                            Same as ApMoSys In-time and Out-time
                        </label>
                    </div>

                    <div class="row ml-1 mt-5" *ngIf="timesheetFillable">
                        <h6><span class="text-danger">*</span>Client Side</h6>
                        <small class="text-muted ml-1">(Ensure that the Client Side in-time and out-time align with the
                            timings in the Client Side Attendance proof)</small>
                    </div>
                    <!-- Client Side IN/OUT Time-->
                    <div *ngIf="timesheetFillable" class="row gy-3 align-items-center justify-content-between">

                        <!-- In Time -->
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                            <div class="info-wrapper">
                                <label class="info-label mb-1"><span class="text-danger">*</span>In Time</label>
                                <div class="d-flex flex-nowrap gap-2 align-items-center">
                                    <mat-form-field appearance="outline" class="mat-form-field-custom-time-picker">
                                        <mat-select [(ngModel)]="selectedClientInHour"
                                            (selectionChange)="makeClientInTime()">
                                            <mat-option *ngFor="let hour of hours" [value]="hour">{{ hour
                                                }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <span>:</span>

                                    <mat-form-field appearance="outline" class="mat-form-field-custom-time-picker">
                                        <mat-select [(ngModel)]="selectedClientInMinute"
                                            (selectionChange)="makeClientInTime()">
                                            <mat-option *ngFor="let minute of minutes" [value]="minute">{{ minute
                                                }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="mat-form-field-custom-time-picker">
                                        <mat-select [(ngModel)]="selectedClientInPeriod"
                                            (selectionChange)="makeClientInTime()">
                                            <mat-option *ngFor="let period of periods" [value]="period">{{ period
                                                }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <!-- <p *ngIf="timesheetObj.clientInTime" class="mt-1 mb-0 small text-primary">
                                    <strong>In Time:</strong> {{ timesheetObj.clientInTime | date:'hh:mm a' }}
                                </p> -->
                            </div>
                        </div>

                        <!-- Out Time -->
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                            <div class="info-wrapper">
                                <label class="info-label mb-1"><span class="text-danger">*</span>Out Time</label>
                                <div class="d-flex flex-nowrap gap-2 align-items-center">
                                    <mat-form-field appearance="outline" class="mat-form-field-custom-time-picker">
                                        <mat-select [(ngModel)]="selectedClientOutHour"
                                            (selectionChange)="makeClientOutTime()">
                                            <mat-option *ngFor="let hour of hours" [value]="hour">{{ hour
                                                }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <span>:</span>

                                    <mat-form-field appearance="outline" class="mat-form-field-custom-time-picker">
                                        <mat-select [(ngModel)]="selectedClientOutMinute"
                                            (selectionChange)="makeClientOutTime()">
                                            <mat-option *ngFor="let minute of minutes" [value]="minute">{{ minute
                                                }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="mat-form-field-custom-time-picker">
                                        <mat-select [(ngModel)]="selectedClientOutPeriod"
                                            (selectionChange)="makeClientOutTime()">
                                            <mat-option *ngFor="let period of periods" [value]="period">{{ period
                                                }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <!-- <p *ngIf="timesheetObj.clientOutTime" class="mt-1 mb-0 small text-primary">
                                    <strong>Out Time:</strong> {{ timesheetObj.clientOutTime | date:'hh:mm a' }}
                                </p> -->
                            </div>
                        </div>

                        <!-- Total Working Hours -->
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                            <div class="info-wrapper">
                                <label class="info-label">Total Working Hours</label>
                                <mat-form-field appearance="fill">
                                <input matInput [(ngModel)]="timesheetObj.totalClientWorkingHours" disabled />
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- <div class="card col-md-12 px-3" *ngIf="timesheetObj.projectId && !timesheetFillable &&((timesheetObj.clientApprovalStatus !== 'no' && timesheetObj.clientApprovalStatus !== '' && timesheetObj.clientApprovalStatus !== null) || clientSideIdNotMandatory || timesheetObj.hasClientSideId)"> -->
            <!-- <input id="timesheetDate" type="date" class="form-control" autocomplete="none" [(ngModel)]="timesheetObj.date" [disabled]="isUpdation"> -->
            <!-- <div *ngIf="timesheetFillable" class="row">
                    <div class="col-md-3 mb-0">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label class="info-label"><span class="text-danger">*</span>Date</label>
                                
                                <div class="d-flex">
                                    <input class="form-control" #input (focus)="timesheetDate.open()" matInput
                                        id="timesheetDate" [matDatepicker]="timesheetDate"
                                        [matDatepickerFilter]="timesheetDateFilter" placeholder="Choose a timesheet date"
                                        [(ngModel)]="timesheetObj.date" (keydown)="disableMannualDateInput()"
                                        autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="timesheetDate" style="margin-left: -44px; margin-top: 0px;"></mat-datepicker-toggle>
                                </div>
                                <mat-datepicker #timesheetDate (closed)="input.blur()"></mat-datepicker>
                            </div>
                        </div>
                    </div>
                </div> -->
            <!-- <div *ngIf="!timesheetFillable" class="row">
                    <div class="col-md-4 mb-0">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label for="leaveDesc"><span class="text-danger">*</span>Description</label>
                                <textarea class="form-control" id="dayTypeDesc" rows="3"
                                    [(ngModel)]="timesheetObj.description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="card col-md-12 px-3"
                *ngIf="timesheetObj.projectId  && ((timesheetObj.clientApprovalStatus !== 'no' || (!timesheetFillable && timesheetObj.clientApprovalStatus !== '' && timesheetObj.clientApprovalStatus !== null)) || clientSideIdNotMandatory || timesheetObj.isShadowTimesheet)">
                <!-- Add & Update Activities -->
                <div class="container-fluid px-0"
                    *ngIf="timesheetObj.projectId  && timesheetFillable && ((timesheetObj.clientApprovalStatus !== '' && timesheetObj.clientApprovalStatus !== null) || timesheetObj.isShadowTimesheet || clientSideIdNotMandatory)">
                    <div class="row ml-1 mt-5">
                        <h6>Activities</h6>
                    </div>
                    <div *ngFor="let activityObj of allTimesheetActivities; let i = index" class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Client Name</label>
                                            <app-my-select #clientName class="form-control" placeholder="Select Client" [(ngModel)]="activityObj.clientId"
                                                [options]="filteredClients" displayKey="clientName" valueKey="clientId" [multiple]="false"
                                                (selectionChange)="getClientLocationList(activityObj,$event)" (closed)="validateClientName($event,activityObj.clientId)">
                                            </app-my-select>
                                            <!-- <mat-select ngxMatSelect class="form-control" #clientName="ngxMatSelect" [displayMember]="'clientName'"
                                                [valueMember]="'clientId'" [source]="clientList"
                                                (selectionChange)="getClientLocationList(activityObj)"
                                                (closed)="validateClientName($event,activityObj.clientId)"
                                                [(ngModel)]="activityObj.clientId" [useInfiniteScroll]="true"
                                                [multiple]="false">
                                                <ng-container *ngFor="let client of clientName.filteredSource">
                                                    <mat-option *ngIf="client.projectId === timesheetObj.projectId"
                                                        [value]="client.clientId">
                                                        {{ client.clientName }}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select> -->
                                            <!-- [min]="minDate" [max]="maxDate"
                                                         <select class="form-control" aria-hidden="true"
                                                                                            [(ngModel)]="activityObj.clientId" (blur)="validateClientName($event,activityObj.clientId)"
                                                                                            (change)="getClientLocationList(activityObj);" >
                                                                                            <option selected="selected" value="" disabled>Select</option>
                                                                                            <option *ngFor="let client of clientList" value="{{client.clientId}}" >
                                                                                                {{client.clientName}}</option>
                                                                                        </select> -->
                                            <small class="errorMsg text-danger"></small>
                                            <!-- (selectionChange)="getClientLocationList(activityObj)"
                                                                                            (closed)="validateClientName($event,activityObj.clientId)"
                                                                                            [(ngModel)]="activityObj.clientId" -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Client
                                                Location</label>
                                                <app-my-select #clientLocation class="form-control" placeholder="Select Client Location"
                                                    [(ngModel)]="activityObj.clientLocationId" [options]="activityObj.clientLocationList" displayKey="clientLocation"
                                                    valueKey="clientLocationId" [multiple]="false" (selectionChange)="getProjectList(activityObj)"
                                                    (closed)="validateClientLocation($event,activityObj.clientLocationId)">
                                                </app-my-select>
                                            <!-- <mat-select ngxMatSelect class="form-control" #clientLocation="ngxMatSelect"
                                                [displayMember]="'clientLocation'" [valueMember]="'clientLocationId'"
                                                [source]="activityObj.clientLocationList" [useInfiniteScroll]="true"
                                                (selectionChange)="getProjectList(activityObj)"
                                                (closed)="validateClientLocation($event,activityObj.clientLocationId)"
                                                [multiple]="false" [(ngModel)]="activityObj.clientLocationId">
                                                <mat-option [value]="clientLocation.clientLocationId"
                                                    *ngFor="let clientLocation of clientLocation.filteredSource">
                                                    {{clientLocation.clientLocation}}
                                                </mat-option>
                                            </mat-select> -->
                                            <!-- <select class="form-control" aria-hidden="true"
                                                [(ngModel)]="activityObj.clientLocationId" (blur)="validateClientLocation($event,activityObj.clientLocationId)"
                                                (change)="getProjectList(activityObj);">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option *ngFor="let clientLocation of activityObj.clientLocationList"
                                                    value="{{clientLocation.clientLocationId}}">
                                                    {{clientLocation.clientLocation}}</option>
                                            </select> -->
                                            <small class="errorMsg text-danger"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Team Name</label>
                                            <app-my-select #teamName class="form-control" placeholder="Select Team" [(ngModel)]="activityObj.teamId"
                                                [options]="activityObj.projectList" displayKey="displayTeam" valueKey="teamId" [multiple]="false"
                                                (selectionChange)="getAllActivitiesByProjectIdandEmpId(activityObj, $event)">
                                            </app-my-select>
                                            <!-- <mat-select ngxMatSelect class="form-control" id="dayTypeCursor"
                                                #teamName="ngxMatSelect" [displayMember]="'c'"
                                                [valueMember]="'teamId'" [source]="activityObj.projectList"
                                                [useInfiniteScroll]="true"
                                                (selectionChange)="getAllActivitiesByProjectIdandEmpId(activityObj)"
                                                [multiple]="false" [(ngModel)]="activityObj.teamId">
                                                <mat-option [value]="project.teamId"
                                                    *ngFor="let project of teamName.filteredSource">
                                                    {{project.displayTeam}}
                                                </mat-option>
                                            </mat-select> -->
                                            <!-- <select class="form-control" aria-hidden="true"
                                                [(ngModel)]="activityObj.teamId" 
                                                (change)="getAllActivitiesByProjectIdandEmpId(activityObj);">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option *ngFor="let project of activityObj.projectList"
                                                    value="{{project.teamId}}">{{project.projectName}} | {{project.teamName}}</option>
                                            </select> -->
                                            <small class="errorMsg text-danger"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Activity</label>
                                            <select class="form-control" aria-hidden="true" id="dayTypeCursor"
                                                [(ngModel)]="activityObj.activityId"
                                                (blur)="validateActivity($event,activityObj.activityId)"
                                                (change)="setActivity(activityObj)">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option *ngFor="let activity of activityObj.projectActivities"
                                                    value="{{activity.activityId}}">{{activity.activity}}</option>
                                            </select>
                                            <!-- <pre>{{ activityObj.projectActivities | json }}</pre> -->
                                            <small class="errorMsg text-danger"></small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label for="leaveDesc">Description</label>
                                            <textarea class="form-control" id="dayTypeDesc" rows="1"
                                                [(ngModel)]="activityObj.description"
                                                (input)="validateDescription($event,activityObj)"></textarea>
                                            <small class="errorMsg text-danger"></small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Time
                                                <small>(hrs)</small></label>
                                            <input type="number" step="any" class="form-control" autocomplete="none"
                                                [(ngModel)]="activityObj.completionTime"
                                                (blur)="validateTime($event,activityObj.completionTime)"
                                                (keypress)="omit_special_char($event)" (wheel)="preventScroll($event)">

                                            <small class="errorMsg text-danger"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 d-flex">
                                    <div class="m-0 mt-4 pt-2">
                                        <button type="button" class="btn btn-sm btn-outline-primary mx-1"
                                            (click)="addInputActivityField(activityObj)"
                                            [disabled]="(allTimesheetActivities.length > 1 && i !== allTimesheetActivities.length-1) || (activityObj.activityId == null || activityObj.activityId == '')"><i
                                                class="fa fa-plus" aria-hidden="true"></i></button>
                                        <button *ngIf="i != 0" type="button" class="btn btn-sm btn-outline-primary mx-1"
                                            (click)="removeInputActivityField(activityObj)"><i class="fa fa-trash"
                                                aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!timesheetFillable" class="row">
                    <div class="col-md-4 mb-0">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <label for="leaveDesc"><span class="text-danger">*</span>Description</label>
                                <textarea class="form-control" id="dayTypeDesc" rows="3"
                                    [(ngModel)]="timesheetObj.description"
                                    (input)="validateDescription($event,timesheetObj.description)"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end :: Add & Update Activities -->
                <div class="row mt-3">
                    <div class="col-md-12" style="padding-bottom: 1.5rem;">
                        <button *ngIf="isCreation && userMapping.add_timesheet && timesheetObj.dayType" type="submit"
                            class="btn btn-primary btn-sm mx-1" [disabled]="disableCreateUpdateTimesheet"
                            (click)="onCreateTimesheet(alert_message)">Create
                            Timesheet</button>
                        <button *ngIf="isUpdation && userMapping.update_timesheet && timesheetObj.dayType" type="submit"
                            class="btn btn-primary btn-sm mx-1"
                            (click)="openUpdateConfimationModal(update_timesheet_template)">Update Timesheet</button>
                    </div>
                </div>
            </div>
        </div>
</ng-container>
<!-- ============================================ -->
<!-- END OF OLD TIMESHEET FORM (HIDDEN) -->
<!-- ============================================ -->

<!-- ============================================ -->
<!-- NEW MULTI-PROJECT TIMESHEET FORM -->
<!-- ============================================ -->
<div class="row" *ngIf="isTimesheetForm && isCreation">
    <div class="card col-md-12 px-0">
        <!-- <div class="card-header text-center text-uppercase">
            <strong>Create Timesheet</strong>
        </div> -->
        <div class="card-body">
            <app-timesheet-form 
                [isCreation]="isCreation"
                [isUpdation]="isUpdation"
                (timesheetCreated)="resetTimesheetForm(); showViewMyTimesheets()"
                (cancel)="resetTimesheetForm()">
            </app-timesheet-form>
        </div>
    </div>
</div>

<!-- OLD UPDATE FORM - KEEP FOR NOW (can be replaced later) -->
<div class="row" *ngIf="isTimesheetForm && isUpdation">
    <div class="card col-md-12 px-0">
        <div class="card-header text-center text-uppercase">
            <strong>Update Timesheet</strong>
        </div>
        <div class="card-body">
            <!-- Update form content remains here for now -->
            <!-- TODO: Replace with app-timesheet-form for update as well -->
        </div>
    </div>
</div>

    <!-- <div *ngIf="employeeInTNMProject">
        <div class="tnm-rules-wrapper">
            <button type="button" (click)="openPolicySidebar()" class="tnm-rules" title="View Rules">
                <div class="tnm-rules-inner">
                    <img src="assets/Images/transcDragRules.gif" />
                </div>
                <span class="rules-label">
                    <<<< Click To View Rules </span>
            </button>
           
            <div class="help-manual-wrapper">
               
                <span><img src="assets/Images/eye25.gif" /></span>
                <span class="help-manual-text"> Need help filling the form?</span>
                <button type="button" (click)="openUserManualPdf()" class="help-manual-btn" title="View User Manual">
                    <svg class="document-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <line x1="12" y1="11" x2="12" y2="17"></line>
                        <line x1="9" y1="14" x2="15" y2="14"></line>
                    </svg>
                </button>
            </div>
        </div>
    </div> -->

