<!-- Travel History Table -->
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <div>
          <h2 class="mb-0 text-primary">Travel Request History</h2>
          <!-- <small class="text-light">Track and manage your past travel reimbursement submissions</small> -->
        </div>

        <button type="button" class="btn btn-primary"
          (click)="getAllInvoicesByEmpId(alert_message1,this.currentUser.empId)" *ngIf="!invoiceDetails">
          Travel Based Request History
        </button>
        <button type="button" class="btn btn-primary" (click)="fetchAllInvoice1()" *ngIf="invoiceDetails">
          View My Travel Request
        </button>
      </div>
    </div>
    <div class="row" *ngIf="!invoiceDetails">
      <div class="col-md-12">
        <div class="d-flex align-items-center justify-content-between mt-3">

          <div class="selector-toggle">
            <a href="javascript:void(0)">
              <i *ngIf="!isSearchEnabled" class="fa fa-search" (click)="toggleSearch()"></i>
              <i *ngIf="isSearchEnabled" class="fa-solid fa-xmark" (click)="toggleSearch()"></i>
            </a>
          </div>




          <div class="export-button">
            <button type="button" class="btn btn-sm btn-outline-primary mt-2 mb-2 excel-button"
              [hidden]="travelRequests.length == 0" (click)="exportToExcel()">
              <em class="fa fa-file-arrow-down fa-2x"></em>&nbsp;
            </button>
          </div>
        </div>
        <div class="overflow-auto" bassHorizontalScroll>
          <table class="table table-responsive">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="info-label">Reference Number</th>
                <th scope="col" class="info-label">Name</th>
                <th scope="col" class="info-label">Request Type</th>
                <th scope="col" class="info-label">From Date</th>
                <th scope="col" class="info-label">To Date</th>
                <th scope="col" class="info-label">Hotel Category</th>
                <th scope="col" class="info-label">City Category</th>
                <th scope="col" class="info-label">City Name</th>
                <th scope="col" class="info-label">From Location</th>
                <th scope="col" class="info-label">To Location</th>

                <th scope="col" class="info-label">Applied By</th>
                <th scope="col" class="info-label">Applied On</th>
                <th scope="col" class="wide-col">Purpose Of Travel</th>
                <th scope="col" class="info-label">Current Approval Level</th>
                <th scope="col" class="info-label">Level 1 Approver Name</th>
                <th scope="col" class="info-label">Level 1 Approver Status</th>
                <th scope="col" class="info-label">Level 1 Approver Remarks</th>
                <th scope="col" class="info-label">Level 2 Approver Name</th>
                <th scope="col" class="info-label">Level 2 Approver Status</th>
                <th scope="col" class="info-label">Level 2 Approver Remarks</th>
                <th scope="col" class="info-label">Final Status</th>
                <th scope="col" class="info-label">Action</th>
              </tr>
              <tr app-column-filter-bar *ngIf="isSearchEnabled" [columnList]="travelActiveColumns"
                (onSearch)="onSearch($event);page=1"></tr>
            </thead>
            <tbody>
              <tr *ngIf="travelRequests.length == 0 || (travelRequests | colFilter:filters: false).length == 0">
                <th colspan="12" class="text-center info-label">No details to display...</th>
              </tr>
              <tr
                *ngFor="let row of travelRequests |colFilter:filters:false | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
                <td>{{ row.requestId }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.requestType }}</td>
                <td>{{ row.fromDate | date }}</td>
                <td>{{ row.toDate | date }}</td>
                <td>{{ row.hotelCategory || 'NA' }}</td>
                <td>{{ row.cityCategory || 'NA' }}</td>
                <td>{{ row.city || 'NA' }}</td>
                <td>{{ row.fromLocation || 'NA' }}</td>
                <td>{{ row.toLocation || 'NA' }}</td>

                <td>{{ row.empId }}</td>
                <td>{{ row.appliedOn | date }}</td>
                <td>{{ row.purpose }}</td>
                <td>{{ row.level }}</td>
                <td>{{ row.hodName }}</td>
                <!-- <td>{{ row.status }}</td> -->
                <td [ngClass]="{
                    'text-danger': row.status === 'Rejected',
                    'text-success': row.status === 'Approved',
                    'text-warning': row.status === 'Pending'
                                }">
                  {{ row.status }}
                </td>
                <td>{{ row.level1approverRemarks || 'NA' }}</td>
                <td>{{row.level2approverName}} </td>
                <!-- <td>{{ row.level2approverStatus }}</td> -->
                <td [ngClass]="{
                    'text-danger': row.level2approverStatus === 'Rejected',
                    'text-success': row.level2approverStatus === 'Approved',
                    'text-warning': row.level2approverStatus === 'Pending'
                                }">
                  {{ row.level2approverStatus }}
                </td>
                <td>{{ row.level2approverRemarks || 'NA' }}</td>
                <td [ngClass]="{
                    'text-danger': row.finalStatus === 'Rejected',
                    'text-success': row.finalStatus === 'Approved',
                    'text-warning': row.finalStatus === 'Pending'
                                }">
                  {{ row.finalStatus || 'NA'}}
                </td>
                <td>
                  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" >
                      <em class="fa fa-edit"></em> Edit
                    </button> -->
                  <div class="d-inline-flex">
                    <button *ngIf="row.status != 'Approved' && row.status != 'Rejected'" type="button"
                      class="btn btn-primary btn-sm ml-2" (click)="openEditModal(travel_desk,row)">
                      <em class="fa fa-edit"></em> Edit
                    </button>
                    <button *ngIf="row.status != 'Approved' && row.status != 'Rejected'" type="button"
                      class="btn btn-danger btn-sm ml-2" (click)="deleteTraveldata(row,alert_message1)">
                      <em class="fa fa-trash"></em> Delete
                    </button>
                    <button *ngIf="row.finalStatus === 'Approved' && isAfterToDate(row.toDate)" type="button"
                      (click)="reimbursmentModel(travelReimbursment, row)" class="btn btn-primary btn-sm ml-2">
                      <em class="fa fa-success"></em> Apply Reimbursement
                    </button>
                    <!-- *ngIf="row.finalStatus === 'Approved' && isBeforeOrOnFromDate(row.fromDate)" -->
                    <button type="button" *ngIf="row.finalStatus === 'Approved' && isBeforeOrOnFromDate(row.fromDate)"
                      class="btn btn-sm ml-2" [ngClass]="row.ticketDocId ? 'btn-success' : 'btn-primary'"
                      (click)="downLoadTicket(alert_message, row.ticketDocId)">
                      <em class="fa fa-ticket"></em> Ticket Download
                    </button>


                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <pagination-controls class="my-pagination"></pagination-controls> -->
        <pagination-controls class="my-pagination" [hidden]="travelRequests.length == 0"
          (pageChange)="handlePageChange($event)"></pagination-controls>
        <!-- <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2">
            <em class="fa fa-file-arrow-down fa-2x"></em>
          </button> -->
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="invoiceDetails">
  <div class="col-12 table-responsive">
    <table class="table table-bordered table-hover text-center ">
      <thead class="thead-dark">
        <tr>
          <th>Travel ID</th>
          <th>From</th>
          <th>To</th>
          <th>From Date</th>
          <th>To Date</th>
          <th>Travel Mode</th>
          <th>Travel Class</th>
          <th>Final Reimbursement Status</th>
          <th>Invoice No</th>
          <th>Amount</th>
          <th>Preview Document</th>
          <!-- *ngIf="this.currentUser.departmentName === 'Accounts'" -->
          <th>Status</th>
          <th> Action </th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngFor="let key of objectKeys(groupedInvoiceData) | paginate: { itemsPerPage: 10, currentPage: page }">
          <ng-container *ngIf="groupedInvoiceData[key].invoices.length > 0">
            <tr *ngFor="let invoice of groupedInvoiceData[key].invoices; let i = index">
              <td *ngIf="i === 0" [attr.rowspan]="groupedInvoiceData[key].invoices.length">{{
                groupedInvoiceData[key].commonInfo.travelId }}</td>
              <td *ngIf="i === 0" [attr.rowspan]="groupedInvoiceData[key].invoices.length">{{
                groupedInvoiceData[key].commonInfo.fromLocation }}</td>
              <td *ngIf="i === 0" [attr.rowspan]="groupedInvoiceData[key].invoices.length">{{
                groupedInvoiceData[key].commonInfo.toLocation }}</td>
              <td *ngIf="i === 0" [attr.rowspan]="groupedInvoiceData[key].invoices.length">{{
                groupedInvoiceData[key].commonInfo.fromDate | date:'yyyy-MM-dd' }}</td>
              <td *ngIf="i === 0" [attr.rowspan]="groupedInvoiceData[key].invoices.length">{{
                groupedInvoiceData[key].commonInfo.toDate | date:'yyyy-MM-dd' }}</td>
              <td *ngIf="i === 0" [attr.rowspan]="groupedInvoiceData[key].invoices.length">{{
                groupedInvoiceData[key].commonInfo.travelMode }}</td>
              <td *ngIf="i === 0" [attr.rowspan]="groupedInvoiceData[key].invoices.length">{{
                groupedInvoiceData[key].commonInfo.travelClass }}</td>
              <td *ngIf="i === 0" [attr.rowspan]="groupedInvoiceData[key].invoices.length">
                {{ groupedInvoiceData[key].commonInfo.finalReimbursementStatus || 'Pending' }}
              </td>

              <td>{{ invoice.invoiceNo }}</td>
              <td>{{ invoice.amount }}</td>
              <td>
                <button type="button" class="btn btn-outline-primary sm"
                  (click)="preview(invoiceop, invoice.docIdTrevel)">
                  <em class="fa fa-eye">View</em>
                </button>
              </td>
              <!-- *ngIf="this.currentUser.departmentName === 'Accounts'" -->
              <td>
                <div>
                  <span class="badge badge-success" *ngIf="invoice.reimbursementStatus === 'Approved'">Approved</span>
                  <span class="badge badge-danger" *ngIf="invoice.reimbursementStatus === 'Rejected'">Rejected</span>
                  <span class="badge badge-warning"
                    *ngIf="invoice.reimbursementStatus !== 'Approved' && invoice.reimbursementStatus !== 'Rejected'">
                    Pending
                  </span>
                </div>

              </td>
              <td>
                <button *ngIf="invoice.reimbursementStatus === 'Rejected'" type="button" class="btn btn-primary"
                  title="Resubmit Your Invoice Details"
                  (click)="reimbursmentModelForRejected(RejectedReimbursment,groupedInvoiceData[key].commonInfo.fromDate,groupedInvoiceData[key].commonInfo.toDate,groupedInvoiceData[key].commonInfo.travelId,invoice)">
                  Resubmit
                </button>
              </td>

          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <pagination-controls class="my-3 justify-content-center" (pageChange)="handlePageChange($event)">
    </pagination-controls>
  </div>
</div>








<ng-template #travel_desk>
  <div class="modal-body text-center">
    <div class="" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editTravelRequestModalLabel">Edit Travel Request</h5>
            <button type="button" class="close" (click)="closeModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #editForm="ngForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="requestId">Request ID</label>
                    <input type="text" class="form-control" id="requestId" [(ngModel)]="selectedTravelRequest.requestId"
                      name="requestId" readonly />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="selectedTravelRequest.name"
                      name="name" readonly />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="requestType">Request Type</label>
                    <input type="text" class="form-control" id="requestType"
                      [(ngModel)]="selectedTravelRequest.requestType" name="requestType" readonly />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fromDate">From Date</label>
                    <input type="date" class="form-control" id="fromDate" [(ngModel)]="selectedTravelRequest.fromDate"
                      name="fromDate" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="toDate">To Date</label>
                    <input type="date" class="form-control" id="toDate" [(ngModel)]="selectedTravelRequest.toDate"
                      name="toDate" />
                  </div>
                </div>

                <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="fromLocation">From Location</label>
                      <input type="text" class="form-control" id="fromLocation" [(ngModel)]="selectedTravelRequest.fromLocation" name="fromLocation" />
                    </div>
                  </div>
                
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="toLocation">To Location</label>
                      <input type="text" class="form-control" id="toLocation" [(ngModel)]="selectedTravelRequest.toLocation" name="toLocation" />
                    </div>
                  </div> -->

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" class="form-control" id="status" [(ngModel)]="selectedTravelRequest.status"
                      name="status" readonly />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="appliedBy">Applied By</label>
                    <input type="text" class="form-control" id="appliedBy" [(ngModel)]="selectedTravelRequest.empId"
                      name="appliedBy" readonly />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="appliedOn">Applied On</label>
                    <input type="date" class="form-control" id="appliedOn" [(ngModel)]="selectedTravelRequest.appliedOn"
                      name="appliedOn" readonly />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="purpose">Purpose of Travel</label>
                    <textarea class="form-control" id="purpose" [(ngModel)]="selectedTravelRequest.purpose"
                      name="purpose"></textarea>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="approver">Level 1 Approver</label>
                    <input type="text" class="form-control" id="approver" [(ngModel)]="selectedTravelRequest.hodName"
                      name="approver" readonly />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="approverStatus">Level 1 Approver Status</label>
                    <input type="text" class="form-control" id="approverStatus"
                      [(ngModel)]="selectedTravelRequest.status" name="approverStatus" readonly />
                  </div>
                </div>

                <div class="col-md-12 text-center">
                  <button type="button" class="btn btn-primary" (click)="updateTravelRequest(alert_message)">Save
                    Changes</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <p>{{alertMessage}}</p>
    <button type="button" class="btn btn-primary" >OK</button>&nbsp; -->
</ng-template>

<ng-template #alert_message>
  <div class="modal-body text-center">
    <p>{{alertMessage}}</p>
    <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
  </div>
</ng-template>

<ng-template #alert_message1>
  <div class="modal-body text-center">
    <p>{{alertMessage}}</p>
    <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
  </div>
</ng-template>



<ng-template #travelReimbursment>
  <div class="row">
    <div class="card col-md-12 px-0">
      <div class="card-header text-center text-uppercase">
        <strong>Apply reimbursment based on your travel request</strong>
        <!-- <strong *ngIf="isUpdation">Update Timesheet</strong> -->
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-md-3">
            <label class="info-label">
              <span class="text-danger">*</span>Full Name
            </label>
            <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.name" name="fullName" disabled
              required />
          </div>

          <div class="col-md-3 mb-0">
            <label class="info-label">
              <span class="text-danger">*</span>Employee Id
            </label>
            <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.employeementId" name="employeeId"
              disabled required />
          </div>

          <div class="col-md-3 mb-0">
            <label class="info-label">
              <span class="text-danger">*</span>Department
            </label>
            <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.departmentName"
              name="departmentName" disabled required />
          </div>

          <div class="col-md-3 mb-0">
            <label class="info-label">
              <span class="text-danger">*</span>Designation
            </label>
            <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.designationName"
              name="designationName" disabled required />
          </div>

          <div class="col-md-3 mb-0">
            <label class="info-label">
              <span class="text-danger">*</span>Mail Id
            </label>
            <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.email" name="email" disabled
              required />
          </div>

          <div class="col-md-3 mb-0">
            <label class="info-label">
              <span class="text-danger">*</span>Mobile No
            </label>
            <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.mobileNo" name="mobileNo" disabled
              required />
          </div>

          <div class="col-md-3 mb-0">
            <label class="info-label">
              <span class="text-danger">*</span>Manager Name
            </label>
            <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.managerName" name="managerName"
              disabled required />
          </div>



          <div class="col-md-3 mb-0">
            <label class="info-label">
              <span class="text-danger">*</span>From Location
            </label>
            <input type="text" class="form-control" [(ngModel)]="selectedTravelRequest.fromLocation" name="fromLocation"
              disabled required />
          </div>

          <div class="col-md-3 mb-0">
            <label class="info-label">
              <span class="text-danger">*</span>To Location
            </label>
            <input type="text" class="form-control" [(ngModel)]="selectedTravelRequest.toLocation" name="toLocation"
              disabled required />
          </div>

          <div class="col-md-3 mb-0">
            <div class="info-wrapper">
              <div class="form-group">
                <label class="info-label"><span class="text-danger">*</span>From Date</label>
                <input class="form-control" [(ngModel)]="selectedTravelRequest.fromDate" id="fromDate" type="date"
                  placeholder="Choose from date" autocomplete="off" disabled>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-0">
            <div class="info-wrapper">
              <div class="form-group">
                <label class="info-label"><span class="text-danger">*</span>To Date</label>
                <input class="form-control" id="toDate" type="date" [(ngModel)]="selectedTravelRequest.toDate"
                  placeholder="Choose to date" autocomplete="off" disabled>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-0">
            <div class="info-wrapper">
              <div class="form-group">
                <label for="purposeOfTravel"><span class="text-danger">*</span>Purpose of Travel</label>
                <textarea class="form-control" [(ngModel)]="selectedTravelRequest.purpose" id="purposeOfTravel" rows="3"
                  name="purposeOfTravel" disabled></textarea>
              </div>
            </div>
          </div>

        </div>
        <div *ngFor="let invoice of invoices; let i = index" class="row mb-3 align-items-end">
          <div class="col-md-2">
            <label class="info-label"><span class="text-danger">*</span>Invoice No</label>
            <input type="text" class="form-control" [(ngModel)]="invoice.invoiceNo"
              (blur)="checkInvoiceNumberPresentorNot(alert_message,invoice.invoiceNo)" name="invoiceNo{{i}}" required />

          </div>

          <div class="col-md-3">
            <label class="info-label"><span class="text-danger">*</span>Invoice Date</label>
            <input type="date" class="form-control" [(ngModel)]="invoice.invoiceDate" name="invoiceDate{{i}}"
              [min]="selectedTravelRequest.fromDate" [max]="selectedTravelRequest.toDate" required />
          </div>


          <div class="col-md-2">
            <label class="info-label"><span class="text-danger">*</span>Amount</label>
            <input type="number" class="form-control" (keypress)="restrictingAlphaAndCharacter($event)"
              [(ngModel)]="invoice.amount" name="invoiceAmount{{i}}" required />
          </div>

          <div class="col-md-3">
            <label class="info-label"><span class="text-danger">*</span>Upload Invoice</label>
            <input type="file" class="form-control" (change)="onInvoiceFileChange($event, i,alert_message)" required />
          </div>

          <div class="col-md-2 text-right">

            <button class="btn btn-outline-primary" (click)="addInvoiceRow()"
              [disabled]="invoices.length >= 15 || !invoices[invoices.length - 1]?.file1">
              <i class="fa fa-plus"></i>
            </button>


            <button class="btn btn-outline-danger ml-1" (click)="removeInvoiceRow(i)" *ngIf="i > 0">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>


        <div class="row mb-3">
          <div class="col-md-12 px-0 text-center">

            <button type="button" class="btn btn-primary btn-lg mx-1"
              (click)="submitInvoice(alert_message)">Submit</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>


<ng-template #invoiceop>
  <div class="modal-body text-center">
    <div *ngIf="selectedDocument">
      <ng-container *ngIf="selectedDocument?.toString().includes('application/pdf'); else imageBlock">
        <iframe [src]="selectedDocument" width="100%" height="600px"></iframe>
      </ng-container>

      <ng-template #imageBlock>
        <img [src]="selectedDocument" class="img-fluid" alt="Document Preview" />
      </ng-template>
    </div>
    <button type="button" class="btn btn-primary" (click)="cancelRequestDocument()">OK</button>&nbsp;
  </div>
</ng-template>



<ng-template #RejectedReimbursment>
  <div class="row justify-content-center">
    <div class="card col-md-12 px-0">
      <div class="card-header text-center text-uppercase">
        <strong>Update Your Invoice Details</strong>
        <!-- <strong *ngIf="isUpdation">Update Timesheet</strong> -->
      </div>
      <div class="card-body">
        <div class="row ml-3">


          <div *ngFor="let invoice of invoices; let i = index" class="row mb-3 align-items-end">
            <div class="col-md-3">
              <label class="info-label"><span class="text-danger">*</span>Invoice No</label>
              <input type="text" class="form-control" [(ngModel)]="invoice.invoiceNo"
                (blur)="checkInvoiceNumberPresentorNot(alert_message,invoice.invoiceNo)" name="invoiceNo{{i}}"
                required />

            </div>

            <div class="col-md-3">
              <label class="info-label"><span class="text-danger">*</span>Invoice Date</label>
              <input type="date" class="form-control" [(ngModel)]="invoice.invoiceDate" name="invoiceDate{{i}}"
                [min]="selectedTravelRequest.fromDate" [max]="selectedTravelRequest.toDate" required />
            </div>


            <div class="col-md-3">
              <label class="info-label"><span class="text-danger">*</span>Amount</label>
              <input type="number" class="form-control" (keypress)="restrictingAlphaAndCharacter($event)"
                [(ngModel)]="invoice.amount" name="invoiceAmount{{i}}" required />
            </div>

            <div class="col-md-3">
              <label class="info-label"><span class="text-danger">*</span>Upload Invoice</label>
              <input type="file" class="form-control" (change)="onFileSelected($event)" required />
            </div>


          </div>





        </div>
        <div class="row justify-content-center">
          <div class="col-md-auto">
            <button type="button" class="btn btn-primary btn-lg"
              (click)="updateReimbursmentBasedOnTravelRequest(alert_message)">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>