<div class="exparedPoadata" bassHorizontalScroll [tableId]="'auditInfo'"
                            [tableTHeadId]="'auditInfoTHead'" [tableTHeadTrId]="'auditInfoTHeadTr'">
                            <table class="table table-responsive" id="auditInfo">
                                <!-- matSort
                                (matSortChange)="sortData($event)" -->
                                <thead class="thead-light" id="auditInfoTHead">
                                    <tr id="auditInfoTHeadTr">
                                        <th scope="col" class="info-label">Sr No.</th>
                                        <th scope="col" class="info-label">Expired On</th>
                                        <th scope="col" class="info-label">Client Name</th>
                                        <th scope="col" class="info-label">Project Id</th>
                                        <th scope="col" class="info-label">Project Name</th>
                                        <th scope="col" class="info-label">PO No.</th>
                                        <th scope="col" class="info-label">Project Type</th>
                                        <th scope="col" class="info-label" colspan="7">Send E-Mail</th>
                                        <th scope="col" class="info-label">Modify</th>
                                        <!-- <th scope="col" class="info-label" >
                                            Updated By</th> -->
                                    </tr>

                                    <!-- mat-sort-header="date|datetime"
                                    mat-sort-header="field|string"
                                    mat-sort-header="value|string"
                                    mat-sort-header="bucketName|string"
                                    mat-sort-header="updatedByName|string" -->
                                    <!-- <tr app-column-filter-bar *ngIf="isTable && isAuditSearchEnabled"
                                        [columnList]="employeeAuditColumns" (onSearch)="onAuditSearch($event);page=1">
                                    </tr> -->
                                </thead>
                                <tbody>
                                    <tr *ngIf="employee.length === 0">
                                        <th colspan="11" class="text-center info-label">No details to display...</th>
                                    </tr>
                                    <tr *ngFor="let expData of employee; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{expData.poEndDate}}</td>
                                        <td>{{expData.clientName}}</td>
                                        <td>{{expData.projectId}}</td>
                                        <td>{{expData.projectName}}</td>
                                        <td>{{expData.poNo}}</td>
                                        <td>{{expData.poProjectType}}</td>
                                        <td colspan="7">
                                            <button type="button" class="btn btn-primary" (click)="sendEmail(expData.poEndDate,expData.projectName,expData.poNo,expData.poProjectType)">
                                             Send Email
                                            </button>
                                        </td>
                                        <td>
                                          <button type="button" class="btn btn-warning" [navigateToProjectView]="expData.projectId" (click)="closeModal()" >
                                            Edit
                                          </button>
                                        </td>
                                    </tr>
                                        
                                
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="my-buttons">
                            <pagination-controls id="kycUpdate" class="my-pagination"
                                [hidden]="kycUpdateList.length == 0"
                                (pageChange)="handleAuditPageChanges($event)"></pagination-controls>
                        </div> -->
