<div class="mt-5">
  <app-breadcrumb></app-breadcrumb>
</div> 

<div class="row px-0">
    <div class="col-md-12">
        <div class="card">
          <ul class="nav nav-tabs team__tabs" id="teamTab" role="tablist">
              <li  class="nav-item team__tab-item"  >
                  <a class="nav-link team__tab-item__link" 
                  aria-controls="employee" aria-selected="true"  routerLink="performance-dashboard" routerLinkActive="active" 
                  [routerLinkActiveOptions]="{ exact: true }">Performance dashboard</a>
              </li>
              <li  class="nav-item team__tab-item" >
                  <a class="nav-link team__tab-item__link" 
                  aria-controls="employee" aria-selected="true"  routerLink="team-dashboard" routerLinkActive="active">Team dashboard </a>
              </li>
              <li  class="nav-item team__tab-item" >
                <a class="nav-link team__tab-item__link" 
                aria-controls="employee" aria-selected="true"  routerLink="templates" routerLinkActive="active">Templates </a>
            </li>

             
          </ul>
      
         
          <div class="tab-content" id="userTabContent">
              <div class="team__tab-container">
                  <router-outlet class="tab-pane fade" role="tabpanel"></router-outlet>
              </div>
          </div>
        </div>
    </div>
</div>

