.team__tab-container{
    padding: 1.5rem;
}

.team__tabs .team__tab-item .team__tab-item__link{
    color: var(--middle-grey);
}

.team__tabs .team__tab-item .team__tab-item__link.active{
    color: var(--raisin-black);
    font-weight: bold;
    border-bottom: 5px solid var(--dark-cornflower-blue);
}