<div class="row mb-3">
    <div class="col-md-12 px-0">
        <button type="button" *ngIf="!isQuaterForm && !isCreateReview && !isReviewUpdation"
            class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isQuaterTable}"
            (click)="showQuaterTable()">Cycle Config</button>
        <button type="button" *ngIf="!isQuaterForm && !isCreateReview && !isReviewUpdation"
            class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isReviewTable}"
            (click)="showReviewTable()">Review-Type</button>
    </div>
</div>


<div class="row" *ngIf="!isQuaterTable && !isCreateReview && !isReviewTable  && !isReviewUpdation">
    <div class="px-0">
        <button class="btn btn-sm btn-outline-primary mb-1" (click)="showQuaterTable()">
            <em><i class="fa-solid fa-arrow-left-long"></i></em>
        </button>
    </div>
    <div class="card col-md-12 px-0" *ngIf="isQuaterForm">
        <div class="card-header text-center text-uppercase">
            <strong *ngIf="isQuaterCreation">Create Cycle</strong>
            <strong *ngIf="isQuaterUpdation">Update Cycle</strong>
            
        </div>
         <div class="financialyearrow">
                <!-- From Month -->
                <div class="col-md-6 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group" style="max-width: 250px;margin-left: 2.5%;">
                            <label for="financialYear" ><span style="color:red">*</span>Financial Year</label>
                                <select id="financialYear" class="form-control"
                                required
                                [(ngModel)]="selectedFinancialYear"
                                name="financialYear" required>

                                <option *ngFor="let year of financialYears" [value]="year">
                                {{ year }}
                                </option>
                                </select>
                        </div> 
                    </div>
                </div> 
                 <div class="fy-display">
                    <h3 class="font-weight-bold"> FINANCIAL YEAR : <span style="color: #00008b;">{{selectedFinancialYear }}</span></h3>
                </div>

        </div>    
        <div class="card-body">
            <!-- <div class="row">
                <div class="col-md-12 mb-0 text-center">
                    <h3 class="font-weight-bold"> FINANCIAL YEAR : <span style="color: #00008b;">{{selectedFinancialYear }}</span></h3>
                </div>
            </div> -->
            
            <!--startadding a dropdown to select monthly quaterly half yearly annualy options  -->

            <div class="col-md-6 mb-0" *ngIf="selectedFinancialYear!=null" >
                    <div class="info-wrapper">
                        <div class="form-group" style="max-width: 250px;">
                            <label for="cyclefrequency"><span style="color:red">*</span> Cycle Frequency</label>
                                <select id="cyclefrequency" class="form-control" required 
                                [(ngModel)]="selectedCycleFrequency"
                                name = "cyclefrequency"
                                >

                                <option *ngFor= " let cycleFreq of cycleFrequency" [value]="cycleFreq">
                                {{ cycleFreq }}
                                </option>
                                </select>
                        </div> 
                    </div>
                </div>

            <!-- ended adding dropdown for selection of cycle frequency-->
            <div class="row-monthly" *ngIf="selectedCycleFrequency == 'Monthly'">
                <!-- From Month -->
                <div class="col-md-3 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label><span class="text-danger">*</span>From Month</label>
                            <select class="form-control" (change)="checkMonthExistencee('fromMonth',alert_message)"
                                [(ngModel)]="quarterCycle.fromMonth" name="fromMonth">
                                <option *ngFor="let month of months" [value]="month.short">{{ month.full }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- To Month -->
                <div class="col-md-3 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label><span class="text-danger">*</span>To Month</label>
                            <select class="form-control" (change)="checkMonthExistencee('toMonth',alert_message)"
                                [(ngModel)]="quarterCycle.toMonth" name="toMonth">
                                <option *ngFor="let month of months" [value]="month.short">{{ month.full }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ended creating dropdown for month -->
            
            <!-- dropdown for selecting quarter -->

            <div class="col-md-4 mb-0" *ngIf="selectedCycleFrequency === 'Quarterly'">
                <div class="info-wrapper">
                    <div class="form-group" style="max-width: 250px;">
                        <label><span class="text-danger">*</span>Quarter</label>
                        <select class="form-control" [(ngModel)]="selectedQaurterCycle" (click)="checkQuaterlyExistance(alert_message)" name="quater">
                            <option *ngFor="let quarter of qaurterCycle" [value]="quarter.range"> 
                                {{quarter.abbreviation}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- dropdown ended for selecting quarter  -->
            <!-- dropdown for selecting half year -->
            <div class="col-md-4 mb-0" *ngIf="selectedCycleFrequency === 'Half-Yearly'">
                <div class="info-wrapper">
                    <div class="form-group" style="max-width: 250px;">
                        <label><span class="text-danger">*</span>Half Year</label>
                        <select class="form-control" [(ngModel)]= "selectedHalfYearCycle" name="halfyear" (click)="checkHalfYearlyExistance(alert_message)" >
                            <option >H1 (APR-SEP)</option>> 
                            <option>H2 (OCT-MAR)</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- dropdown ended for selecting half year -->

            <!-- dropdown for selecting year -->
            <div class="col-md-4 mb-0" *ngIf="selectedCycleFrequency === 'Yearly'">
                <div class="info-wrapper">
                    <div class="form-group" style="max-width: 250px;">
                        <label><span class="text-danger">*</span>Year</label>
                        <select class="form-control" name="year" [(ngModel)]="selectedYearlyCycle" (click)="checkYearlyExistance(alert_message)">
                            <option>APR-MAR</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- dropdown ended for selecting year -->

            <div class="row mt-3">
                <div class="col-md-12">
                    <button *ngIf="isQuaterCreation" type="submit" class="btn btn-primary btn-sm mx-1"
                        (click)="createQuarterCycle(alert_message)">Create Cycle</button>

                    <button *ngIf="isQuaterUpdation" type="submit" class="btn btn-primary btn-sm mx-1"
                        (click)="updateQuarterCycle(alert_message)">Update Cycle</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end of quarter cycle form-->

<!--start of quarter table-->
<div class="row" *ngIf="isQuaterTable ">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">Configurable Cycle(s)</h1>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 ml-auto d-flex justify-content-end align-items-start mb-1">
                    <button type="button" class="btn btn-outline-primary btn-sm mx-1"
                        [ngClass]="{'active' : isQuaterForm && isQuaterCreation}" (click)="showQuaterCreateForm()"><em
                            class="fa-solid fa-plus"></em>&nbsp; Add New Cycle</button>
                </div>
            </div>
        </div>
        <!-- <div class="row">
                <div class="form-group d-flex flex-row ml-auto col-md-3">
                    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">	
                    </div>
            </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="selector-toggle" >
                    <a href="javascript:void(0)" (click)="toggleSearch()">
                        <i *ngIf="!isSearchEnabled" class="fa fa-search"></i>
                        <i *ngIf="isSearchEnabled" class="fa-solid fa-xmark"></i>
                    </a>
                </div>
                <div class="export-button mt-3">
                    <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2 excel-button"
                    [hidden]="quarterCyclesList.length == 0" (click)="exportToExcel()">
                    <em class="fa fa-file-arrow-down fa-2x"></em>
                </button>
                </div>
                <div class="overflow-auto">
                    <table class="table" id="departmentInfo" matSort
                        (matSortChange)="sortData($event)">
                        <thead class="thead-light" id="departmentInfoTHead">
                            <tr id="departmentInfoTHeadTr">
                                <th scope="col" class="info-label">Sr No.</th>
                                <th scope="col" class="info-label" mat-sort-header="financialYear|string">
                                    Financial Year</th>
                                <th scope="col" class="info-label" mat-sort-header="quarterCycle|string">Cycle</th>
                                <th scope="col" class="info-label" mat-sort-header="createdByName|string">
                                    Created By</th>
                                <th scope="col" class="info-label" mat-sort-header="createdOn|datetime">Created
                                    On</th>
                                <th scope="col" class="info-label" mat-sort-header="updatedByName|string">
                                    Updated By</th>
                                <th scope="col" class="info-label" mat-sort-header="updatedOn|datetime">Updated
                                    On</th>
                                <th scope="col" class="info-label">Actions</th>
                            </tr>
                            <tr app-column-filter-bar *ngIf="isQuaterTable && isSearchEnabled"
                                [columnList]="quarterCycleColumns" (onSearch)="onSearch($event);page=1"></tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngIf="quarterCyclesList.length == 0 || (quarterCyclesList | colFilter:filters:false).length == 0">
                                <th colspan="8" class="text-center info-label">No details to display...</th>
                            </tr>
                            <tr
                                *ngFor="let quarter of quarterCyclesList | colFilter:filters:false | sort : [sortColumn, sortColumnType, sortDirection] |paginate: { itemsPerPage: 17, currentPage: page }, let i = index">
                                <th class="info-label">{{17*(page-1)+i+1}}</th>
                                <td>{{quarter.financialYear}}</td>
                                <td (click)="getQuarterTable(quarter.quarterId,quarter.financialYear,eligiblePreview)" id="clickablefor360"  >{{quarter.quarterCycle}}</td>
                                <td *ngIf="userMapping.employee360_view_performance_config && quarter.createdByName" id="clickablefor360" [navigateToEmployee360]="quarter.emp360CreatedBy" style="cursor: pointer;" title="Click to view Employee 360">{{quarter.createdByName}}</td>
                                <td *ngIf="!userMapping.employee360_view_performance_config || !quarter.createdByName">{{quarter.createdByName}}</td>
                                <td>{{quarter.createdOn }}</td>
                                <td *ngIf="userMapping.employee360_view_performance_config && quarter.updatedByName" id="clickablefor360" [navigateToEmployee360]="quarter.emp360UpdatedBy" style="cursor: pointer;" title="Click to view Employee 360">{{quarter.updatedByName}}</td>
                                <td *ngIf="!userMapping.employee360_view_performance_config || !quarter.updatedByName">{{quarter.updatedByName ? quarter.updatedByName : 'NA'}}</td>
                                <td>{{quarter.updatedOn ? quarter.updatedOn : 'NA'}}</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-primary" type="submit" (click)="getByQuarterById(quarter.quarterId)"><em
                                            
                                            class="fa fa-edit"></em></button>&nbsp;
                                    <button class="btn btn-sm btn-outline-danger" type="submit" (click)="DeleteConfirm(quarter.quarterId,delete_template)"><em
                                            
                                            class="fa fa-trash"></em></button>&nbsp;
                                    <button *ngIf="quarter.isEnable === false"
                                        (click)="Enable(quarter.quarterId, alert_message)"
                                        class="btn btn-sm btn-outline-success" type="button"><em
                                            class="fa fa-check"></em></button>
                                    <button *ngIf="quarter.isEnable === true"
                                        (click)="Disable(quarter.quarterId, alert_message)"
                                        class="btn btn-sm btn-outline-warning" type="button"><em
                                            class="fa fa-undo"></em></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <!-- <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2 excel-button"
                    [hidden]="quarterCyclesList.length == 0" (click)="exportToExcel()">
                    <em class="fa fa-file-arrow-down fa-2x"></em>
                </button> -->

            </div>
        </div>
    </div>

</div>

<ng-template #eligiblePreview>
  <div class="modal-header">
    <h5 class="modal-title">Eligible Employee(s) In Selected Cycles</h5>
    <button type="button" class="close" (click)="modalRef.close()">
      &times;
    </button>
  </div>
  
  <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2 excel-button"
        [hidden]="quarterCyclesList.length == 0" (click)="exportToExcelPreviewData()">
                    <em class="fa fa-file-arrow-down fa-2x"></em>
        </button>

  <div class="overflow-auto" bassHorizontalScroll >

    <table class="table table-bordered" id="departmentInfo" matSort (matSortChange)="sortData($event)">
    <thead class="thead-light" id="departmentInfoTHead">
        <tr id="departmentInfoTHeadTr">
            <th scope="col" class="info-label">Employment ID</th>
            <th scope="col" class="info-label" mat-sort-header="dateOfJoining|datetime">Date Of Joining</th>
            <th scope="col" class="info-label" mat-sort-header="email|string">Email</th>
            <th scope="col" class="info-label" mat-sort-header="employmentStatus|string">Employment status</th>
            <th scope="col" class="info-label" mat-sort-header="name|string">Name</th>
            <th scope="col" class="info-label" mat-sort-header="department|string">Department</th>
            <!-- <th scope="col" class="info-label" mat-sort-header="dateOfJoining|datetime"></th> -->
            <th scope="col" class="info-label" mat-sort-header="Manager|string">Manager</th>
            <th scope="col" class="info-label" mat-sort-header="reportingManager|string">Reporting Manager</th>
            <th scope="col" class="info-label" mat-sort-header="hodname|string">Hod Name</th>
            <!-- <th scope="col" class="info-label" mat-sort-header="financialYear|string">Financial Year</th> -->
            <th scope="col" class="info-label" mat-sort-header="finalRating|string">Final Rating</th>
            
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employeesArray; let i = index">   
             <!-- <td>{{ (page - 1) * itemsPerPage + i + 1 }}</td> -->
            <td style="width: auto;">{{ emp.employeementId || emp.employmentId || emp.empId || 'N/A' }}</td>
            <td style="width: 100px;">{{ emp.dateOfJoining || 'N/A' }}</td>
            <td style="width: auto;">{{ emp.email || 'N/A' }}</td>
            <td style="width: auto;">{{ emp.employmentstatus || 'N/A' }}</td>
            <td style="width: auto;">{{ emp.name || 'N/A' }}</td>
            <td style="width: auto;">{{ emp.departmentName || 'N/A' }}</td>
            <td style="width: auto;">{{ emp.managerName || 'N/A' }}</td>
            <td style="width: auto;">{{ emp.reportingManagerName || 'N/A' }}</td>
            <td style="width: auto;">{{ emp.hodName || 'N/A' }}</td>
            <!-- <td style="width: auto;">{{ emp.financialYear || 'N/A' }}</td> -->
            <td style="width: auto;">{{ emp.finalRating || 'N/A' }}</td>
          </tr>
        </tbody>
      </table>
  

    </div>
     <mat-paginator class="custom-paginator" [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 25, 50]" (page)="pageChangedPreview($event)">
            </mat-paginator>

    


            
</ng-template>

<div class="row" *ngIf="isReviewTable">
    
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">Review(s)</h1>
                <!-- <div class="col-md-4 mb-2 ml-auto d-flex justify-content-end align-items-start">
                    <button type="button" class="btn btn-outline-primary btn-sm" [ngClass]="{'active' : isCreateReview}"  (click)="showCreateReviewForm()"  ><em class="fa-solid fa-plus"></em>Create Review</button>
                </div> -->
                <!-- <button type="button" class="btn btn-outline-primary btn-sm" [ngClass]="{'active' : isCreateReview}"  (click)="showCreateReviewForm()"  ><em class="fa-solid fa-plus"></em>Create Review</button> -->
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-inline">
                <small>View</small>
                <select class="form-select-sm align-items-center mx-1" aria-label="Default select example"
                    [(ngModel)]="items" (change)="page=1">
                    <option class="option-bg" selected value="10">10</option>
                    <option class="option-bg" value="20">20</option>
                    <option class="option-bg" value="50">50</option>
                    <option class="option-bg" value="100">100</option>
                </select>
                <small>entries</small>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 ml-auto d-flex justify-content-end align-items-start mb-1">
                    <button type="button" class="btn btn-outline-primary btn-sm" [ngClass]="{'active' : isCreateReview}"
                        (click)="showCreateReviewForm()"><em class="fa-solid fa-plus"></em>Create Review</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="selector-toggle" >
                    <a href="javascript:void(0)" (click)="toggleSearchReviewType()">
                        <i *ngIf="!isSearchEnabledReview" class="fa fa-search"></i>
                        <i *ngIf="isSearchEnabledReview" class="fa-solid fa-xmark"></i>
                    </a>
                </div>
                <div class="overflow-auto" bassHorizontalScroll>
                    <table class="table" matSort (matSortChange)="sortData($event)" id="domainInfo">
                        <thead class="thead-light" id="domainInfoTHead">
                            <tr id="domainInfoTHeadTr">
                                <th scope="col" class="info-label">Sr No.</th>
                                <th scope="col" class="info-label" mat-sort-header="reviewLabel|string">Review Label
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="reviewField|string">Review Field
                                    Type</th>
                                <th scope="col" class="info-label" mat-sort-header="limit|string">Limit</th>
                                <th scope="col" class="info-label" mat-sort-header="quarterCycle|string">Cycle
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="departmentName|string">Department
                                    Name</th>
                                <th scope="col" class="info-label" mat-sort-header="createdByName|string">Created By
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="createdOn|datetime">Created On</th>
                                <th scope="col" class="info-label" mat-sort-header="updatedByName|string">Updated By
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="updatedOn|datetime">Updated On</th>
                                <th scope="col" class="info-label">Actions</th>
                            </tr>
                            <tr app-column-filter-bar *ngIf="isReviewTable && isSearchEnabledReview"
                                [columnList]="reviewColumns" (onSearch)="onSearch($event);page=1"></tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngIf="reviewTypelist.length == 0 || (reviewTypelist| colFilter:filters:false).length == 0">
                                <th colspan="8" class="text-center info-label">No details to display...</th>
                            </tr>
                            <tr>
                            <tr
                                *ngFor="let review of reviewTypelist| colFilter:filters:false | sort : [sortColumn, sortColumnType, sortDirection] | paginate: { itemsPerPage: items, currentPage: page }; let i = index">
                                <th scope="col" class="info-label">{{items*(page-1)+i+1}}</th>
                                <td>{{review.reviewLabel}}</td>
                                <td>{{review.reviewFieldType}}</td>
                                <td>{{review.condition}}</td>
                                <td>{{review.quarterCycle}}</td>
                                <td>{{review.departmentName}}</td>
                                <td *ngIf="userMapping.employee360_view_performance_config && review.employeeName"id="clickablefor360" [navigateToEmployee360]="review.emp360CreatedBy" style="cursor: pointer;" title="Click to view Employee 360">{{review.employeeName}}</td>
                                <td *ngIf="!userMapping.employee360_view_performance_config || !review.employeeName">{{review.employeeName}}</td>
                                <td>{{review.createdOn | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
                                <td *ngIf="!userMapping.employee360_view_performance_config || !review.updatedByName">{{ review.updatedByName ?? 'NA' }}</td>
                                <td *ngIf="userMapping.employee360_view_performance_config && review.updatedByName">
                                    <span *ngIf="review.updatedByName; else showNADisplay" 
                                          id="clickablefor360" 
                                          [navigateToEmployee360]="review.emp360UpdatedBy" 
                                          style="cursor: pointer;" 
                                          title="Click to view Employee 360">
                                      {{ review.updatedByName }}
                                    </span>
                                    <ng-template #showNADisplay>
                                      {{ review.updatedByName ?? 'NA' }}
                                    </ng-template>
                                  </td>                                  
                                <td>{{review.updatedOn ? (review.updatedOn | date: 'dd-MM-yyyy hh:mm:ss') : 'NA' }}</td> 
                                <td *ngIf="!review.active == false">
                                    <button class="btn btn-sm btn-outline-primary" type="submit"
                                        (click)="showUpdateReviewForm(review)"><em
                                            class="fa fa-edit"></em></button>&nbsp;
                                    <button class="btn btn-sm btn-outline-danger" type="submit"
                                        (click)="openConfirmDeleteModal(confirmDelete,review)"><em
                                            class="fa fa-trash"></em></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <pagination-controls class="my-pagination" [hidden]="reviewTypelist.length == 0"
                    (pageChange)="handlePageChange($event)"></pagination-controls>
                <!-- <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2 excel-button"
                    [hidden]="reviewTypelist.length == 0"><em class="fa fa-file-arrow-down fa-2x"></em></button> -->
            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="isCreateReview  || isReviewUpdation">
    <div class="px-0">
        <button class="btn btn-sm btn-outline-primary mb-1" (click)="showReviewTable()">
            <em><i class="fa-solid fa-arrow-left-long"></i></em>
        </button>
    </div>
    <!-- <div class="col-md-12"> -->
    <div class="card col-md-12 px-0" *ngIf="isCreateReview || isReviewUpdation">
        <div class="card-header text-center text-uppercase">
            <strong *ngIf="isCreateReview">Add Review</strong>
            <strong *ngIf="isReviewUpdation">Update Review</strong>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-0" *ngIf="isCreateReview">
                    <div class="info-wrapper">
                        <div class="form-group">
                          <label class="info-label"><span class="text-danger">*</span>Department</label>
                          <mat-select class="form-control" multiple [(ngModel)]="reviewObj.deptId">
                            <mat-option (click)="toggleSelectAll()" [disabled]="allDeptList.length === 0">
                              {{ isAllSelected ? 'Deselect All' : 'Select All' }}
                            </mat-option>
                            <mat-option *ngFor="let dept of allDeptList" [value]="dept.deptId">
                              {{ dept.name }}
                            </mat-option>
                          </mat-select>
                        </div>
                      </div>
                      
                </div>
                <div class="col-md-4 mb-0" *ngIf="isReviewUpdation">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Department</label>
                            <input #myInput type="text" class="form-control" autocomplete="none"
                                [(ngModel)]="reviewObj.departmentName" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-0" *ngIf="isCreateReview">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Cycle</label>
                            <mat-select class="form-control" [(ngModel)]="reviewObj.quarterId">
                                <mat-option value="" disabled>Select</mat-option>
                                <ng-container *ngFor="let quarter of quarterCyclesList">
                                    <mat-option *ngIf="(quarter.isEnable || quarter.quarterId === reviewObj.quarterId) && quarter.isActive=== true"
                                        [value]="quarter.quarterId">
                                        {{ quarter.quarterCycle }} {{ quarter.financialYear }} 
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-0" *ngIf="isReviewUpdation">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Cycle</label>
                            <input #myInput type="text" class="form-control" autocomplete="none"
                            [(ngModel)]="reviewObj.quarterCycle" disabled>
                        </div>
                    </div>
                </div>

            </div>
            <div *ngFor="let spec of allSpecializationList;let i = index" class="row">
                <div class="col-md-4 mb-0">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Review Label - {{i+1}}</label>
                        <input #myInput type="text" class="form-control" autocomplete="none"
                            [(ngModel)]="spec.reviewLabel" (blur)="onReviewLabelChange(spec.reviewLabel,alert_message)" (keypress)="fieldRestrictNumber($event)">
                            
                        <!-- (blur)="ValidateInput($event.target,spec.specializationName)" -->
                    </div>
                </div>
                <div class="col-md-4 mb-0">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Review Field Type - {{i+1}}</label>
                        <mat-select class="form-control" [(ngModel)]="spec.reviewFieldType">
                            <mat-option value="" disabled>Select</mat-option>
                            <mat-option value="Slider">Slider</mat-option>
                            <mat-option value="Rating">Rating</mat-option>
                        </mat-select>

                    </div>
                </div>
                <div class="col-md-4 mb-0">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Limit - {{i+1}}</label>
                        <input #myInput type="number" class="form-control" autocomplete="none" min="1" max="5" step="1" placeholder="1–5"
                            (keypress)="fieldRestictCharacters($event)" [(ngModel)]="spec.condition" title="Rating maximum is 5">
                    </div>
                </div>

                <div class="col-md-2 d-flex align-items-center">
                    <div class="form-group m-0 mt-3 mb-1">
                        <button type="button" class="btn btn-outline-primary mx-1"
                            (click)="addInputSpecializationField(alert_message)" *ngIf="!isReviewUpdation"
                            [disabled]="(i !== allSpecializationList.length-1 || spec.reviewLabel == ''|| spec.reviewLabel == null ||spec.condition == ''|| spec.condition == null|| spec.reviewFieldType == ''|| spec.reviewFieldType == null )"><i
                                class="fa fa-plus" aria-hidden="true"></i></button>
                        <button type="button" *ngIf="allSpecializationList.length > 1"
                            class="btn btn-outline-primary mx-1" (click)="removeInputSpecializationField(spec)"><i
                                class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" *ngIf="isCreateReview" (click)="createReview(reviewObj,alert_message)"
                        class="btn btn-primary btn-sm mx-1">Create
                        Review</button>
                    <!-- (click)="updateDomain(alert_message)" -->
                    <button type="submit" *ngIf="isReviewUpdation" class="btn btn-primary btn-sm mx-1"
                        (click)="updateReview(alert_message)">Update Review</button>
                </div>
            </div>
        </div>
    </div>
</div>










<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>

<ng-template #delete_template>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete the Cycle?</p>
        <button type="button" class="btn btn-success" (click)="cancelRequest();Delete(alert_message)">Yes,
            proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<ng-template #confirmDelete let-modal>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete this review?</p>
        <button type="button" class="btn btn-success" (click)="deleteReviewForm(alert_message);modalRef?.close()">Yes</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-danger" (click)="modalRef?.close()">No</button>
    </div>
</ng-template>