<div class="row mb-3">
    <div class="col-md-12 px-0">
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.upload_policy" [ngClass]="{'active' : isDocumentForm}" (click)="showDocumentForm()">Upload Policies</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_all_documents || userMapping.delete_document" [ngClass]="{'active' : isTable}" (click)="showTable()">View All Policies</button>
    </div>
</div>

<!-- document upload form -->
<div class="row">
    <div class="card col-md-12 px-0" *ngIf="isDocumentForm" >
        <div class="card-header text-center text-uppercase">
            <strong>Upload Policies</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Policy Name</label>
                            <input type="text" class="form-control" (blur)="spaceTrimInpolicyName()" maxlength="50" autocomplete="none" [(ngModel)]="policyName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label mb-0"><span class="text-danger">*</span>Select File</label>
                            <small class="d-block text-secondary mb-2 pl-2">Please Upload file upto {{maxFileSize}}MB</small>
                            <input type="file" accept=".pdf,.doc" multiple class="form-control p-1" (change)="onFileSelect($event)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-sm mx-1" (click)="onUploadFiles(alert_message)">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start :: See all Documents Table -->
<div class="row" *ngIf="isTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">Documents</h1>
            </div>
        </div>

        <div class="row">
            <div class="form-group d-flex flex-row ml-auto col-md-3">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">	
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'policyDocInfo'" [tableTHeadId]="'policyDocInfoTHead'"
                [tableTHeadTrId]="'policyDocInfoTHeadTr'">
                    <table class="table department-table" matSort (matSortChange)="sortData($event)" id="policyDocInfo">	
                        <thead class="thead-light" id="policyDocInfoTHead">
                        <tr id="policyDocInfoTHeadTr">
                            <th scope="col" class="info-label">Sr No.</th>	
                            <th scope="col" class="info-label" mat-sort-header="fileName">File Name</th>	
                            <th scope="col" class="info-label" mat-sort-header="policyName">Policy Name</th>
                            <th scope="col" class="info-label" mat-sort-header="createdByName">Created By</th>
                            <th scope="col" class="info-label" mat-sort-header="createdOn">Created On</th>
                            <!-- <th scope="col" class="info-label" mat-sort-header="createdOn">Read Enabled</th> -->
                            <th scope="col" class="info-label">Action</th>	
                            <th scope="col" class="info-label">Read Confirmation</th>	  
                
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="document.length == 0 || (document | colFilter: {fileName: data, policyName: data, createdByName: data, createdOn: data}:false).length == 0">
                                <th colspan="8" class="text-center info-label">No Files to display...</th>
                            </tr>
                            <tr *ngFor="let doc of document | colFilter: {fileName: data, policyName: data, createdByName: data, createdOn: data}:false | paginate: { itemsPerPage: 10, currentPage: page }, let i = index ">	
                            <th class="info-label">{{10*(page-1)+i+1}}</th>
                            <td>{{doc.fileName}}</td>
                            <td>{{doc.policyName}}</td>
                            <td>{{doc.createdByName}}</td>
                            <td>{{doc.createdOn}}</td>
                            <td>
                                <button  *ngIf="userMapping.delete_document" class="btn btn-sm btn-outline-danger"  type="submit" (click)="openDeleteDocument(delete_template,doc)" ><em class="fa fa-trash"></em></button>&nbsp;
                                <button  class="btn btn-sm btn-outline-primary"  type="submit" ><em class="fa fa-download" (click)="downloadFile(doc)"></em></button>&nbsp;  
                            </td>
                            <td>
                                <button  *ngIf="doc.readEnabled == 'false'" class="btn btn-sm btn-outline-primary"  type="submit" (click)="openReadEnabledMod(read_enabled,doc)">Enable</button>
                                <button  *ngIf="doc.readEnabled == 'true'" class="btn btn-sm btn-outline-primary"  type="submit" (click)="onReadDisabledMod(read_disabled,doc)">Disable</button>&nbsp; 
                                <button  *ngIf="doc.readEnabled == 'true'" class="btn btn-sm btn-outline-primary"  type="submit" (click)="policyReadResponseById(doc)">View Response</button>  
                
                            </td>
                        </tr>
                        </tbody>
                    </table> 
                </div>
                <pagination-controls class="my-pagination" [hidden]="document.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls> 
            </div>
        </div>
    </div> 
</div>
<!-- end :: see all Documents table -->

<!-- start :: See all Document Read Responses Table -->
<div class="row" *ngIf="isreadEnabled">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">Document Read Responses</h1>
            </div>
        </div>

        <div class="row">
            <div class="form-group d-flex flex-row ml-auto col-md-3">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="responsedata" (keyup)="page=1">	
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'policyReadInfo'" [tableTHeadId]="'policyReadInfoTHead'"
                [tableTHeadTrId]="'policyReadInfoTHeadTr'">
                    <table class="table department-table" matSort (matSortChange)="sortReadData($event)" id="policyReadInfo">	
                        <thead class="thead-light" id="policyReadInfoTHead">
                        <tr id="policyReadInfoTHeadTr">
                            <th scope="col" class="info-label">Sr No.</th>	
                            <th scope="col" class="info-label" mat-sort-header="name">Emp Name</th>	
                            <th scope="col" class="info-label" mat-sort-header="empId" >Emp id</th>
                            <th scope="col" class="info-label" mat-sort-header="policyName">policy name</th>
                            <th scope="col" class="info-label" mat-sort-header="readEnabled">Read on</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="responseList.length == 0 || (responseList | colFilter: {name: data, empId: data, policyName: data, readEnabled: data}:false).length == 0">
                                <th colspan="columnHeader.length" class="text-center info-label">No Responses to display...</th>
                            </tr>
                            <tr *ngFor="let doc of responseList | colFilter: {name: data, empId: data, policyName: data, readEnabled: data}:false | paginate: { itemsPerPage: 10, currentPage: page }, let i = index ">	
                            <th class="info-label">{{10*(page-1)+i+1}}</th> 
                            <td>{{doc.name}}</td>
                            <td>{{doc.empId}}</td>
                            <td>{{doc.policyName}}</td>
                            <td>{{doc.readEnabled | date:'dd-MM-yyyy HH:mm:ss'}}</td>           
                        </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls class="my-pagination" [hidden]="responseList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls> 
            </div>
        </div>
    </div> 
</div>

<!-- end :: see all Survey Responses table -->
<ng-template #delete_template>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete this Document?</p>
        <button type="button" class="btn btn-success" (click)="onDeleteDocument(alert_message)">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>


<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>

<ng-template #read_enabled>
    <div class="modal-body text-center">
        <p>Are you sure you want to enable this Document to user?</p>
        <button type="button" class="btn btn-success" (click)="onReadEnabled(alert_message)">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<ng-template #read_disabled>
    <div class="modal-body text-center">
        <p>Are you sure you want to disable this Document from user?</p>
        <button type="button" class="btn btn-success" (click)="onReadDisabled(alert_message)">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>
