.auth{
    background: var(--ghost-white);
    width: 100%;
    height: 100%;
}
.auth__container{
    width: 100%;
    height: 100%;
}

.auth__logo{
    display: flex;
    justify-content: center;
    margin-bottom: 0.625rem;

    /* background-color: var(--dark-red);
    color: var(--ghost-white);

    border-radius: 5px; */
}

.auth__logo__text{
    display: inline-block;
    margin-bottom: 0;
    padding: 0.5rem 1.05rem;

    color: var(--dark-cornflower-blue);
}

.auth__error__msg{
    margin-bottom: 0.625rem;
}

.auth__form{
    width: 100%;
    max-width: 28rem;
    padding: 2.125rem;

    background: #fff;   
}

.auth__link{
    color: var(--middle-grey);
}

.auth__link:hover, 
.auth__link:focus{
    cursor: pointer;
    color: var(--dark-cornflower-blue);
}