<div class="login-container">
    <!-- Left Section -->
    <div class="left-section">
        <div class="header">
            <div class="logo">
                <span class="arrow">&raquo;</span>
            </div>
            <nav class="navigation">
                <a href="https://apmosys.com/" class="nav-item">Home</a>
                <a href="https://apmosys.com/about/" class="nav-item">About</a>
                <a href="https://apmosys.com/contact/" class="nav-item">Contact</a>
                <a href="https://apmosys.com/career/" class="nav-item">Career</a>
                <a href="https://apmosys.com/services/" class="nav-item">Service</a>
            </nav>
        </div>

        <div class="content" >
            <h1 class="title">
                Welcome To <span class="text-highlight">IShine</span>
            </h1>
            <h6 class="powered-by">
                Powered By ApMoSys Technologies Pvt. Ltd.
            </h6>
            <p class="description">
                <span *ngIf="currentIndex === 0">
                    <h3 class="mt-3 mb-3">VISION:</h3>
                    <!-- <strong>:</strong><br> -->
                    To Empower Excellence through Sustainable Innovation, Deliver Reliable Solutions that drive Digital
                    Transformation, Foster Partnerships and create a Lasting Value for Businesses and Planet.
                </span>

                <span *ngIf="currentIndex === 1">
                    <h3 class="mt-3 mb-3">MISSION</h3>
                    <strong>Delivering Excellence and Innovation:</strong><br>
                    We are committed to provide Reliable, Scalable and High Quality AI products and services, exceeding
                    Customer Expectations by promoting Research, Development and Emerging Technologies.

                    <br><br><strong>Customer centric approach:</strong><br>
                    We prioritize customer needs by delivering Customized Business solutions and Exceptional Services to
                    develop long term partnerships.
                </span>

                <span *ngIf="currentIndex === 2">
                    <h3 class="mt-3 mb-3">MISSION</h3>
                    <strong>People First culture:</strong><br>
                    We foster a Collaborative, Inclusive and Growth oriented work environment that nurtures Talent,
                    Creativity and Professional Excellence.

                    <br><br><strong>Security, Compliance and Sustainability:</strong><br>
                    We ensure highest levels of Data Security and Regulatory Compliances to protect our clients digital
                    assets by integrating Sustainable and Ethical Practices in all our operations.
                </span>
                <span *ngIf="currentIndex === 3">
                    <h3 class="mt-3 mb-3">VALUES</h3>

                    <strong>Integrity:</strong><br>
                    We uphold Transparency, Honesty, and Ethical practices in every aspect of our work.

                    <br><br><strong>Customer-Centricity:</strong><br>
                    Our customers' success is our priority; we strive to exceed their expectations through Tailored
                    Business Solutions and Exceptional Service.

                    <br><br><strong>Collaboration:</strong><br>
                    We foster Teamwork and Open Communication to build strong relationships with our clients, partners,
                    and employees.

                </span>

                <span *ngIf="currentIndex === 4">
                    <h3 class="mt-3 mb-3">VALUES</h3>
                    
                    <strong>Agility and Growth Mindset:</strong><br>
                    We Adapt, Learn, Lead and Embrace change and quickly respond to industry trends, market shifts, and
                    client needs for a collective growth.
                    
                    <br><br><strong>Continuous Learning:</strong><br>
                    We invest in People Development and Skill Enhancement to stay ahead in the ever-evolving technology
                    landscape.

                    <br><br><strong>Ownership & Empowerment:</strong><br>
                    We take initiative to cultivate ownership by focusing on Transparency, Autonomy, and Customer
                    Empathy.

                </span>
            </p>

           

        </div>
    </div>

    <!-- Right Section -->

    <div class="right-section">
        <!-- <div class="login-button-top"> -->
            <!-- <button class="login-btn-top">Login</button> -->
        <!-- </div> -->

        <!-- <div class="outer-container"> -->
        <div class="login-card">
            <!-- LOGIN FORM -->
            <div class="auth_logo">

                <img src="assets/Images/ishine_logo.jpeg" alt="">
            </div>
            <div *ngIf="isError" class="auth__error text-center">
                <p class="form-text text-danger auth__error__msg">{{errorMsg}}</p>
            </div>
            <div *ngIf="isLoginForm" class="login__form">

                <div class="form-group">
                    <label for="userName" class="sr-only">Username</label>
                    <input class="form-control" type="text" id="username" placeholder="Enter Username"
                        [(ngModel)]="userName" name="userName" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="userPassword" class="sr-only">Password</label>
                    <div class="d-flex">
                        <input class="form-control" [type]="fieldTextType ? 'text' : 'password'" id="userPassword"
                            placeholder="Enter Password" [(ngModel)]="password" autocomplete="off"
                            (keyup.enter)="onLogin()" />
                        <span class="btn" style="margin-left: -50px;" id="passwordEye" (click)="toggleFieldTextType()">
                            <em class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"></em>
                        </span>
                    </div>
                </div><br>
                <button type="submit" class="btn btn-primary btn-block login-btn" (click)="onLogin()">LOG
                    IN</button>
            </div>
            <!-- OTP FORM -->
            <div *ngIf="isOtpForm" class="otp__form">
                <div class="form-group">
                    <label for="userOtp" class="sr-only">OTP</label>
                    <div class="d-flex">
                        <input class="form-control" [type]="fieldTextType ? 'text' : 'password'" id="userOtp"
                            placeholder="Enter OTP" [(ngModel)]="userOTP" autocomplete="off"
                            (keyup.enter)="onConfirmLoginOTP()" />
                        <span class="btn" style="margin-left: -50px;" id="passwordEye" (click)="toggleFieldTextType()">
                            <em class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"></em>
                        </span>
                    </div>
                    <!-- <span style="color:red; display: flex; justify-content: flex-end"> -->
                    <p style="color:red; display: flex; justify-content: flex-end">00:{{timeLeft}}</p>
                    <!-- </span> -->

                </div>
                <button type="submit" class="btn btn-primary btn-block login-btn"
                    (click)="onConfirmLoginOTP()">Confirm</button>
            </div>
            <!-- FORGOT PASSWORD FORM -->
            <div *ngIf="isForgotPassForm" class="forgor-pass__form">
                <div class="form-group">
                    <label for="emailID" class="sr-only">emailID</label>
                    <input class="form-control" type="text" id="emailID" placeholder="Enter email id"
                        [(ngModel)]="userEmailId" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-primary float-left sendOtp__btn" (click)="onSendOTP()">Send
                    OTP</button>
                <!-- <button type="submit" class="btn btn-outline-primary float-right sendOtp__btn" (click)="onSendOTP()">Resend OTP</button>   -->
            </div>
            <!-- Forgot Password OTP FORM-->
            <div *ngIf="isForgotPassOtpForm" class="otp__form">
                <div class="form-group">
                    <label for="userOtp" class="sr-only">OTP</label>
                    <div class="d-flex">
                        <input class="form-control" [type]="fieldTextType ? 'text' : 'password'" id="userOtp"
                            placeholder="Enter OTP" [(ngModel)]="userOTP" autocomplete="off"
                            (keyup.enter)="onConfirmForgotPassOTP()" />
                        <span class="btn" style="margin-left: -50px;" id="passwordEye" (click)="toggleFieldTextType()">
                            <em class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"></em>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block login-btn"
                    (click)="onConfirmForgotPassOTP()">Confirm</button>
            </div>
            <!-- CHANGE PASSWORD FORM -->
            <div *ngIf="isChangePassForm" class="change-pass__form">
                <div class="form-group">
                    <label for="newPass" class="sr-only">New Password</label>
                    <div class="d-flex">
                        <input class="form-control" [type]="fieldTextType ? 'text' : 'password'" id="newPass"
                            placeholder="Enter New Password" [(ngModel)]="userNewPass" autocomplete="off" />
                        <span class="btn" id="passwordEye" (click)="toggleFieldTextType()">
                            <em class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"></em>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPass" class="sr-only">Confirm New Password</label>
                    <div class="d-flex">
                        <input class="form-control" [type]="fieldTextTypePassword ? 'text' : 'password'"
                            id="confirmPass" placeholder="Confirm New Password" [(ngModel)]="userConfirmNewPass"
                            autocomplete="off" />
                        <span class="btn" id="passwordEye" (click)="toggleFieldChangePassword()">
                            <em class="fa"
                                [ngClass]="{'fa-eye-slash': !fieldTextTypePassword,'fa-eye': fieldTextTypePassword}"></em>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block login-btn"
                    (click)="onChangePassword(alert_message)">Change Password</button>
            </div>
            <div class="auth__cta d-flex justify-content-between mt-3">
                <a *ngIf="isLoginForm" class="auth__link" (click)="showForgotPassForm()">Forgot Password?</a><br>
                <a *ngIf="!isLoginForm" class="auth__link" (click)="showLoginForm()">SIGN IN</a>
                <a *ngIf="isOtpForm || isForgotPassOtpForm" class="auth__link"
                    (click)="resendOTP()">Resend OTP</a>
            </div>
        </div>
        <!-- </div> -->

        
    </div>
</div>

<!-- Modals Template -->
<ng-template #reLogin_template>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-success" (click)="cancelRequest();onReLogin()">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>