.my-pagination::ng-deep .ngx-pagination .current {
    background: #193d8a  !important;
}

.my-pagination::ng-deep{
    padding-top: 10px;
}

.table-scroll{
    overflow: auto;
    padding-inline: 2rem;
}

.chart-title{
    font-size: 18px;
    text-transform: capitalize;
    color: #333333;
    user-select: none;
}

.mouse{
    cursor: pointer;
}

.count-graph{
    width: 200px;
    background-color: #7cb5ec;
}

.graph{
    border-right: .5px solid #d0d0d0;
    border-bottom: .5px solid #d0d0d0;
    /* border: .5px solid #d0d0d0; */
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    /* border-radius: 15px; */
}


.scrollable-table{
    width: 92vw;
    height: 70vh;
} 

.wide-col{
    min-width: 180px;
}

.thead-light th{
    position: sticky;
    top: -0.7px;
}

.info-label{
    width: 300px;
}

