.overflow-auto {
    position: relative;
    max-height: 500px; /* Set a max height for the scrollable area */
    overflow-y: auto;
  }
  .thead-light{
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--ghost-white);
  }