<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Load from application.properties -->
   <!--  <property scope="context" name="LOG_PATH" source="log.path"/>
    <springProperty scope="context" name="LOG_FILE" source="log.file.name"/> -->
    
        <property resource="application-uat.properties" />
    
	
	
    <!-- FILE APPENDER: INFO + WARN + ERROR -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.file.name}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/ishineportal-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>

        <!-- Exclude DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- CONSOLE APPENDER: ERROR ONLY -->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>SYSTEM_ERR</target>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>

        <!-- Only ERROR -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- ROOT LOGGER -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDERR"/>
    </root>

</configuration>
