<!-- <app-breadcrumb></app-breadcrumb> -->

<div class="col-md-2 mb-2">
    <!-- Year Dropdown -->
    <div class="form-inline input-group">
        <select id="yearDropdown" class="form-control form-control-sm"
            (change)="onYearChange($event)">
            <option [value]="''" disabled selected>Select Year</option>
            <option *ngFor="let year of availableYears" [value]="year">
                {{ year }}
            </option>
        </select>
    </div>
</div>

<div class="col-md-2 mb-2" *ngIf="selectedYear">
    <!-- Period Dropdown -->
    <div class="form-inline input-group">
        <select id="periodDropdown" class="form-control form-control-sm"
            (change)="onPeriodChange($event)">
            <option [value]="''" disabled selected>Select Period</option>
            <option value="monthly">Monthly</option>
            <option value="halfYearly">Half-Yearly</option>
        </select>
    </div>
</div>

<div class="col-md-2 mb-2" *ngIf="rewardsCategories.length > 0">
    <!-- Rewards Dropdown -->
    <div class="form-inline input-group">
        <select id="rewardsDropdown" class="form-control form-control-sm"
            (change)="onCategoryChange($event)">
            <option [value]="''" disabled selected>Select Category</option>
            <option *ngFor="let category of rewardsCategories" [value]="category.rewardCategoryId">
                {{ category.categoryName }}
            </option>
        </select>
    </div>
</div>




<!-- <div class="col-md-2 mb-2">
    <div class="form-inline input-group">
        <select id="rewardsDropdown" class="form-control form-control-sm"
            (change)="onCategoryChange($event, alertMessageTemplate)">
            <option *ngFor="let category of rewardsCategories" 
                [value]="category.rewardCategoryId"
                [selected]="category.rewardCategoryId === activeCategoryId">
                {{ category.categoryName }}
            </option>
        </select>
    </div>
</div> -->
<!-- <div class="col-md-2 mb-2">
    <div class="form-inline input-group">
        <select id="rewardsDropdown" class="form-control form-control-sm"
            (change)="onCategoryChange($event, alertMessageTemplate)">
            <option *ngFor="let category of rewardsCategories" 
                [value]="category.rewardCategoryId"
                [selected]="category.rewardCategoryId === activeCategoryId">
                {{ category.categoryName }}
            </option>
        </select>
    </div>
</div>

<div *ngIf="subDropdownOptions.length > 0" class="col-md-2 mb-2">
    <div class="form-inline input-group">
        <select id="subRewardsDropdown" class="form-control form-control-sm" 
            (change)="onSubCategoryChange($event)">
            <option *ngFor="let option of subDropdownOptions" [value]="option">
                {{ option }}
            </option>
        </select>
    </div>
</div> -->

<!-- <div *ngIf="subDropdownOptions.length > 0" class="col-md-2 mb-2">
    <div class="form-inline input-group">
        <select id="subRewardsDropdown" class="form-control form-control-sm">
            <option *ngFor="let option of subDropdownOptions" [value]="option">
                {{ option }}
            </option>
        </select>
    </div>
</div> -->





<div class="row">
    <div class="col-md-12">
        <div class="row p-3">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">Rewards</h1>
            </div>
        </div>

        <!-- <div class="row mb-2 p-3" >
            <div class="col-md-12 px-7" style="padding-left: 2rem;">
                <button *ngFor="let category of rewardsCategories" type="button"
                    class="btn btn-outline-primary btn-sm active ng-star-inserted mx-1"
                    [ngClass]="{'active': category.rewardCategoryId === activeCategoryId}"
                    (click)="getRewardsByCategoryId(category.rewardCategoryId, alertMessageTemplate)">{{category.categoryName}}
                </button>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <div class="overflow-auto">
                    <table class="table table-responsive" id="rewardHistoryInfo">
                        <thead class="thead-light" id="rewardHistoryInfoTHead">
                            <tr id="rewardHistoryInfoTHeadTr">
                                <th scope="col" class="info-label">Sr No.</th>
                                <th scope="col" class="info-label">Rewards Name</th>
                                <th scope="col" class="info-label">Rewarded To</th>
                                <th scope="col" class="info-label">Rewards Date</th>
                                <th scope="col" class="info-label">Description</th>
                                <th scope="col" class="info-label">Updated By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                            *ngFor="let rewardHistory of  employee ;  let i = index">
                            <th class="info-label">{{i+1}}</th>
                            <td>{{rewardHistory.rewardTypeName}}</td>
                            <td>
                                {{rewardHistory.name}}
                                <button type="button" class="btn btn-sm btn-primary ml-2"
                                    (click)="openEditModal(reward)">View Team</button>
                            </td>
                            <td>{{rewardHistory.createdOn}}</td>
                            <td>{{rewardHistory.remark}}</td>
                            <td>{{rewardHistory.updatedBy}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #reward>
    <div class="modal-body text-center">
        <div class="row">
            <div  class="col-12" style="text-align:center">
                <!-- <label>{{ 'dashboard.claim.process.modal.heading1' | translate }} &nbsp; <em class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" title="{{ 'dashboard.claim.process.modal.noneligible.claim.reason' | translate }}"></em></label><br> -->
                <label>Team Rewards</label>
            </div>

            <div *ngIf="rewards.length > 0" class="col-md-12" style="overflow: auto; height: 250px;">
                <table class="table table-striped" id="claimTbl">
                    <thead>
                        <tr>
                            <th scope="col" class="info-label">Sr No.</th>
                            <th scope="col" class="info-label">Name.</th>
                            <th scope="col" class="info-label">Rewards Name</th>
                            <th scope="col" class="info-label">Rewarded By</th>
                            <th scope="col" class="info-label">Rewarded To</th>
                            <th scope="col" class="info-label">Rewarded Date</th>
                        </tr>
                    </thead>
                    <tbody id="claimTBody">
                        <tr *ngFor="let teamlist of teamRewardList, let i = index">
                            <th class="info-label"><label>{{i+1}}</label></th>
                            <!-- <td><label>{{teamlist.name}}</label></td> -->
                            <td>
                                <span style="cursor: pointer;" *ngFor="let matchedEmployee of matchedEmployees">
                                  <ng-container *ngIf="teamlist.rewardedTo === matchedEmployee.empId">
                                    <!-- <h1>{{teamlist.rewardedTo}}</h1>
                                    <h1>{{matchedEmployee.empId}}</h1> -->
                                    <span [navigateToEmployee360]="matchedEmployee">
                                      {{ teamlist.name }}
                                    </span>
                                  </ng-container>
                                </span>
                            </td>
                            <!-- <h1>{{teamlist.name}}</h1> -->
                            <td><label>{{teamlist.rewardTypeName}}</label></td>
                            <td><label>{{teamlist.createdByName }}</label></td>
                            <td><label>{{teamlist.name}}</label></td>
                            <td><label>{{teamlist.createdOn}}</label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</ng-template>
