/* User-info with timeline styling */
.info-wrapper{
    margin-top: 0.625rem;
    border-left: 2px dashed #cfcfcf;
    padding: 0 1.875rem 0 1.25rem;
    position: relative;
}

.info-wrapper::before{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid var(--dark-cornflower-blue);
    position: absolute;
    left:  -8px;
    top: 3.55px;
}

.info-wrapper .info-label{
    font-size: 1.05rem;    
    font-weight: 500;
    margin-bottom: .25rem;
}

.info-wrapper .info-text{
    font-size: .9rem;
    font-weight: 600;
    color: var(--middle-grey);
}

.info-highlight, .info-wrapper .info-text.info-highlight{
    color:var(--dark-cornflower-blue);
    font-weight: bold;
}

.alert {
    margin-bottom: 1px;
    height: 30px;
    line-height:30px;
    padding:0px 15px;
  }

.accordion-header-bg-color {
  background-color: #f4f2f3;
}