<div class="container m-0">
  <div class="card p-3 py-1 shadow-sm m-0">
    <div class="row px-1 ml-1" >
      <div class="col-md-12 table-header">
        <h1 class="table-header-title">Performance Dashboard</h1>
      </div>
    </div>
    
    <div class="profile row align-items-center ml-2 mr-2 px-0 py-3">
      <div class="col-md-6 d-flex align-items-center">
        <img src="assets/Images/default-user-image.jpeg" alt="profile" class="rounded-circle border m-1 mr-4" width="100" height="100">
        <div class="ms-2 p-1 small">
          <h4 class="mb-0">{{currentEmployeeInfo.name}}</h4>
          <span class="text-muted mb-2">{{currentEmployeeInfo.designationName}}</span>
          <p><strong>Employee ID:</strong> A-{{currentEmployeeInfo.employeementId}}</p>
          <p><strong>Department:</strong> {{currentEmployeeInfo.departmentName}}</p>
          <p><strong>Manager:</strong> {{currentEmployeeInfo.managerName}}</p>
        </div>
      </div>
    
      <div class="col-md-6 d-flex flex-column align-items-end  justify-content-start ">
        <div class="mb-3 pr-3 pl-2 w-auto align-top">
          <div class="form-inline input-group input-group-sm">
            <label class="mr-2 ">Select quarter</label>
            <select class="form-control form-control-sm" aria-hidden="true" [(ngModel)]="selectedQuarter"
              name="quarterId" (ngModelChange)="onQuarterChange()">
              <option selected value="" disabled>Select</option>
              <option *ngFor="let quarter of quarterCyclesList" [value]="quarter.quarterId">{{quarter.quarterCycle}}
              </option>
            </select>
          </div>
        </div>
    
        <div class="row  w-100">
          <div class="col-md-6 text-center">
            <div class="stat-box bg-light p-2 rounded">Goals Completed: <strong>{{stats.goalsCompleted}} </strong></div>
            <div class="stat-box bg-light p-2 rounded">Goals Remaining: <strong>{{stats.goalsRemaining}}</strong></div>
          </div>
          <div class="col-md-6 text-center">
            <div class="stat-box bg-light p-2 rounded">KRA/KPI score: <strong>{{stats.kraKpiScore}}/10</strong></div>
            <div class="stat-box bg-light p-2 rounded">Questionnaire score: <strong>{{stats.questionnaireScore}}/10</strong></div>
          </div>
        </div>
    
      </div>
    </div>
    
    
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="graph-placeholder p-4 border rounded text-center">[Graphs Here]</div>
      </div>
      <div class="col-md-6">
        
        
          <div class="goals-list p-2 border rounded d-flex flex-column" style="height: 100%;">
            <h6 class="mb-1 text-center">Goals List</h6>
            <div class="table-responsive flex-grow-1" style="max-height: 250px; overflow-y: auto;">
              <table class="table table-sm table-bordered" style="font-size: 0.90rem;">
                <thead>
                  <tr class="bg-light " >
                    <th scope="col" class="w-30">Goal</th>
                    <th scope="col">Description</th>
                    <th scope="col" class="text-center w-20">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let goal of goals">
                    <td>{{ goal.goalTitle }}</td>
                    <td class="text-truncate" style="max-width: 180px;">{{ goal.description }}</td>
                    <td class="text-center">
                      <button class="btn btn-sm btn-outline-primary py-1 px-2" (click)="openModal(viewGoalTemplate, goal)" style="font-size: 0.75rem;" >View</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
        
      </div>
    </div>
    
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card shadow border-0 info">
          <div class="card-header ">
            <h5 class="card-title mb-0 text-center">Appraisal Summary</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              <strong>Final Rating:</strong> 
              <!-- <span class="badge bg-success">{{ summary.finalRating }}/10</span> -->
            </p>
            <p class="card-text">
              <strong>Appraisal Score:</strong> 
              <!-- <span class="badge bg-info">{{ summary.appraisalScore }}%</span> -->
            </p>
            <p class="card-text">
              <strong>Final Remarks:</strong>
              <!-- <span class="text-muted d-block mt-1">{{ summary.finalRemarks }}</span> -->
            </p>
          </div>
          
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card shadow border-0 info">
          <div class="card-header ">
            <h5 class="card-title mb-0 text-center">Skills</h5>
          </div>
          <div class="card-body">
            
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow border-0 info">
          <div class="card-header ">
            <h5 class="card-title mb-0 text-center">Awards</h5>
          </div>
          <div class="card-body">
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="container py-4 m-0 px-0">
      <div class="card shadow order-0">
        <div class="card-body">
          <h2 class="text-center mb-4 fw-bold">Reviews and Ratings</h2>
    
          <ul class="nav nav-tabs  mb-4">
            <li class="nav-item ">
              <button class="nav-link " [class.active]="activeTab === 'kra-kpi'" aria-selected="true" (click)="setActiveTab('kra-kpi')">KRA/KPI Review</button>
            </li>
            <li class="nav-item ">
              <button class="nav-link " [class.active]="activeTab === 'questionnaire'" aria-selected="true" (click)="setActiveTab('questionnaire')">Questionnaire Review</button>
            </li>
          </ul>
    
          <div class="row  mb-2">
            <div class="col-auto">
            <label class="col-auto fw-semibold">Select Quarter:</label>
            
              <select class="form-select" [(ngModel)]="selectedQuarter1" (change)="loadQuestionnaireQuestions()">
                <option value="" disabled>select</option>
                <option *ngFor="let quarters of quarterCyclesList" [value]="quarters.quarterId">{{ quarters.quarterCycle }}</option>
              </select>
            </div>
          </div>

          <div >
    
            <div *ngIf="activeTab === 'kra-kpi'">
              <h4 class="mb-1 fw-semibold text-center">KRA/KPI Ratings </h4>
              <ul class="list-group list-group-flush">
                <li *ngFor="let metric of kraKpiMetrics" class="list-group-item d-flex justify-content-between align-items-center py-3">
                  <span>{{ metric.name }}</span>
                  <span>
                    <strong>{{ metric.rating }}/10</strong>
                  </span>
                </li>
              </ul>
            </div>
    
            <div class="row" *ngIf="activeTab === 'questionnaire'">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title"> Questionnaire Rating</h5>
                  </div>
                  <div class="card-body">
                    <div *ngIf="questionnaireQuestions.length === 0" class="alert alert-info">
                      No questionnaire questions found for this quarter and department.
                    </div>
            
                      <form *ngIf="questionnaireQuestions.length > 0">

                      <div class="list-group">
                        <div class="list-group-item row" *ngFor="let question of questionnaireQuestions;">
                          <div class="mb-3 col">
                            <label class="form-label fw-bold"> {{question.questionText}}</label> 
                            
                           
                         
                            <div class="mt-2">
                              <label class="form-label w-auto">Response:</label>
                              <input  [(ngModel)]="question.response" placeholder="Rate from 1 to 10" type="number" name="response" min="0" max="10"/>

                            </div>
                            
                            <!-- Rating if needed -->
                            <!-- <div class="mt-2">
                              <label class="form-label">Rating:</label>
                              <select class="form-select" [formControlName]="'rating_' + question.id">
                                <option value="">Select Rating</option>
                                <option value="1">1 - Poor</option>
                                <option value="2">2 - Below Average</option>
                                <option value="3">3 - Average</option>
                                <option value="4">4 - Good</option>
                                <option value="5">5 - Excellent</option>
                              </select>
                            </div> -->
                          </div>
                        </div>
                      </div>
                      
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                        <button type="button" class="btn btn-primary" (click)="saveQuestionnaireResponses()">
                          Save Responses
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
    
          </div>
    
        </div>
      </div>
    </div>
    
  </div>
</div>



<ng-template #viewGoalTemplate>
  <div class="modal-content rounded-lg shadow-lg">
    <div class="modal-header ">
      <h5 class="modal-title fw-bold">{{ selectedGoal?.goalTitle }}</h5>
      <button type="button" class="btn-close text-white" aria-label="Close" (click)="modalRef.hide()"><i class="fa-solid fa-xmark"></i></button>
    </div>

    <div class="modal-body p-4">
      <div class="row mb-3">
        <div class="col-md-6">
          <p><strong>Goal Description:</strong></p>
          <p class="text-muted">{{ selectedGoal?.description }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Status:</strong></p>
          <span class="badge" >{{ selectedGoal?.progress }}</span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <p><strong>Assigned Date:</strong> {{ selectedGoal?.assignedDate | date:'mediumDate' }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Due Date:</strong> {{ selectedGoal?.expectedCompletionDate | date:'mediumDate' }}</p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <p><strong>Employee:</strong> {{ selectedGoal?.employeeName }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Assigned By:</strong> {{ selectedGoal?.assignedBy }}</p>
        </div>
      </div>

      <div class="mb-3">
        <label for="goalStatus" class="form-label"><strong>Update Progress (% Completed):</strong></label>
        <input type="number" id="goalStatus" [(ngModel)]="selectedgoalProgress" [min]="selectedGoal?.progress" max="100" step="1" 
               class="form-control" placeholder="Enter percentage " />
      </div>

      <!-- <div class="mb-3">
        <h6 class="fw-bold">Checkpoints:</h6>
        <ul class="list-group mb-2">
          <li *ngFor="let checkpoint of selectedGoal?.checkpoints; let i = index" 
              class="list-group-item d-flex justify-content-between align-items-center">
            <input type="text" [(ngModel)]="selectedGoal.checkpoints[i]" 
                   class="form-control form-control-sm border-0 bg-light" />
            <button type="button" class="btn btn-danger btn-sm ms-2" (click)="removeCheckpoint(i)">Remove</button>
          </li>
        </ul>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="addCheckpoint()">Add Checkpoint</button>
      </div> -->

      <div class="mb-3 col ml-0">
        <div>
        <h6 class="fw-bold">Remarks:</h6>
        </div>
        <div class="row align-items-center">
        <div>
          <label for="employeeRemark" class="form-label"><strong>Your Remark:</strong></label>
          <textarea id="employeeRemark" [(ngModel)]="selectedGoal.employeeRemark"
                    rows="3" placeholder="{{ selectedGoal.employeeRemark }}"
                    class="form-control">
          </textarea>
        </div>
        <div>
          <label for="managerRemark" class="form-label "><strong>Manager's Remark:</strong></label>
          <textarea id="managerRemark" 
                  rows="3" 
                  class="form-control">{{ selectedGoal.managerRemark }}</textarea>
        </div>
        </div>
      </div>
    </div>

    <div class="modal-footer d-flex justify-content-between">
      <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Close</button>
      <button type="button" class="btn btn-primary" (click)="saveUpdates()">Save Changes</button>
    </div>
  </div>
</ng-template>


