<div class="row mb-3">
    <div class="col-md-12 px-0">
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.apply_for_leave" [ngClass]="{'active' : isForm && isCreation}" (click)="showCreateForm()">Apply Leave</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_leave_history || userMapping.update_leave ||userMapping.delete_leave_application || userMapping.revoke_leave_application" [ngClass]="{'active' : isLeaveHistoryTable}" (click)="showLeaveHistoryTable()">View My Leave History</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isLeaveRevokeApplicationTable}" (click)="showLeaveRevokeApplicationTable()">View My Leave Revoke History</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_leave_balance" [ngClass]="{'active' : isLeaveBalanceTable}" (click)="showLeaveBalanceTable()">View My Leave Balance</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_leave_balance_log" [ngClass]="{'active' : isLeaveLogTable}" (click)="showLeaveLogTable()">View My Leave Balance Log</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_reportee_leave_applications || userMapping.update_leave_applications_status" [ngClass]="{'active' : isLeaveApplicationsTable}" (click)="showLeaveApplicationsTable()">View My Reportee Leave Applications</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_reportee_leave_revoke_applications" [ngClass]="{'active' : isReporteeLeaveRevokeApplicationsTable}" (click)="showReporteeLeaveRevokeApplicationTable()">View My Reportee Leave Revoke Applications</button>
    </div>
</div>

<!-- start :: Create & Update Form -->
<div class="row">
    <div class="card col-md-12 px-0" *ngIf="isForm">
        <div class="card-header text-center text-uppercase">
            <strong *ngIf="isCreation">Apply for Leave</strong>
            <strong *ngIf="isUpdation">Update Leave</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="d-block info-label"><span class="text-danger">*</span>Leave Application For</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="leaveFor" id="forSelf" value="self" [(ngModel)]="leaveObj.leaveAppliedFor" [disabled]="isUpdation" (change)="getAllTeamMemberList();getLeaveMetadata()">
                                <label class="form-check-label" for="forSelf">Self</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="leaveFor" id="forTeamMember" value="team" [(ngModel)]="leaveObj.leaveAppliedFor" [disabled]="isUpdation" (change)="getAllTeamMemberList()">
                                <label class="form-check-label" for="forTeamMember">Team member</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="this.leaveObj.leaveAppliedFor == 'team'" class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Team Member</label>
                            <select class="form-control" aria-hidden="true" [(ngModel)]="leaveObj.empId" [disabled]="isUpdation" (change)="getLeaveMetadata();">
                                <option selected="selected" value="" disabled>Select</option>
                                <option *ngFor="let teamMember of teamMemberList" value="{{teamMember.empId}}">{{teamMember.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="card" *ngFor="let leave of leaveBalance">
                <div class="card-header">{{leave.leaveType}} : {{leave.balance}}</div>
                
              </div>
            <div class="alert alert-primary" role="alert">
                <p>Certification(s) are not mandatory, but if added all fields for certificate are mandatory with document in Upload Document section</p>
            </div> --> 
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Leave Type</label>
                            <select class="form-control" aria-hidden="true" [(ngModel)]="leaveObj.leaveTypeMasterId" [disabled]="isUpdation" (change)="setLeaveTypeCode(leaveObj.leaveTypeMasterId);setPolicyObj(leaveObj.leaveTypeMasterId);getAllLeaveBalanceByEmpId(leaveObj)">
                                <option selected="selected" value="" disabled>Select</option>
                                <option *ngFor="let leave of leaveTypes" value="{{leave.leaveTypeMasterId}}">{{leave.leaveType}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="leaveDetails.length !== 0" class="row">
                <div class="col-md-4 mb-3">
                    <div class="card border-primary">
                        <div class="card-body" style="max-width: 27rem; max-height: 4rem;">
                            <h6 class="ml-5 mr-5 mt-0 mb-0"> <span style=" color: #193d8a;" > Available Balance : {{leaveDetails}}</span></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>From Date</label>
                            <!-- <input id="fromDate" type="date" class="form-control" autocomplete="none" [(ngModel)]="leaveObj.fromDate" (change)="setMinToDate(alert_message);setNoOfDays(alert_message)" > -->
                            <div class="d-flex">
                                <input class="form-control" matInput id="fromDate" #input (focus)="fromDatePicker.open()" [matDatepicker]="fromDatePicker" [matDatepickerFilter]="fromDateFilter"
                                 placeholder="Choose a from date" [(ngModel)]="leaveObj.fromDate" (dateChange)="resetToDate()" (keydown)="disableMannualDateInput()">
                                <mat-datepicker-toggle matSuffix [for]="fromDatePicker" style="margin-left: -40px;" [disabled]="isUpdation"></mat-datepicker-toggle>
                            </div>
                            <mat-datepicker [dateClass]="holidayHighlight" [disabled]="isUpdation" #fromDatePicker (closed)="input.blur()" disabled="false"></mat-datepicker>
                        </div>
                    </div>
                </div>
                <div class="offset-md-2 col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group" >
                            <label class="info-label"><span class="text-danger">*</span>Day Type</label>
                            <select class="form-control"  aria-hidden="true" [(ngModel)]="leaveObj.fromDateDayType" (change)="setNoOfDays(alert_message);">
                                <option selected="selected" value="" disabled>Select</option>
                                <option value=0.5>Half Day</option>
                                <option value=0 selected>Full Day</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>To Date</label>
                            <!-- <input id="toDate" type="date" class="form-control" autocomplete="none" [(ngModel)]="leaveObj.toDate" (change)="setNoOfDays(alert_message)"> -->
                            <div class="d-flex">
                                <input class="form-control" matInput id="toDate" #input (focus)="toDatePicker.open()" [matDatepicker]="toDatePicker" [matDatepickerFilter]="toDateFilter"
                                 placeholder="Choose a to date" [(ngModel)]="leaveObj.toDate" (dateChange)="setNoOfDays(alert_message)" (keydown)="disableMannualDateInput()">
                                <mat-datepicker-toggle matSuffix [for]="toDatePicker" style="margin-left: -40px;" [disabled]="isUpdation"></mat-datepicker-toggle>
                            </div>
                            <mat-datepicker [dateClass]="holidayHighlight" #toDatePicker (closed)="input.blur()" [disabled]="isUpdation" disabled="false" [startAt]="leaveObj.fromDate"></mat-datepicker>
                        </div>
                    </div>
                </div>
                <div class="offset-md-2 col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group" >
                            <label class="info-label"><span class="text-danger">*</span>Day Type</label>
                            <select class="form-control"  aria-hidden="true" [(ngModel)]="leaveObj.toDateDayType"  (change)="setNoOfDays(alert_message);">
                                <option selected="selected" value="" disabled>Select</option>
                                <option value=0.5>Half Day</option>
                                <option value=0 selected>Full Day</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label">No.of Days</label>
                            <input type="text" class="form-control" [disabled]="isUpdation" autocomplete="none" disabled [(ngModel)]="leaveObj.noOfDays">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Reason</label>
                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="leaveObj.reason">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button *ngIf="isCreation && userMapping.apply_for_leave" type="submit" class="btn btn-primary btn-sm mx-1" (click)="onApplyLeave(alert_message)">Apply Leave</button>
                    <button *ngIf="isUpdation && userMapping.apply_for_leave" type="submit" class="btn btn-primary btn-sm mx-1" (click)="onUpdateLeave(alert_message)">Update Leave</button>
                </div>
            </div>
    </div>
</div>
</div>
<!-- end :: create & update form -->

<!-- start :: Leave History Table -->
<div class="row" *ngIf="isLeaveHistoryTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">My Leave History</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isSelfLeaveHistory}" (click)="showSelfLeaveHistoryTable()">Self</button>
              <button type="button" class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isTeamLeaveHistory}" (click)="showTeamLeaveHistoryTable()">For Team</button>
            </div>
            <div class="form-group d-flex flex-row ml-auto col-md-3">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">	
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'leaveHistoryInfo'" [tableTHeadId]="'leaveHistoryInfoTHead'"
                [tableTHeadTrId]="'leaveHistoryInfoTHeadTr'">
                    <table class="table table-responsive" id="leaveHistoryInfo" matSort (matSortChange)="sortLeaveHistory($event)">	
                        <thead class="thead-light" id="leaveHistoryInfoTHead">	
                        <tr id="leaveHistoryInfoTHeadTr">	
                            <th scope="col" class="info-label">Sr No.</th>
                            <th *ngIf="isTeamLeaveHistory" scope="col" class="info-label" mat-sort-header="employeeName">Name</th>
                            <th scope="col" class="info-label" mat-sort-header="leaveType">Leave Type</th>	
                            <th scope="col" class="info-label" mat-sort-header="fromDate">From Date</th>	
                            <th scope="col" class="info-label" mat-sort-header="toDate">To Date</th>	
                            <th scope="col" class="info-label" mat-sort-header="noOfDays">Duration</th>	
                            <th scope="col" class="info-label" mat-sort-header="status">Status</th>	
                            <th *ngIf="isSelfLeaveHistory" scope="col" class="info-label" mat-sort-header="createdByName">Applied By</th>	
                            <th scope="col" class="info-label" mat-sort-header="createdOn">Applied On</th>	
                            <th scope="col" class="wide-col" mat-sort-header="reason">Reason</th>
                            <th scope="col" class="info-label" mat-sort-header="approverName">Approver Name</th>
                            <th scope="col" class="info-label" mat-sort-header="remark">Remarks</th>
                            <th scope="col" class="info-label">Action</th>
                            <!-- <th scope="col" class="info-label">Comments</th> -->
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="leaveHistoryList.length == 0">
                                <th colspan="14" class="text-center info-label">No details to display...</th>
                            </tr>
                            <tr *ngFor="let leaveHistory of leaveHistoryList |filter:data| paginate: { itemsPerPage: 20, currentPage: page }; let i = index">
                                <td>{{10*(page-1)+i+1}}</td>
                                <td *ngIf="isTeamLeaveHistory">{{leaveHistory.employeeName}}</td>
                                <td>{{leaveHistory.leaveType}}</td>
                                <td>{{leaveHistory.fromDate}}</td>
                                <td>{{leaveHistory.toDate}}</td>
                                <td>{{leaveHistory.noOfDays}} day(s)</td>
                                <td>{{leaveHistory.status}}</td>
                                <td *ngIf="isSelfLeaveHistory">{{leaveHistory.createdByName}}</td>
                                <td>{{leaveHistory.createdOn}}</td>
                                <td>{{leaveHistory.reason}}</td>
                                <td>{{leaveHistory.approverName}}</td>
                                <td>{{leaveHistory.remark}}</td>
                                <!-- <td>{{leaveHistory.description}}</td> -->
                                <td>	
                                    <button *ngIf="leaveHistory.status == 'Pending' && userMapping.update_leave" class="btn btn-sm btn-outline-primary" type="submit" (click)="showUpdateForm(leaveHistory)"><em class="fa fa-edit"></em></button>&nbsp;	
                                    <button *ngIf="leaveHistory.status == 'Pending'&& userMapping.delete_leave_application" class="btn btn-sm btn-outline-danger"  type="submit" (click)="openDeleteLeave(delete_leave_application,leaveHistory)"><em class="fa fa-trash"></em></button>&nbsp;
                                    <button *ngIf="((leaveHistory.status == 'Approved' && leaveHistory.checkDate > dateToday) && userMapping.revoke_leave_application)" class="btn btn-sm btn-outline-danger" type="submit" (click)="openRevokeApprovedLeaveApplication(revoke_approved_leave,leaveHistory)" title="Revoke"><em>Revoke</em></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls class="my-pagination" [hidden]="leaveHistoryListForTable.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls> 
                <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2" [hidden]="leaveHistoryListForTable.length == 0" (click)="exportToExcelForLeave()"><em class="fa fa-file-arrow-down fa-2x"></em></button>
            </div>
        </div>
    </div>        
</div>
<!-- end :: Leave History table -->

<!-- start :: Leave Applications Table -->
<div class="row" *ngIf="isLeaveApplicationsTable">
    <div class="col-md-12">    
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">My Reportee Leave Applications</h1>
            </div>
        </div>
        <div class="row">
            <div *ngIf="bulkLeaveApprove.length > 1 && bulkLeaveReject.length > 1" class="form-group col-md-12">
                <button class="btn btn-sm btn-outline-success" type="submit" (click)="onBulkLeaveApproval(alert_message)">Bulk
                    Approve</button>&nbsp;
                <button type="submit" class="btn btn-sm btn-outline-danger ml-2" (click)="openRejectModal(bulkLeave_reject)">Bulk Reject</button>
            </div>
        </div>
        <div class="row">
            <div class="form-group d-flex flex-row justify-content-between col-md-3">
                <div class="form-inline ">
                    <small>View</small> 
                    <select class="form-select-sm align-items-center mx-1" aria-label="Default select example" [(ngModel)]="items"
                        (change)="page=1">
                        <option class="option-bg" selected value="10">10</option>
                        <option class="option-bg" value="20">20</option>
                        <option class="option-bg" value="50">50</option>
                        <option class="option-bg" value="100">100</option>
                    </select>
                    <small>entries</small>
                </div>
            </div>

            <div class="col-md-3 ml-auto mb-2">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'leaveApplicationInfo'" [tableTHeadId]="'leaveApplicationInfoTHead'"
                [tableTHeadTrId]="'leaveApplicationInfoTHeadTr'">
                <table class="table table-responsive" id="leaveApplicationInfo" matSort (matSortChange)="sortReporteeLog($event)">	
                    <thead class="thead-light">	
                      <tr>	
                        <th><input class="select" type="checkbox" name="checkboxes" (change)="selectAll($event)" [(ngModel)]="isSelectAll"></th>
                        <th scope="col" class="info-label" >Sr No.</th>
                        <th scope="col" class="info-label" mat-sort-header="employeeName">Name</th>		
                        <th scope="col" class="info-label" mat-sort-header="leaveType">Leave Type</th>	
                        <th scope="col" class="info-label" mat-sort-header="fromDate">From Date</th>	
                        <th scope="col" class="info-label" mat-sort-header="toDate">To Date</th>	
                        <th scope="col" class="info-label" mat-sort-header="noOfDays">Duration</th>	
                        <th scope="col" class="info-label" mat-sort-header="status">Status</th>	
                        <th scope="col" class="info-label" mat-sort-header="createdByName">Applied By</th>	
                        <th scope="col" class="info-label" mat-sort-header="createdOn">Applied On</th>	
                        <th scope="col" class="info-label" mat-sort-header="reason">Reason</th>
                        <!-- <th scope="col" class="info-label">Comments</th> -->
                        <th scope="col" class="info-label">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="leaveApplicationList.length == 0">
                            <th colspan="12" class="text-center info-label">No details to display...</th>
                        </tr>
                        <tr *ngFor="let leaveApplication of leaveApplicationList |filter:data| paginate: { itemsPerPage: items, currentPage: page }; let i = index">
                            <td><input class="leave-req-checkbox" id="{{i}}" type="checkbox" [(ngModel)]="leaveApplication.isSelected" (change)="select(leaveApplication,$event)"></td>
                            <td>{{items*(page-1)+i+1}}</td>
                            <td>{{leaveApplication.employeeName}}</td>
                            <td>{{leaveApplication.leaveType}}</td>
                            <td>{{leaveApplication.fromDate}}</td>
                            <td>{{leaveApplication.toDate}}</td>
                            <td>{{leaveApplication.noOfDays}} day(s)</td>
                            <td>{{leaveApplication.status}}</td>
                            <td>{{leaveApplication.createdByName}}</td>
                            <td>{{leaveApplication.createdOn}}</td>
                            <td>{{leaveApplication.reason}}</td>
                            <!-- <td>{{leaveApplication.description}}</td> -->
                            <td>
                                <button *ngIf="userMapping.update_leave_applications_status"  class="btn btn-sm btn-outline-success" type="submit" (click)="onUpdateLeaveStatus(alert_message, leaveApplication, 2)" title="Approve"><em class="fa-solid fa-check"></em></button>&nbsp;
                                <button *ngIf="userMapping.update_leave_applications_status"  class="btn btn-sm btn-outline-danger" type="submit" (click)="openLeaveRejectModal(reject_leave_modal,leaveApplication)" title="Reject"><em class="fa-solid fa-xmark"></em></button>
                            </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div> 
 </div>
</div>

<!-- end :: Leave Applications table -->

<!-- start :: Leave Balance Table -->
<div class="row" *ngIf="isLeaveBalanceTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">My Leave Balances</h1>
            </div>
        </div>

        <div class="row">
            <div class="form-group ml-auto col-md-3">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">	
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'leaveBalanceInfo'" [tableTHeadId]="'leaveBalanceInfoTHead'"
                    [tableTHeadTrId]="'leaveBalanceInfoTHeadTr'">
                    <table class="table leaveBalance-table" id="leaveBalanceInfo" matSort (matSortChange)="sortLeaveBalance($event)">	
                        <thead class="thead-light text-center" id="leaveBalanceInfoTHead">	
                          <tr id="leaveBalanceInfoTHeadTr">	
                            <th scope="col" class="info-label" mat-sort-header="leaveType">Leave Type</th>	
                            <th scope="col" class="info-label" mat-sort-header="totalLeaveBalance">Balance</th>	
                            <th scope="col" class="info-label" mat-sort-header="pendingForApproval">Leaves Pending for Approval</th>	
                            <th scope="col" class="info-label" mat-sort-header="balance">Effective Leave Balance</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="leaveBalanceList.length == 0">
                                <th colspan="8" class="text-center info-label">No details to display...</th>
                            </tr>
                            <tr *ngFor="let leaveType of leaveBalanceList|filter:data | paginate: { itemsPerPage: 20, currentPage: page }">
                                <td>{{leaveType.leaveType}}</td>
                                <td>{{leaveType.totalLeaveBalance}} days(s)</td>
                                <td>{{leaveType.pendingForApproval}} day(s)</td>
                                <td>{{leaveType.balance}} day(s)</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                <!-- <button type="button" class="btn btn-outline-primary btn-sm" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button> -->
                <pagination-controls class="my-pagination" [hidden]="leaveBalanceList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<!-- end :: Leave Balance table -->

<!-- start :: Leave log Table -->
<div class="row" *ngIf="isLeaveLogTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">My Leave Logs</h1>
            </div>
        </div>

        <div class="row">
            <div class="form-group d-flex flex-row ml-auto col-md-3">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">	
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'holidayInfo'" [tableTHeadId]="'holidayInfoTHead'"
                    [tableTHeadTrId]="'holidayInfoTHeadTr'">
                    <table class="table table-responsive" id="log-table" matSort (matSortChange)="sortLeaveLogList($event)">	
                        <thead class="thead-light">	
                          <tr>	
                            <th scope="col" class="info-label" >Sr. No</th>	
                            <th scope="col" class="info-label" mat-sort-header="leaveType">Leave Types</th>	
                            <th scope="col" class="info-label" mat-sort-header="updateBalanceBy">Change</th>	
                            <th scope="col" class="info-label" mat-sort-header="balance">Balance</th>	
                            <th scope="col" class="info-label" mat-sort-header="message">Message</th>	
                            <th scope="col" class="info-label" mat-sort-header="createdOn">Updated On</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="leaveLogList.length == 0">
                                <th colspan="8" class="text-center info-label">No details to display...</th>
                            </tr>
                            <tr *ngFor="let log of leaveLogList|filter:data | paginate: { itemsPerPage: 20, currentPage: page }; let i = index">
                                <td>{{log.rowNumber}}</td>
                                <td>{{log.leaveType}}</td>
                                <td>{{log.updateBalanceBy}}</td>
                                <td>{{log.balance}}</td>
                                <td>{{log.message}}</td>
                                <td>{{log.createdOn}}</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                <pagination-controls class="my-pagination" [hidden]="leaveLogList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls>
                <!-- <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2" [hidden]="leaveLogList.length == 0" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button>  -->
            </div>
        </div>
    </div>    
</div>
<!-- end :: Leave log table -->

<!-- start :: Leave Revoke Application Table -->
<div class="row" *ngIf="isLeaveRevokeApplicationTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">My Leave Revoke History</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isSelfLeaveRevokeApplication}" (click)="showSelfLeaveRevokeApplication()">Self</button>
                <button type="button" class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isTeamLeaveRevokeApplication}" (click)="showTeamLeaveRevokeApplication()">For Team</button>
            </div>
            <div class="form-group d-flex flex-row ml-auto col-md-3">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">	
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'holidayInfo'" [tableTHeadId]="'holidayInfoTHead'"
                    [tableTHeadTrId]="'holidayInfoTHeadTr'">
                    <table class="table table-responsive" id="revoke-history-table" matSort (matSortChange)="sortLeaveRevokeTable($event)">	
                        <thead class="thead-light">	
                          <tr>
                            <th scope="col" class="info-label" >Sr. No</th>
                            <th *ngIf="isTeamLeaveRevokeApplication" scope="col" class="info-label" mat-sort-header="employeeName">Name</th>
                            <th scope="col" class="info-label" mat-sort-header="leaveType">Leave Type</th>	
                            <th scope="col" class="info-label" mat-sort-header="fromDate">From Date</th>	
                            <th scope="col" class="info-label" mat-sort-header="toDate">To Date</th>	
                            <th scope="col" class="info-label" mat-sort-header="noOfDays">Duration</th>	
                            <th scope="col" class="info-label" mat-sort-header="status">Status</th>	
                            <th *ngIf="isSelfLeaveRevokeApplication" scope="col" class="info-label" mat-sort-header="createdByName">Applied By</th>	
                            <th scope="col" class="info-label" mat-sort-header="createdOn">Applied On</th>	
                            <th scope="col" class="info-label" mat-sort-header="reason">Revoke Reason</th>
                            <th scope="col" class="info-label" mat-sort-header="approverName">Approver Name</th>
                            <th scope="col" class="info-label">Remarks</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="revokeLeaveApplicationList.length == 0">
                                <th colspan="11" class="text-center info-label">No details to display...</th>
                            </tr>
                            <tr *ngFor="let leave of revokeLeaveApplicationList|filter:data | paginate: { itemsPerPage: items, currentPage: page }; let i = index">
                                <td>{{items*(page-1)+i+1}}</td>
                                <td *ngIf="isTeamLeaveRevokeApplication">{{leave.employeeName}}</td>
                                <td>{{leave.leaveType}}</td>
                                <td>{{leave.fromDate}}</td>
                                <td>{{leave.toDate}}</td>
                                <td>{{leave.noOfDays}}</td>
                                <td>{{leave.status}}</td>
                                <td *ngIf="isSelfLeaveRevokeApplication">{{leave.createdByName}}</td>
                                <td>{{leave.createdOn}}</td>
                                <td>{{leave.revokeReason}}</td>
                                <td>{{leave.approverName}}</td>
                                <td>{{leave.remark}}</td>
                            </tr>
                        </tbody>
                      </table>  
                </div>
                <pagination-controls class="my-pagination" [hidden]="revokeLeaveApplicationList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls>
                <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2" [hidden]="revokeLeaveApplicationList.length == 0" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button>
            </div>
        </div>
    </div>  
</div>
<!-- end :: Leave Revoke Application Table -->

<!-- start ::Reportee Leave Revoke Application Table -->
<div class="row" *ngIf="isReporteeLeaveRevokeApplicationsTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">My Reportee Leave Revoke Applications</h1>
            </div>
        </div>

        <div class="row">
            <div class="form-group d-flex flex-row ml-auto col-md-3">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">	
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'holidayInfo'" [tableTHeadId]="'holidayInfoTHead'"
                    [tableTHeadTrId]="'holidayInfoTHeadTr'">
                    <table class="table table-responsive" matSort (matSortChange)="sortReporteeLeaveBalanceChange($event)">	
                        <thead class="thead-light">	
                          <tr>
                            <th scope="col" class="info-label" >Sr. No</th>
                            <th scope="col" class="info-label" mat-sort-header="leaveType">Leave Type</th>	
                            <th scope="col" class="info-label" mat-sort-header="fromDate">From Date</th>	
                            <th scope="col" class="info-label" mat-sort-header="toDate">To Date</th>	
                            <th scope="col" class="info-label" mat-sort-header="noOfDays">Duration</th>	
                            <th scope="col" class="info-label" mat-sort-header="status">Status</th>	
                            <th scope="col" class="info-label" mat-sort-header="createdByName">Applied By</th>	
                            <th scope="col" class="info-label" mat-sort-header="createdOn">Applied On</th>	
                            <th scope="col" class="info-label" mat-sort-header="revokeReason">Revoke Reason</th>
                            <th scope="col" class="info-label">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="reporteeLeaveRevokeApplicationList.length == 0">
                                <th colspan="10" class="text-center info-label">No details to display...</th>
                            </tr>
                            <tr *ngFor="let leave of reporteeLeaveRevokeApplicationList | filter:data | paginate: { itemsPerPage: items, currentPage: page }; let i = index">
                                <td>{{items*(page-1)+i+1}}</td>
                                <td>{{leave.leaveType}}</td>
                                <td>{{leave.fromDate}}</td>
                                <td>{{leave.toDate}}</td>
                                <td>{{leave.noOfDays}}</td>
                                <td>{{leave.status}}</td>
                                <td>{{leave.createdByName}}</td>
                                <td>{{leave.createdOn}}</td>
                                <td>{{leave.revokeReason}}</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-success" type="submit" (click)="onUpdateRevokeLeaveStatus(alert_message, leave, 2)" title="Approve"><em class="fa-solid fa-check"></em></button>&nbsp;
                                    <button class="btn btn-sm btn-outline-danger" type="submit" (click)="openRevokeLeaveRejectModal(reject_revoke_leave, leave)" title="Reject"><em class="fa-solid fa-xmark"></em></button>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                <pagination-controls class="my-pagination" [hidden]="reporteeLeaveRevokeApplicationList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls>
                <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2" [hidden]="reporteeLeaveRevokeApplicationList.length == 0" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button> 
            </div>
        </div>
    </div> 
</div>
<!-- end ::Reportee Leave Revoke Application Table -->

<!-- Modals Template -->

<ng-template #delete_leave_application>	
    <div class="modal-body text-center">	
        <p>Are you sure you want to delete leave?</p>	
        <button type="button" class="btn btn-success" (click)="deletePendingLeave(alert_message);">Yes, proceed</button>&nbsp;	
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;	
    </div>	
</ng-template>

<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>

<ng-template #revoke_approved_leave>
    <div class="modal-body text-center">
        <p>Are you sure you want to revoke leave Application?</p>
        <div class="row">
            <div class="col-md-12">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Reason</label>
                        <textarea class="form-control" id="revokereason" rows="3" [(ngModel)]="leaveObj.revokeReason"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-success" (click)="onRevokeApprovedLeaveApplication(alert_message)">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
     </div>
  </ng-template>

  <!-- bulkLeave_reject -->

  <ng-template #bulkLeave_reject>
    <div class="modal-body text-center">
        <p>Kindly provide reason(s) for rejecting application.</p>
        <textarea id="w3review" name="w3review" rows="3" cols="50" class="form-control" [(ngModel)]="leaveObj.rejectReason"> </textarea><br>
        <button type="button" class="btn btn-success" [disabled]="!this.validationService.validateNullUndefinedEmptyString(leaveObj.rejectReason)" (click)="cancelRequest();OnBulkLeaveReject(alert_message)">Reject</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest();getAllMyTeamsPendingLeaveApplicationsByManagerId()">No, Cancel</button>&nbsp;
    </div>
  </ng-template>

  <!-- for single rection modal -->
  <ng-template #reject_leave_modal>
    <div class="modal-body text-center">
        <p>Kindly provide reason(s) for rejecting application.</p>
        <textarea id="w3review" name="w3review" rows="3" cols="50" class="form-control" [(ngModel)]="leaveObj.rejectReason"> </textarea><br>
        <button type="button" class="btn btn-success" [disabled]="!this.validationService.validateNullUndefinedEmptyString(leaveObj.rejectReason)" (click)="cancelRequest();onSingleReject(alert_message)">Reject</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest();getAllMyTeamsPendingLeaveApplicationsByManagerId()">No, Cancel</button>&nbsp;
    </div>
  </ng-template>

  <!-- RevokeLeave Reject modal   -->
  <ng-template #reject_revoke_leave>
    <div class="modal-body text-center">
        <p>Kindly provide reason(s) for rejecting application.</p>
        <textarea rows="3" cols="50" class="form-control" [(ngModel)]="leaveObj.rejectReason"> </textarea><br>
        <button type="button" class="btn btn-success" [disabled]="!this.validationService.validateNullUndefinedEmptyString(leaveObj.rejectReason)" (click)="onUpdateRevokeLeaveStatus(alert_message,leaveObj,3)">Reject</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
  </ng-template>