.info-wrapper .info-label{
    font-size: 1.05rem;    
    font-weight: 500;
    margin-bottom: .25rem;
}

.info-wrapper .info-text{
    font-size: .9rem;
    font-weight: 600;
    color: var(--middle-grey);
}

.leave_day{
    margin-top: 1.75rem;
}

.table-header{
    width: 100%;
    height: 50px;
    background: var(--ghost-white);
    margin-bottom: 1em;
    text-overflow: ellipsis;
}

.table-header-title{
    font-size: 2rem;
    padding: .2em;
    margin-bottom: 0;
    color: var(--raisin-black);
}

.my-pagination::ng-deep .ngx-pagination .current {
    background: #193d8a  !important;
}

.my-pagination::ng-deep{
    padding-top: 10px;
}

.balance-table > tbody > tr:last-child { 
    font-weight: bold;
}

.scrollable-table{
    width: 92vw;
    height: 70vh;
} 

.col{
    min-width: 300px;
}

.thead-light th{
    position: sticky;
    top: -0.7px;
}

.info-label{
    width: 300px;
}
.btn{
    margin-bottom: 4px;
}

.wide-col{
    word-wrap: normal;
    min-width: 500px;
}