<div class="row mb-3">
    <div class="col-md-12 px-0">
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.apply_for_leave" [ngClass]="{'active' : isForm && isCreation}" (click)="showCreateForm()">Apply Leave</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_leave_history" [ngClass]="{'active' : isLeaveHistoryTable}" (click)="showLeaveHistoryTable()">View My Leave History</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_leave_balance" [ngClass]="{'active' : isLeaveBalanceTable}" (click)="showLeaveBalanceTable()">View My Leave Balance</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_leave_balance_log" [ngClass]="{'active' : isLeaveLogTable}" (click)="showLeaveLogTable()">View My Leave Balance Log</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isLeaveApplicationsTable}" (click)="showLeaveApplicationsTable()">View My Reportee Leave Applications</button>
    </div>
</div>

<!-- start :: Create & Update Form -->
<div class="row">
    <div class="card col-md-12 px-0" *ngIf="isForm">
        <div class="card-header text-center text-uppercase">
            <strong *ngIf="isCreation">Apply for Leave</strong>
        </div>
        <div class="card-body">
            <!-- <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="d-block info-label"><span class="text-danger">*</span>For User</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="leaveFor" id="forMe" value="me" [(ngModel)]="leaveObj.leaveAppliedFor" >
                                <label class="form-check-label" for="forMe">Me</label>
                            </div>
                            <!-- <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="leaveFor" id="forOther" value="other" [(ngModel)]="leaveObj.leaveAppliedFor">
                                <label class="form-check-label" for="forOther">Other User</label>
                            </div> ->
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Leave Type</label>
                            <select class="form-control" aria-hidden="true" [(ngModel)]="leaveObj.leaveTypeMasterId" (change)="setLeaveTypeCode(leaveObj.leaveTypeMasterId);setPolicyObj(leaveObj.leaveTypeMasterId)">
                                <option selected="selected" value="" disabled>Select</option>
                                <option *ngFor="let leave of leaveTypes" value="{{leave.leaveTypeMasterId}}">{{leave.leaveType}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>From Date</label>
                            <!-- <input id="fromDate" type="date" class="form-control" autocomplete="none" [(ngModel)]="leaveObj.fromDate" (change)="setMinToDate(alert_message);setNoOfDays(alert_message)" > -->
                            <div class="d-flex">
                                <input class="form-control" matInput id="fromDate" [matDatepicker]="fromDatePicker"  [matDatepickerFilter]="fromDateFilter" placeholder="Choose a from date" [(ngModel)]="leaveObj.fromDate" (dateChange)="setNoOfDays(alert_message)" (keydown)="disableMannualDateInput()">
                                <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                            </div>
                            <mat-datepicker [dateClass]="holidayHighlight" #fromDatePicker ></mat-datepicker>
                        </div>
                    </div>
                </div>
                <div class="offset-md-2 col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group leave_day">
                            <select class="form-control" aria-hidden="true" [(ngModel)]="leaveObj.fromDateDayType" (change)="setNoOfDays(alert_message)">
                                <option selected="selected" value="" disabled>Select</option>
                                <option value=0.5>Half Day</option>
                                <option value=0 selected>Full Day</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>To Date</label>
                            <!-- <input id="toDate" type="date" class="form-control" autocomplete="none" [(ngModel)]="leaveObj.toDate" (change)="setNoOfDays(alert_message)"> -->
                            <div class="d-flex">
                                <input class="form-control" matInput id="toDate" [matDatepicker]="toDatePicker" [matDatepickerFilter]="toDateFilter" placeholder="Choose a to date" [(ngModel)]="leaveObj.toDate" (dateChange)="setNoOfDays(alert_message)" (keydown)="disableMannualDateInput()">
                                <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                            </div>
                            <mat-datepicker [dateClass]="holidayHighlight" #toDatePicker ></mat-datepicker>
                        </div>
                    </div>
                </div>
                <div class="offset-md-2 col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group leave_day">
                            <select class="form-control" aria-hidden="true" [(ngModel)]="leaveObj.toDateDayType" (change)="setNoOfDays(alert_message)">
                                <option selected="selected" value="" disabled>Select</option>
                                <<option value=0.5>Half Day</option>
                                <option value=0 selected>Full Day</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label">No.of Days</label>
                            <input type="text" class="form-control" autocomplete="none" disabled [(ngModel)]="leaveObj.noOfDays">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Reason</label>
                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="leaveObj.reason">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button *ngIf="isCreation && userMapping.apply_for_leave" type="submit" class="btn btn-primary btn-sm mx-1" (click)="onApplyLeave(alert_message)">Apply Leave</button>
                </div>
            </div>
    </div>
</div>
</div>
<!-- end :: create & update form -->

<!-- start :: Leave History Table -->
<div class="row col-md-12" *ngIf="isLeaveHistoryTable">
    <div class="table-header">
        <h1 class="table-header-title">My Leave History</h1>
    </div>
    <table class="table history-table" id="history-table">
        <thead class="thead-light text-center">
          <tr>
            <th scope="col" class="info-label">Sr No.</th>
            <th scope="col" class="info-label">Leave Type</th>
            <th scope="col" class="info-label">From Date</th>
            <th scope="col" class="info-label">To Date</th>
            <th scope="col" class="info-label">Duration</th>
            <th scope="col" class="info-label">Status</th>
            <th scope="col" class="info-label">Applied By</th>
            <th scope="col" class="info-label">Applied On</th>
            <th scope="col" class="info-label">Reason</th>
            <!-- <th scope="col" class="info-label">Comments</th> -->
          </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngIf="leaveHistoryList.length == 0">
                <th colspan="8" class="text-center info-label">No details to display...</th>
            </tr>
            <tr *ngFor="let leaveHistory of leaveHistoryList | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
                <td>{{i+1}}</td>
                <td>{{leaveHistory.leaveType}}</td>
                <td>{{leaveHistory.fromDate}}</td>
                <td>{{leaveHistory.toDate}}</td>
                <td>{{leaveHistory.noOfDays}} day(s)</td>
                <td>{{leaveHistory.status}}</td>
                <td>{{leaveHistory.createdByName}}</td>
                <td>{{leaveHistory.createdOn}}</td>
                <td>{{leaveHistory.reason}}</td>
                <!-- <td>{{leaveHistory.description}}</td> -->
            </tr>
        </tbody>
      </table>   
      <pagination-controls class="my-pagination" [hidden]="leaveHistoryList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls> 
      <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2" [hidden]="leaveHistoryList.length == 0" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button>     
</div>
<!-- end :: Leave History table -->

<!-- start :: Leave Applications Table -->
<div class="row col-md-12" *ngIf="isLeaveApplicationsTable">
    <div class="table-header">
        <h1 class="table-header-title">My Reportee Leave Applications</h1>
    </div>
    <table class="table leaveApplication-table" id="leaveApplication-table">
        <thead class="thead-light text-center">
          <tr>
            <th scope="col" class="info-label">Sr No.</th>
            <th scope="col" class="info-label">Leave Type</th>
            <th scope="col" class="info-label">From Date</th>
            <th scope="col" class="info-label">To Date</th>
            <th scope="col" class="info-label">Duration</th>
            <th scope="col" class="info-label">Status</th>
            <th scope="col" class="info-label">Applied By</th>
            <th scope="col" class="info-label">Applied On</th>
            <th scope="col" class="info-label">Reason</th>
            <!-- <th scope="col" class="info-label">Comments</th> -->
            <th scope="col" class="info-label">Actions</th>
          </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngIf="leaveApplicationList.length == 0">
                <th colspan="8" class="text-center info-label">No details to display...</th>
            </tr>
            <tr *ngFor="let leaveApplication of leaveApplicationList | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
                <td>{{i+1}}</td>
                <td>{{leaveApplication.leaveType}}</td>
                <td>{{leaveApplication.fromDate}}</td>
                <td>{{leaveApplication.toDate}}</td>
                <td>{{leaveApplication.noOfDays}} day(s)</td>
                <td>{{leaveApplication.status}}</td>
                <td>{{leaveApplication.createdByName}}</td>
                <td>{{leaveApplication.createdOn}}</td>
                <td>{{leaveApplication.reason}}</td>
                <!-- <td>{{leaveApplication.description}}</td> -->
                <td>
                    <button class="btn btn-sm btn-outline-success" type="submit" (click)="onUpdateLeaveStatus(alert_message, leaveApplication, 2)" title="Approve"><em class="fa-solid fa-check"></em></button>&nbsp;
                    <button class="btn btn-sm btn-outline-danger" type="submit" (click)="onUpdateLeaveStatus(alert_message, leaveApplication, 3)" title="Reject"><em class="fa-solid fa-xmark"></em></button>
                </td>
            </tr>
        </tbody>
      </table>   
      <pagination-controls class="my-pagination" [hidden]="leaveApplicationList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls> 
      <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2" [hidden]="leaveApplicationList.length == 0" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button>  
</div>
<!-- end :: Leave Applications table -->

<!-- start :: Leave Balance Table -->
<div class="row col-md-12" *ngIf="isLeaveBalanceTable">
    <div class="table-header">
        <h1 class="table-header-title">My Leave Balances</h1>
    </div>
    <table class="table balance-table">
        <thead class="thead-light text-center">
          <tr>
            <th scope="col" class="info-label">Leave Type</th>
            <th scope="col" class="info-label">Balance</th>
            <th scope="col" class="info-label">Leaves Pending for Approval</th>
            <th scope="col" class="info-label">Effective Leave Balance</th>
          </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngIf="leaveBalanceList.length == 0">
                <th colspan="8" class="text-center info-label">No details to display...</th>
            </tr>
            <tr *ngFor="let leaveType of leaveBalanceList | paginate: { itemsPerPage: 10, currentPage: page }">
                <td>{{leaveType.leaveType}}</td>
                <td>{{leaveType.totalLeaveBalance}} days(s)</td>
                <td>{{leaveType.pendingForApproval}} day(s)</td>
                <td>{{leaveType.balance}} day(s)</td>
            </tr>
        </tbody>
      </table>      
      <!-- <button type="button" class="btn btn-outline-primary btn-sm" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button> -->
      <pagination-controls class="my-pagination" [hidden]="leaveBalanceList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls>
</div>
<!-- end :: Leave Balance table -->

<!-- start :: Leave log Table -->
<div class="row col-md-12" *ngIf="isLeaveLogTable">
    <div class="table-header">
        <h1 class="table-header-title">My Leave Logs</h1>
    </div>
    <table class="table log-table">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="info-label">Sr. No</th>
            <th scope="col" class="info-label">Leave Types</th>
            <th scope="col" class="info-label">Change</th>
            <th scope="col" class="info-label">Balance</th>
            <th scope="col" class="info-label">Message</th>
            <th scope="col" class="info-label">Updated On</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngIf="leaveLogList.length == 0">
                <th colspan="8" class="text-center info-label">No details to display...</th>
            </tr>
            <tr *ngFor="let log of leaveLogList | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
                <td>{{log.rowNumber}}</td>
                <td>{{log.leaveType}}</td>
                <td>{{log.updateBalanceBy}}</td>
                <td>{{log.balance}}</td>
                <td>{{log.message}}</td>
                <td>{{log.createdOn}}</td>
            </tr>
        </tbody>
      </table>   
      <pagination-controls class="my-pagination" [hidden]="leaveLogList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls>
</div>
<!-- end :: Leave log table -->

<!-- Modals Template -->
<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>