<div class="dt-wrapper">

  <label class="dt-label" style="font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.85rem;
    margin-bottom: 4px;">
    <span *ngIf="required" class="text-danger">*</span>
    {{ label }}
  </label>

  <!-- DATE -->
  <input
    *ngIf="mode === 'date'"
    type="date"
    class="form-control"
    [(ngModel)]="modelValue"
    [disabled]="disabled"
    (ngModelChange)="onModelChange($event)"
  />

  <input
    *ngIf="mode === 'time'"
    type="time"
    class="form-control"
    [(ngModel)]="modelValue"
    [disabled]="disabled"
    (ngModelChange)="onModelChange($event)"
  />

  <input
    *ngIf="mode === 'datetime'"
    type="datetime-local"
    class="form-control"
    [(ngModel)]="modelValue"
    [disabled]="disabled"
    (ngModelChange)="onModelChange($event)"
  />

  <button
    *ngIf="modelValue && !disabled"
    type="button"
    class="btn btn-sm btn-link text-danger"
    (click)="clearValue()">
    ✖
  </button>

</div>
