.dt-wrapper {
  position: relative;
  margin-bottom: 0.75rem;
}

.dt-label {
  display: block; /* 🔥 THIS is critical */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  margin-bottom: 2px;
}

.dt-wrapper .form-control {
  height: 38px;
}

.dt-clear-btn {
  position: absolute;
  right: 8px;
  top: 32px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}
