.calendar-days {
    width: 150px;
    height: 50px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 3px;
    position: relative;

    cursor: pointer;
}

.calendar-days.weekend {
    background-color: rgb(245, 245, 245);
}

.calendar-days.previous-month,
.calendar-days.next-month {
    color: grey;
    background-color:#eee;
    cursor: not-allowed;
    pointer-events: none;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
}

.flex-center {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}


.hours {
    position: absolute;
    bottom: -2;
    right: 0;
}  

.legends-color{
    width: 10px;
    height: 10px;
    border-radius: 50%;

    display: inline-block;
    border: 0.2px solid #000;
}

.bg-white{
    background-color: #fff;
}

.bg-yellow{
    background-color: #FFFF00;
}

.bg-green{
    background-color: #00ff00;
}

.bg-red{
    background-color: #DC143C;
}