/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "~ng-pick-datetime/assets/style/picker.min.css";

:root{

    --pacific-blue: #00a8b8ff;
    --cultured: #f4f2f3ff;
    --ghost-white: #eef2fcff;
    --raisin-black: #212227ff;
    --dark-red: #960200ff;
    --royal-blue-dark: #132b67ff;
    --dark-cornflower-blue: #193d8aff;
    --middle-grey: #857c6fff;
    --blue-gradient: linear-gradient(to left, #0575e6, #021b79);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background: var(--ghost-white);
}

img{
    max-width: 100%;
    display: block;
}

/* Overriding bootstrap css */
.btn.btn-outline-primary{
    border-color: var(--dark-cornflower-blue);
    color: var(--dark-cornflower-blue);
}

.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:active,
.btn-outline-primary:not(:disabled):not(.disabled).active {
    border-color: var(--dark-cornflower-blue);
    background-color: var(--dark-cornflower-blue);
    color: var(--cultured);
}

.btn.btn-primary{
    border-color: var(--dark-cornflower-blue);
    background-color: var(--dark-cornflower-blue);
    color: var(--cultured);
}

.badge-primary{
    background-color: var(--dark-cornflower-blue);
    color: var(--cultured);
}

/* overriding html default css */

/* up-down arrows removed for input:number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.holiday-date{
    background: #90EE90;
    border-radius: 100%;
}

/* Overriding mat-search */
.ngx-mat-select-search-box-input{
    width: 100% !important;
}



/** Team Org Chart **/
.ngx-org-image {
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    background-color: white;
    border-radius: 50%;
    padding: 0.25em;
}

.ngx-org-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ngx-org-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.ngx-org-horizontal {
    padding: 1em 0;
}


.ngx-org-vertical {
    padding: 0 1em;
}


.ngx-org-border {
    border: 1px solid darkgrey;
}


.ngx-org-box {
    padding: 0.5em 1em;
    border-radius: .2em;
    box-shadow: 0.05em 0.05em 0.2em 0.05em #0000002b;
}


.ngx-org-connector-horizontal {
    width: 1em;
  }

.ngx-org-connector-vertical {
    height: 1em;
}

.ngx-org-name{
    font-weight: bold;
}

/* .ngx-org-name{
    font-weight: bold;
    font-size: 0.8rem;
}

.ngx-org-title{
    font-size: 0.65rem;
} */


/* EXTRA STYLES */
.ngx-org-box.Self{
    background-color: var(--dark-cornflower-blue);
    color: var(--cultured);
}

.ngx-org-reports{
    max-width: 100%;
    overflow: auto;
}

.picker{
    z-index: 1000 !important;
}

/* PREVENT SCROLLS ON MODAL */
body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

body.viewport-lg {
    position: absolute;
}

body {
    overflow-x: hidden;
    overflow-y: auto !important;
}

/* Overriding mat dropdown z-index for bt-Modal*/
.cdk-overlay-container{
    z-index: 1051 !important;
}


/* Removing Carent from Static Input Tags */
.static-input{
    caret-color: transparent;
}

/* search toggle styles */
.selector-toggle{
    position: relative;
}

.selector-toggle a{
    display: block;
    cursor: pointer;
    /* position: absolute; */
    left: -27px;
    top: 0px;
    z-index: 3;
    width: 27px;
    height: 27px;
    border-right: 0;
    /* border-radius: 50% 0 0 50%; */
    text-align: center;
    color: #fff;
    background: #193d8a;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    padding: 4px 0px;
}

.excel-button:focus {
    outline: none;
    box-shadow: none;
}

.primary-pill{
    background-color: var(--dark-cornflower-blue);
    color: white;
}
