<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li id="employee-info" class="breadcrumb-item" routerLink="employee-info" routerLinkActive="active">Employee Information</li>
        <li id="document-upload" class="breadcrumb-item" routerLink="document-upload" routerLinkActive="active">Document Upload</li>
        <li id="info-preview" class="breadcrumb-item" routerLink="info-preview" routerLinkActive="active">Preview</li>
    </ol>
</nav>
<div class="container-fluid px-4">
    <router-outlet></router-outlet>
</div>

