
.table-container {
     
    overflow-x: auto;   
    overflow-y: auto;   
  }
  
  table {
    width: 100%;
    min-width: 800px;   
    table-layout: fixed; 
  }
  
.overflow-auto {
    position: relative;
    max-height: 500px; /* Set a max height for the scrollable area */
    overflow-y: auto;
}

.thead-light{
    position: sticky;
    top: 0.7;
    z-index: 100;
    background: var(--ghost-white);
}

.export-button{
  position:absolute;
  right: 0%;
  top:-25px;
}
