<!-- start :: Create & Update Team -->
<div class="row">
    <div class="card col-md-12 px-0">
        <div class="card-header text-center text-uppercase">
            <strong>Create New Request</strong>
            <!-- <strong *ngIf="isUpdation">Update Timesheet</strong> -->
        </div>
        <div class="card-body">
            <div class="row">
                
                <div class="col-md-3">
                    <label class="info-label">
                        <span class="text-danger">*</span>Full Name
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.name" name="fullName" disabled required />
                </div>
            
                <div class="col-md-3 mb-0">
                    <label class="info-label">
                        <span class="text-danger">*</span>Employee Id
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.employeementId" name="employeeId" disabled required />
                </div>

                <div class="col-md-3 mb-0">
                    <label class="info-label">
                        <span class="text-danger">*</span>Department
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.departmentName" name="departmentName" disabled required />
                </div>
            
                <div class="col-md-3 mb-0">
                    <label class="info-label">
                        <span class="text-danger">*</span>Designation
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.designationName" name="designationName" disabled required />
                </div>
            
                <div class="col-md-3 mb-0">
                    <label class="info-label">
                        <span class="text-danger">*</span>Mail Id
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.email" name="email" disabled required />
                </div>

                <div class="col-md-3 mb-0">
                    <label class="info-label">
                        <span class="text-danger">*</span>Mobile No
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.mobileNo" name="mobileNo" disabled required />
                </div>

                <div class="col-md-3 mb-0">
                    <label class="info-label">
                        <span class="text-danger">*</span>Manager Name
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="currentEmployeeInfo.managerName" name="managerName" disabled required />
                </div>

                <div class="col-md-3 mb-0">
                    <label class="info-label"><span class="text-danger">*</span>Associated Travel Request</label>
                    <select class="form-control" [(ngModel)]="travelDeskObj.associatedTravelRequest" name="associatedTravelRequest" required>
                        <option value="" disabled>Select</option>
                        <option value="Attend Client Interview">Attend Client Interview</option>
                        <option value="Client Visit">Client Visit</option>
                        <option value="Office Tour">Office Tour</option>
                    </select>
                </div>

                <div class="col-md-3 mb-0">
                    <label class="info-label"><span class="text-danger">*</span>Travel Mode</label>
                    <select class="form-control" [(ngModel)]="travelDeskObj.travelMode" name="travelMode" required>
                        <option value="" disabled>Select</option>
                        <option value="Flight">Flight</option>
                        <option value="Train">Train</option>
                        <option value="Bus">Bus</option>
                        <option value="CAB">CAB</option>
                    </select>
                </div>

                <div class="col-md-3 mb-0">
                    <label class="info-label"><span class="text-danger">*</span>Travel Class</label>
                    <select class="form-control" [(ngModel)]="travelDeskObj.travelClass" name="travelClass" required>
                        <option value="" disabled>Select</option>
                        <option value="First Class">First Class</option>
                        <option value="Second Class">Second Class</option>
                        <option value="Third Class">Third Class</option>
                        <option value="Business Class">Business Class</option>
                    </select>
                </div>

                <div class="col-md-3 mb-0">
                    <label class="info-label">
                        <span class="text-danger">*</span>From Location
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="travelDeskObj.fromLocation" name="fromLocation"  required />
                </div>

                <div class="col-md-3 mb-0">
                    <label class="info-label">
                        <span class="text-danger">*</span>To Location
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="travelDeskObj.toLocation" name="toLocation"  required />
                </div>

                <div class="col-md-3 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>From Date</label>
                            <input class="form-control" [(ngModel)]="travelDeskObj.fromDate" id="fromDate" type="date" 
                                [min]="todayDate" placeholder="Choose from date" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>To Date</label>
                            <input class="form-control" [(ngModel)]="travelDeskObj.toDate" id="toDate" type="date" [min]="travelDeskObj.fromDate" placeholder="Choose to date" autocomplete="off">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label for="purposeOfTravel"><span class="text-danger">*</span>Purpose of Travel</label>
                            <textarea class="form-control" id="purposeOfTravel" rows="3"
                                [(ngModel)]="travelDeskObj.purposeOfTravel" name="purposeOfTravel"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label for="fileUpload" class="info-label">Supporting Document</label>
                            <input type="file" id="fileUpload" class="form-control" (change)="onFileChange($event)" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mb-3">
                <div class="col-md-12 px-0 text-center">
                    <!-- Reset and Submit buttons -->
                    <button type="button" class="btn btn-secondary btn-lg mx-1" (click)="resetForm()">Reset</button>
                    <button type="button" class="btn btn-primary btn-lg mx-1" (click)="submitForm()">Submit</button>
                </div> 
            </div>
         
        </div>
    </div>
</div>
<!-- end :: create & update Team -->
