<div class="row mb-3">
    <div class="col-md-12 px-0">
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" >Timesheet Reject Reasons</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" >Timesheet Reject Reasons</button>
        <!-- <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="(userMapping.manage_employee_leave_balance) && !isHolidayForm && !isLeaveTypeForm && !isLeavePolicyForm" [ngClass]="{'active' : isLeaveBalanceForm}" (click)="showLeaveBalanceForm()">Manage Employee Leave Balance</button> -->
    </div>
</div>