<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" [ngClass]="getNavClass()" *ngIf="currentUser">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-user"></i>&nbsp;{{currentUser.name}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown">
              <!-- <a class="dropdown-item" href="#"><i class="fa-solid fa-cog"></i>&nbsp;Settings</a> -->
              <!-- <a class="dropdown-item" data-toggle="modal" data-target="#chanePasswordModal"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Change Password</a> -->
              <a class="dropdown-item" (click)="openChangePassword(change_password)"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Change Password</a>
              <a class="dropdown-item" (click)="userLogout()"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Logout</a>
            </div>
          </li>
        </ul>
      </div>
</nav>


<ng-template #change_password>
  <div class="modal-body text-center">
      <h4>Change Password</h4>
      <div *ngIf="isError">
        <p class="form-text text-danger">{{errorMsg}}</p>
      </div>

      <div class="form-group">
        <label for="newPass" class="sr-only">Old Password</label>
        <div class="d-flex pt-3">
            <input class="form-control" [type]="fieldTextTypeOldPass ? 'text' : 'password'" id="oldPass"
            placeholder="Enter Old Password" (blur)="checkEmployeeOldPassword()" [(ngModel)]="password" autocomplete="off"/>
            <span class="btn" id="passwordEye" (click)="toggleFieldTextTypeOldPass()">
                <em class="fa" [ngClass]="{'fa-eye-slash': !fieldTextTypeOldPass,'fa-eye': fieldTextTypeOldPass}"></em>
            </span>
        </div>
    </div>
      <div class="form-group">
          <label for="newPass" class="sr-only">New Password</label>
          <div class="d-flex">
              <input class="form-control" [disabled]="!oldPasswordValid" [type]="fieldTextType ? 'text' : 'password'" id="newPass"
              placeholder="Enter New Password" [(ngModel)]="userNewPass" autocomplete="off"/>
              <span class="btn" id="passwordEye" (click)="toggleFieldTextType()">
                  <em class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"></em>
              </span>
          </div>
      </div>
      <div class="form-group">
          <label for="confirmPass" class="sr-only">Confirm New Password</label>
          <div class="d-flex">
              <input class="form-control" [disabled]="!oldPasswordValid" [type]="fieldTextTypePassword ? 'text' : 'password'" id="confirmPass"
              placeholder="Confirm New Password" [(ngModel)]="newpassword" autocomplete="off"/>
              <span class="btn" id="passwordEye" (click)="toggleFieldChangePassword()">
                  <em class="fa" [ngClass]="{'fa-eye-slash': !fieldTextTypePassword,'fa-eye': fieldTextTypePassword}"></em>
              </span>
          </div>
      </div>

      <button type="button" class="btn btn-outline-primary btn-sm" (click)="cancelRequest()">Close</button>&nbsp;
      <button type="button" class="btn btn-outline-primary btn-sm" [disabled]="!oldPasswordValid" (click)="updateEmployeePassword(alert_message)">Submit</button>&nbsp;
  </div>
</ng-template>


<!-- Change password Modal -->
<!-- <div class="modal fade" id="chanePasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="container">

          <div class="modal-header border-0 mb-2">
              <h4 class="modal-title text-center w-100">Change Password</h4> -->
               <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            <!-- </div>
            <div *ngIf="isError" class="auth__error text-center">
              <p class="form-text text-danger auth__error__msg">{{errorMsg}}</p>
          </div>

          <div class="form-group">
            <label for="newPass" class="sr-only">Old Password</label>
            <div class="d-flex">
                <input class="form-control" [type]="fieldTextTypeOldPass ? 'text' : 'password'" id="oldPass"
                placeholder="Enter Old Password" (blur)="checkEmployeeOldPassword()" [(ngModel)]="password" autocomplete="off"/>
                <span class="btn" id="passwordEye" (click)="toggleFieldTextTypeOldPass()">
                    <em class="fa" [ngClass]="{'fa-eye-slash': !fieldTextTypeOldPass,'fa-eye': fieldTextTypeOldPass}"></em>
                </span>
            </div>
        </div>
          <div class="form-group">
              <label for="newPass" class="sr-only">New Password</label>
              <div class="d-flex">
                  <input class="form-control" [type]="fieldTextType ? 'text' : 'password'" id="newPass"
                  placeholder="Enter New Password" [(ngModel)]="userNewPass" autocomplete="off"/>
                  <span class="btn" id="passwordEye" (click)="toggleFieldTextType()">
                      <em class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"></em>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label for="confirmPass" class="sr-only">Confirm New Password</label>
              <div class="d-flex">
                  <input class="form-control" [type]="fieldTextTypePassword ? 'text' : 'password'" id="confirmPass"
                  placeholder="Confirm New Password" [(ngModel)]="newpassword" autocomplete="off"/>
                  <span class="btn" id="passwordEye" (click)="toggleFieldChangePassword()">
                      <em class="fa" [ngClass]="{'fa-eye-slash': !fieldTextTypePassword,'fa-eye': fieldTextTypePassword}"></em>
                  </span>
              </div>
          </div>  

          <div class="modal-footer border-0">
              <button type="button" class="btn btn-outline-primary btn-sm mx-1" data-dismiss="modal">Close</button>
              <button class="btn btn-outline-primary btn-sm mx-1" type="submit" (click)="updateEmployeePassword()" [disabled]="!oldPasswordValid">Submit</button>
          </div>
      </div>
    </div>
  </div>
</div> -->

<ng-template #alert_message>
  <div class="modal-body text-center">
      <p>{{alertMessage}}</p>
      <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
  </div>
</ng-template>

<div class="body" [ngClass]="getBodyClass()">
    <router-outlet></router-outlet>
</div>

