<div class="container-fluid" style="margin-top: 60px;">
    <div class="row">
        <div class="card col-md-12 px-0">
            <h5 class="card-name">Team Member Timesheet Info</h5>
            <div class="row">
                <div class="col-md-12 mt-2">
                    <div *ngIf = "teamMemberList != null" class="overflow-auto" bassHorizontalScroll [tableId]="'projectInfo'"
                        [tableTHeadId]="'projectInfoTHead'" [tableTHeadTrId]="'projectInfoTHeadTr'">
                        <table class="table" id="projectInfo" matSort (matSortChange)="sortData($event)">
                            <thead class="thead-light" id="projectInfoTHead">
                                <tr id="projectInfoTHeadTr">
  <th scope="col" class="info-label">Sr No.</th>
  <th scope="col" class="info-label" mat-sort-header="teamName">Team Name</th>
  <th scope="col" class="info-label" mat-sort-header="spoc">SPOC</th>
  <th scope="col" class="info-label" mat-sort-header="teamLeadName">Team Lead Name</th>
  <th scope="col" class="info-label" mat-sort-header="employmentId">Employment ID</th>
  <th scope="col" class="info-label" mat-sort-header="employeeName">Team Member</th>
  <th scope="col" class="info-label" mat-sort-header="billableType">Billable Type</th>
  <th scope="col" class="info-label" mat-sort-header="startDate">Start Date</th>
  <th scope="col" class="info-label" mat-sort-header="employeeRole">Employee Role</th>
  <th scope="col" class="info-label" mat-sort-header="email">Email</th>
  <th scope="col" class="info-label" mat-sort-header="mobileNo">Mobile No</th>
  <th scope="col" class="info-label" mat-sort-header="date">Date</th>
  <th scope="col" class="info-label" mat-sort-header="apmosysInTime">Apmosys In</th>
  <th scope="col" class="info-label" mat-sort-header="apmosysOutTime">Apmosys Out</th>
  <th scope="col" class="info-label" mat-sort-header="clientInTime">Client In</th>
  <th scope="col" class="info-label" mat-sort-header="clientOutTime">Client Out</th>
  <th scope="col" class="info-label" mat-sort-header="expectedTimesheetFilledCount">Expected Timesheet</th>
  <th scope="col" class="info-label" mat-sort-header="apmosysTimesheetFilledCount">Apmosys Filled</th>
  <th scope="col" class="info-label" mat-sort-header="clientSideAttendancePendingCount">Client Pending</th>
  <th scope="col" class="info-label" mat-sort-header="clientSideAttendanceApprovedCount">Client Approved</th>
  <th scope="col" class="info-label">Actions</th>
</tr>

                                <!-- <tr app-column-filter-bar *ngIf="isSearchEnabled" [columnList]="employeesColumns"
                                [class.blue-bg]="isSearchEnabled" (onSearch)="onSearch($event);page=1"></tr> -->
                            </thead>
                            <tbody>
                                <tr
                                    *ngIf="teamMemberList?.length === 0 || (teamMemberList | colFilter:filters:false).length == 0">
                                    <td colspan="9" class="text-center info-label">No details to display...</td>
                                </tr>

                                <ng-container
                                    *ngFor="let team of teamMemberList | colFilter:filters:false | sort : [sortColumn, sortColumnType, sortDirection] | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
                                    <ng-container
                                        *ngIf="team.teamMemberDetails && team.teamMemberDetails.length > 0">
                                        <ng-container *ngFor="let member of team.teamMemberDetails; let j = index">
                                            <tr>
                                                <!-- These cells span only once per team -->
                                                <td *ngIf="j === 0" [attr.rowspan]="team.teamMemberDetails.length">
                                                    {{ i + 1 }}</td>
                                                <td *ngIf="j === 0" [attr.rowspan]="team.teamMemberDetails.length">
                                                    {{ team.spoc ? team.spoc : 'NA' }}
                                                </td>
                                                <td *ngIf="j === 0" [attr.rowspan]="team.teamMemberDetails.length">
                                                    {{ team.teamLeadName ? team.teamLeadName : 'NA' }}
                                                </td>
                                                <td *ngIf="j === 0" [attr.rowspan]="team.teamMemberDetails.length">
                                                    {{ team.teamName }}
                                                </td>
                                                <td>{{ member.employmentId || 'N/A' }}</td>
                                                <!-- These cells are specific to each member -->
                                                <td>
                                                    <span [navigateToEmployee360]="member.emp360"
                                                        style="cursor: pointer; color: rgb(7, 124, 170);"
                                                        title="Click to view Employee 360">
                                                        {{ member.employeeName }}
                                                    </span>
                                                </td>
                                                <td>{{ member.billableType || 'N/A' }}</td>
                                                <td>{{ member.startDate | date:'dd-MM-yyyy' }}</td>
                                                <td>{{ member.employeeRole }}</td>
                                                <td>{{ member.email || 'N/A' }}</td>
                                                <td>{{ member.mobileNo || 'N/A' }}</td>
                                                <td>{{ member.date ? (member.date | date:'dd-MM-yyyy HH:mm:ss') : 'N/A' }}</td>
                                                <td>{{ member.apmosysInTime ? (member.apmosysInTime | date:'dd-MM-yyyy HH:mm:ss') : 'N/A' }}</td>
                                                <td>{{ member.apmosysOutTime ? (member.apmosysOutTime | date:'dd-MM-yyyy HH:mm:ss') : 'N/A' }}</td>
                                                <td>{{ member.clientInTime ? (member.clientInTime | date:'dd-MM-yyyy HH:mm:ss') : 'N/A' }}</td>
                                                <td>{{ member.clientOutTime ? (member.clientOutTime | date:'dd-MM-yyyy HH:mm:ss') : 'N/A' }}</td>
                                                <td>{{ member.expectedTimesheetFilledCount ?? 'N/A' }}</td>
                                                <td>{{ member.apmosysTimesheetFilledCount ?? 'N/A' }}</td>
                                                <td>{{ member.clientSideAttendancePendingCount ?? 'N/A' }}</td>
                                                <td>{{ member.clientSideAttendanceApprovedCount ?? 'N/A' }}</td>
                                                <td>

                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>

                                <pagination-controls class="my-pagination" [hidden]="teamMemberList.length == 0"
                                    (pageChange)="handlePageChange($event)">
                                </pagination-controls>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>