<!-- start :: holidays Table -->
<div class="row col-md-12">
    <table class="table holidays-table">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="info-label">Sr. No</th>
            <th scope="col" class="info-label">Occasion</th>
            <th scope="col" class="info-label">Day</th>
            <th scope="col" class="info-label">Date</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Republic Day</td>
                <td>Wednesday</td>
                <td>Jan 26, 2022</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Independence Day</td>
                <td>Monday</td>
                <td>Aug 15, 2022</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Gandhi jayanti</td>
                <td>Sunday</td>
                <td>Oct 02, 2022</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Chirstmas</td>
                <td>Sunday</td>
                <td>Dec 25, 2022</td>
            </tr>
        </tbody>
      </table>   
</div>
<!-- end :: holidays table -->