<!-- start :: holidays Table -->
<div class="row col-md-12">
    <table class="table holidays-table">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="info-label">Sr. No</th>
            <th scope="col" class="info-label">Occasion</th>
            <th scope="col" class="info-label">Day</th>
            <th scope="col" class="info-label">Date</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let holiday of holidayList; let i = index">
                <td>{{i+1}}</td>
                <td>{{holiday.occasion}}</td>
                <td>{{holiday.dayOfTheWeek}}</td>
                <td>{{holiday.dateOfHoliday}}</td>
            </tr>
        </tbody>
      </table>   
</div>
<!-- end :: holidays table -->