.report__tab-container{
    padding: 2rem;
}

.report__tab-item__link{
    color: var(--middle-grey);
}

.report__tab-item__link.active{
    color: var(--raisin-black);
    font-weight: bold;
    border-bottom: 5px solid var(--dark-cornflower-blue);
}
.box {
    border: 2px solid #007bff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .branch {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  