<h3 class="pl-3">Welcome, Surya Nayak</h3>
<div class="container-fluid">
    <div class="row card user-card">
        <div class="d-flex justify-content-between">
            <div class="col-md-4 user-card__profile-avatar">
                <img src="https://images.pexels.com/photos/1310522/pexels-photo-1310522.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="user-card__profile-avatar__img" alt="Avatar" />
            </div>
            <div class = "vertical-rule"></div>
            <div class="col-md-8 user-card__profile-info">
                <h2 class="user-card__profile-info__name mb-0">Surya Nayak</h2>
                <span class="user-card__profile-info__role">HR Business Partner</span>
                <div class="row user-card__profile-info__container mt-4">
                    <div class="col-md-3 user-card__profile-info__container-blocks">
                        <p class="user-card__profile-info__label">Employee ID</p>
                        <p class="user-card__profile-info__text">1028</p>
                    </div>
                    <div class="col-md-4 user-card__profile-info__container-blocks">
                        <p class="user-card__profile-info__label">Email ID</p>
                        <p class="user-card__profile-info__text info-highlight">surya.nayak@apmosys.com</p>
                    </div>
                    <div class="col-md-2 user-card__profile-info__container-blocks">
                        <p class="user-card__profile-info__label">Contact No.</p>
                        <p class="user-card__profile-info__text info-highlight">8565499830</p>
                    </div>
                    <div class="col-md-3 user-card__profile-info__container-blocks">
                        <p class="user-card__profile-info__label">Employee Status</p>
                        <p class="user-card__profile-info__text">Confirmed</p>
                    </div>
                    <div class="col-md-3 user-card__profile-info__container-blocks">
                        <p class="user-card__profile-info__label">Team</p>
                        <p class="user-card__profile-info__text">Admin, HR Manager</p>
                    </div>
                    <div class="col-md-3 user-card__profile-info__container-blocks">
                        <p class="user-card__profile-info__label">Reports To</p>
                        <p class="user-card__profile-info__text info-highlight">Alap Jog</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row card">
        <ul class="nav nav-tabs user-info__tabs" id="userTab" role="tablist">
            <li class="nav-item user-info__tab-item">
              <a class="nav-link user-info__tab-item__link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="home" aria-selected="true">Employee Details</a>
            </li>
            <li class="nav-item user-info__tab-item">
              <a class="nav-link user-info__tab-item__link" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
            </li>
            <li class="nav-item user-info__tab-item">
                <a class="nav-link user-info__tab-item__link" id="payroll-tab" data-toggle="tab" href="#payroll" role="tab"
                    aria-controls="profile" aria-selected="false">Payroll</a>
            </li>
            <li class="nav-item user-info__tab-item">
                <a class="nav-link user-info__tab-item__link" id="goalsheet-tab" data-toggle="tab" href="#goalsheet" role="tab"
                    aria-controls="profile" aria-selected="false">Goalsheet</a>
            </li>
            <li class="nav-item user-info__tab-item">
                <a class="nav-link user-info__tab-item__link" id="activities-tab" data-toggle="tab" href="#activities" role="tab"
                    aria-controls="profile" aria-selected="false">Activities</a>
            </li>
          </ul>



          <!-- tab Containers -->
          <div class="tab-content" id="userTabContent">
            <div class="tab-pane fade show active user-info__tab-container" id="details" role="tabpanel" aria-labelledby="details-tab">
                <app-accordion>
                    <app-accordion-item class="acc-content" title="Basic Information">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Your views on our Organisation</p>
                                        <p class="info-text">Excellent workplace with cool colleagues</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Gender</p>
                                        <p class="info-text info-highlight">Male</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Date of birth</p>
                                        <p class="info-text">07-07-1964</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">About me</p>
                                        <p class="info-text">Amazing person</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Employee code</p>
                                        <p class="info-text info-highlight">2138</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Blood group</p>
                                        <p class="info-text">O+</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>
            
                    <app-accordion-item class="acc-content" title="Personal Information">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Father's Name</p>
                                        <p class="info-text">Dinesh</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Place of Birth</p>
                                        <p class="info-text">Mumbai</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Mother Tongue</p>
                                        <p class="info-text">Marathi</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Martial Status</p>
                                        <p class="info-text">Single</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Passport Number</p>
                                        <p class="info-text">K25252138</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Aadhar Number</p>
                                        <p class="info-text">5867-9567-9785</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">PAN Number</p>
                                        <p class="info-text">DUHTU5867BH</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>

                    <app-accordion-item class="acc-content" title="Contact Information">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Mobile No.</p>
                                        <p class="info-text">8654956512</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Landline No.</p>
                                        <p class="info-text">022-25652985</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Address</p>
                                        <p class="info-text">42 JSD Road</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">State</p>
                                        <p class="info-text">Maharastra</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">City/Town</p>
                                        <p class="info-text info-highlight">Mumbai</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Country</p>
                                        <p class="info-text info-highlight">India</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label ">Pincode</p>
                                        <p class="info-text info-highlight">400075</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Official Mobile No.</p>
                                        <p class="info-text">8665496512</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label ">Permanent Address</p>
                                        <p class="info-text">42 JSD Road</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>

                    <app-accordion-item class="acc-content" title="Educational Information">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Graduation</p>
                                        <p class="info-text info-highlight">BE(Comps)</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Year of Passing(Grad)</p>
                                        <p class="info-text info-highlight">2010</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Post Graduation</p>
                                        <p class="info-text info-highlight">Masters of Arts</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Year of Passing(Post Grad)</p>
                                        <p class="info-text">2015</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Co-curricular activities - Hobbies</p>
                                        <p class="info-text">Voilin</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>

                    <app-accordion-item class="acc-content" title="Employment Information">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Date Of Joining</p>
                                        <p class="info-text">01-01-2022</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Employment Status</p>
                                        <p class="info-text info-highlight">Confirmed</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Notice Period</p>
                                        <p class="info-text">90 Days</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Manager</p>
                                        <p class="info-text info-highlight">Alap Jog</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>

                    <app-accordion-item class="acc-content" title="Bank/PF Account Information">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Bank Name</p>
                                        <p class="info-text">ICICI</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Bank Account Number</p>
                                        <p class="info-text">27889213010</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">IFSC</p>
                                        <p class="info-text">ICI4500000</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">PF Account Number</p>
                                        <p class="info-text">MHBAN27889213010</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">Previous PF Account Number</p>
                                        <p class="info-text">MHBAD27889213010</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">UAN</p>
                                        <p class="info-text">1100889213010</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <p class="info-label">ESIC Account Number</p>
                                        <p class="info-text">31540889213010</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>
                </app-accordion>
                
            </div>
            <div class="tab-pane fade user-info__tab-container" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam eaque, incidunt sapiente quia nulla beatae animi rerum quae sequi ab aliquam. Omnis debitis dignissimos nihil reprehenderit, voluptatum quia tempora at ratione dolor, sapiente laborum ab obcaecati error? Labore id repellendus est velit doloremque deserunt natus veritatis dolores, mollitia culpa ipsum?</div>
          </div>
    </div>
</div>