<div class="row card">
    <ul class="nav nav-tabs config__tabs" id="configTab" role="tablist">
        <li *ngIf="userMapping.employee_config" class="nav-item config__tab-item" (click)="removeActiveTab()">
            <a class="nav-link config__tab-item__link" id="employee-tab" data-toggle="tab" role="tab"
                aria-controls="employee" aria-selected="true" routerLink="employee">Employee</a>
        </li>
        <li *ngIf="userMapping.department_config" class="nav-item config__tab-item" (click)="removeActiveTab()">
            <a class="nav-link config__tab-item__link" id="dept-tab" data-toggle="tab" role="tab"
                aria-controls="dept" aria-selected="false" routerLink="department">Department</a>
        </li>
        <li *ngIf="userMapping.role_config" class="nav-item config__tab-item" (click)="removeActiveTab()">
            <a class="nav-link config__tab-item__link" id="role-tab" data-toggle="tab" role="tab"
                aria-controls="role" aria-selected="false" routerLink="role">Role</a>
        </li>
        <li *ngIf="userMapping.leave_config" class="nav-item config__tab-item" (click)="removeActiveTab()">
            <a class="nav-link config__tab-item__link" id="leave-tab" data-toggle="tab" role="tab"
                aria-controls="leave" aria-selected="false" routerLink="leave">Leave</a>
        </li>
        <li *ngIf="userMapping.team_config" class="nav-item config__tab-item" (click)="removeActiveTab()">
            <a class="nav-link config__tab-item__link" id="team-tab" data-toggle="tab" role="tab"
                aria-controls="team" aria-selected="false" routerLink="team">Team</a>
        </li>
        <li *ngIf="userMapping.home_config" class="nav-item config__tab-item" (click)="removeActiveTab()">
            <a class="nav-link config__tab-item__link" id="home-config-tab" data-toggle="tab" role="tab"
                aria-controls="home-config" aria-selected="false" routerLink="home-config">Home</a>
        </li>
        <li *ngIf="userMapping.portal_config" class="nav-item config__tab-item" (click)="removeActiveTab()">
            <a class="nav-link config__tab-item__link" id="portal-config-tab" data-toggle="tab" role="tab"
                aria-controls="portal-config" aria-selected="false" routerLink="portal-config">Portal</a>
        </li>
        <li *ngIf="userMapping.portal_config" class="nav-item config__tab-item" (click)="removeActiveTab()">
            <a class="nav-link config__tab-item__link" id="survey-config-tab" data-toggle="tab" role="tab"
                aria-controls="survey-config" aria-selected="false" routerLink="survey-config">Survey</a>
        </li>
    </ul>

    <!-- tab Containers -->
    <div class="tab-content" id="userTabContent">
        <div class="config__tab-container">
            <router-outlet class="tab-pane fade" role="tabpanel"></router-outlet>
        </div>
    </div>


    <!-- <div class="tab-content" id="userTabContent">
        <div *ngIf="userMapping.employee" class="tab-pane fade config__tab-container" id="employee" role="tabpanel"
            aria-labelledby="employee-tab">
            <app-employee-config #empCfg ></app-employee-config>
        </div>
        <div *ngIf="userMapping.department" class="tab-pane fade config__tab-container" id="dept" role="tabpanel" aria-labelledby="dept-tab">
            <app-dept-config #deptCfg ></app-dept-config>
        </div>
        <div *ngIf="userMapping.role" class="tab-pane fade config__tab-container" id="role" role="tabpanel" aria-labelledby="role-tab">
            <app-role-config #roleCfg ></app-role-config>
        </div>
        <div class="tab-pane fade config__tab-container" id="leave" role="tabpanel" aria-labelledby="leave-tab">
            <app-leave-config #leaveCfg ></app-leave-config>
        </div>
    </div> -->
</div>