<div class="dashboard-container" style="width: 100%;">

    <div class="row mb-2">
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="showTable()">Project
            Insight Details</button>&nbsp;
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="showQuestionLibrary()">Question
            Library</button>&nbsp;
    </div>


    <!-- Summary Cards Component -->
    <div class="row" *ngIf="viewType == 'Table'">
        <div class="summary-cards" style="display: flex; flex-wrap: wrap;">
            <div *ngFor="let domain of allDomainList">
                <div class="card domain" style="cursor: pointer;"
                    [ngClass]="{'active': selectedDomain == domain && isDomainAlreadySelected}"
                    (click)="selectDomain(domain)">
                    <div [style.background]="domainColors[domain]" class="circle"></div>
                    <div class="count">{{allDomainWithProject[domain].length}}</div>
                    <div class="label"> {{domain}} </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Project Table Component -->
    <div class="row" *ngIf="viewType == 'Table'">
        <div class="col-md-2">
            <app-all-project-insight-domains
                (selectChildrenOfDomain)="selectChildrenOfDomain($event.childrenSubDomain, $event.domain, $event.unique_name)"
                [incoming]="selectedDomain != null " [domainName]="selectedDomain"
                (selectedDomain)="selectDomain($event)"
                [childrenSelectedDomainId]="childrenSubDomain"></app-all-project-insight-domains>
        </div>

        <div class="col-md-10">
            <app-project-table (openAlertModal)="openAlertModal($event)" (openCreateProject)="openCreateProject()"
                (viewProject)="openViewProjectInsight($event)" (editProject)="openEditProjectInsight($event)"
                (deleteProject)="openDeleteProjectInsight($event)">
            </app-project-table>
        </div>
    </div>

    <div class="main-content" *ngIf="viewType == 'Form'">
        <div class="w-100">
            <!-- Project Insight Form Table Component -->
            <app-project-static-form [projectInsightDetailsId]="projectInsightDetailsId" [viewMode]="viewMode"
                [tempProjectInsightDetailsDTO]="projectInsightDetailsDTO" (showTable)="showTable()">
            </app-project-static-form>
        </div>
    </div>

    <div *ngIf="viewType == 'Question Library'">
        <app-project-insight-question-library></app-project-insight-question-library>
    </div>

</div>

<!-- Modals -->

<!-- Create Project Modal -->
<ng-template #open_create_project_modal>
    <div class="modal-body text-center">
        <p>Choose Project, Department and Form type to proceed futher</p>
        <div class="col-md-12 mb-0">
            <div class="info-wrapper">
                <div class="form-group d-flex">
                    <div class="col-md-3 text-left">
                        <label><span class="text-danger">*</span>Select Project</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control truncate-option" (change)="getAllDepartmentsByProjectId(true);"
                            [(ngModel)]="projectId">
                            <option selected="selected" value="" disabled>Select Project</option>
                            <option [title]="project.projectName" *ngFor="let project of allProjects"
                                value="{{project.projectId}}">
                                {{project.projectName}}
                            </option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12 mb-0">
            <div class="info-wrapper">
                <div class="form-group d-flex">
                    <div class="col-md-3 text-left">
                        <label><span class="text-danger">*</span>Select Department</label>
                    </div>
                    <div class="col-md-9 text-left">
                        <mat-select class="form-control" [(ngModel)]="selectedDeptIds" multiple
                            (selectionChange)="getAllDynamicFormByDepartmentAndType()">
                            <mat-option *ngFor="let dept of allDeptList" [value]="dept.deptId">
                                {{ dept.name }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-0">
            <div class="info-wrapper">
                <div class="form-group d-flex">
                    <div class="col-md-3 text-left">
                        <label><span class="text-danger">*</span>Select Form</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" aria-hidden="true" [(ngModel)]="selectedFormId">
                            <option selected="selected" value="" disabled>Select</option>
                            <option *ngFor="let form of allDepartmentWiseFormList" value="{{form.id}}">{{form.formName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-success" (click)="showCreateProject()">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="closeCreateProject()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<!-- Alert Message Modal -->
<ng-template #alert_message_modal>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">Ok</button>&nbsp;
    </div>
</ng-template>

<!-- Delete Project Insight Modal -->
<ng-template #delete_project_insight_modal>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete the Project Insight?</p>
        <button type="button" class="btn btn-success" (click)="deleteProjectInsightById()">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>