.table-header{
    width: 100%;
    height: 50px;
    background: var(--ghost-white);
    margin-bottom: 1em;
}

.table-header-title{
    font-size: 2rem;
    padding: .2em;
    margin-bottom: 0;
    color: var(--raisin-black);
}

/* .btn-link{
    margin-left: 15px;
}

.btn-link:not(:last-child):after{
    content: "|";
    display: inline-block;
    position: absolute;
    right: -1px;
} */
