.table-header{
    width: 100%;
    height: 50px;
    background: var(--ghost-white);
    margin-bottom: 1em;
}

.table-header-title{
    font-size: 2rem;
    padding: .2em;
    margin-bottom: 0;
    color: var(--raisin-black);
}

.my-pagination::ng-deep .ngx-pagination .current {
    background: #193d8a  !important;
}

.my-pagination::ng-deep{
    padding-top: 10px;
}

.scrollable-table{
    width: 92vw;
    height: 70vh;
} 

.col{
    min-width: 300px;
}

.thead-light th{
    position: sticky;
    top: -0.7px;
}

.info-label{
    width: 450px;
}

:host /deep/ angular-editor#myEditor .angular-editor-button[title="Insert Image"],
:host /deep/ angular-editor#myEditor .angular-editor-button[title="Insert Video"],
:host /deep/ angular-editor#myEditor .angular-editor-button[title="Insert Link"],
:host /deep/ angular-editor#myEditor .angular-editor-button[title="Unlink"],
:host /deep/ #fontSelector-{
    display: none
}

.wide-col{
    word-wrap: break-word;
    min-width: 350px;
}

:host /deep/ angular-editor#myEditor .angular-editor-textarea{
    padding-inline: 1.5rem;
}