<br>

<div class="row mb-3">
    <div class="col-md-12 px-7" style="padding-left: 2rem;">
        <button type="button" class="btn btn-outline-primary btn-sm active ng-star-inserted mx-1"
            [ngClass]="{'active' : isRewards}" (click)="isRewardsfuc()">Rewards</button>
        <button type="button" class="btn btn-outline-primary btn-sm active ng-star-inserted mx-1"
            [ngClass]="{'active' : isRewardshitory}" (click)="rewardsHistoryfun()">Rewards History</button>
    </div>
</div>

<div class="row p-3" style="margin-left: 5px; margin-right: 5px;" *ngIf="isRewards || isEditing">
    <div class="col-md-12 table-header ">
        <h1 class="table-header-title">Rewards</h1>
    </div>
</div>

<div class="row mb-2 p-3" *ngIf="isRewards || isEditing">
    <div class="col-md-12 px-7" style="padding-left: 2rem;">
        <button *ngFor="let category of rewardsCategories" type="button"
            class="btn btn-outline-primary btn-sm active ng-star-inserted mx-1"
            [ngClass]="{'active': category.rewardCategoryId === activeCategoryId}"
            (click)="getRewardsByCategoryId(category.rewardCategoryId, alertMessageTemplate)">{{category.categoryName}}
        </button>
    </div>
    <div class="col-md-12 px-7" style="padding-left: 2rem; margin-top: 1rem;">
        <button *ngFor="let reward of rewards" type="button"
            class="btn btn-outline-primary btn-sm ng-star-inserted mx-1"
            [ngClass]="{'active': selectedReward === reward}"
            (click)="selectReward(reward)">{{reward.rewardName}}</button>
    </div>
</div>

<!-- Start of employee-reward form -->
<div *ngIf="isRewards || isEditing">

    <!-- <div class="row mb-1 p-3">
        <div class="col-md-4 px-7" style="padding-left: 2rem;">
            <div class="info-wrapper">
                <div class="form-group">
                    <label class="info-label"><span class="text-danger">*</span> Start Date</label>
                    <input id="startDate" type="date" class="form-control" [(ngModel)]="fromDatestr"
                        autocomplete="none">
                </div>
            </div>
        </div>
        <div class="col-md-4 px-7" style="padding-right: 2rem;">
            <div class="info-wrapper">
                <div class="form-group">
                    <label class="info-label"><span class="text-danger">*</span> End Date</label>
                    <input id="endDate" type="date" class="form-control" [(ngModel)]="todatestr">
                </div>
            </div>
        </div>
    </div> -->

    <div class="row mb-1 ">
        <div class="col-md-4 px-7" style="padding-left: 3rem;">
            <div class="info-wrapper">
                <div class="form-group">
                    <label class="info-label"><span class="text-danger">*</span>Of Month-Year</label>
                    <input id="startMonth" type="month" class="form-control" [(ngModel)]="ofmonthyear"
                        style="border: 1px solid #096bd4; border-radius: 4px; padding: 8px; font-size: 14px;" />
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4 mt-3" style="padding-left: 3rem;">
            <!-- Select Employee -->
            <div *ngIf="rewards.length > 0 && isTeam === 0">
                <label for="employeeSelect" class="d-block">Select Employee:</label>
                <input id="employeeSelect" type="text" class="form-control" matInput [(ngModel)]="employeeSearchText"
                    [matAutocomplete]="autoEmployee"
                    style="border: 1px solid #096bd4; border-radius: 4px; padding: 8px; font-size: 14px;" />
                <mat-autocomplete #autoEmployee="matAutocomplete" (optionSelected)="onEmployeeChange($event)">
                    <mat-option *ngFor="let employee of employees | rewardFilter:employeeSearchText"
                        [value]="employee.employeeNameForReward">
                        {{ employee.employeeNameForReward }}
                    </mat-option>
                </mat-autocomplete>
            </div>

            <!-- Select Team -->
            <div *ngIf="isTeam === 1">
                <label for="teamSelect" class="d-block">Select Team:</label>
                <input id="teamSelect" type="text" class="form-control" matInput [(ngModel)]="teamSearchText"
                    [matAutocomplete]="autoTeam" />
                <mat-autocomplete #autoTeam="matAutocomplete"
                    (optionSelected)="sumbitRewards.teamId = $event.option.value">
                    <mat-option *ngFor="let team of teams | rewardFilter:teamSearchText" [value]="team.teamId">
                        {{ team.teamName }}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
    </div>


    <div class="row mb-1" *ngIf="selectedReward">
        <div class="col-md-12 mt-4" style="padding-left: 3rem;">
            <h5>Reward Types for {{ selectedReward.rewardName }}</h5>
            <div *ngFor="let type of selectedReward.rewardTypes" class="form-check">
                <input type="radio" class="form-check-input" [name]="selectedReward.rewardName" [value]="type"
                    [(ngModel)]="selectedReward.selectedType">
                <label class="form-check-label">{{ type }}</label>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-12 mt-4" style="padding-left: 3rem;">
            <div class="info-wrapper">
                <div class="form-group">
                    <label for="leaveDesc"><span class="text-danger">*</span> <strong>Remarks</strong></label>
                    <textarea class="form-control" [(ngModel)]="remarks" id="Desc" rows="3"
                        style="width: 31%;"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12 mt-4" style="padding-left: 3rem;">
            <button type="submit" class="btn btn-primary btn-sm mx-1"
                (click)="submitRewardForEmployees(alert_message)">Submit</button>
        </div>
    </div>
</div>
<!-- End of employee-reward form -->

<!-- Start of employee-reward history -->
<div class="row" style="margin-left: 5px; margin-right: 5px;" *ngIf="isRewardshitory && !isEditing">
    <div class="col-md-12">
        <div class="row p-3">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">Rewards History</h1>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-start align-items-center">
            <div class="form-inline">
                <small>View</small>
                <select class="form-select-sm align-items-center mx-1" aria-label="Default select example"
                    [(ngModel)]="items" (change)="page=1">
                    <option class="option-bg" selected value="10">10</option>
                    <option class="option-bg" value="20">20</option>
                    <option class="option-bg" value="50">50</option>
                    <option class="option-bg" value="100">100</option>
                </select>
                <small>entries</small>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="selector-toggle" (click)="toggleSearch()">
                    <a href="javascript:void(0)">
                        <i *ngIf="!isSearchEnabled" class="fa fa-search"></i>
                        <i *ngIf="isSearchEnabled" class="fa-solid fa-xmark"></i>
                    </a>
                </div>

                <div class="overflow-auto" bassHorizontalScroll [tableId]="'rewardHistoryInfo'"
                    [tableTHeadId]="'rewardHistoryInfoTHead'" [tableTHeadTrId]="'rewardHistoryInfoTHeadTr'">
                    <table class="table table-responsive" id="rewardHistoryInfo" matSort
                        (matSortChange)="sortData($event)">
                        <thead class="thead-light" id="rewardHistoryInfoTHead">
                            <tr id="rewardHistoryInfoTHeadTr">
                                <th scope="col" class="info-label">Sr No.</th>
                                <th scope="col" class="info-label" mat-sort-header="rewardedToByName|string">Employee
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="rewardTypeName|string">Reward Type
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="createdByName|string">Reward By</th>
                                <th scope="col" class="info-label" mat-sort-header="createdOn|date">Rewarded On</th>
                                <th scope="col" class="info-label" mat-sort-header="managerName|string">Manager Name
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="fromDate|date">From Date</th>
                                <th scope="col" class="info-label" mat-sort-header="toDate|date">To Date</th>
                                <th scope="col" class="info-label" mat-sort-header="updatedByName|string">Updated By
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="updatedOn|date">Updated On</th>
                                <th scope="col" class="info-label" mat-sort-header="remark|string">Remarks</th>
                                <th scope="col" class="info-label">Actions</th>
                            </tr>
                            <tr app-column-filter-bar *ngIf="isSearchEnabled" [columnList]="rewardHistoryColumns"
                                (onSearch)="onSearch($event); page=1"></tr>
                        </thead>
                        <tbody>
                            <!-- <tr
                                *ngIf="rewardHistoryList.length == 0 || (rewardHistoryList | colFilter:filters:false).length == 0">
                                <th colspan="18" class="text-center info-label">No details to display...</th>
                            </tr> -->
                            <tr
                                *ngFor="let rewardHistory of rewardHistoryList  | colFilter:filters:false | sort : [sortColumn, sortColumnType, sortDirection] | paginate: { itemsPerPage: items, currentPage: page },  let i = index">
                                <th class="info-label">{{items *(page-1)+i+1}}</th>
                                <td>{{rewardHistory.rewardedToByName}}</td>
                                <td>{{rewardHistory.rewardTypeName}}</td>
                                <td>{{rewardHistory.createdByName}}</td>
                                <td>{{rewardHistory.createdOn}}</td>
                                <td>{{rewardHistory.managerName}}</td>
                                <td>{{rewardHistory.fromDate}}</td>
                                <td>{{rewardHistory.toDate}}</td>
                                <td>{{rewardHistory.updatedByName || 'N/A'}}</td>
                                <td>{{rewardHistory.updatedOn}}</td>
                                <td>{{rewardHistory.remark}}</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-primary" type="submit"
                                        (click)="editReward(rewardHistory.rewardId)"><em
                                            class="fa fa-edit"></em></button>&nbsp;
                                    <button class="btn btn-sm btn-outline-danger" type="button"
                                        (click)="deleteEmployeeRewardByRewardId(rewardHistory.rewardId,alert_message)"><em
                                            class="fa fa-trash"></em></button>&nbsp;
                                    <button *ngIf="rewardHistory.isActive === 0" class="btn btn-sm btn-outline-success"
                                        type="button" (click)="Approve(rewardHistory.rewardId, alert_message)"><em
                                            class="fa fa-check"></em></button>
                                    <button *ngIf="rewardHistory.isActive === 1" class="btn btn-sm btn-outline-warning"
                                        type="button" (click)="undoApprove(rewardHistory.rewardId, alert_message)"><em
                                            class="fa fa-undo"></em></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls class="my-pagination" [hidden]="rewardHistoryList.length == 0"
                        (pageChange)="handlePageChange($event)"></pagination-controls>
                    <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2 excel-button"
                        [hidden]="rewardHistoryList.length == 0" (click)="exportToExcel()">
                        <em class="fa fa-file-arrow-down fa-2x"></em>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of employee-reward history -->

<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>