.reward-type-box {
    display: flex;
    justify-content: space-between; /* Space between elements */
    align-items: center; /* Center items vertically */
    word-wrap: break-word; 
}

.reward-type-name {
    flex-grow: 1; /* Make this span take all available space */
    margin-right: 1rem; /* Spacing between the name and the remove button */
    font-weight: bold;
    color: rgb(80, 81, 82);
    overflow-wrap: break-word;
}

.bullet {
    margin-right: 0.5rem; /* Space between bullet and reward type name */
    color: rgb(5, 38, 184); /* Bullet color */
    font-size: 1.5rem; /* Size of the bullet */
    font-weight: bold;
}

.remove-button {
    flex-shrink: 0; /* Prevent the button from shrinking */
}
.input-group .add-button {
    margin-left: 0.5rem; /* Add space between input and button */
}

.add-button {
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.add-button:hover {
    background-color: rgb(11, 11, 115); /* Change button background to blue on hover */
    color: white; /* Change icon color to white for contrast */
}

.table-header{
    width: 100%;
    height: 50px;
    background: var(--ghost-white);
    margin-bottom: 1em;
}

.table-header-title{
    font-size: 2rem;
    padding: .2em;
    margin-bottom: 0;
    color: var(--raisin-black);
}

.my-pagination::ng-deep .ngx-pagination .current {
    background: #193d8a  !important;
}

.my-pagination::ng-deep{
    padding-top: 10px;
}

.scrollable-table{
    width: 92vw;
    height: 70vh;
} 

.wide-col{
    min-width: 300px;
}

.thead-light th{
    position: sticky;
    top: -0.7px;
}

.text-highlight{
    color: var(--dark-cornflower-blue);
}

.info-label{
    width: 300px;
}
