<!-- <div class="row mb-3">
    <div class="col-md-12 px-0">
        <button type="button" *ngIf="!isQuaterForm && !isCreateReview && !isReviewUpdation"
            class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isQuaterTable}"
            (click)="showQuaterTable()">Cycle Config</button>
        <button type="button" *ngIf="!isQuaterForm && !isCreateReview && !isReviewUpdation"
            class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isReviewTable}"
            (click)="showReviewTable()">Review-Type</button>
    </div>
</div> -->
<div class="row mb-3">
    <div class="col-md-12 px-0">
        <button type="button" (click)="showQuaterTable()" class="btn btn-outline-primary btn-sm mx-1"[ngClass]="{'active' : isCategoryTable}">Expenditure Type</button>
        <button type="button" class="btn btn-outline-primary btn-sm" [ngClass]="{'active' : istravelMode}"
        (click)="subCategory()" >Travel Mode</button>
        <button type="button" class="btn btn-outline-primary btn-sm" [ngClass]="{'active' : isClass}"
        (click)="classCategory()" >Vehicle Type</button>
        <!-- <button type=" button" class="btn btn-outline-primary btn-sm mx-1">Reimbursment-config</button> -->
    </div>
</div>

<div class="row" *ngIf="!classCategoryForm &&!travelModeForm && isCategoryTable && !createCategoryForm && !isClass  && !istravelMode">
    
    <div class="col-md-12">
        
        <div class="row">
            <div class="col-md-12 table-header">
                    <h3  class="table-header-title">Reimbursement(s)</h3>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-inline">
                <small>View</small>
                <select class="form-select-sm align-items-center mx-1" aria-label="Default select example"
                    [(ngModel)]="items" (change)="page=1">
                    <option class="option-bg" selected value="10">10</option>
                    <option class="option-bg" value="20">20</option>
                    <option class="option-bg" value="50">50</option>
                    <option class="option-bg" value="100">100</option>
                </select>
                <small>entries</small>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 ml-auto d-flex justify-content-end align-items-start mb-1">
                    <button type="button" class="btn btn-outline-primary btn-sm" 
                       (click)="createCategory()" ><em class="fa-solid fa-plus"></em>Add Category</button>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="selector-toggle" >
                    <a href="javascript:void(0)" (click)="toggleSearchReviewType()">
                        <i *ngIf="!isSearchEnabledReview" class="fa fa-search"></i>
                        <i *ngIf="isSearchEnabledReview" class="fa-solid fa-xmark"></i>
                    </a>
                </div>
                <div class="overflow-auto" bassHorizontalScroll>
                    <table class="table" matSort (matSortChange)="sortData($event)" id="domainInfo">
                        <thead class="thead-light" id="domainInfoTHead">
                            <tr id="domainInfoTHeadTr">
                                <th scope="col" class="info-label">Sr No.</th>
                                <th scope="col" class="info-label" mat-sort-header="reviewLabel|string">Review Label
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="reviewField|string">Review Field
                                    Type</th>
                                <th scope="col" class="info-label" mat-sort-header="limit|string">Limit</th>
                                <th scope="col" class="info-label" mat-sort-header="quarterCycle|string">Cycle
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="departmentName|string">Department
                                    Name</th>
                                <th scope="col" class="info-label" mat-sort-header="createdByName|string">Created By
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="createdOn|datetime">Created On</th>
                                <th scope="col" class="info-label" mat-sort-header="updatedByName|string">Updated By
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="updatedOn|datetime">Updated On</th>
                                <th scope="col" class="info-label">Actions</th>
                            </tr>
                            <tr app-column-filter-bar *ngIf="isCategoryTable && isSearchEnabledReview"
                                [columnList]="reviewColumns" (onSearch)="onSearch($event);page=1"></tr>
                        </thead>
                        <tbody>
                            <tr
                                >
                                <th colspan="8" class="text-center info-label">No details to display...</th>
                            </tr>
                            <tr>
                            <!-- <tr
                                *ngFor="let review of reviewTypelist| colFilter:filters:false | sort : [sortColumn, sortColumnType, sortDirection] | paginate: { itemsPerPage: items, currentPage: page }; let i = index">
                                <th scope="col" class="info-label">{{items*(page-1)+i+1}}</th>
                                <td>{{review.reviewLabel}}</td>
                                <td>{{review.reviewFieldType}}</td>
                                <td>{{review.condition}}</td>
                                <td>{{review.quarterCycle}}</td>
                                <td>{{review.departmentName}}</td>
                                <td *ngIf="userMapping.employee360_view_performance_config && review.employeeName"id="clickablefor360" [navigateToEmployee360]="review.emp360CreatedBy" style="cursor: pointer;" title="Click to view Employee 360">{{review.employeeName}}</td>
                                <td *ngIf="!userMapping.employee360_view_performance_config || !review.employeeName">{{review.employeeName}}</td>
                                <td>{{review.createdOn | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
                                <td *ngIf="!userMapping.employee360_view_performance_config || !review.updatedByName">{{ review.updatedByName ?? 'NA' }}</td>
                                <td *ngIf="userMapping.employee360_view_performance_config && review.updatedByName">
                                    <span *ngIf="review.updatedByName; else showNADisplay" 
                                          id="clickablefor360" 
                                          [navigateToEmployee360]="review.emp360UpdatedBy" 
                                          style="cursor: pointer;" 
                                          title="Click to view Employee 360">
                                      {{ review.updatedByName }}
                                    </span>
                                    <ng-template #showNADisplay>
                                      {{ review.updatedByName ?? 'NA' }}
                                    </ng-template>
                                  </td>                                  
                                <td>{{review.updatedOn ? (review.updatedOn | date: 'dd-MM-yyyy hh:mm:ss') : 'NA' }}</td> 
                                <td *ngIf="!review.active == false">
                                    <button class="btn btn-sm btn-outline-primary" type="submit"
                                        (click)="showUpdateReviewForm(review)"><em
                                            class="fa fa-edit"></em></button>&nbsp;
                                    <button class="btn btn-sm btn-outline-danger" type="submit"
                                        (click)="openConfirmDeleteModal(confirmDelete,review)"><em
                                            class="fa fa-trash"></em></button>
                                </td>
                            </tr> -->

                        </tbody>
                    </table>
                </div>
                <pagination-controls class="my-pagination" 
                    (pageChange)="handlePageChange($event)"></pagination-controls>
                <!-- <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2 excel-button"
                    [hidden]="reviewTypelist.length == 0"><em class="fa fa-file-arrow-down fa-2x"></em></button> -->
            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="!classCategoryForm &&!travelModeForm && !isCategoryTable && !createCategoryForm && !isClass  && istravelMode">
    
    <div class="col-md-12">
        
        <div class="row">
            <div class="col-md-12 table-header">
                    <h3  class="table-header-title">Reimbursement(s)</h3>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-inline">
                <small>View</small>
                <select class="form-select-sm align-items-center mx-1" aria-label="Default select example"
                    [(ngModel)]="items" (change)="page=1">
                    <option class="option-bg" selected value="10">10</option>
                    <option class="option-bg" value="20">20</option>
                    <option class="option-bg" value="50">50</option>
                    <option class="option-bg" value="100">100</option>
                </select>
                <small>entries</small>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 ml-auto d-flex justify-content-end align-items-start mb-1">
                    <button type="button" class="btn btn-outline-primary btn-sm" 
                       (click)="travelCategory()" ><em class="fa-solid fa-plus"></em>Add Travel Mode</button>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="selector-toggle" >
                    <a href="javascript:void(0)" (click)="toggleSearchReviewType()">
                        <i *ngIf="!isSearchEnabledReview" class="fa fa-search"></i>
                        <i *ngIf="isSearchEnabledReview" class="fa-solid fa-xmark"></i>
                    </a>
                </div>
                <div class="overflow-auto" bassHorizontalScroll>
                    <table class="table" matSort (matSortChange)="sortData($event)" id="domainInfo">
                        <thead class="thead-light" id="domainInfoTHead">
                            <tr id="domainInfoTHeadTr">
                                <th scope="col" class="info-label">Sr No.</th>
                                <th scope="col" class="info-label" mat-sort-header="reviewLabel|string">Review Label
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="reviewField|string">Review Field
                                    Type</th>
                                <th scope="col" class="info-label" mat-sort-header="limit|string">Limit</th>
                                <th scope="col" class="info-label" mat-sort-header="quarterCycle|string">Cycle
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="departmentName|string">Department
                                    Name</th>
                                <th scope="col" class="info-label" mat-sort-header="createdByName|string">Created By
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="createdOn|datetime">Created On</th>
                                <th scope="col" class="info-label" mat-sort-header="updatedByName|string">Updated By
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="updatedOn|datetime">Updated On</th>
                                <th scope="col" class="info-label">Actions</th>
                            </tr>
                            <tr app-column-filter-bar *ngIf="isCategoryTable && isSearchEnabledReview"
                                [columnList]="reviewColumns" (onSearch)="onSearch($event);page=1"></tr>
                        </thead>
                        <tbody>
                            <tr
                                >
                                <th colspan="8" class="text-center info-label">No details to display...</th>
                            </tr>
                            <tr>
                            <!-- <tr
                                *ngFor="let review of reviewTypelist| colFilter:filters:false | sort : [sortColumn, sortColumnType, sortDirection] | paginate: { itemsPerPage: items, currentPage: page }; let i = index">
                                <th scope="col" class="info-label">{{items*(page-1)+i+1}}</th>
                                <td>{{review.reviewLabel}}</td>
                                <td>{{review.reviewFieldType}}</td>
                                <td>{{review.condition}}</td>
                                <td>{{review.quarterCycle}}</td>
                                <td>{{review.departmentName}}</td>
                                <td *ngIf="userMapping.employee360_view_performance_config && review.employeeName"id="clickablefor360" [navigateToEmployee360]="review.emp360CreatedBy" style="cursor: pointer;" title="Click to view Employee 360">{{review.employeeName}}</td>
                                <td *ngIf="!userMapping.employee360_view_performance_config || !review.employeeName">{{review.employeeName}}</td>
                                <td>{{review.createdOn | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
                                <td *ngIf="!userMapping.employee360_view_performance_config || !review.updatedByName">{{ review.updatedByName ?? 'NA' }}</td>
                                <td *ngIf="userMapping.employee360_view_performance_config && review.updatedByName">
                                    <span *ngIf="review.updatedByName; else showNADisplay" 
                                          id="clickablefor360" 
                                          [navigateToEmployee360]="review.emp360UpdatedBy" 
                                          style="cursor: pointer;" 
                                          title="Click to view Employee 360">
                                      {{ review.updatedByName }}
                                    </span>
                                    <ng-template #showNADisplay>
                                      {{ review.updatedByName ?? 'NA' }}
                                    </ng-template>
                                  </td>                                  
                                <td>{{review.updatedOn ? (review.updatedOn | date: 'dd-MM-yyyy hh:mm:ss') : 'NA' }}</td> 
                                <td *ngIf="!review.active == false">
                                    <button class="btn btn-sm btn-outline-primary" type="submit"
                                        (click)="showUpdateReviewForm(review)"><em
                                            class="fa fa-edit"></em></button>&nbsp;
                                    <button class="btn btn-sm btn-outline-danger" type="submit"
                                        (click)="openConfirmDeleteModal(confirmDelete,review)"><em
                                            class="fa fa-trash"></em></button>
                                </td>
                            </tr> -->

                        </tbody>
                    </table>
                </div>
                <pagination-controls class="my-pagination" 
                    (pageChange)="handlePageChange($event)"></pagination-controls>
                <!-- <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2 excel-button"
                    [hidden]="reviewTypelist.length == 0"><em class="fa fa-file-arrow-down fa-2x"></em></button> -->
            </div>
        </div>
    </div>
</div>



<div class="row" *ngIf="!classCategoryForm &&!travelModeForm && !isCategoryTable && !createCategoryForm && isClass  && !istravelMode">
    
    <div class="col-md-12">
        
        <div class="row">
            <div class="col-md-12 table-header">
                    <h3  class="table-header-title">Reimbursement(s)</h3>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-inline">
                <small>View</small>
                <select class="form-select-sm align-items-center mx-1" aria-label="Default select example"
                    [(ngModel)]="items" (change)="page=1">
                    <option class="option-bg" selected value="10">10</option>
                    <option class="option-bg" value="20">20</option>
                    <option class="option-bg" value="50">50</option>
                    <option class="option-bg" value="100">100</option>
                </select>
                <small>entries</small>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 ml-auto d-flex justify-content-end align-items-start mb-1">
                    <button type="button" class="btn btn-outline-primary btn-sm" 
                       (click)="subClassCategory()" ><em class="fa-solid fa-plus"></em>Add Vehicle Type</button>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="selector-toggle" >
                    <a href="javascript:void(0)" (click)="toggleSearchReviewType()">
                        <i *ngIf="!isSearchEnabledReview" class="fa fa-search"></i>
                        <i *ngIf="isSearchEnabledReview" class="fa-solid fa-xmark"></i>
                    </a>
                </div>
                <div class="overflow-auto" bassHorizontalScroll>
                    <table class="table" matSort (matSortChange)="sortData($event)" id="domainInfo">
                        <thead class="thead-light" id="domainInfoTHead">
                            <tr id="domainInfoTHeadTr">
                                <th scope="col" class="info-label">Sr No.</th>
                                <th scope="col" class="info-label" mat-sort-header="reviewLabel|string">Review Label
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="reviewField|string">Review Field
                                    Type</th>
                                <th scope="col" class="info-label" mat-sort-header="limit|string">Limit</th>
                                <th scope="col" class="info-label" mat-sort-header="quarterCycle|string">Cycle
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="departmentName|string">Department
                                    Name</th>
                                <th scope="col" class="info-label" mat-sort-header="createdByName|string">Created By
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="createdOn|datetime">Created On</th>
                                <th scope="col" class="info-label" mat-sort-header="updatedByName|string">Updated By
                                </th>
                                <th scope="col" class="info-label" mat-sort-header="updatedOn|datetime">Updated On</th>
                                <th scope="col" class="info-label">Actions</th>
                            </tr>
                            <tr app-column-filter-bar *ngIf="isCategoryTable && isSearchEnabledReview"
                                [columnList]="reviewColumns" (onSearch)="onSearch($event);page=1"></tr>
                        </thead>
                        <tbody>
                            <tr
                                >
                                <th colspan="8" class="text-center info-label">No details to display...</th>
                            </tr>
                            <tr>
                            <!-- <tr
                                *ngFor="let review of reviewTypelist| colFilter:filters:false | sort : [sortColumn, sortColumnType, sortDirection] | paginate: { itemsPerPage: items, currentPage: page }; let i = index">
                                <th scope="col" class="info-label">{{items*(page-1)+i+1}}</th>
                                <td>{{review.reviewLabel}}</td>
                                <td>{{review.reviewFieldType}}</td>
                                <td>{{review.condition}}</td>
                                <td>{{review.quarterCycle}}</td>
                                <td>{{review.departmentName}}</td>
                                <td *ngIf="userMapping.employee360_view_performance_config && review.employeeName"id="clickablefor360" [navigateToEmployee360]="review.emp360CreatedBy" style="cursor: pointer;" title="Click to view Employee 360">{{review.employeeName}}</td>
                                <td *ngIf="!userMapping.employee360_view_performance_config || !review.employeeName">{{review.employeeName}}</td>
                                <td>{{review.createdOn | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
                                <td *ngIf="!userMapping.employee360_view_performance_config || !review.updatedByName">{{ review.updatedByName ?? 'NA' }}</td>
                                <td *ngIf="userMapping.employee360_view_performance_config && review.updatedByName">
                                    <span *ngIf="review.updatedByName; else showNADisplay" 
                                          id="clickablefor360" 
                                          [navigateToEmployee360]="review.emp360UpdatedBy" 
                                          style="cursor: pointer;" 
                                          title="Click to view Employee 360">
                                      {{ review.updatedByName }}
                                    </span>
                                    <ng-template #showNADisplay>
                                      {{ review.updatedByName ?? 'NA' }}
                                    </ng-template>
                                  </td>                                  
                                <td>{{review.updatedOn ? (review.updatedOn | date: 'dd-MM-yyyy hh:mm:ss') : 'NA' }}</td> 
                                <td *ngIf="!review.active == false">
                                    <button class="btn btn-sm btn-outline-primary" type="submit"
                                        (click)="showUpdateReviewForm(review)"><em
                                            class="fa fa-edit"></em></button>&nbsp;
                                    <button class="btn btn-sm btn-outline-danger" type="submit"
                                        (click)="openConfirmDeleteModal(confirmDelete,review)"><em
                                            class="fa fa-trash"></em></button>
                                </td>
                            </tr> -->

                        </tbody>
                    </table>
                </div>
                <pagination-controls class="my-pagination" 
                    (pageChange)="handlePageChange($event)"></pagination-controls>
                <!-- <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2 excel-button"
                    [hidden]="reviewTypelist.length == 0"><em class="fa fa-file-arrow-down fa-2x"></em></button> -->
            </div>
        </div>
    </div>
</div>


<div class="row"
  *ngIf="!classCategoryForm && !travelModeForm && !isCategoryTable && createCategoryForm && !isClass && !istravelMode">
  <div class="card col-md-12 px-0">
    <div class="card-header text-center text-uppercase">
      <strong>Expenditure Type Form</strong>
    </div>
    <div class="card-body">
      <form #reasonForm="ngForm" (ngSubmit)="submitExpenditureType(alert_message)">
        <div class="form-row">
          <!-- Expenditure Type Name -->
          <div class="form-group col-md-4">
            <label class="info-label">
              <span class="text-danger">*</span> Expenditure Type Name
            </label>
            <input type="text" class="form-control" name="expenditureTypeName" [(ngModel)]="expenditureType.expenditureTypeName" (keypress)="fieldRestrictNumber($event)"
              required autocomplete="off" />
          </div>

          <!-- Description -->
          <div class="form-group col-md-4">
            <label class="info-label">
              <span class="text-danger">*</span> Description
            </label>
            <input type="text" class="form-control" name="description" [(ngModel)]="expenditureType.description" (keypress)="fieldRestrictNumber($event)" required
              autocomplete="off" />
          </div>

          <!-- Submit Button -->
          <div class="form-group col-md-4 d-flex align-items-end justify-content-start">
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!reasonForm.form.valid">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="row"
  *ngIf="!classCategoryForm && travelModeForm && !isCategoryTable && !createCategoryForm && !isClass && !istravelMode">
  <div class="card col-md-12 px-0">
    <div class="card-header text-center text-uppercase">
      <strong>Travel Mode</strong>
    </div>
    <div class="card-body">
      <form #reasonForm="ngForm" (ngSubmit)="submitTravelMode(alert_message)">
        <div class="row">

          <!-- Reason For Travel (Native select dropdown) -->
          <div class="col-md-4 mb-0">
            <div class="info-wrapper">
              <div class="form-group">
                <label class="info-label"><span class="text-danger">*</span>Expenditure Type</label>
                <select class="form-control" name="selectedExpenditure" [(ngModel)]="selectedExpenditure" required>
                  <option value="" disabled selected>Select Expenditure Type</option>
                  <option *ngFor="let expenditure of expenditureTypeList" [value]="expenditure.expenditureTypeName">
                    {{ expenditure.expenditureTypeName }}
                  </option>
                </select>
              </div>
            </div>
          </div>



          <!-- Mode Type -->
          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label class="info-label"><span class="text-danger">*</span>Travel Mode</label>
              <input type="text" [(ngModel)]="modeType" name="modeType" class="form-control" (keypress)="fieldRestrictNumber($event)" autocomplete="off">
            </div>
          </div>

          <div class="col-md-4 mb-0">
            <div class="info-wrapper">
              <div class="form-group">
                <label class="info-label">
                  <span class="text-danger">*</span> Requires Vehicle Type
                </label>
                <select class="form-control" name="requiresVehicleType" [(ngModel)]="requiresVehicleType" required>
                    <option [ngValue]="null" disabled selected>Select Option</option>
                    <option [ngValue]="true">Yes</option>
                    <option [ngValue]="false">No</option>
                </select>
              </div>
            </div>
          </div>
 
          <!-- Description -->
          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label class="info-label"><span class="text-danger">*</span>Description</label>
              <input type="text" [(ngModel)]="description" name="description" class="form-control" (keypress)="fieldRestrictNumber($event)" autocomplete="off">
            </div>
          </div>

          <!-- Submit Button -->
          <div class="form-group col-md-4 d-flex align-items-end justify-content-start">

          <button type="submit" class="btn btn-primary btn-sm" [disabled]="!reasonForm.form.valid">
            Submit
          </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>



<div class="row"
  *ngIf="classCategoryForm && !travelModeForm && !isCategoryTable && !createCategoryForm && !isClass && !istravelMode">
  <div class="card col-md-12 px-0">
    <div class="card-header text-center text-uppercase">
      <strong>Vehicle Type Form</strong>
    </div>
    <div class="card-body">
      <form #reasonForm="ngForm" (ngSubmit)="submitVehicleType(alert_message)">
        <div class="form-row">
          <!-- Vehicle Type Name -->
          <div class="form-group col-md-4">
            <label class="info-label">
              <span class="text-danger">*</span> Vehicle Type Name
            </label>
            <input type="text" class="form-control" name="vehicleTypeName" [(ngModel)]="vehicleType.vehicleTypeName" (keypress)="fieldRestrictNumber($event)"
              required autocomplete="off" />
          </div>

          <!-- Description -->
          <div class="form-group col-md-4">
            <label class="info-label">
              <span class="text-danger">*</span> Description
            </label>
            <input type="text" class="form-control" name="description" [(ngModel)]="vehicleType.description" (keypress)="fieldRestrictNumber($event)" required
              autocomplete="off" />
          </div>

          <!-- Submit Button -->
          <div class="form-group col-md-4 d-flex align-items-end justify-content-start">
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!reasonForm.form.valid">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Optional alert modal template -->
<ng-template #alert_message>
    <div class="modal-body text-center">
      <p>{{alertMessage}}</p>
      <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
  </ng-template>