<!-- Travel History Table -->
 <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 table-header">
          <h1 class="table-header-title">My Reimbursement Request History</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="overflow-auto" bassHorizontalScroll>
            <table class="table table-responsive">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="info-label">Sr No.</th>                     
                  <th scope="col" class="info-label">Name</th>
                  <!-- <th scope="col" class="info-label">Request Type</th> -->
                  <th scope="col" class="info-label">From Date</th>
                  <th scope="col" class="info-label">To Date</th>
                  <!-- <th scope="col" class="info-label">From Location</th>
                  <th scope="col" class="info-label">To Location</th> -->
                  <th scope="col" class="info-label">Expenditure Type</th>
                  <th scope="col" class="info-label">Travel Mode</th>
                  <th scope="col" class="info-label">Distance(in Kms)</th>
                  <th scope="col" class="info-label">Currency</th>
                  <th scope="col" class="info-label">Amount</th>
                  <th scope="col" class="info-label">Applied By</th>
                  <th scope="col" class="info-label">Applied On</th>
                  <th scope="col" class="wide-col">Purpose Of Travel</th>
                  <!-- <th scope="col" class="info-label">Status</th> -->
                  <th scope="col" class="info-label">Current Approval Level</th>
                  <th scope="col" class="info-label">Level 1 Approver Name</th>
                  <th scope="col" class="info-label">Level 1 Approver Status</th>
                  <th scope="col" class="info-label">Level 1 Approver Remarks</th>
                  <th scope="col" class="info-label">Level 2 Approver Name</th>
                  <th scope="col" class="info-label">Level 2 Approver Status</th>
                  <th scope="col" class="info-label">Level 2 Approver Remarks</th>
                  <th scope="col" class="info-label">Level 3 Approver Status</th>
                  <th scope="col" class="info-label">Level 3 Approver Remarks</th>
                  <th scope="col" class="info-label">Final Status</th>
                  <!-- <th scope="col" class="info-label">Current Approval Level</th>
                  <th scope="col" class="info-label">Level 1 Approver Name</th>
                  <th scope="col" class="info-label">Level 1 Approver Status</th>
                  <th scope="col" class="info-label">Level 1 Approver Remarks</th> -->
                  <th scope="col" class="info-label">Action</th>
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let row of reimbursementRequests | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
                  <td>{{ row.requestId }}</td>
                  <td>{{ row.fullName }}</td>
                  <!-- <td>{{ row.requestType }}</td> -->
                  <td>{{ row.fromDate | date }}</td>
                  <td>{{ row.toDate | date }}</td>
                  <!-- <td>{{ row.fromLocation }}</td>
                  <td>{{ row.toLocation }}</td> -->
                  <td>{{ row.expenditureType }}</td>
                  <td>{{ row.travelMode }}</td>
                  <td>{{ row.distance }}</td>
                  <td>{{ row.currency }}</td>
                  <td>{{ row.amount }}</td>
                  <td>{{ row.appliedBy }}</td>
                  <td>{{ row.appliedOn | date }}</td>
                  <td>{{ row.purpose }}</td>
                  <!-- <td>{{ row.status }}</td> -->

                  <td>{{ row.level }}</td>
                  <td>{{ row.hodName }}</td> 
                  <td [ngClass]="{
                    'text-danger': row.status === 'Rejected',
                    'text-success': row.status === 'Approved',
                    'text-warning': row.status === 'Pending'
                                }">
                    {{ row.status || 'NA'}}
                  </td>  
                  <td>{{ row.level1approverRemarks }}</td>
                  <td>{{ row.level2approverName }}</td>
                  <td [ngClass]="{
                    'text-danger': row.level2approverStatus === 'Rejected',
                    'text-success': row.level2approverStatus === 'Approved',
                    'text-warning': row.level2approverStatus === 'Pending'
                                }">
                    {{ row.level2approverStatus || 'NA'}}
                  </td>
                  <td>{{ row.level2approverRemarks }}</td>
                  <td [ngClass]="{
                    'text-danger': row.level3approverStatus === 'Rejected',
                    'text-success': row.level3approverStatus === 'Approved',
                    'text-warning': row.level3approverStatus === 'Pending'
                                }">
                    {{ row.level3approverStatus || 'NA'}}
                  </td>
                  <td>{{ row.level3approverRemarks }}</td>
                  <td [ngClass]="{
                    'text-danger': row.finalStatus === 'Rejected',
                    'text-success': row.finalStatus === 'Approved',
                    'text-warning': row.finalStatus === 'Pending'
                                }">
                    {{ row.finalStatus || 'NA'}}
                  </td>
                  <!-- <td>{{ row.level }}</td> -->
                  <!-- <td>{{ row.hodName }}</td> -->
                  <!-- <td>{{ row.status }}</td> -->
                  <!-- <td>{{ row.level1approverRemarks }}</td> -->
                  <td>
                 
                    <div class="d-inline-flex">
                       <button *ngIf="row.status != 'Approved' && row.status != 'Rejected'" type="button" class="btn btn-primary btn-sm ml-2" (click)="openEditModal(reimbursement,row)">
                        <em class="fa fa-edit"></em> Edit
                      </button>
                      <button *ngIf="row.status != 'Approved' && row.status != 'Rejected'" type="button" class="btn btn-danger btn-sm ml-2" (click)="deleteReimbursement(row,alert_message)">
                        <em class="fa fa-trash"></em> Delete
                      </button> 
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <pagination-controls class="my-pagination" [hidden]="reimbursementRequests.length == 0"
                    (pageChange)="handlePageChange($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div> 
  

  
  
  




   <ng-template #reimbursement>
    <div class="modal-body text-center">
      <div class="" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editReimbursementRequestModalLabel">Edit Reimbursement Request</h5>
              <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #editForm="ngForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="requestId">Request ID</label>
                      <input type="text" class="form-control" id="requestId" [(ngModel)]="selectedReimbursementRequest.requestId" name="requestId" readonly />
                    </div>
                  </div>
                
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" [(ngModel)]="selectedReimbursementRequest.fullName" name="fullName" readonly/>
                    </div>
                  </div>
                
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="requestType">Request Type</label>
                      <input type="text" class="form-control" id="requestType" [(ngModel)]="selectedTravelRequest.requestType" name="requestType" />
                    </div>
                  </div> -->
                
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="fromDate">From Date</label>
                      <input type="date" class="form-control" id="fromDate" [(ngModel)]="selectedReimbursementRequest.fromDate" name="fromDate" />
                    </div>
                  </div>
                
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="toDate">To Date</label>
                      <input type="date" class="form-control" id="toDate" [(ngModel)]="selectedReimbursementRequest.toDate" name="toDate" />
                    </div>
                  </div>
                
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="fromLocation">From Location</label>
                      <input type="text" class="form-control" id="fromLocation" [(ngModel)]="selectedTravelRequest.fromLocation" name="fromLocation" />
                    </div>
                  </div> -->
                
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="toLocation">To Location</label>
                      <input type="text" class="form-control" id="toLocation" [(ngModel)]="selectedTravelRequest.toLocation" name="toLocation" />
                    </div>
                  </div> -->

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="expenditureType">Expenditure Type</label>
                      <input type="text" class="form-control" id="status" [(ngModel)]="selectedReimbursementRequest.expenditureType" name="expenditureType" readonly />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="travelmode">Travel Mode</label>
                      <input type="text" class="form-control" id="status" [(ngModel)]="selectedReimbursementRequest.travelMode" name="travelmode" readonly />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="distance">Distance</label>
                      <input type="text" class="form-control" id="status" [(ngModel)]="selectedReimbursementRequest.distance" name="distance" readonly />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="currency">Currency</label>
                      <input type="text" class="form-control" id="status" [(ngModel)]="selectedReimbursementRequest.currency" name="currency" readonly />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="amount">Amount</label>
                      <input type="text" class="form-control" id="status" [(ngModel)]="selectedReimbursementRequest.amount" name="amount" readonly />
                    </div>
                  </div>
                
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="appliedBy">Applied By</label>
                      <input type="text" class="form-control" id="appliedBy" [(ngModel)]="selectedReimbursementRequest.appliedBy" name="appliedBy" readonly/>
                    </div>
                  </div>
                
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="appliedOn">Applied On</label>
                      <input type="date" class="form-control" id="appliedOn" [(ngModel)]="selectedReimbursementRequest.appliedOn" name="appliedOn" readonly/>
                    </div>
                  </div>
                
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="purpose">Purpose of Travel</label>
                      <textarea class="form-control" id="purpose" [(ngModel)]="selectedReimbursementRequest.purpose" name="purpose"></textarea>
                    </div>
                  </div>

                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="status">Status</label>
                      <input type="text" class="form-control" id="status" [(ngModel)]="selectedReimbursementRequest.status" name="status" readonly />
                    </div>
                  </div> -->
                
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="approver">Level 1 Approver</label>
                      <input type="text" class="form-control" id="approver" [(ngModel)]="selectedTravelRequest.approver" name="approver" readonly/>
                    </div>
                  </div> -->
                
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="approverStatus">Level 1 Approver Status</label>
                      <input type="text" class="form-control" id="approverStatus" [(ngModel)]="selectedTravelRequest.status" name="approverStatus" readonly/>
                    </div>
                  </div> -->
                
                  <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary" (click)="updateRequest(alert_message)" >Save Changes</button>
                  </div>
                </div>
                
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</ng-template> 

<ng-template #alert_message>
  <div class="modal-body text-center">
      <p>{{alertMessage}}</p>
      <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
  </div>
</ng-template>