/* User-info with timeline styling */
.info-wrapper{
    margin-top: 0.625rem;
    border-left: 2px dashed #cfcfcf;
    padding: 0 1.875rem 0 1.25rem;
    position: relative;
}

.info-wrapper::before{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid var(--dark-cornflower-blue);
    position: absolute;
    left:  -8px;
    top: 3.55px;
}

.info-wrapper .info-label{
    font-size: 1.05rem;    
    font-weight: 500;
    margin-bottom: .25rem;
}

.info-wrapper .info-text{
    font-size: .9rem;
    font-weight: 600;
    color: var(--middle-grey);
}

.table-header{
    width: 100%;
    height: 50px;
    background: var(--ghost-white);
    margin-bottom: 1em;
}

.table-header-title{
    font-size: 2rem;
    padding: .2em;
    margin-bottom: 0;
    color: var(--raisin-black);
}

.my-pagination::ng-deep .ngx-pagination .current {
    background: #193d8a  !important;
}

.my-pagination::ng-deep{
    padding-top: 10px;
}

.scrollable-table{
    width: 92vw;
    height: 70vh;
} 

.wide-col{
    min-width: 300px;
}

.thead-light th{
    position: sticky !important;
    top: 0;
    z-index: 1;
}

.info-label{
    width: 300px;
}

.history-table{
    overflow-x: auto;
}
.form-select{
    
    color: rgb(5, 5, 5);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  
}

.option-bg{
   
    color: black;
}


/* .selector-toggle a{
    display: block;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    z-index : 3;
    width: 30px;
    height: 40px;
    border-right: 0;
    border-radius: 50% 0 0 50%;
    text-align: center;
    color: #fff;
    background: #193d8a;
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    padding: 10px 8px;
} */

.table-options:hover, option:hover {
    cursor: pointer;
}

.enable{
    float: inline-start;
}
.view{
    float: inline-start;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure the container takes up the full width */
}
.overflow-auto{
    position: relative;
    max-height: 500px; 
    overflow-y: auto;
}
.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
.thead-light{
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--ghost-white);
}