<div class="row mb-3">
    <div class="col-md-12 px-0">
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.create_employee" [ngClass]="{'active' : isForm && isCreation}" (click)="showCreateForm()">Add New Employee</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_all_employee || userMapping.view_all_employee" [ngClass]="{'active' : isTable}" (click)="showTable()">View All Employees</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.update_draft" [ngClass]="{'active' : isDraftTable}" (click)="showDraftTable()">View All Employees Draft</button>
    </div>
</div>

<!-- start :: Create & Update Form -->
<div class="row">
    <div class="card" *ngIf="isForm || isDraft">
        <div class="card-header text-center text-uppercase">
            <strong *ngIf="isCreation">Create Employee</strong>
            <strong *ngIf="isUpdation">Update Employee</strong>
            <strong *ngIf="isDraft">Update Employee Draft</strong>  
          </div>
          <div class="card-body">
            <div class="row">
                <app-accordion>
                    <app-accordion-item class="acc-content" title="Basic Information">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Full Name</label>
                                            <input type="text" class="form-control" maxlength="255" autocomplete="none"
                                            [(ngModel)]="employeeObj.name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label" ><span class="text-danger">*</span>Email ID</label>
                                            <input type="email" class="form-control" (blur)="checkEmail(alert_message)" autocomplete="none" maxlength="50"
                                            [(ngModel)]="employeeObj.email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label" ><span class="text-danger">*</span>Gender</label>
                                            <select class="form-control" aria-hidden="true" [(ngModel)]="employeeObj.gender">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="other">Other</option>
                                              </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Date of Birth</label>
                                            <input id="DOB" type="date" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.dateOfBirth">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Blood Group</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.bloodGroup">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Marital Status</label>
                                            <select class="form-control" aria-hidden="true" [(ngModel)]="employeeObj.maritalStatus">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option value="single">Single</option>
                                                <option value="married">Married</option>
                                                <option value="other">Other</option>
                                              </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>
            
                    <app-accordion-item class="acc-content" title="Personal Information">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Father's Name</label>
                                            <input type="text" class="form-control" maxlength="255" autocomplete="none" [(ngModel)]="employeeObj.fatherName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Place of Birth</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.placeOfBirth">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Mother Tongue</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.motherTongue">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Passport Number</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.passportNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Aadhar Number</label>
                                            <input type="number" maxlength="12" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.aadhar">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>PAN Number</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.panNumber">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>
    
                    <app-accordion-item class="acc-content" title="Contact Information">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Mobile Number</label>
                                            <input type="number" maxlength="10" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.mobileNo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Landline Number</label>
                                            <input type="number"  maxlength="10" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.landline">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Address</label>
                                            <input type="text" maxlength="1000" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.address">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>State</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.state">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>City / Town</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.city">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Country</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.country">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <label class="info-label"><span class="text-danger">*</span>Pincode</label>
                                        <input type="number" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.pincode">
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Alternate Mobile Number</label>
                                            <input type="number" maxlength="10" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.alternateMobileNo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Permanent Address</label>
                                            <input type="text" maxlength="1000" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.permanentAddress">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Emergency Contact Person</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.emergencyContactPerson">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Relation</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.relation">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Emergency Contact Mobile Number</label>
                                            <input type="number" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.emergencyContactMobile">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>
    
                    <app-accordion-item class="acc-content" title="Educational Information">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Graduation Type</label>
                                            <select class="form-control" aria-hidden="true" [(ngModel)]="employeeObj.graduationType">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option value="HSC">HSC</option>
                                                <option value="Bachelor's Degree">Bachelor's Degree</option>
                                                <option value="Master's Degree">Master's Degree</option>
                                                <option value="Doctorate (PhD)">Doctorate (PhD)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Pursuing</label>
                                            <select class="form-control" aria-hidden="true" [(ngModel)]="employeeObj.pursuing">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                              </select>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="employeeObj.pursuing == 'No'" class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Year of Passing</label>
                                            <input type="number" maxlength="4" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.yearOfPassing">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Passing Grade</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.passingGrade">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h4 class="info-label" >Certifications</h4>
                            <div *ngFor="let certification of allCertificationList;let i = index" class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Certification Name - {{i+1}}</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="certification.certificationName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Duration</label>
                                            <select class="form-control" aria-hidden="true" [(ngModel)]="certification.duration">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option value="3 Months">3 Months</option>
                                                <option value="6 Months">6 Months</option>
                                                <option value="1 Year">1 Year</option>
                                                <option value="More than 1 Year">More than 1 Year</option>
                                              </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Mode of Course</label>
                                            <select class="form-control" aria-hidden="true" [(ngModel)]="certification.modeOfCourse">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option value="Offline">Offline</option>
                                                <option value="Online">Online</option>
                                                <option value="Both">Both</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Date of completion</label>
                                            <input id="DOC" type="date" class="form-control" autocomplete="none" [(ngModel)]="certification.dateOfCompletion">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Certification Number</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="certification.certificationNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex align-items-center">
                                    <div class="form-group m-0 mt-3 mb-1">
                                        <button type="button" class="btn btn-outline-primary mx-1" (click)="addInputCertificationField()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                        <button *ngIf="i != 0" type="button" class="btn btn-outline-primary mx-1" (click)="removeInputCertificationField(certification)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>
    
                    <app-accordion-item class="acc-content" title="Employment Information">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Date Of Joining</label>
                                            <input id="DOJ" type="date" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.dateOfJoining">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Employment Status</label>
                                            <select class="form-control" aria-hidden="true" [(ngModel)]="employeeObj.employmentstatus">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option value="Probation">Probation</option>
                                                <option value="Confirmed">Confirmed</option>
                                                <option value="Resigned">Resigned</option>
                                                <option value="InActive">In-Active</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Notice Period</label>
                                            <input type="number" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.noticePeriod">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Manager</label>
                                            <select class="form-control" aria-hidden="true" [(ngModel)]="employeeObj.managerId">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option *ngFor="let employee of managerList" value="{{employee.empId}}">{{employee.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Department</label>
                                            <select class="form-control" aria-hidden="true" [(ngModel)]="employeeObj.departmentId" (change)="getJobRolesByDept(employeeObj.departmentId)">
                                                <option selected="selected" value="" >Select</option>
                                                <option *ngFor="let dept of allDeptList" value="{{dept.deptId}}">{{dept.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Job Role</label>
                                            <select class="form-control" aria-hidden="true" [(ngModel)]="employeeObj.jobRoleId">
                                                <option selected="selected" value="" >Select</option>
                                                <option *ngFor="let jobRole of filteredJobRoleList" value="{{jobRole.jobRoleId}}">{{jobRole.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Employee Role</label>
                                            <select class="form-control" aria-hidden="true" [(ngModel)]="employeeObj.role">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option value="Employee">Employee</option>
                                                <option value="Team Lead">Team Lead</option>
                                                <option value="HOD">HOD</option>
                                                <option value="Manager">Manager</option>
                                              </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Experience</label>
                                            <select class="form-control" aria-hidden="true" [(ngModel)]="employeeObj.experience">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option value="Fresher">Fresher</option>
                                                <option value="Exprienced">Exprienced</option>
                                              </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label"><span class="text-danger">*</span>Work Location <small>(State)</small></label>
                                            <select class="form-control" aria-hidden="true" [(ngModel)]="employeeObj.workLocation">
                                                <option selected="selected" value="" disabled>Select</option>
                                                <option *ngFor="let state of allStates" value="{{state}}">{{state}}</option>
                                              </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>

                    <app-accordion-item *ngIf="employeeObj.experience == 'Exprienced'" class="acc-content" title="Previous Employment Information">
                        <div class="container-fluid">
                            <div *ngFor="let previousEmployer of allPreviousEmployment;let i = index" class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Employer Name</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="previousEmployer.employerName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Date Of Joining</label>
                                            <input id="DOC" type="date" class="form-control" autocomplete="none" [(ngModel)]="previousEmployer.dateOfJoining">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Date of Relieving</label>
                                            <input id="DOC" type="date" class="form-control" autocomplete="none" [(ngModel)]="previousEmployer.dateOfRelieving">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Years of Experience</label>
                                            <input type="number" class="form-control" autocomplete="none" [(ngModel)]="previousEmployer.yearsOfExperience">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Designation</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="previousEmployer.designation">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Manager Name</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="previousEmployer.managerName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Manager Contact Number</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="previousEmployer.managerContactNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">HR Name</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="previousEmployer.hrName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">HR Contact Number</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="previousEmployer.hrContactNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex align-items-center">
                                    <div class="form-group m-0 mt-2 mb-2">
                                        <button *ngIf="i != 4" type="button" class="btn btn-outline-primary mx-1" (click)="addInputPreviousEmployerField()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                        <button *ngIf="i != 0" type="button" class="btn btn-outline-primary mx-1" (click)="removeInputPreviousEmployerField(previousEmployer)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>
    
                    <app-accordion-item class="acc-content" title="Bank/PF Account Information">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Bank Name</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.bankName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Bank Account Number</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.bankAccountNo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">IFSC</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.bankIFSCCode">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">PF Account Number</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.pfAccountNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">Previous PF Account Number</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.previousPfAccountNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">UAN</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.uan">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="info-wrapper">
                                        <div class="form-group">
                                            <label class="info-label">ESIC Account Number</label>
                                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="employeeObj.esicNumber">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>
                </app-accordion>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button *ngIf="(isCreation && userMapping.create_employee) || (isDraft && userMapping.save_draft)" type="submit" class="btn btn-primary btn-sm mx-1"
                    (click)="onCreateEmployee(alert_message)">Create Employee</button>
                    <button *ngIf="isCreation && userMapping.save_draft" type="submit" class="btn btn-outline-primary btn-sm mx-1"
                    (click)="onSaveDraftEmployee(alert_message)">Save Draft</button>
                    <button *ngIf="isUpdation && userMapping.update_employee" type="submit" class="btn btn-primary btn-sm mx-1"
                    (click)="onUpdateEmployee(alert_message)">Update Employee</button>
                    <button *ngIf="isDraft && userMapping.update_draft" type="submit" class="btn btn-outline-primary btn-sm mx-1"
                    (click)="onUpdateDraftEmployee(alert_message)">Update Draft</button>
                </div>
            </div>
          </div>
    </div>
</div>
<!-- end :: create & update form -->

<!-- start :: See all Table -->
<div class="row d-flex" *ngIf="isTable || isDraftTable">
    <div class="col-md-12 table-header">
        <h1 *ngIf="!isDraftTable" class="table-header-title">Employees</h1>
        <h1 *ngIf="isDraftTable" class="table-header-title">Employees Draft</h1>
    </div>
    <table class="table employee-table">
        <thead class="thead-light">
          <tr>
            <th *ngIf="!isDraftTable" scope="col" class="info-label">Employee Id</th>
            <th *ngIf="isDraftTable" scope="col" class="info-label">Sr No.</th>
            <th scope="col" class="info-label">Full Name</th>
            <th scope="col" class="info-label">Email Id</th>
            <th scope="col" class="info-label">Employment Status</th>
            <th scope="col" class="info-label">Date of Joining</th>
            <th *ngIf="userMapping.update_employee || userMapping.delete_employee || userMapping.update_draft" scope="col" class="info-label">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of allEmployeeList | paginate: { itemsPerPage: 10, currentPage: page }, let i = index">
            <th *ngIf="!isDraftTable" class="info-label">A-{{employee.empId}}</th>
            <th *ngIf="isDraftTable" class="info-label">{{i+1}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.employmentstatus}}</td>
            <td>{{employee.dateOfJoining}}</td>
            <td *ngIf="(isTable && userMapping.update_employee) || (isTable && userMapping.delete_employee)">
                <button *ngIf="userMapping.update_employee" class="btn btn-sm btn-outline-primary" type="submit" (click)="showUpdateForm(employee)"><em class="fa fa-edit"></em></button>&nbsp;
                <button *ngIf="userMapping.delete_employee" class="btn btn-sm btn-outline-danger"  type="submit" (click)="openDeleteEmployee(delete_template,employee)"><em class="fa fa-trash"></em></button>
            </td>
            <td *ngIf="(isDraftTable && userMapping.update_draft) || (isDraftTable && userMapping.update_draft)">
                <button *ngIf="userMapping.update_draft" class="btn btn-sm btn-outline-primary" type="submit" (click)="showUpdateDraftForm(employee)"><em class="fa fa-edit"></em></button>&nbsp;
                <button *ngIf="userMapping.update_draft" class="btn btn-sm btn-outline-danger"  type="submit" (click)="openDeleteEmployee(delete_draft_template,employee)"><em class="fa fa-trash"></em></button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="my-pagination" (pageChange)="handlePageChange($event)"></pagination-controls> 
      <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5" *ngIf="!isDraftTable" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button> 
</div>
<!-- end :: see all table -->

<!-- Modals Template -->
<ng-template #delete_template>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete the Employee?</p>
        <button type="button" class="btn btn-success" (click)="onDeleteEmployee(alert_message)">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<ng-template #delete_draft_template>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete the Employee Draft?</p>
        <button type="button" class="btn btn-success" (click)="onDeleteDraftEmployee(alert_message)">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>