<div class="row mb-3">
    <div class="col-md-12 px-0">
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.create_department" [ngClass]="{'active' : isForm && isCreation}" (click)="showCreateForm()">Add New Department</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_all_department" [ngClass]="{'active' : isTable}" (click)="showTable()">View All Departments</button>
    </div>
</div>

<!-- start :: Create & Update Form -->
<div class="row">
    <div class="card col-md-12 px-0" *ngIf="isForm">
        <div class="card-header text-center text-uppercase">
            <strong *ngIf="isCreation">Create Department</strong>
            <strong *ngIf="isUpdation">Update Department</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label><span class="text-danger">*</span>Department Name</label>
                            <input type="text" class="form-control" maxlength="255" autocomplete="none"
                            [(ngModel)]="deptObj.name">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label><span class="text-danger">*</span>Head of Department</label>
                            <select class="form-control" aria-hidden="true" [(ngModel)]="deptObj.hodId">
                                <option selected="selected" value="" disabled>Select</option>
                                <option *ngFor="let employee of hodList" value="{{employee.empId}}">{{employee.name}}</option>
                              </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button *ngIf="isCreation && userMapping.create_department" type="submit" class="btn btn-primary btn-sm mx-1"
                    (click)="onCreateDepartment(alert_message)">Create Department</button>

                    <button *ngIf="isUpdation && userMapping.update_department" type="submit" class="btn btn-primary btn-sm mx-1"
                    (click)="onUpdateDepartment(alert_message)">Update Department</button>
                </div>
            </div>
    </div>
</div>
<!-- end :: create & update form -->

<!-- start :: See all Table -->
<div class="row col-md-12" *ngIf="isTable">
    <div class="col-md-12 table-header">
        <h1 class="table-header-title">Departments</h1>
    </div>
    <table class="table department-table">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="info-label">Sr No.</th>
            <th scope="col" class="info-label">Department Name</th>
            <th scope="col" class="info-label">Head of Department</th>
            <th scope="col" class="info-label">Created by</th>
            <th scope="col" class="info-label">Created on</th>
            <th *ngIf="userMapping.update_department || userMapping.delete_department" scope="col" class="info-label">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dept of allDeptList, let i = index">
            <th class="info-label">{{i+1}}</th>
            <td>{{dept.name}}</td>
            <td>{{dept.hodName}}</td>
            <td>{{dept.createdByName}}</td>
            <td>{{dept.createdOn | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            <td *ngIf="userMapping.update_department || userMapping.delete_department">
                <button *ngIf="userMapping.update_department" class="btn btn-sm btn-outline-primary" type="submit" (click)="showUpdateForm(dept)"><em class="fa fa-edit"></em></button>&nbsp;
                <button *ngIf="userMapping.update_department" class="btn btn-sm btn-outline-danger"  type="submit" (click)="openDeleteDepartment(delete_template,dept)"><em class="fa fa-trash"></em></button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button>    
</div>
<!-- end :: see all table -->

<!-- Modals Template -->
<ng-template #delete_template>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete the Department?</p>
        <button type="button" class="btn btn-success" (click)="onDeleteDepartment(alert_message)">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<ng-template #update_mapping_template>
    <div class="modal-body text-center">
        <p>Are you sure you want to Update the mappings for this Department?</p>
        <button type="button" class="btn btn-success" (click)="cancelRequest();">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>