<!-- Modal Container -->
<div class="modal-overlay">
  <div class="modal-domain-wrapper ">
    <div class="modal-header">
      <h3>{{viewing ? 'View' : isEditing ? 'Edit' : 'Add'}} New Domain</h3>
      <button class="close-btn" (click)="onCloseModal()">&times;</button>
    </div>

    <div class="modal-body">
      <div class="domain-container">
        <!-- Main Domain Input -->
        <div class="domain-input-group">
          <input [disabled]="viewing" id="domainInput" type="text" placeholder="Enter domain name..."
            [(ngModel)]="domain.name" class="domain-input-field" aria-label="Domain name">
          <button *ngIf="isEditing || !viewing" (click)="addSubDomainList()" class="btn btn-info btn-sm"
            title="Add Sub-Domain">
            <i class="fa-solid fa-plus"></i>
            <span>Add SubDomain</span>
          </button>
          <button *ngIf="isEditing || !viewing" (click)="addServiceList()" class="btn btn-warning btn-sm ml-2"
            title="Add Service">
            <i class="fa-solid fa-plus"></i>
            <span>Add Service</span>
          </button>
        </div>

        <!-- Sub-Domains Section -->
        <div class="sub-domains-section" *ngIf="domain.subDomains?.length">
          <app-SubDomain [isEditing]="isEditing" [isViewing]="viewing" [subDomains]="domain.subDomains"></app-SubDomain>
        </div>

        <!-- Services Section -->
        <div class="sub-domains-section" *ngIf="domain.services?.length">
          <div *ngIf="domain.services.length > 0" class="service-list">
            <div *ngFor="let service of domain.services; let j = index" class="service-node">
              <div class="node-header">
                <button *ngIf="service.subServices.length > 0" class="toggle-btn" (click)="toggleService(j)"
                  aria-label="Toggle service">
                  <i class="fa-solid"
                    [ngClass]="{'fa-chevron-down': service.isOpen, 'fa-chevron-right': !service.isOpen}"></i>
                </button>

                <div class="node-content service">
                  <input [disabled]="viewing" type="text" placeholder="Service Name" [(ngModel)]="service.name"
                    class="node-input" aria-label="Service name">

                  <div class="node-actions">
                    <button *ngIf="isEditing || !viewing" (click)="addSubServices(j)" class="btn btn-success btn-sm"
                      title="Add Sub-Service">
                      <i class="fa-solid fa-plus"></i>
                      <span class="btn-label">Sub-Service</span>
                    </button>
                    <button *ngIf="(!isEditing && !viewing) || newData(service)" (click)="removeServices(j)"
                      class="btn btn-danger btn-sm" title="Delete">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                    <label *ngIf="isEditing" class="switch">
                      <input type="checkbox" [checked]="service.isActive"
                        (change)="deleteDomainData( service.id, 'service', service, service.isActive)">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>

              <!-- Sub-Services Level -->
              <div class="nested-content" [class.is-open]="service.isOpen">
                <ul *ngIf="service.subServices.length > 0 && service.isOpen" class="subservice-list">
                  <app-SubService [isEditing]="isEditing" [isViewing]="viewing"
                    [subServiceList]="service.subServices"></app-SubService>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="onCloseModal()">
        Cancel
      </button>
      <button *ngIf="isEditing || !viewing" class="btn btn-primary" (click)="createDomain()"
        [disabled]="!domain.name || loading ">
        {{ loading ? 'Creating...' : isEditing ? 'Update' : 'Create' }}
      </button>
    </div>
  </div>
</div>

<ng-template #domainCreatedModal>
  <div class="modal-body text-center">
    <p>{{alertMessage}}</p>
    <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
  </div>
</ng-template>