
<div class="row mb-3">
    <div class="col-md-12 px-0">
     <button class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isDomainTable}" (click)="showAllDomain()">All Domain</button>
     <!-- <button class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isApplication}" (click)="showApplicationForm()">Create Application</button> -->
     <!-- <button class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isAppTable}" (click)="showApplicationsTable()">Applications</button> -->
     <!-- <button class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active' : isfileUpload}" (click)="showFileUploadForm()">File Upload <small>(skills)</small></button> -->
 </div>
 </div>


<!-- start :: Domain/ Specialization Configuration -->

<!-- View All Domain :: start -->
<div class="row" *ngIf="isDomainTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">All Domain</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 mb-2 ml-auto d-flex justify-content-end align-items-start">
                <button type="button" class="btn btn-outline-primary btn-sm" [ngClass]="{'active' : isDomainCreation}" (click)="showCreateDomainForm()"><em class="fa-solid fa-plus"></em>Add New Domain</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="selector-toggle" >
                    <a href="javascript:void(0)">
                        <i *ngIf="!isSearchEnabled" class="fa fa-search" (click)="toggleSearch()"></i>
                        <i *ngIf="isSearchEnabled" class="fa-solid fa-xmark" (click)="toggleSearch()"></i>
                    </a>
                </div>
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'domainInfo'" [tableTHeadId]="'domainInfoTHead'"
                [tableTHeadTrId]="'domainInfoTHeadTr'">
                <table class="table" matSort (matSortChange)="sortData($event)" id="domainInfo">
                    <thead class="thead-light" id="domainInfoTHead">
                      <tr id="domainInfoTHeadTr">
                        <th scope="col" class="info-label">Sr No.</th>
                        <th scope="col" class="info-label" mat-sort-header="domainName|string">Domain Name</th>
                        <th scope="col" class="info-label" mat-sort-header="createdByName|string">Created By</th>
                        <th scope="col" class="info-label" mat-sort-header="createdOn|datetime">Created On</th>
                        <th scope="col" class="info-label">Actions</th>
                      </tr>
                      <tr app-column-filter-bar *ngIf="isDomainTable && isSearchEnabled" [columnList]="domainColumns" (onSearch)="onSearch($event);page=1" ></tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="allDomainList.length == 0 || (allDomainList| colFilter:filters:false).length == 0">
                            <th colspan="8" class="text-center info-label">No details to display...</th>
                        </tr>
                      <tr *ngFor="let domain of allDomainList| colFilter:filters:false | sort : [sortColumn, sortColumnType, sortDirection] | paginate: { itemsPerPage: 20, currentPage: page }; let i = index" >
                        <th scope="col" class="info-label">{{20*(page-1)+i+1}}</th>
                        <td>{{domain.domainName}}</td>
                        <td>{{domain.createdByName}}</td>
                        <td>{{domain.createdOn}}</td>
                        <td>
                            <button class="btn btn-sm btn-outline-primary" *ngIf="userMapping.edit_domain" type="submit" (click)="showUpdateDomainForm(domain)"><em class="fa fa-edit"></em></button>&nbsp;
                            <button class="btn btn-sm btn-outline-danger" *ngIf="userMapping.delete_domain" type="submit" (click)="openDeleteDomainMod(delete_domain_template,domain)"><em class="fa fa-trash"></em></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <pagination-controls class="my-pagination" [hidden]="allDomainList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls>
                <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2 excel-button" [hidden]="allDomainList.length == 0" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button>
            </div>
        </div>
    </div>
</div>
<!-- View All Domain :: end -->

<!-- Create/Update Domain :: start -->

<div class="row">
    <div class="px-0">
        <button class="btn btn-sm btn-outline-primary mb-1" *ngIf="!isDomainTable" (click)="showAllDomain()"><em><i class="fa-solid fa-arrow-left-long"></i></em></button>
    </div>
    <div class="card col-md-12 px-0" *ngIf="isDomainForm">
        <div class="card-header text-center text-uppercase">
            <strong *ngIf="isDomainCreation">Add Domain</strong>
            <strong *ngIf="isDomainUpdation">Update Domain</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Domain Name</label>
                        <input type="text" class="form-control" autocomplete="none" [(ngModel)]="domainObj.domainName" (blur)="checkDomainName(domainObj.domainName, alert_message)">
                    </div>
                </div>
            </div>
            <div *ngFor="let spec of allSpecializationList;let i = index" class="row">
                <div class="col-md-4 mb-0">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Specialization - {{i+1}}</label>
                            <input #myInput type="text" class="form-control" autocomplete="none" [(ngModel)]="spec.specializationName">
                            <!-- (blur)="ValidateInput($event.target,spec.specializationName)" -->
                          </div>
                </div>
                <div class="col-md-2 d-flex align-items-center">
                    <div class="form-group m-0 mt-3 mb-1">
                        <button type="button" class="btn btn-outline-primary mx-1" (click)="addInputSpecializationField(alert_message,spec.specializationName)" [disabled]="(i !== allSpecializationList.length-1 || spec.specializationName == ''|| spec.specializationName == null )"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        <button type="button" *ngIf="allSpecializationList.length > 1" class="btn btn-outline-primary mx-1" (click)="removeInputSpecializationField(spec)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                      </div>
                </div>
            </div>

             <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" *ngIf="userMapping.create_domain && isDomainCreation" class="btn btn-primary btn-sm mx-1" (click)="createDomain(alert_message)">Create Domain</button>
                    <button type="submit" *ngIf="userMapping.update_domain && isDomainUpdation" class="btn btn-primary btn-sm mx-1" (click)="updateDomain(alert_message)">Update Domain</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create/Update Domain :: end -->

<!-- end :: Domain/ Specialization Configuration -->


<!-- isfileUpload -->

<div class="row" *ngIf="isfileUpload">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">File upload</h1>
            </div>
        </div>
        <div class="card-body">
           <div class="row">
            <div class="col-md-4 mb-0">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Upload manager mapping</label><br>
                        <small class="text-danger">Kindly ensure to fill appropriate data according to template</small>
                        <input type="file" class="form-control p-1" (change)="onFileSelect($event, alert_message)">
                    </div>
                </div>
            </div>
    
            <div class="col-md-4 mb-0">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Download Sheet Format</label>
                        <button class="btn btn-outline-danger" (click)="downloadFileTemplate()"><em class="fa fa-download"></em></button>
                    </div>
                </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-4 mb-0">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Billable related File</label>
                        <input type="file" class="form-control p-1" (change)="onBillableFileSelect($event, alert_message)">
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-0">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Download Sheet Format</label>
                        <button class="btn btn-outline-danger" (click)="downloadBilliableFileTemplate()" ><em class="fa fa-download"></em></button>
                    </div>
                </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Bulk Designation Upload</label>
                            <input type="file" class="form-control p-1" (change)="onDesignationUpload($event, alert_message)">
                        </div>
                    </div>
            </div>
            <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Download Sheet Format</label>
                            <button class="btn btn-outline-danger" (click)="downloadDeginationUploadFileTemplate()" ><em class="fa fa-download"></em></button>
                        </div>
                    </div>
            </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Bulk Confirmation Date Upload</label>
                            <input type="file" class="form-control p-1" (change)="onConfirmationDateUpload($event, alert_message)">
                        </div>
                    </div>
            </div>
            <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Download Sheet Format</label>
                            <button class="btn btn-outline-danger" (click)="downloadConfirmationDateUpload()" ><em class="fa fa-download"></em></button>
                        </div>
                    </div>
            </div>
            </div> -->
    </div> 
</div>

<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>

<ng-template #delete_domain_template>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete the domain? Deleting Domain will also delete mapped specialization.</p>
        <button type="button" class="btn btn-success" (click)="cancelRequest();deleteDomain(alert_message)">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>
