<div class="row mb-3">
    <div class="col-md-12 px-0">
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="!isHolidayForm && !isCreation" (click)="showAddHolidayForm()">Add Holidays</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="!isHolidayTable" (click)="showHoliaysTable()">View Holidays</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="!isLeaveTypeForm && !isCreation" (click)="showAddLeaveTypeForm()">Add Leave Type</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="!isLeaveRuleTable" (click)="showLeaveTypesTable()">View Leave Types</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="!isLeaveBalanceForm" (click)="showLeaveBalanceForm()">Manage Employee Leave Balance</button>
    </div>
</div>

<!-- start :: Add & Update Holiday Form -->
<div class="row">
    <div class="card col-md-12 px-0" *ngIf="isHolidayForm">
        <div class="card-header text-center text-uppercase">
            <strong *ngIf="isCreation">Add Holidays</strong>
            <strong *ngIf="isUpdation">Update Holidays</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label><span class="text-danger">*</span>Occasion</label>
                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="holidayObj.occasion">
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-0">
                    <div class="info-wrapper">
                        <div class="custom-control-lg custom-control custom-checkbox mt-4 pt-2">
                            <input class="custom-control-input" type="checkbox" id="optionalCheck" [(ngModel)]="holidayObj.optionalHoliday">
                            <label class="custom-control-label" for="optionalCheck">Optional Holiday</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-0">
                    <div class="info-wrapper">
                        <div class="custom-control-lg custom-control custom-checkbox mt-4 pt-2">
                            <input class="custom-control-input" type="checkbox" id="customCheck" [(ngModel)]="holidayObj.customHoliday">
                            <label class="custom-control-label" for="customCheck">Custom Holiday</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Date</label>
                            <input id="occasionDate" type="date" class="form-control" autocomplete="none" [(ngModel)]="holidayObj.dateOfHoliday" (change)="setHolidayWeekDay()">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label><span class="text-danger">*</span>Day</label>
                            <input type="text" class="form-control" autocomplete="none" disabled [(ngModel)]="holidayObj.dayOfTheWeek">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button *ngIf="isCreation" type="submit" class="btn btn-primary btn-sm mx-1" (click)="onAddHoliday(alert_message)">Add Holidays</button>
                    <button *ngIf="isUpdation" type="submit" class="btn btn-primary btn-sm mx-1" (click)="onUpdateHoliday(alert_message)">Update Holidays</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end ::  Add & Update Holiday form -->

<!-- start :: holidays Table -->
<div class="row col-md-12" *ngIf="isHolidayTable">
    <div class="col-md-12 table-header">
        <h1 class="table-header-title">Holidays</h1>
    </div>
    <table class="table holidays-table">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="info-label">Sr. No</th>
            <th scope="col" class="info-label">Occasion</th>
            <th scope="col" class="info-label">Day</th>
            <th scope="col" class="info-label">Date</th>
            <th scope="col" class="info-label">Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let holiday of holidayList; let i = index">
                <td>{{i+1}}</td>
                <td>{{holiday.occasion}}&nbsp;&nbsp;<small class="text-highlight "><strong>{{(holiday.optionalHoliday == 'true')? 'optional' : ''}}</strong></small></td>
                <td>{{holiday.dayOfTheWeek}}</td>
                <td>{{holiday.dateOfHoliday}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary" type="submit" (click)="showUpdateHolidayForm(holiday)"><em class="fa fa-edit"></em></button>&nbsp;
                <button class="btn btn-sm btn-outline-danger"  type="submit" disabled><em class="fa fa-trash"></em></button>
                </td>
            </tr>
        </tbody>
      </table>   
</div>
<!-- end :: holidays table -->

<!-- start :: Add & Update Leave Type Form -->
<div class="row">
    <div class="card col-md-12 px-0" *ngIf="isLeaveTypeForm">
        <div class="card-header text-center text-uppercase">
            <strong *ngIf="isCreation">Add Leave Type</strong>
            <strong *ngIf="isUpdation">Update Leave Type</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label><span class="text-danger">*</span>Leave Type</label>
                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="leaveTypeObj.leaveType">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label><span class="text-danger">*</span>Leave Code</label>
                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="leaveTypeObj.leaveTypeCode">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label><span class="text-danger">*</span>Default Leaves</label>
                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="leaveTypeObj.noOfDays">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label for="leaveDesc">Description</label>
                            <textarea class="form-control" id="leaveDesc" rows="3" [(ngModel)]="leaveTypeObj.description"></textarea>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label for="leaveRules">Rules</label>
                            <textarea class="form-control" id="leaveRules" rows="5" [(ngModel)]="leaveTypeObj.rules"></textarea>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button *ngIf="isCreation" type="submit" class="btn btn-primary btn-sm mx-1" (click)="onAddLeaveType(alert_message)">Add</button>
                    <button *ngIf="isUpdation" type="submit" class="btn btn-primary btn-sm mx-1" (click)="onUpdateLeaveType(alert_message)">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end ::  Add & Update Leave Type form -->

<!-- start :: Leave Type Table -->
<div class="row col-md-12" *ngIf="isLeaveRuleTable">
    <div class="col-md-12 table-header">
        <h1 class="table-header-title">Leave Types</h1>
    </div>
    <table class="table balance-table">
        <thead class="thead-light text-center">
          <tr>
            <th scope="col" class="info-label">Leave Type</th>
            <th scope="col" class="info-label">Leave Code</th>
            <th scope="col" class="info-label">Default Leaves</th>
            <th scope="col" class="info-label">Rules</th>
            <th scope="col" class="info-label">Description</th>
            <th scope="col" class="info-label">Actions</th>
          </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let leaveType of leaveTypes">
                <td>{{leaveType.leaveType}}</td>
                <td>{{leaveType.leaveTypeCode}}</td>
                <td>{{leaveType.noOfDays}} day(s)</td>
                <td>{{leaveType.rules}}</td>
                <td>{{leaveType.description}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary" type="submit" (click)="showUpdateLeaveTypeForm(leaveType)"><em class="fa fa-edit"></em></button>&nbsp;
                    <button class="btn btn-sm btn-outline-danger"  type="submit" disabled><em class="fa fa-trash"></em></button>
                </td>
            </tr>
        </tbody>
      </table>      
</div>
<!-- end :: Leave Type table -->

<!-- start :: Update Leave Balance Form -->
<div class="row">
    <div class="card col-md-12 px-0" *ngIf="isLeaveBalanceForm">
        <div class="card-header text-center text-uppercase">
            <strong>Manage Leave Balance</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label><span class="text-danger">*</span>Employee ID</label>
                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="leaveBalanceObj.empId" placeholder="Please Enter Employee ID without prefix A">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-0 mt-4 pt-2">
                    <button type="submit" class="btn btn-primary btn-sm mx-1" (click)="onGetEmpLeaveBalance(alert_message)">Get Employee Leave Balance</button>
                </div>
            </div>
            <hr>
            <div class="row" *ngFor="let leaveBalance of leaveBalanceList">
                <div *ngIf="leaveBalance.leaveType != 'Total'" class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label for="leaveRules">Leave Type</label>
                            <input type="text" class="form-control" autocomplete="none" disabled [(ngModel)]="leaveBalance.leaveType">
                          </div>
                    </div>
                </div>
                <div *ngIf="leaveBalance.leaveType != 'Total'" class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label for="leaveRules">Balance</label>
                            <input type="text" class="form-control" autocomplete="none" [(ngModel)]="leaveBalance.balance" (change)="leaveBalanceInputValidation(leaveBalance.balance, alert_message)">
                          </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button *ngIf="leaveBalanceList.length != 0" type="submit" class="btn btn-primary btn-sm mx-1" (click)="onUpdateLeaveBalance(alert_message)">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end ::  Add & Update Leave Type form -->

<!-- Modals Template -->
<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>