<!-- start :: Upload Document Form -->
<div class="row">
    <div class="card col-md-12 px-0">
        <div class="card-header text-center text-uppercase">
            <strong>Document Upload</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="info-wrapper">
                        <div class="form-group d-flex flex-column">
                            <label class="info-label"><span class="text-danger">*</span>Aadhar Card : </label>
                            <input type="file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-wrapper">
                        <div class="form-group d-flex flex-column">
                            <label class="info-label"><span class="text-danger">*</span>Pan Card : </label>
                            <input type="file">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="currentEmployeeInfo.pursuing == 'No'" class="row">
                <div class="col-md-4">
                    <div class="info-wrapper">
                        <div class="form-group d-flex flex-column">
                            <label class="info-label"><span class="text-danger">*</span>Recent Passing Certificate : </label>
                            <input type="file">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="currentEmployeeInfo.certifications"  class="row flex-column px-3">
                <hr>
                <h4>Certifications</h4>
                <div *ngFor="let certification of currentEmployeeInfo.certifications;let i = index" class="row">
                    <div class="col-md-4">
                        <div class="info-wrapper">
                            <div class="form-group d-flex flex-column">
                                <label class="info-label"><span class="text-danger">*</span>Certificate - {{i+1}}: </label>
                                <input type="file">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="currentEmployeeInfo.experience == 'Exprienced'" class="row flex-column px-3">
                <hr>
                <h4>Previous Employment Documents</h4>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="info-wrapper">
                            <div class="form-group d-flex flex-column">
                                <label class="info-label"><span class="text-danger">*</span>Experience Letter : </label>
                                <input type="file">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-sm mx-1" (click)="onSave()">Save</button>
                </div>
            </div>
        </div>
    </div>  
</div>
<!-- end :: Upload Document form -->