<!-- start :: Upload Document Table -->
<div class="row d-flex">
    <p>File Size : upto 200 kB. Dimension : upto 900px x 700px. File Type : jpeg </p>
    <table class="table employee-table">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="info-label">Document Type</th>
                <th scope="col" class="info-label">Upload Status</th>
                <th scope="col" class="info-label">Actions</th>
                <th scope="col" colspan="3" class="info-label">Preview</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let document of documentList;let i = index">
                <td>{{document.documentType}}</td>
                <td>{{document.uploadStatus}}</td>
                <td>
                    <input class="uploadFile" id="doc{{i+1}}" type="file" accept="image/jpeg"
                        (change)="onImageSelect($event, i, document, alert_message)" (click)="$any($event.target).value=null">
                    <label class="btn btn-sm btn-outline-primary m-0" for="doc{{i+1}}">Upload</label>&nbsp;
                    <!-- <button *ngIf="document.uploadStatus == 'Completed'" class="btn btn-sm btn-outline-primary" type="submit" >Preview</button> -->
                </td>
                <td colspan="3">
                    <img *ngIf="document.uploadStatus == 'Completed'" class="d-inline-block" id="docPreview{{i+1}}" alt="Document Preview"
                    style="width: 300px;" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-sm mx-1" (click)="onSave(alert_message)">Save</button>
    </div>
</div>
<!-- end :: Upload Document Table -->



<!-- start :: Upload Document Form 
<div class="row">
    <div class="card col-md-12 px-0">
        <div class="card-header text-center text-uppercase">
            <strong>Document Upload</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="info-wrapper">
                        <div class="form-group d-flex flex-column">
                            <label class="info-label" for="aadhar-card"><span class="text-danger">*</span>Aadhar Card : </label>
                            <input type="file" accept="image/jpeg" id="Aadhar-card" (change)="onImageSelect($event)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-wrapper">
                        <div class="form-group d-flex flex-column">
                            <label class="info-label" for="pan-card"><span class="text-danger">*</span>Pan Card : </label>
                            <input type="file" accept="image/jpeg" id="Pan-card" (change)="onImageSelect($event)">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="currentEmployeeInfo.pursuing == 'No'" class="row">
                <div class="col-md-4">
                    <div class="info-wrapper">
                        <div class="form-group d-flex flex-column">
                            <label class="info-label" for="recent-passing-certificate"><span class="text-danger">*</span>Recent Passing Certificate : </label>
                            <input type="file" accept="image/jpeg" id="recent-passing-certificate" (change)="onImageSelect($event)">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="currentEmployeeInfo.certifications"  class="row flex-column px-3">
                <hr>
                <h4>Certifications</h4>
                <div *ngFor="let certification of currentEmployeeInfo.certifications;let i = index" class="row">
                    <div class="col-md-4">
                        <div class="info-wrapper">
                            <div class="form-group d-flex flex-column">
                                <label class="info-label" for="certificate-{{i+1}}"><span class="text-danger">*</span>Certificate - {{i+1}}: </label>
                                <input type="file" accept="image/jpeg" id="certificate-{{i+1}}" (change)="onImageSelect($event)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="currentEmployeeInfo.experience == 'Experienced'" class="row flex-column px-3">
                <hr>
                <h4>Previous Employment Documents</h4>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="info-wrapper">
                            <div class="form-group d-flex flex-column">
                                <label class="info-label" for="experience-letter"><span class="text-danger">*</span>Experience Letter : </label>
                                <input type="file" accept="image/jpeg" id="experience-letter" (change)="onImageSelect($event)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-sm mx-1" (click)="onSave(alert_message)">Save</button>
                </div>
            </div>
        </div>
    </div>  
</div>
<-- end :: Upload Document form -->

<ng-template #upload_document>
    <div class="modal-body">

    </div>
</ng-template>

<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>