<div class="mt-5">
  <app-breadcrumb></app-breadcrumb>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 table-header d-flex align-items-center justify-content-between">
                        <h1 class="table-header-title">Release Notes</h1>
                        

                    </div>
                    <div class="row">
                        <div class="col-md-12 px-5">
                            <div *ngIf="allReleaseNotes.length == 0" class="row">
                                <div class="col-md-12">
                                    <h6 class="text-secondary">No Release Notes to display ...</h6>
                                </div>
                            </div>
                            <ng-container *ngIf="allReleaseNotes.length != 0">
                                <div class="row my-3" *ngFor="let releaseNote of allReleaseNotes;">
                                  <div class="col-md-12 card p-0">
                                    <div class="alert alert-light fade show release-notification pr-4 m-0" role="alert">
                                      <div class="releaseNoteText text-dark" [innerHTML]="releaseNote.notificationMessage | safeHtml"></div>
                                      <div class="row justify-content col-sm-3" *ngIf="selectedReleaseNoteVideoId == releaseNote.notificationId && notificationIdExists(releaseNote.notificationId)">
                                        <br>
                                        {{selectedReleaseNoteVideoPath | json}}
                                        <video width="280" height="210" *ngIf="videoSrc" controls>
                                          <!-- <source [src]="selectedReleaseNoteVideoPath" type="video/mp4" /> -->
                                           <source   [src]="videoSrc">
                                          Your browser does not support the video tag or the video format.
                                        </video>
                                        <br>
                                      </div>
                                      <div class="row justify-content-between px-3 pt-3">
                                        <small>created on : {{releaseNote.createdOn | date: 'dd-MM-yyyy HH:mm:ss'}}</small>
                                        <small *ngIf="releaseNote.updatedOn">updated on : {{releaseNote.updatedOn | date: 'dd-MM-yyyy HH:mm:ss'}}</small>
                                        <button class="fa-solid fa-play playIcon fa-xl" *ngIf="notificationIdExists(releaseNote.notificationId)" (click)="playButtonPress(releaseNote.notificationId)"></button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </ng-container>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>