<div class="row mb-3">
    <div class="col-md-12 px-0">
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.apply_comp_off_req" [ngClass]="{'active' : isForm && isCreation}" (click)="showCreateForm()">Apply Compensatory Off</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_comp_off_req_status || userMapping.update_comp_off_req" [ngClass]="{'active' : isCompOffRequestsTable}" (click)="showCompOffRequestTable()">My Compensatory Off Requests</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_reportee_comp_off_applications || userMapping.update_comp_off_applications_status" [ngClass]="{'active' : isCompOffApplicationsTable}" (click)="showCompOffApplicationsTable()">My Reportee Compensatory Off Applications</button>
    </div>
</div>

<!-- start :: Apply CompOff Form -->
<div class="row">
    <div class="card col-md-12 px-0" *ngIf="isForm">
        <div class="card-header text-center text-uppercase">
            <strong *ngIf="isCreation">Apply Compensatory Off</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Title</label>
                            <input type="text" class="form-control" autocomplete="none" disabled [(ngModel)]="compOffObj.leaveType">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>For</label>
                            <select class="form-control" aria-hidden="true" [(ngModel)]="compOffObj.reasonId">
                                <option selected="selected" value="" disabled>Select</option>
                                <option *ngFor="let reason of compOffReasons" value="{{reason.compOffId}}">{{reason.compOffReasons}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>From Date</label>
                            <!-- <input id="fromDate" type="date" class="form-control" autocomplete="none" [(ngModel)]="compOffObj.fromDate" (change)="setMinToDate(alert_message);setNoOfDays(alert_message)" (keydown)="disableMannualDateInput()" required> -->
                            <div class="d-flex">
                                <input class="form-control" matInput id="fromDate" #input (focus)="fromDatePicker.open()" [matDatepicker]="fromDatePicker"  [matDatepickerFilter]="fromDateFilter" (keydown)="disableMannualDateInput()"
                                placeholder="Choose a from date" [(ngModel)]="compOffObj.fromDate" (dateChange)="resetToDate()">
                                <mat-datepicker-toggle matSuffix [for]="fromDatePicker" style="margin-left: -40px;" ></mat-datepicker-toggle>
                            </div>
                            <mat-datepicker #fromDatePicker (closed)="input.blur()" disabled="false" ></mat-datepicker>
                        </div>
                    </div>
                </div>
                <div class="offset-md-2 col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>To Date</label>
                            <!-- <input id="toDate" type="date" class="form-control" autocomplete="none" [(ngModel)]="compOffObj.toDate" (change)="setNoOfDays(alert_message)" (keydown)="disableMannualDateInput()" required> -->
                            <div class="d-flex">
                                <input class="form-control" matInput id="toDate" #input (focus)="toDatePicker.open()" [matDatepicker]="toDatePicker" [matDatepickerFilter]="toDateFilter" placeholder="Choose a to date" (keydown)="disableMannualDateInput()"
                                [(ngModel)]="compOffObj.toDate" (dateChange)="setNoOfDays(alert_message)">
                                <mat-datepicker-toggle matSuffix [for]="toDatePicker" style="margin-left: -40px;" ></mat-datepicker-toggle>
                            </div>
                            <mat-datepicker #toDatePicker (closed)="input.blur()" disabled="false" [startAt]="compOffObj.fromDate"></mat-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label">No.of Days</label>
                            <input type="text" class="form-control" autocomplete="none" disabled [(ngModel)]="compOffObj.noOfDays">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label for="leaveDesc"><span class="text-danger">*</span>Description</label>
                            <textarea class="form-control" id="leaveDesc" rows="3" [(ngModel)]="compOffObj.description"></textarea>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button *ngIf="isCreation" type="submit" class="btn btn-primary btn-sm mx-1" (click)="onApplyCompOff(alert_message)">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end :: Apply CompOff form -->

<!-- start :: My compOff Request Table -->
<div class="row" *ngIf="isCompOffRequestsTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">My Compensatory off Requests</h1>
            </div>
        </div>

        <div class="row">
            <div class="form-group d-flex flex-row ml-auto col-md-3">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">	
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'compOffRequestInfo'" [tableTHeadId]="'compOffRequestInfoTHead'"
                    [tableTHeadTrId]="'compOffRequestInfoTHeadTr'">
                    <table class="table table-responsive" id="compOffRequest-table" matSort (matSortChange)="sortCompensatory($event)">	
                        <thead class="thead-light">	
                          <tr>	
                            <th scope="col" class="info-label">Sr No.</th>	
                            <th scope="col" class="info-label" mat-sort-header="compOffReasons">Leave Applied For</th>	
                            <th scope="col" class="info-label" mat-sort-header="fromDate">From Date</th>	
                            <th scope="col" class="info-label" mat-sort-header="toDate">To Date</th>	
                            <th scope="col" class="info-label" mat-sort-header="noOfDays">Duration</th>	
                            <th scope="col" class="info-label" mat-sort-header="description">Description</th>	
                            <th scope="col" class="info-label" mat-sort-header="status">Status</th>
                         </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="allCompOffRequests.length == 0">
                                <th colspan="8" class="text-center info-label">No details to display...</th>
                              </tr>
                            <tr *ngFor="let compOffReq of allCompOffRequests |filter:data| paginate: { itemsPerPage: 20, currentPage: page };let i = index">
                                <td>{{20*(page-1)+i+1}}</td>
                                <td>{{compOffReq.compOffReasons}}</td>
                                <td>{{compOffReq.fromDate}}</td>
                                <td>{{compOffReq.toDate}}</td>
                                <td>{{compOffReq.noOfDays}}</td>
                                <td>{{compOffReq.description}}</td>
                                <td>{{compOffReq.status}}</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                <pagination-controls class="my-pagination" [hidden]="allCompOffRequests.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls> 
                <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2" [hidden]="allCompOffRequests.length == 0" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button>
            </div>
        </div>
    </div>       
</div>
<!-- end :: My compOff Request table -->

<!-- start :: compOff Application Table -->
<div class="row" *ngIf="isCompOffApplicationsTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">My Reportee Compensatory off Applications</h1>
            </div>
        </div>

        <div class="row">
            <div class="form-group d-flex flex-row ml-auto col-md-3">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">	
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'compOffAppInfo'" [tableTHeadId]="'compOffAppInfoTHead'"
                    [tableTHeadTrId]="'compOffAppInfoTHeadTr'">
                    <table class="table table-responsive scrollable-table " id="compOffAppInfo" matSort (matSortChange)="sortReporteeCompensatory($event)">	
                        <thead class="thead-light" id="compOffAppInfoTHead">	
                          <tr id="compOffAppInfoTHeadTr">	
                            <th scope="col" class="info-label">Sr No.</th>	
                            <th scope="col" class="info-label" mat-sort-header="createdByName">Applied By</th>	
                            <th scope="col" class="info-label" mat-sort-header="compOffReasons">Applied For</th>	
                            <th scope="col" class="info-label" mat-sort-header="fromDate">From Date</th>	
                            <th scope="col" class="info-label" mat-sort-header="toDate">To Date</th>	
                            <th scope="col" class="info-label" mat-sort-header="noOfDays">Duration</th>	
                            <th scope="col" class="info-label" mat-sort-header="description">Description</th>	
                            <th scope="col" class="info-label" mat-sort-header="status">Status</th>
                            <th scope="col" class="info-label">Actions</th>
                         </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="allCompOffApplications.length == 0">
                                <th colspan="8" class="text-center info-label">No details to display...</th>
                              </tr>
                            <tr *ngFor="let compOffApp of allCompOffApplications|filter:data | paginate: { itemsPerPage: 20, currentPage: page };let i = index">
                                <td>{{20*(page-1)+i+1}}</td>
                                <td>{{compOffApp.createdByName}}</td>
                                <td>{{compOffApp.compOffReasons}}</td>
                                <td>{{compOffApp.fromDate}}</td>
                                <td>{{compOffApp.toDate}}</td>
                                <td>{{compOffApp.noOfDays}}</td>
                                <td>{{compOffApp.description}}</td>
                                <td>{{compOffApp.status}}</td>
                                <td>
                                    <button *ngIf="userMapping.update_comp_off_applications_status" class="btn btn-sm btn-outline-success" type="submit" (click)="onUpdateCompOffStatus(alert_message, compOffApp, 2)" title="Approve"><em class="fa-solid fa-check"></em></button>&nbsp;
                                    <button *ngIf="userMapping.update_comp_off_applications_status" class="btn btn-sm btn-outline-danger" type="submit" (click)="onUpdateCompOffStatus(alert_message, compOffApp, 3)" title="Reject"><em class="fa-solid fa-xmark"></em></button>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                      <pagination-controls class="my-pagination" [hidden]="allCompOffApplications.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls> 
                      <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2" [hidden]="allCompOffApplications.length == 0" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button>    
                </div>
            </div>
        </div>
    </div>  
</div>
<!-- end :: compOff Application table -->

<!-- Modals Template -->
<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>