.custom-select {
    border-radius: 4px;
    height: 35px; 
    width: 100px;
  }

.table-responsive {
    overflow-x: hidden;
}

.table {
    width: 100%;
    table-layout: auto;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
