
<div class="row mb-2">
    <div class="col-md-12 d-flex justify-content-between align-items-center pl-4 pt-3">
        <div>
            <button class="btn btn-link back-button" *ngIf="back" (click)="goBack()">
                <i class="fas fa-arrow-left"></i>
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active': activeButton === 'Pending'}" (click)="setActiveButton('Pending')">Pending</button>
            <button type="button" class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active': activeButton === 'Approved'}" (click)="setActiveButton('Approved')">Approved</button>
            <button type="button" class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active': activeButton === 'Rejected'}" (click)="setActiveButton('Rejected')">Rejected</button>
            <button type="button" class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active': activeButton === 'Revoked'}" (click)="setActiveButton('Revoked')">Revoked</button>
            <button type="button" class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active': activeButton === 'Applied For Revoke'}" (click)="setActiveButton('Applied For Revoke')">Applied For Revoke</button>
            <button type="button" class="btn btn-outline-primary btn-sm mx-1" [ngClass]="{'active': activeButton === 'CompOff'}" (click)="setActiveButton('CompOff')">Comp-off</button>
        </div>
        <div *ngIf="showDropDown">
        <select class="form-select-sm align-items-center mx-1 custom-select parent-container" aria-label="Default select example"
            [(ngModel)]="selectedOption" (change)="onChangeOption(selectedOption)"> 
            <option class="option-bg" value="1">All</option>
            <option class="option-bg" value="2">Date range</option>
            <!-- <option class="option-bg" value="3">Monthly</option>
            <option class="option-bg" value="4">Date range</option> -->
        </select>
    </div>
    </div>
</div>

<div *ngIf="selectedOption == 2 && showDropDown" class="form-group mt-0 mb-2 d-flex justify-content-end align-items-center" style="position: relative;">
    <!-- Date Range Input Field -->
    <input readonly placeholder=" Select Date Range:"
      [style.width]="'200px'"
      [style.height]="'29px'"
      [(ngModel)]="dateTimeRange"
      [selectMode]="'range'"
      [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1"
      (ngModelChange)="getDateRange()"
      [max]="todayDate"
      class="custom-input">

    <!-- Owl Date Time Picker -->
    <owl-date-time [pickerType]="'calendar'" [scrollStrategy]="scrollStrategy" #dtRange1></owl-date-time>

    <!-- FontAwesome Cross Icon to Reset Date Range -->
    <i *ngIf="dateTimeRange" class="fa fa-times reset-icon ml-2" (click)="resetDateRange()"></i>
  </div>

<div class="row" *ngIf="activeButton === 'CompOff'">
    <div class="col-md-12 pl-4 pt-2 pb-3 pl-8" style="padding-left: 2rem;">
        <button type="button" class="btn btn-outline-primary btn-sm active ng-star-inserted mx-1" [ngClass]="{'active': activeCompOffButton === 'Requests'}" (click)="setActiveCompOffButton('Requests')">Comp-off Requests</button>
        <button type="button" class="btn btn-outline-primary btn-sm active ng-star-inserted mx-1" [ngClass]="{'active': activeCompOffButton === 'Applications'}" (click)="setActiveCompOffButton('Applications')">Comp-off Applications</button>
    </div>
</div>


<!-- For Graphs-Charts -->
<ng-container *ngIf="!showTable &&!isCompOff &&!isLeaveRevokeRequest">
    <div class="row">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 mb-0" >
                                <div id="leaveChartContainer" style="width: 100%; height: 400px;"></div>
                            </div>
                            <div id="leaveByMonthContainer" style="width: 200%; height: 400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- for pending , approved  and rejected  -->
<div   *ngIf="showTable" class="table-responsive">
  

  <!-- <div class="selector-toggle" (click)="toggleSearch()">
    <a href="javascript:void(0)">
        <i *ngIf="!isSearchEnabled" class="fa fa-search"></i>
        <i *ngIf="isSearchEnabled" class="fa-solid fa-xmark"></i>
    </a>
</div> -->
    <div class="overflow-auto" bassHorizontalScroll [tableId]="'leaveHistoryInfo'" [tableTHeadId]="'leaveHistoryInfoTHead'"
                    [tableTHeadTrId]="'leaveHistoryInfoTHeadTr'">
                    <table class="table leave-history-table" id="leaveHistoryInfo" matSort (matSortChange)="sortData($event)" >	
                      <thead class="thead-light" id="leaveHistoryInfoTHead">	
                        <tr id="leaveHistoryInfoTHeadTr">	
                          <th scope="col" class="info-label"> Sr No.</th>	
                          <th scope="col" class="info-label" mat-sort-header="createdByName|string">Employee </th>	
                          <th scope="col" class="info-label" mat-sort-header="fromDate|date">From Date</th>	
                          <th scope="col" class="info-label" mat-sort-header="toDate|date">To Date</th>	
                          <th scope="col" class="info-label" mat-sort-header="createdOn|datetime">Apply Date</th>	
                          <th scope="col" class="info-label" mat-sort-header="noOfDays|number">Duration</th>	
                          <th scope="col" class="info-label" mat-sort-header="status|string">Status</th>	
                          <th scope="col" class="info-label" mat-sort-header="leaveStatusUpdatedByName|string">Approved/Rejected By</th>	
                          <th scope="col" class="info-label" mat-sort-header="reason|string">Leave Reason</th>	
                          <th scope="col" class="info-label" mat-sort-header="leaveType|string">Type</th>
                          <th scope="col" class="info-label" mat-sort-header="currentApprovalLevel|number">Current Approval Level</th>
                          <th scope="col" class="info-label" mat-sort-header="approverName|string">Level 1 Approver Name</th>
                          <th scope="col" class="info-label" mat-sort-header="managerApprovalStatus|string">Level 1 Approver Status</th>
                          <th scope="col" class="info-label" mat-sort-header="level2ApproverName|string">Level 2 Approver Name</th>
                          <th scope="col" class="info-label" mat-sort-header="level2ApprovalStatus|string">Level 2 Approver Status</th>
                          <th scope="col" class="info-label" mat-sort-header="level3ApproverName|string">Level 3 Approver Name</th>
                          <th scope="col" class="info-label" mat-sort-header="level3ApprovalStatus|string">Level 3 Approver Status</th>
                          <th scope="col" class="info-label" mat-sort-header="remark|string" *ngIf="activeButton ==='Rejected'">Remarks</th>
                          <th scope="col" class="info-label" *ngIf="activeButton ==='Pending'">Actions</th>
                          </tr>
                          <tr app-column-filter-bar *ngIf="showTable && isSearchEnabled" [columnList]="leaveColumns" (onSearch)="onSearch($event);page=1" ></tr>
                        </thead> 
                        <tbody>

                          <tr *ngIf="leaveList.length == 0 || (leaveList| colFilter:filters:false).length == 0">
                            <th colspan="6" class="text-center info-label">No Data to display...</th>
                        </tr>

                            <tr *ngFor="let leaveHistory of leaveList | colFilter:filters:false | sort : [sortColumn, sortColumnType, sortDirection] | paginate: { itemsPerPage: 20, currentPage: page }, let i = index">
                            <td class="info-label">{{i+1}}</td>
                            <td class="info-label" id="clickablefor360" [navigateToEmployee360]="leaveHistory.emp360createdBy" style="cursor: pointer;" title="Click to view Employee 360" (click)="refresh()">{{leaveHistory.createdByName}}</td>
                            <td class="info-label">{{leaveHistory.fromDate}}</td>
                            <td class="info-label">{{leaveHistory.toDate}}</td>
                            <td class="info-label">{{leaveHistory.createdOn}}</td>
                            <td class="info-label">{{leaveHistory.noOfDays}}</td>
                            <td class="info-label">{{leaveHistory.status}}</td>
                            <td class="info-label" id="clickablefor360" [navigateToEmployee360]="leaveHistory.emp360leaveStatusUpdatedBy" style="cursor: pointer;" title="Click to view Employee 360" (click)="refresh()">{{leaveHistory.leaveStatusUpdatedByName}}</td>
                            <td class="info-label">{{leaveHistory.reason}}</td>
                            <td class="info-label">{{leaveHistory.leaveType}}</td>
                            <td>{{leaveHistory.currentApprovalLevel}}
                              <br>
                              <h6 class="badge badge-pill primary-pill" *ngIf="leaveHistory.currentApprovalLevel == leaveHistory.finalApprovalLevel && leaveHistory.status == 'Pending'">Final</h6>
                            </td>
                            <td *ngIf="leaveHistory.approverName" id="clickablefor360" [navigateToEmployee360]="leaveHistory.emp360AppLev1" style="cursor: pointer;" title="Click to view Employee 360" (click)="refresh()">{{leaveHistory.approverName}}</td>
                            <td *ngIf="!leaveHistory.approverName">{{leaveHistory.approverName}}</td>
                            <td [ngStyle]="{'color': (leaveHistory.managerApprovalStatus == 'Pending') ? 'orange' : (leaveHistory.managerApprovalStatus == 'Approved') ? 'green' : (leaveHistory.managerApprovalStatus == 'Rejected') ? 'red' : '#ababab'}">{{leaveHistory.managerApprovalStatus}}</td>
                            <td *ngIf="leaveHistory.level2ApproverName" id="clickablefor360" [navigateToEmployee360]="leaveHistory.emp360AppLev2" style="cursor: pointer;" title="Click to view Employee 360" (click)="refresh()">{{leaveHistory.level2ApproverName}}</td>
                            <td *ngIf="!leaveHistory.level2ApproverName">{{leaveHistory.level2ApproverName}}</td>
                            <td [ngStyle]="{'color': (leaveHistory.level2ApprovalStatus == 'Pending') ? 'orange' : (leaveHistory.level2ApprovalStatus == 'Approved') ? 'green' : (leaveHistory.level2ApprovalStatus == 'Rejected') ? 'red' : '#ababab'}">{{leaveHistory.level2ApprovalStatus}}</td>
                            <td *ngIf="!leaveHistory.level3ApproverName" id="clickablefor360" [navigateToEmployee360]="leaveHistory.emp360AppLev3" style="cursor: pointer;" title="Click to view Employee 360" (click)="refresh()">{{leaveHistory.level3ApproverName}}</td>
                            <td *ngIf="!leaveHistory.level3ApproverName" id="clickablefor360" [navigateToEmployee360]="leaveHistory.emp360AppLev3" style="cursor: pointer;" title="Click to view Employee 360" (click)="refresh()">{{leaveHistory.level3ApproverName}}</td>
                            <td [ngStyle]="{'color': (leaveHistory.level3ApprovalStatus == 'Pending') ? 'orange' : (leaveHistory.level3ApprovalStatus == 'Approved') ? 'green' : (leaveHistory.level3ApprovalStatus == 'Rejected') ? 'red' : '#ababab'}">{{leaveHistory.level3ApprovalStatus}}</td>
                            <td class="info-label" *ngIf="activeButton==='Rejected'">{{leaveHistory.remark}}</td>
                            <td *ngIf="activeButton==='Pending'">
                              <button *ngIf="approveReject && leaveHistory.isManagerFlag" class="btn btn-sm btn-outline-success mb-1" type="submit"
                              (click)="onUpdateLeaveStatus(alert_message, leaveHistory, 2)" title="Approve"><em
                                class="fa-solid fa-check"></em></button>&nbsp;
                              <button *ngIf="approveReject && leaveHistory.isManagerFlag" class="btn btn-sm btn-outline-danger" type="submit"
                              (click)="openLeaveRejectModal(reject_leave_modal, leaveHistory)" title="Reject"><em
                                class="fa-solid fa-xmark"></em></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <pagination-controls class="my-pagination" [hidden]="leaveList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls>
</div>

<!-- CompOff Application table -->
  <div class="row" *ngIf="isCompOff">
    <div class="col-md-12">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-md-12">
        <h4 class="text-center flex-grow-1 mb-3">{{compOffStatus}} Applications</h4>
          <div class="overflow-auto" bassHorizontalScroll [tableId]="'leaveRequestInfo'"
            [tableTHeadId]="'leaveRequestInfoTHead'" [tableTHeadTrId]="'leaveRequestInfoTHeadTr'">
            <table class="table leave-request-table" id="leaveRequestInfo" matSort (matSortChange)="sortData($event)">
              <thead class="thead-light" id="leaveRequestInfoTHead">
                <tr id="leaveRequestInfoTHeadTr">
                  <!-- <th><input class="select" type="checkbox" name="checkboxes" (change)="selectAll($event)"
                      [(ngModel)]="isSelectAll"></th> -->
                  <th scope="col" class="info-label">Sr No.</th>
                  <th scope="col" class="info-label" mat-sort-header="createdByName|string">Applied By</th>
                  <th scope="col" class="info-label" mat-sort-header="compOffReasons|string">Applied For</th>
                  <th scope="col" class="info-label" mat-sort-header="fromDate|datetime">From Date</th>
                  <th scope="col" class="info-label" mat-sort-header="toDate|datetime">To Date</th>
                  <th scope="col" class="info-label" mat-sort-header="noOfDays|number">Duration</th>
                  <th scope="col" class="info-label" mat-sort-header="description|string">Description</th>
                  <th scope="col" class="info-label" mat-sort-header="currentApprovalLevel|number" >Current Approval Level</th>
                  <th scope="col" class="info-label"  mat-sort-header="approverName|string" >Level 1 Approver Name</th>
                  <th scope="col" class="info-label"  mat-sort-header="managerApprovalStatus|string">Level 1 Approver Status</th>
                  <th scope="col" class="info-label"  mat-sort-header="level2ApproverName|string">Level 2 Approver Name</th>
                  <th scope="col" class="info-label" mat-sort-header="level2ApprovalStatus|string" >Level 2 Approver Status</th>
                  <th scope="col" class="info-label" mat-sort-header="status|string">Status</th>
                  <th scope="col" class="info-label" *ngIf="isCompOffRequest" >Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="CompOffData.length == 0">
                  <th colspan="14" class="text-center info-l abel">No details to display...</th>
                </tr>
                <tr
                  *ngFor="let compOffApp of CompOffData| colFilter:filters:false | sort : [sortColumn, sortColumnType, sortDirection] | paginate: { itemsPerPage: 20, currentPage: page }, let i = index">
                  <td>{{i+1}}</td>
                  <td id="clickablefor360" [navigateToEmployee360]="compOffApp.emp360" style="cursor: pointer;" title="Click to view Employee 360" (click)="refresh()">{{compOffApp.createdByName}}</td>
                  <td>{{compOffApp.compOffReasons}}</td>
                  <td>{{compOffApp.fromDate}}</td>
                  <td>{{compOffApp.toDate}}</td>
                  <td>{{compOffApp.noOfDays}}</td>
                  <td>{{compOffApp.description}}</td>
                  <td>{{compOffApp.currentApprovalLevel}}
                    <br>
                    <h6 class="badge badge-pill primary-pill" *ngIf="compOffApp.currentApprovalLevel == compOffApp.finalApprovalLevel && compOffApp.status == 'Pending'">Final</h6>
                  </td>
                  <td *ngIf="compOffApp.approverName" id="clickablefor360" [navigateToEmployee360]="compOffApp.emp360Lev1" style="cursor: pointer;" title="Click to view Employee 360" (click)="refresh()">{{compOffApp.approverName}}</td>
                  <td *ngIf="!compOffApp.approverName" [navigateToEmployee360]="compOffApp.emp360Lev1" style="cursor: pointer;" title="Click to view Employee 360" (click)="refresh()">{{compOffApp.approverName}}</td>
                  <td [ngStyle]="{'color': (compOffApp.managerApprovalStatus == 'Pending') ? 'orange' : (compOffApp.managerApprovalStatus == 'Approved') ? 'green' : (compOffApp.managerApprovalStatus == 'Rejected') ? 'red' : '#ababab'}">{{compOffApp.managerApprovalStatus}}</td>
                  <td *ngIf="!compOffApp.level2ApproverName" id="clickablefor360" [navigateToEmployee360]="compOffApp.emp360Lev2" style="cursor: pointer;" title="Click to view Employee 360" (click)="refresh()">{{compOffApp.level2ApproverName}}</td>
                  <td *ngIf="!compOffApp.level2ApproverName" id="clickablefor360" [navigateToEmployee360]="compOffApp.emp360Lev2" style="cursor: pointer;" title="Click to view Employee 360" (click)="refresh()">{{compOffApp.level2ApproverName}}</td>
                   <td [ngStyle]="{'color': (compOffApp.level2ApprovalStatus == 'Pending') ? 'orange' : (compOffApp.level2ApprovalStatus == 'Approved') ? 'green' : (compOffApp.level2ApprovalStatus == 'Rejected') ? 'red' : '#ababab'}">{{compOffApp.level2ApprovalStatus}}</td>
                  <td>{{compOffApp.status}}</td>
                  <td *ngIf="isCompOffRequest">
                    <button *ngIf="showActiveButton" class="btn btn-sm btn-outline-success mb-1" type="submit"
                      (click)="onUpdateLeaveStatus(alert_message, compOffApp, 2)" title="Approve"><em
                        class="fa-solid fa-check"></em></button>&nbsp;
                    <button  *ngIf="showActiveButton" class="btn btn-sm btn-outline-danger" type="submit"
                      (click)="openRevokeLeaveRejectModalCompOff(reject_revoke_leave_Comp_off, compOffApp)" title="Reject"><em
                        class="fa-solid fa-xmark"></em></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- start ::Reportee Leave Revoke Application Table -->
  <div class="row" *ngIf="isLeaveRevokeRequest">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 table-header">
          <h4 class="text-center flex-grow-1 mb-0 pb-2"> Leave Revoke Applications</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="overflow-auto" bassHorizontalScroll [tableId]="'holidayInfo'" [tableTHeadId]="'holidayInfoTHead'"
            [tableTHeadTrId]="'holidayInfoTHeadTr'">
            <table class="table leaveRevokeRequest-table" id="holidayInfo" matSort (matSortChange)="sortData($event)">
              <thead class="thead-light" id="holidayInfoTHead">
                <tr id="holidayInfoTHeadTr">
                  <th scope="col" class="info-label" >Sr. No</th>
                  <th scope="col" class="info-label" mat-sort-header="leaveType|string">Leave Type</th>
                  <th scope="col" class="info-label" mat-sort-header="fromDate|datetime">From Date</th>
                  <th scope="col" class="info-label" mat-sort-header="toDate|datetime" >To Date</th>
                  <th scope="col" class="info-label" mat-sort-header="noOfDays|number">Duration</th>
                  <th scope="col" class="info-label" mat-sort-header="status|string">Status</th>
                  <th scope="col" class="info-label" mat-sort-header="createdByName|string">Applied By</th>
                  <th scope="col" class="info-label" mat-sort-header="createdOn|datetime">Applied On</th>
                  <th scope="col" class="info-label" mat-sort-header="revokeReason|string">Revoke Reason</th>
                  <th scope="col" class="info-label" >Action</th>
                </tr>
                </thead>
              <tbody>
                <tr
                  *ngIf="reporteeLeaveRevokeApplicationList.length == 0">
                  <th colspan="10" class="text-center info-label">No details to display...</th>
                </tr>
                <tr
                  *ngFor="let leave of reporteeLeaveRevokeApplicationList| colFilter:filters:false | sort : [sortColumn, sortColumnType, sortDirection] | paginate: { itemsPerPage: 20, currentPage: page }, let i = index">
                  <td>{{i+1}}</td>
                  <td>{{leave.leaveType}}</td>
                  <td>{{leave.fromDate}}</td>
                  <td>{{leave.toDate}}</td>
                  <td>{{leave.noOfDays}}</td>
                  <td>{{leave.status}}</td>
                  <td>{{leave.createdByName}}</td>
                  <td>{{leave.createdOn}}</td>
                  <td>{{leave.revokeReason}}</td>
                  <td>
                    <button class="btn btn-sm btn-outline-success" type="submit"
                      (click)="onUpdateRevokeLeaveStatus(alert_message, leave, 2)" title="Approve"><em
                        class="fa-solid fa-check"></em></button>&nbsp;
                    <button class="btn btn-sm btn-outline-danger" type="submit"
                      (click)="openRevokeLeaveRejectModal(reject_revoke_leave, leave)" title="Reject"><em
                        class="fa-solid fa-xmark"></em></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls class="my-pagination" [hidden]="reporteeLeaveRevokeApplicationList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Template -->
<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>

<!-- for single rection modal -->
<ng-template #reject_leave_modal>
    <div class="modal-body text-center">
        <p>Kindly provide reason(s) for rejecting application.</p>
        <textarea id="w3review" name="w3review" rows="3" cols="50" class="form-control" [(ngModel)]="leaveObj.rejectReason"> </textarea><br>
        <button type="button" class="btn btn-success" [disabled]="!this.validationService.validateNullUndefinedEmptyString(leaveObj.rejectReason)" (click)="cancelRequest();onSingleReject(alert_message)">Reject</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<!-- RevokeLeave Reject modal   -->
<ng-template #reject_revoke_leave>
    <div class="modal-body text-center">
        <p>Kindly provide reason(s) for rejecting application.</p>
        <textarea rows="3" cols="50" class="form-control" [(ngModel)]="leaveObj.rejectReason"> </textarea><br>
        <button type="button" class="btn btn-success" [disabled]="!this.validationService.validateNullUndefinedEmptyString(leaveObj.rejectReason)" (click)="onUpdateRevokeLeaveStatus(alert_message,leaveObj,3)">Reject</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<ng-template #reject_revoke_leave_Comp_off>
  <div class="modal-body text-center">
      <p>Kindly provide reason(s) for rejecting application.</p>
      <textarea rows="3" cols="50" class="form-control" [(ngModel)]="leaveObj.rejectReason"> </textarea><br>
      <button type="button" class="btn btn-success" [disabled]="!this.validationService.validateNullUndefinedEmptyString(leaveObj.rejectReason)" (click)="onUpdateCompOffStatus(alert_message,leaveObj,3);cancelRequest()">Reject</button>&nbsp;
      <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
  </div>
</ng-template>
