<div class="row mt-3">
  <div class="col-md-6">

    <div class="form-section">
      <label class="section-title">
        <span class="text-danger">*</span>
        Timesheet Application For
      </label>

      <div class="radio-group mt-2">

        <label class="radio-pill">
          <input type="radio" name="leaveFor" value="self" [ngModel]="timesheetAppliedFor"
            (ngModelChange)="onApplicationTypeChange($event)" [disabled]="isUpdation" />
          <span><i class="fa fa-user me-1"></i> Self</span>
        </label>

        <label class="radio-pill">
          <input type="radio" name="leaveFor" value="asShadow" [ngModel]="timesheetAppliedFor"
            (ngModelChange)="onApplicationTypeChange($event)" [disabled]="isUpdation" />
          <span><i class="fa fa-user-shield me-1"></i> As Shadow</span>
        </label>

        <label class="radio-pill">
          <input type="radio" name="leaveFor" value="team" [ngModel]="timesheetAppliedFor"
            (ngModelChange)="onApplicationTypeChange($event)" [disabled]="isUpdation" />
          <span><i class="fa fa-users me-1"></i> Team Member</span>
        </label>

      </div>
    </div>

  </div>
</div>



<div *ngIf="timesheetAppliedFor === 'team'" class="row mt-3">
  <div class="col-md-6">

    <div class="form-section">
      <label class="section-title">
        <span class="text-danger">*</span>
        Team Member
      </label>

      <select class="form-select mt-2" [ngModel]="empId === currentUserEmpId ? '' : empId"
        (change)="onTeamMemberChange($event.target)" [disabled]="isUpdation">
        <option value="" disabled>Select Team Member</option>

        <option *ngFor="let teamMember of teamMemberList" [value]="teamMember.empId"
          [disabled]="teamMember.empId === currentUserEmpId">
          {{ teamMember.name }}
        </option>
      </select>
    </div>

  </div>
</div>

