
  <mat-select panelClass="custom-select-panel"
  disableOptionCentering
    [multiple]="multiple"
    [(ngModel)]="selectedValue"
    (selectionChange)="onSelectionChange($event.value)"
    (openedChange)="onDropdownOpened($event)"
    [compareWith]="compareObjects"
    [placeholder]="placeholder"
  >
      <ngx-mat-select-search
      [(ngModel)]="searchText"
      placeholderLabel="Search ..."
      noEntriesFoundLabel="No data to display">
    </ngx-mat-select-search>

         <span class="mat-option" *ngIf="multiple && filteredOptions.length > 0" (click)="toggleSelectAll($event)">
      <strong>
        {{ isAllSelected() ? 'Deselect All' : 'Select All' }}
      </strong>
    </span>
    <mat-option *ngFor="let opt of filteredOptions" [value]="valueKey?opt[valueKey]:opt"
    [title]="getDisplayText(opt)">
      {{ getDisplayText(opt) }}
    </mat-option>
  </mat-select>