<div *ngIf="projectInsightObj" class="row">
  <div class="card  card-body-custom col-md-12 pr-0 pl-0">
    <div class="card-header text-center text-uppercase">
      <strong *ngIf="subActionType == 'Creation'">Create Project Insight Questions</strong>
      <strong *ngIf="subActionType == 'Updation'">Update Project Insight Questions</strong>
      <strong *ngIf="subActionType == 'Submit/View Response'">Submit/View Response</strong>
      <strong *ngIf="subActionType == 'Review Response'">Review Response</strong>
      <strong *ngIf="subActionType == 'Preview'">Preview Project Insight Questions</strong>
      <strong *ngIf="subActionType == 'Search'">Search Response Preview</strong>
    </div>
    <div class="card-body mt-2 m-2">
      <!-- Breadcrumbs -->
      <div class="breadcrumb-container m-1 mb-2">
        <ng-container *ngFor="let crumb of breadCrumbs; let i = index">
          <i *ngIf="crumb.entityType == 'Project'" class="fa fa-home"></i>
          <i *ngIf="crumb.entityType != 'Project'" class="fa fa-chevron-right breadcrumb-separator"></i>
          <span class="breadcrumb-item" [title]="crumb.entityName"
            (click)="navigateTo(crumb.entityObj,crumb.entityType,crumb.entityId,crumb.entityName)">
            {{ crumb.entityName }}
          </span>
        </ng-container>
      </div>

      <ng-container [ngTemplateOutlet]="view_template">
      </ng-container>

      <!-- Footer Buttons -->
      <div class="col-md-12 mr-0 ml-0 mb-0 mt-2">
        <button *ngIf="subActionType == 'Creation'" type="submit" class="btn btn-outline-primary btn-sm mx-1"
          (click)="saveProjectInsightConfiguration(alert_message)">Save</button>
        <button *ngIf="subActionType == 'Updation'" type="submit" class="btn btn-outline-primary btn-sm mx-1"
          (click)="updateProjectInsightConfiguration(alert_message)">Update</button>
        <button *ngIf="subActionType == 'Submit/View Response' && !isFinalResponseSubmitted" type="submit"
          class="btn btn-outline-primary btn-sm mx-1" (click)="saveProjectInsightResponse(alert_message,false)">Save As
          Draft</button>
        <button *ngIf="subActionType == 'Submit/View Response' && !isFinalResponseSubmitted" type="submit"
          class="btn btn-outline-primary btn-sm mx-1" (click)="saveProjectInsightResponse(alert_message,true)">Final
          Submit</button>
        <button *ngIf="subActionType == 'Updation' || subActionType == 'Creation'" type="submit"
          class="btn btn-primary btn-sm mx-1" (click)="showProjectInsightsConfigList()">Cancel</button>
        <button *ngIf="subActionType == 'Submit/View Response' || subActionType == 'Review Response' || subActionType == 'Preview'" type="submit"
          class="btn btn-primary btn-sm mx-1" (click)="closeProjectInsightResponseModal()">Cancel</button>
        <!-- <button *ngIf="subActionType == 'Search'" type="submit" class="btn btn-primary btn-sm mx-1"
          (click)="closeSearchResponsePreview()">Cancel</button> -->

      </div>
    </div>

  </div>
</div>

<!-- View Template -->
<ng-template #view_template>
  <div *ngIf="viewType=='Project'">
    <!-- Project Details -->
    <div class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="details_template"
        [ngTemplateOutletContext]="{ entity:entityObj ,entityType:'Project'}">
      </ng-container>
    </div>

    <!-- Project Questions -->
    <div *ngIf="entityObj?.currentActiveBadgeLevel == 'Questions'" class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="questions_card_template"
        [ngTemplateOutletContext]="{entity:entityObj , entityType:'Project'}">
      </ng-container>
    </div>

    <!-- Project Milestone -->
    <div *ngIf="entityObj?.currentActiveBadgeLevel == 'Milestones'" class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="milestone_card_template"
        [ngTemplateOutletContext]="{ entityList:entityObj.projectInsightMilestoneList}">
      </ng-container>
    </div>
  </div>

  <div *ngIf="viewType=='Milestone'">
    <!-- Milestone Details -->
    <div class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="details_template"
        [ngTemplateOutletContext]="{ entity:entityObj ,entityType:'Milestone',entityName:entityObj.milestone,entityId:entityObj.milestoneId}">
      </ng-container>
    </div>

    <!-- Milestone Questions -->
    <div *ngIf="entityObj?.currentActiveBadgeLevel == 'Questions'" class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="questions_card_template"
        [ngTemplateOutletContext]="{entity:entityObj , entityType:'Milestone'}">
      </ng-container>
    </div>

    <!-- Milestone Modules -->
    <div *ngIf="entityObj?.currentActiveBadgeLevel == 'Modules'" class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="module_card_template"
        [ngTemplateOutletContext]="{ entityList:entityObj.moduleList}">
      </ng-container>

    </div>
  </div>

  <div *ngIf="viewType=='Module'">
    <!-- Module Details -->
    <div class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="details_template"
        [ngTemplateOutletContext]="{ entity:entityObj ,entityType:'Module',entityName:entityObj.module,entityId:entityObj.moduleId}">
      </ng-container>
    </div>

    <!-- Module Questions -->
    <div *ngIf="entityObj?.currentActiveBadgeLevel == 'Questions'" class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="questions_card_template"
        [ngTemplateOutletContext]="{entity:entityObj , entityType:'Module'}">
      </ng-container>
    </div>

    <!-- Module SubModules -->
    <div *ngIf="entityObj?.currentActiveBadgeLevel == 'SubModules'" class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="submodule_card_template"
        [ngTemplateOutletContext]="{ entityList:entityObj.subModuleList,subModuleType:'SubModule'}">
      </ng-container>
    </div>
  </div>

  <div *ngIf="viewType=='SubModule' || viewType=='Sub-SubModule'">
    <!-- SubModule Details -->
    <div class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="details_template"
        [ngTemplateOutletContext]="{ entity:entityObj ,entityType:'SubModule',entityName:entityObj.subModule,entityId:entityObj.subModuleId}">
      </ng-container>
    </div>

    <!-- SubModule Questions -->
    <div *ngIf="entityObj?.currentActiveBadgeLevel == 'Questions'" class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="questions_card_template"
        [ngTemplateOutletContext]="{entity:entityObj , entityType:'SubModule'}">
      </ng-container>
    </div>

    <!-- SubModule SubSubModules -->
    <div
      *ngIf="entityObj?.currentActiveBadgeLevel == 'SubModules' || entityObj?.currentActiveBadgeLevel == 'Sub-SubModules'"
      class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="submodule_card_template"
        [ngTemplateOutletContext]="{ entityList:entityObj.subSubModuleList,subModuleType:'Sub-SubModule'}">
      </ng-container>
    </div>
  </div>

  <div *ngIf="viewType=='Question'">
    <!-- Question Details -->
    <div class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="details_template"
        [ngTemplateOutletContext]="{ entity:entityObj ,entityType:'Question',entityName:entityObj.question,entityId:entityObj.questionId}">
      </ng-container>
    </div>

  </div>
</ng-template>

<!-- Details Template -->
<ng-template #details_template let-entityType="entityType" let-entity="entity" let-entityName="entityName" let-entityId="entityId">
  <!-- Badges -->
  <div class="badge-container m-1 mb-2">
    <span *ngFor="let level of entity?.badgePathList" class="badge"
      [ngClass]="{ 'active': entity?.currentActiveBadgeLevel == level.name }"
      (click)="changeCurrentActiveBadgeLevel(entity,level.name,entityType,entityName,entityId)">
      {{ level.name }}
    </span>
  </div>

  <div class="col-md-12 pr-0 pl-0">
    <!-- Entity Name -->
    <div *ngIf="entity?.currentActiveBadgeLevel == 'Details'" class="row m-1 mb-2">
      <div class="col-md-12">
        <div class="form-group mb-0">
          <label *ngIf="entityType" class="info-label">
            {{ entityType === 'Project' ? 'Project Name' :
            entityType === 'Milestone' ? 'Milestone Title' :
            entityType === 'Module' ? 'Module Title' :
            entityType === 'SubModule' ? 'SubModule Title' :
            entityType === 'Sub-SubModule' ? 'Sub-SubModule Title' :
            entityType === 'Question' ? 'Question' : ''
            }}</label><span class="text-danger">*</span>
          <!-- <input *ngIf="entityType == 'Project'" type="text" class="form-control" autocomplete="none"
            [(ngModel)]="entity.projectName"> -->

          <mat-select *ngIf="entityType == 'Project'" ngxMatSelect class="form-control"
            #createTeamProjects="ngxMatSelect" [displayMember]="'projectName'" [valueMember]="'projectId'"
            [source]="allProjectList" [useInfiniteScroll]="true"
            (selectionChange)="getProjectManangerInfo(entity.projectId,entity)" [multiple]="false"
            [(ngModel)]="entity.projectId"
            [disabled]="subActionType == 'Updation' || subActionType == 'Search' || subActionType == 'Preview' ||  actionType == 'Contribution'">
            <mat-option [value]="project.projectId" *ngFor="let project of createTeamProjects.filteredSource">
              {{project.projectName}}
            </mat-option>
          </mat-select>
          <input *ngIf="entityType == 'Milestone'" type="text" class="form-control" autocomplete="none"
            [(ngModel)]="entity.milestone" [disabled]="actionType == 'Contribution' || subActionType == 'Search' || subActionType == 'Preview'">
          <input *ngIf="entityType == 'Module'" type="text" class="form-control" autocomplete="none"
            [(ngModel)]="entity.module" [disabled]="actionType == 'Contribution' || subActionType == 'Search' || subActionType == 'Preview'">
          <input *ngIf="entityType == 'Sub-SubModule' || entityType == 'SubModule'" type="text" class="form-control"
            autocomplete="none" [(ngModel)]="entity.subModule"
            [disabled]="actionType == 'Contribution' || subActionType == 'Search' || subActionType == 'Preview'">
          <input *ngIf="entityType == 'Question'" type="text" class="form-control" autocomplete="none"
            [(ngModel)]="entity.question" [disabled]="actionType == 'Contribution' || subActionType == 'Search' || subActionType == 'Preview'">
        </div>
      </div>
    </div>

    <!-- Project Manager -->
    <div *ngIf="entity?.currentActiveBadgeLevel == 'Details' && entityType == 'Project'" class="row m-1 mb-2">
      <div class="col-md-12">
        <div class="form-group mb-0">
          <label class="info-label">Project Manager</label>
          <input type="text" class="form-control" autocomplete="none" [(ngModel)]="entity.projectManagerName"
            [disabled]="subActionType == 'Updation' || subActionType == 'Search' || subActionType == 'Preview' || actionType == 'Contribution'">
        </div>
      </div>
    </div>

    <!-- Description -->
    <div
      *ngIf="(entity?.currentActiveBadgeLevel == 'Details' && entityType != 'Project' && actionType != 'Contribution')
       || (entity?.currentActiveBadgeLevel == 'Details' && entityType != 'Project' && actionType == 'Contribution' && entity?.description)"
      class="row m-1 mb-2">
      <div class="col-md-12">
        <div class="form-group mb-0">
          <label class="info-label">Description</label>
          <textarea type="text" class="form-control" autocomplete="none" [(ngModel)]="entity.description"
            [disabled]="actionType == 'Contribution' || subActionType == 'Search' || subActionType == 'Preview'"></textarea>
        </div>
      </div>
    </div>

    <!-- Assign To -->
    <div
      *ngIf="entity?.currentActiveBadgeLevel == 'Details' && actionType == 'Configuration' && entityType != 'Question' && entityType != 'Project' && subActionType != 'Search' && subActionType != 'Preview'"
      class="row m-1 mb-2">
      <div class="col-md-12">
        <div class="form-group mb-0">
          <label> Assign To</label>
          <mat-select ngxMatSelect class="form-control" #approvalSelect="ngxMatSelect" [displayMember]="'name'"
            [valueMember]="'empId'" [source]="employeeList" [useInfiniteScroll]="true" [multiple]="true"
            [(ngModel)]="entity.assignedToUserId">
            <mat-option [value]="employee.empId" *ngFor="let employee of employeeList">
              {{employee.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>

    <div
      *ngIf="entity?.currentActiveBadgeLevel == 'Details' && actionType == 'Contribution' && entityType != 'Question' && entityType != 'Project'"
      class="row m-1 mb-2">
      <div class="col-md-12">
        <div class="user-info py-2 border-bottom">
          <svg class="user-icon" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
          </svg>
          <span>Assigned To: {{entity.assignedToUserNames || ''}}</span>
        </div>
      </div>
    </div>

    <!-- Tag For Help -->
    <div
      *ngIf="entity?.currentActiveBadgeLevel == 'Details' && actionType == 'Contribution' && !isFinalResponseSubmitted"
      class="row m-1 mb-2">
      <div class="col-md-12">
        <div class="form-group mb-0">
          <label>Tag For Help</label>
          <mat-select ngxMatSelect class="form-control" #approvalSelect="ngxMatSelect" [displayMember]="'name'"
            [valueMember]="'empId'" [source]="employeeList" [useInfiniteScroll]="true" [multiple]="true"
            [(ngModel)]="entity.taggedToUserId">
            <mat-option [value]="employee.empId" *ngFor="let employee of entity.toTagEmployeeList">
              {{employee.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>

    <div
      *ngIf="entity?.currentActiveBadgeLevel == 'Details' && actionType == 'Contribution' && isFinalResponseSubmitted && entity.taggedToUserNames"
      class="row m-1 mb-2">
      <div class="col-md-12">
        <div class="user-info py-2 border-bottom">
          <svg class="user-icon" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
          </svg>
          <span>Tagged For Help To: {{entity?.taggedToUserNames || ''}}</span>
        </div>
      </div>
    </div>

    <!-- Question -->
    <div *ngIf="entity?.currentActiveBadgeLevel == 'Details' && entityType == 'Question'" class="row m-1 mb-2">
      <ng-container [ngTemplateOutlet]="questions_template"
        [ngTemplateOutletContext]="{ entity:entityObj ,entityType:'Question'}">
      </ng-container>
    </div>
  </div>
</ng-template>

<!-- Questions Card Template -->
<ng-template #questions_card_template let-entity="entity" let-entityType="entityType">
  <div class="col-md-12 pr-0 pl-0">
    <div class="row m-1">
      <div class="col-md-4 d-flex justify-content-start">
        <h5>{{entityType}} Questions</h5>
      </div>
      <div *ngIf="actionType == 'Configuration' && subActionType != 'Search' && subActionType != 'Preview'"
        class="col-md-4 ml-auto d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="addQuestion(entity)"><em
            class="fa-solid fa-plus"></em>&nbsp;Add Questions</button>
      </div>
    </div>
    <div *ngIf="entity.questionList?.length > 0" class="row m-1 pl-3">
      <ng-container *ngFor="let question of entity.questionList; let questionIndex = index">
        <div class="col-md-4 p-2 d-flex">
          <div class="card w-100 card-hover"
            (click)="navigateTo(question,'Question',question?.questionId,question.question)">
            <div class="row m-0">
              <div class="col-10">
                <h5 class="m-2">{{question.question}}</h5>
              </div>
              <div *ngIf="actionType == 'Configuration' && subActionType != 'Search' && subActionType != 'Preview'"
                class="col-2 d-flex align-items-start justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger btn-sm"
                  (click)="deleteQuestion(entity.questionList,questionIndex)" title="Delete Question">
                  <em class="fa fa-trash"></em>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="text-center p-4 rounded" *ngIf="!entity.questionList || entity.questionList?.length === 0">
      <strong class="text-muted">No Details to display...</strong>
    </div>
  </div>
</ng-template>

<!-- Questions Template -->
<ng-template #questions_template let-entityType="entityType" let-entity="entity">
  <div class="col-md-12">
    <div *ngIf="actionType == 'Configuration' && subActionType != 'Search' && subActionType != 'Preview'" class="option-config-section">
      <div class="row">
        <div class="col-md-12">
          <div class="info-wrapper">
            <div class="form-group">
              <label class="info-label">Options Type</label><span class="text-danger">*</span>
              <select class="form-control" aria-hidden="true" [(ngModel)]="entity.optionType"
                (change)="setOption(entity)">
                <option value="checkbox">Checkbox</option>
                <option value="radio">Radio</option>
                <option value="text">Text</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="(entity.optionType == 'checkbox' || entity.optionType == 'radio')">
        <div class="col-md-12" *ngFor="let option of entity.optionsList; let i = index">
          <div class="row">
            <div class="col-md-4 mb-0">
              <div class="info-wrapper">
                <div class="form-group">
                  <label class="info-label">Option - {{i+1}}</label>
                  <input type="text" class="form-control" autocomplete="none" [(ngModel)]="option.optionValue">
                </div>
              </div>
            </div>
            <div class="col-md-3 pt-4 mt-2">
              <button type="button" class="btn btn-outline-primary mx-1" (click)="addOption(i, entity)"><i
                  class="fa fa-plus" aria-hidden="true"></i></button>
              <button *ngIf="entity.optionsList.length>1" type="button" class="btn btn-outline-primary mx-1"
                (click)="removeOption(i, entity)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="entity.optionType == 'text'">
        <div class="col-md-12">
          <div class="info-wrapper">
            <div class="form-group">
              <input type="text" class="form-control" autocomplete="none" readonly value="Text Answer here...">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="actionType == 'Contribution' || subActionType == 'Search' || subActionType == 'Preview'" class="responses-section">
      <div *ngFor="let response of entity.projectResponseList; let responseIndex = index" class="response-container">
        <div class="user-info">
          <svg class="user-icon" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
          </svg>
          <span *ngIf="subActionType != 'Preview'" class="small font-weight-bold">Response By: {{response.responseByEmpName || ''}}</span>
          <span *ngIf="subActionType == 'Preview'" class="small font-weight-bold">Response By: {{''}}</span>
        </div>

        <div *ngIf="entity.optionType == 'text' && subActionType != 'Preview'" class="mt-2">
          <textarea type="text" class="form-control" autocomplete="none" placeholder="Enter Answer here..."
            [disabled]="response.isDraft == 'N'" [(ngModel)]="response.response"></textarea>
        </div>
        <div *ngIf="entity.optionType == 'text' && subActionType == 'Preview'" class="mt-2">
          <textarea type="text" class="form-control" autocomplete="none" placeholder="Enter Answer here..."
            disabled></textarea>
        </div>

        <div *ngIf="entity.optionType == 'checkbox' && subActionType != 'Preview'" class="mt-2">
          <div *ngFor="let option of response.optionsList; let mileQuestionOptionIndex = index"
            class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
              [id]="'checkbox' + mileQuestionOptionIndex + '-response-' + responseIndex" [(ngModel)]="option.isChecked"
              (change)="onCheckboxChange($event, option.optionValue, entity, option, response)"
              [disabled]="response.isDraft == 'N'">
            <label class="custom-control-label"
              [for]="'checkbox' + mileQuestionOptionIndex + '-response-' + responseIndex">
              {{option.optionValue}}
            </label>
          </div>
        </div>

        <div *ngIf="entity.optionType == 'checkbox' && subActionType == 'Preview'" class="mt-2">
          <div *ngFor="let option of response.optionsList; let mileQuestionOptionIndex = index"
            class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
              [id]="'checkbox' + mileQuestionOptionIndex + '-response-' + responseIndex"
              (change)="onCheckboxChange($event, option.optionValue, entity, option, response)"
              disabled>
            <label class="custom-control-label"
              [for]="'checkbox' + mileQuestionOptionIndex + '-response-' + responseIndex">
              {{option.optionValue}}
            </label>
          </div>
        </div>

        <div *ngIf="entity.optionType == 'radio' && subActionType != 'Preview'" class="mt-2">
          <div *ngFor="let option of response.optionsList; let optIndex = index" class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" [id]="'radio' + optIndex + '-response-' + responseIndex"
              name="radio{{optIndex}}-response-{{responseIndex}}" [disabled]="response.isDraft == 'N'"
              [value]="option.optionValue" [(ngModel)]="response.response">
            <label class="custom-control-label" [for]="'radio' + optIndex + '-response-' + responseIndex">
              {{option.optionValue}}
            </label>
          </div>
        </div>

        <div *ngIf="entity.optionType == 'radio' && subActionType == 'Preview'" class="mt-2">
          <div *ngFor="let option of response.optionsList; let optIndex = index" class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" [id]="'radio' + optIndex + '-response-' + responseIndex"
              name="radio{{optIndex}}-response-{{responseIndex}}" disabled
              [value]="option.optionValue">
            <label class="custom-control-label" [for]="'radio' + optIndex + '-response-' + responseIndex">
              {{option.optionValue}}
            </label>
          </div>
        </div>

        <div *ngIf="response.showDocDiv && subActionType != 'Preview'" class="mt-3">
          <div class="d-flex align-items-center">
            <label *ngIf="!response.uploadedFileName" class="btn btn-sm btn-outline-secondary mr-2 mb-0"
              for="file-{{entity.questionId}}">
              <span *ngIf="response.isDraft == 'Y'">Upload File</span>
              <input id="file-{{entity.questionId}}" name="file-{{entity.questionId}}" type="file" class="d-none"
                (change)="onQuestionFileChange($event, entity, alert_message, 'document-preview-container', document_preview_template, response)"
                [disabled]="response.isDraft == 'N'">
            </label>

            <span *ngIf="response.uploadedFileName" class="small mr-2">
              {{response.uploadedFileName}}
            </span>

            <button *ngIf="response.uploadedFileName && !isFinalResponseSubmitted" type="button"
              class="btn btn-sm btn-outline-danger mr-2" title="Remove File" (click)="removeUploadedFile(response)">
              <i class="fa-solid fa-xmark"></i>
            </button>

            <button *ngIf="response.uploadedFileName" type="button" class="btn btn-sm btn-outline-primary"
              title="Preview File"
              (click)="previewUploadedFile(response, response.uploadedFile, response.uploadedFileName, 'document-preview-container', document_preview_template, alert_message, true, response)">
              <i class="fa-solid fa-eye"></i>
            </button>
          </div>
        </div>

        <div *ngIf="subActionType == 'Preview'" class="mt-3">
          <div class="d-flex align-items-center">
            <label *ngIf="!response.uploadedFileName" class="btn btn-sm btn-outline-secondary mr-2 mb-0"
              for="file-{{entity.questionId}}">
              <span>Upload File</span>
              <input id="file-{{entity.questionId}}" name="file-{{entity.questionId}}" type="file" class="d-none"
                (change)="onQuestionFileChange($event, entity, alert_message, 'document-preview-container', document_preview_template, response)"
                disabled>
            </label>
            <button type="button"
              class="btn btn-sm btn-outline-danger mr-2" title="Remove File" (click)="removeUploadedFile(response)">
              <i class="fa-solid fa-xmark"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary"
              title="Preview File"
              (click)="previewUploadedFile(response, response.uploadedFile, response.uploadedFileName, 'document-preview-container', document_preview_template, alert_message, true, response)">
              <i class="fa-solid fa-eye"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>

<!-- Milestone Card Template -->
<ng-template #milestone_card_template let-entityList="entityList">
  <div class="col-md-12 pr-0 pl-0">
    <div class="row m-1">
      <div class="col-md-4 d-flex justify-content-start">
        <h5>Project Milestones</h5>
      </div>
      <div *ngIf="actionType == 'Configuration' && subActionType != 'Search' && subActionType != 'Preview'"
        class="col-md-4 ml-auto d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="addMilestone(entityList)"><em
            class="fa-solid fa-plus"></em>&nbsp;Add Milestones</button>
      </div>
    </div>
    <div *ngIf="entityList?.length > 0" class="row m-1 pl-3">
      <ng-container *ngFor="let milestone of entityList; let milestoneIndex = index">
        <div class="col-md-4 p-2 d-flex">
          <div class="card w-100 card-hover"
            (click)="navigateTo(milestone,'Milestone',milestone?.milestoneId,milestone.milestone)">
            <div class="row m-0">
              <div class="col-10">
                <h5 class="m-2">{{milestone.milestone}}</h5>
              </div>
              <div *ngIf="actionType == 'Configuration' && subActionType != 'Search' && subActionType != 'Preview'"
                class="col-2 d-flex align-items-start justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger btn-sm"
                  (click)="deleteMilestone(entityList,milestoneIndex)" title="Delete Milestone"><em
                    class="fa fa-trash"></em></button>
              </div>
            </div>
            <div class="row m-2 mb-2">
              <div class="col-10">
                <span>{{milestone.moduleList?.length ? milestone.moduleList?.length : 0}} modules</span>, &nbsp;
                <span>{{milestone.questionList?.length ? milestone.questionList?.length : 0}} questions</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="text-center p-4 rounded" *ngIf="!entityList || entityList?.length === 0">
      <strong class="text-muted">No Details to display...</strong>
    </div>
  </div>
</ng-template>

<!-- Milestone Template -->
<ng-template #milestone_template let-entity="entity">
  <!-- Details -->
  <div class="row m-1 mb-2">
    <ng-container [ngTemplateOutlet]="details_template"
      [ngTemplateOutletContext]="{ entity:entity ,entityType:'Milestone',entityName:entity.milestone,entityId:entity.milestoneId}">
    </ng-container>
  </div>

  <!-- Questions -->
  <div *ngIf="entity?.currentActiveBadgeLevel == 'Questions'" class="row m-1 mb-2">
    <ng-container [ngTemplateOutlet]="questions_card_template"
      [ngTemplateOutletContext]="{ entity:entity ,entityType:'Milestone'}">
    </ng-container>
  </div>
</ng-template>

<!-- Module Card Template -->
<ng-template #module_card_template let-entityList="entityList">
  <div class="col-md-12 pr-0 pl-0">
    <div class="row m-1">
      <div class="col-md-4 d-flex justify-content-start">
        <h5>Project Modules</h5>
      </div>
      <div *ngIf="actionType == 'Configuration' && subActionType != 'Search' && subActionType != 'Preview'"
        class="col-md-4 ml-auto d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="addModuleToList(entityList)"><em
            class="fa-solid fa-plus"></em>&nbsp;Add Modules</button>
      </div>
    </div>
    <div *ngIf="entityList?.length > 0" class="row m-1 pl-3">
      <ng-container *ngFor="let module of entityList; let moduleIndex = index">
        <div class="col-md-4 p-2 d-flex">
          <div class="card w-100 card-hover" (click)="navigateTo(module,'Module',module?.moduleId,module?.module)">
            <div class="row m-0">
              <div class="col-10">
                <h5 class="m-2">{{module.module}}</h5>
              </div>
              <div *ngIf="actionType == 'Configuration' && subActionType != 'Search' && subActionType != 'Preview'"
                class="col-2 d-flex align-items-start justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger btn-sm"
                  (click)="deleteModule(entityList,moduleIndex)" title="Delete Module">
                  <em class="fa fa-trash"></em>
                </button>
              </div>
            </div>
            <div class="row m-2 mb-2">
              <div class="col-10">
                <span>{{module.subModuleList?.length ? module.subModuleList?.length : 0}} submodules</span>, &nbsp;
                <span>{{module.questionList?.length ? module.questionList?.length : 0}} questions</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="text-center p-4 rounded" *ngIf="!entityList || entityList?.length === 0">
      <strong class="text-muted">No Details to display...</strong>
    </div>
  </div>
</ng-template>

<!-- Module Template -->
<ng-template #module_template let-entity="entity">
  <!-- Details -->
  <div class="row m-1 mb-2">
    <ng-container [ngTemplateOutlet]="details_template"
      [ngTemplateOutletContext]="{ entity:entity ,entityType:'Module',entityName:entity.module,entityId:entity.moduleId}">
    </ng-container>
  </div>

  <!-- Questions -->
  <div *ngIf="entity?.currentActiveBadgeLevel == 'Questions'" class="row m-1 mb-2">
    <ng-container [ngTemplateOutlet]="questions_card_template"
      [ngTemplateOutletContext]="{ entity:entity ,entityType:'Module'}">
    </ng-container>
  </div>
</ng-template>

<!-- SubModule Card Template -->
<ng-template #submodule_card_template let-entityList="entityList" let-subModuleType="subModuleType">
  <div class="col-md-12 pr-0 pl-0">
    <div class="row m-1">
      <div class="col-md-4 d-flex justify-content-start">
        <h5>Project SubModules</h5>
      </div>
      <div *ngIf="actionType == 'Configuration' && subActionType != 'Search' && subActionType != 'Preview'"
        class="col-md-4 ml-auto d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary btn-sm"
          (click)="addSubModuleToList(entityList,subModuleType)"><em class="fa-solid fa-plus"></em>&nbsp;Add
          SubModules</button>
      </div>
    </div>
    <div *ngIf="entityList?.length > 0" class="row m-1 pl-3">
      <ng-container *ngFor="let subModule of entityList; let subModuleIndex = index">
        <div class="col-md-4 p-2 d-flex">
          <div class="card w-100 card-hover"
            (click)="navigateTo(subModule,subModuleType,subModule?.subModuleId,subModule?.subModule)">
            <div class="row m-0">
              <div class="col-10">
                <h5 class="m-2">{{subModule.subModule}}</h5>
              </div>
              <div *ngIf="actionType == 'Configuration' && subActionType != 'Search' && subActionType != 'Preview'"
                class="col-2 d-flex align-items-start justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger btn-sm"
                  (click)="deleteSubModule(entityList,subModuleIndex,subModuleType)" title="Delete {{subModuleType}}">
                  <em class="fa fa-trash"></em>
                </button>
              </div>
            </div>
            <div class="row m-2 mb-2">
              <div class="col-10">
                <span>{{subModule.subSubModuleList?.length ? subModule.subSubModuleList?.length : 0}} SubModules</span>,
                &nbsp;
                <span>{{subModule.questionList?.length ? subModule.questionList?.length : 0}} questions</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="text-center p-4 rounded" *ngIf="!entityList || entityList?.length === 0">
      <strong class="text-muted">No Details to display...</strong>
    </div>
  </div>
</ng-template>

<!-- SubModule Template -->
<ng-template #submodule_template let-entity="entity">
  <!-- Details -->
  <div class="row m-1 mb-2">
    <ng-container [ngTemplateOutlet]="details_template"
      [ngTemplateOutletContext]="{ entity:entity ,entityType:'SubModule',entityName:entity.subModule,entityId:entity.subModuleId}">
    </ng-container>
  </div>

  <!-- Questions -->
  <div *ngIf="entity?.currentActiveBadgeLevel == 'Questions'" class="row m-1 mb-2">
    <ng-container [ngTemplateOutlet]="questions_card_template"
      [ngTemplateOutletContext]="{ entity:entity ,entityType:'SubModule'}">
    </ng-container>
  </div>
</ng-template>

<!-- Alert Template -->
<ng-template #alert_message>
  <div class="modal-body text-center">
    <p>{{alertMessage}}</p>
    <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
  </div>
</ng-template>

<!-- Document Preview Template -->
<ng-template #document_preview_template>
  <div class="modal-header">
    <b class="modal-title">
      <h3>Document Preview</h3>
    </b>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="closeDocumentPreviewTemplate()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center align-items-center text-danger" id="document-preview-container"
      style="border: 1px solid black; padding: 10px; margin-bottom: 15px;"></div>
  </div>
</ng-template>