<div class="row card mb-0 pb-0">
    <app-accordion-item title="All Requests" titleBg="var(--dark-cornflower-blue)" titleColor="#fff" [showBody]="isReqPending">
        <div class="container-fluid">
         <div class="row justify-content-around">
             <div class="col">
                 <div class="card req-card" (click)="openReqMod(LeaveReq);getAllMyTeamsPendingLeaveApplicationsByManagerId()">
                     <div class="card-body text-center">
                         <h3>Leave</h3>
                         <h1>{{leaveApplicationCount}}</h1>
                     </div>
                 </div>
             </div>
      
             <div class="col">
              <div class="card req-card" (click)="openReqMod(compOffReq);getPendingCompOffRequestsByManagerId()">
                  <div class="card-body text-center">
                      <h3>Comp off</h3>
                      <h1>{{compOffApplicationCount}}</h1>
                  </div>
              </div>
          </div>
      
          <div class="col ">
              <div class="card req-card">
                  <div class="card-body text-center">
                      <h3>Timesheet</h3>
                      <h1>23</h1>
                  </div>
              </div>
          </div>
      
          <div class="col">
              <div class="card req-card">
                  <div class="card-body text-center">
                      <h3>Attendence</h3>
                      <h1>23</h1>
                  </div>
              </div>
          </div>
      
          <div class="col">
              <div class="card req-card">
                  <div class="card-body text-center">
                      <h3>Reimbursements</h3>
                      <h1>23</h1>
                  </div>
              </div>
          </div>
         </div>
        </div>
     </app-accordion-item>
</div>

<!-- Leaves Req Modal -->
<ng-template #LeaveReq>
    <div class="modal-body ">
        <div class="table-header">
            <h4 class="table-header-title">My Reportee Leave Applications</h4>
        </div>
        <table class="table leaveApplication-table">
            <thead class="thead-light text-center">
              <tr>
                <th scope="col" class="info-label">Sr No.</th>
                <th scope="col" class="info-label">Leave Type</th>
                <th scope="col" class="info-label">From Date</th>
                <th scope="col" class="info-label">To Date</th>
                <th scope="col" class="info-label">Duration</th>
                <th scope="col" class="info-label">Status</th>
                <th scope="col" class="info-label">Applied By</th>
                <th scope="col" class="info-label">Applied On</th>
                <th scope="col" class="info-label">Reason</th>
                <!-- <th scope="col" class="info-label">Comments</th> -->
                <th scope="col" class="info-label">Actions</th>
              </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngIf="leaveApplicationCount == 0">
                    <th colspan="8" class="text-center info-label">No details to display...</th>
                </tr>
                <tr *ngFor="let leaveApplication of leaveApplicationList | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{leaveApplication.leaveType}}</td>
                    <td>{{leaveApplication.fromDate}}</td>
                    <td>{{leaveApplication.toDate}}</td>
                    <td>{{leaveApplication.noOfDays}} day(s)</td>
                    <td>{{leaveApplication.status}}</td>
                    <td>{{leaveApplication.createdByName}}</td>
                    <td>{{leaveApplication.createdOn}}</td>
                    <td>{{leaveApplication.reason}}</td>
                    <!-- <td>{{leaveApplication.description}}</td> -->
                    <td>
                        <button class="btn btn-sm btn-outline-success" type="submit" (click)="onUpdateLeaveStatus(alert_message, leaveApplication, 2)" title="Approve"><em class="fa-solid fa-check"></em></button>&nbsp;
                        <button class="btn btn-sm btn-outline-danger" type="submit" (click)="onUpdateLeaveStatus(alert_message, leaveApplication, 3)" title="Reject"><em class="fa-solid fa-xmark"></em></button>
                    </td>
                </tr>
            </tbody>
          </table> 
          <div class="my-buttons">
          <pagination-controls class="my-pagination" [hidden]="leaveApplicationCount == 0" (pageChange)="handlePageChange($event)"></pagination-controls>
          <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mb-2" [hidden]="leaveApplicationCount == 0" (click)="exportToExcelForLeave()"><em class="fa fa-file-arrow-down fa-2x"></em></button>
        </div>
    </div>
</ng-template>

<!-- compOff Req Modal -->
<ng-template #compOffReq>
    <div class="modal-body">
        <div class="table-header">
            <h1 class="table-header-title">My Reportee Compensatory off Applications</h1>
        </div>
        <table class="table compOffApplication-table">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="info-label">Sr No.</th>
                <th scope="col" class="info-label">Applied By</th>
                <th scope="col" class="info-label">Applied For</th>
                <th scope="col" class="info-label">From Date</th>
                <th scope="col" class="info-label">To Date</th>
                <th scope="col" class="info-label">Duration</th>
                <th scope="col" class="info-label">Description</th>
                <th scope="col" class="info-label">Status</th>
                <th scope="col" class="info-label">Actions</th>
             </tr>
            </thead>
            <tbody>
                <tr *ngIf="compOffApplicationCount == 0">
                    <th colspan="8" class="text-center info-label">No details to display...</th>
                </tr>
                <tr *ngFor="let compOffApp of allCompOffApplications | paginate: { itemsPerPage: 10, currentPage: page };let i = index">
                    <td>{{i+1}}</td>
                    <td>{{compOffApp.createdByName}}</td>
                    <td>{{compOffApp.compOffReasons}}</td>
                    <td>{{compOffApp.fromDate}}</td>
                    <td>{{compOffApp.toDate}}</td>
                    <td>{{compOffApp.noOfDays}}</td>
                    <td>{{compOffApp.description}}</td>
                    <td>{{compOffApp.status}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-success" type="submit" (click)="onUpdateCompOffStatus(alert_message, compOffApp, 2)" title="Approve"><em class="fa-solid fa-check"></em></button>&nbsp;
                        <button class="btn btn-sm btn-outline-danger" type="submit" (click)="onUpdateCompOffStatus(alert_message, compOffApp, 3)" title="Reject"><em class="fa-solid fa-xmark"></em></button>
                    </td>
                </tr>
            </tbody>
          </table>  
          <div class="my-buttons">
          <pagination-controls class="my-pagination" [hidden]="compOffApplicationCount == 0" (pageChange)="handlePageChange($event)"></pagination-controls>
          <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mb-2" [hidden]="compOffApplicationCount == 0" (click)="exportToExcelForCompOff()"><em class="fa fa-file-arrow-down fa-2x"></em></button>
        </div>
    </div>
</ng-template>




<!-- Modals templates -->
<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>