<div class="row mb-3">
    <div class="col-md-12 px-0">
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.add_team" [ngClass]="{'active' : isTeamForm && isCreation}" (click)="showCreateTeamForm()">Add New Team</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_teams || userMapping.update_team || userMapping.delete_team" [ngClass]="{'active' : isTeamTable}" (click)="showViewTeams()">View Teams</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.add_activity" [ngClass]="{'active' : isActivityForm && isCreation}" (click)="showCreateActivityForm()">Add New Activity</button>
        <button type="button" class="btn btn-outline-primary btn-sm mx-1" *ngIf="userMapping.view_activities || userMapping.update_activity || userMapping.delete_activity" [ngClass]="{'active' : isActivityTable}" (click)="showViewActivities()">View Activities</button>
    </div>
</div>

<!-- start :: Create & Update Team -->
<div class="row">
    <div class="card col-md-12 px-0" *ngIf="isTeamForm">
        <div class="card-header text-center text-uppercase">
            <strong *ngIf="isCreation">Create Team</strong>
            <strong *ngIf="isUpdation">Update Team</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Project Name</label>
                            <select class="form-control" aria-hidden="true" [(ngModel)]="teamObj.projectId" [disabled]="isUpdation">
                                <option selected="selected" value="" disabled>Select</option>
                                <option *ngFor="let project of allProjectListByManagerId" value="{{project.projectId}}">{{project.projectName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Team Name</label>
                            <input type="text" class="form-control" maxlength="255" autocomplete="none" [(ngModel)]="teamObj.teamName"  (blur)="checkTeamName(alert_message)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Department</label>
                            <mat-select class="form-control" multiple [(ngModel)]="teamObj.departmentList" (selectionChange)="getAllEmployeesByDepartmentIds();getAllEmployeesByRole()">
                                <mat-option selected="selected" value="" disabled>Select</mat-option>
                                <mat-option *ngFor="let dept of allDeptList" [value]="dept">{{dept.name}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label">Team Lead</label>
                            <select class="form-control" aria-hidden="true" [(ngModel)]="teamObj.teamLeadId">
                                <option selected="selected" value="" disabled>Select</option>
                                <option *ngFor="let teamLead of teamLeadsList" value="{{teamLead.empId}}">{{teamLead.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
             <!-- Update Existing Members -->
            <div *ngIf="isUpdation && teamObj.allTeamMemberList[0]" class="container-fluid px-0">
                <div class="row ml-1 mt-5">
                    <h3>Existing Team Members</h3>
                </div>
                <div *ngFor="let teamMember of teamObj.allTeamMemberList; let i = index" class="row">
                    <div class="col-md-4 mb-0">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <input type="text" class="form-control" autocomplete="none" disabled
                                    [(ngModel)]="teamMember.teamMemberName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex">
                        <div class="m-0">
                            <button type="button" class="btn btn-outline-primary mx-1" (click)="removeTeamMember(teamMember)"><i
                                    class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- New Team Members -->
            <div *ngIf="allTeamMembers && allTeamMembers.length !== 0" class="container-fluid px-0">
                <div class="row ml-1 mt-5">
                    <h3>New Team Members</h3>
                </div>
                <div *ngFor="let teamMember of allTeamMembers; let i = index" class="row">
                    <div class="col-md-4 mb-0">
                        <div class="info-wrapper">
                            <div class="form-group">
                                <input type="text" class="form-control" autocomplete="none" disabled
                                    [(ngModel)]="teamMember.name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex">
                        <div class="m-0">
                            <button type="button" class="btn btn-outline-primary mx-1" (click)="removeInputTeamMemberField(teamMember);updateEmployeeListAccordingToTeamMembers()"><i
                                    class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add New Team Members -->
            <div class="row ml-1 mt-5">
                <h3>Add Team Members</h3>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <select class="form-control" aria-hidden="true" [(ngModel)]="newteamMember.empId">
                                <option selected="selected" value="" disabled>Select</option>
                                <option *ngFor="let employee of employeeListByDept" value="{{employee.empId}}" [disabled]="employee.isSelected">{{employee.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 d-flex">
                    <div class="m-0">
                        <button type="button" class="btn btn-outline-primary mx-1"
                            (click)="addTeamMember();updateEmployeeListAccordingToTeamMembers()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        <!-- 
            <div *ngFor="let teamMember of allTeamMembers; let i = index" class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <select class="form-control" aria-hidden="true" [(ngModel)]="teamMember.empId">
                                <option selected="selected" value="" disabled>Select</option>
                                <option *ngFor="let employee of employeeListByDept" value="{{employee.empId}}" [disabled]="employee.isSelected">{{employee.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 d-flex">
                    <div class="m-0">
                        <button type="button" class="btn btn-outline-primary mx-1"
                            (click)="addInputTeamMemberField();updateEmployeeListAccordingToTeamMembers()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        <button *ngIf="i != 0" type="button" class="btn btn-outline-primary mx-1"
                            (click)="removeInputTeamMemberField(teamMember);updateEmployeeListAccordingToTeamMembers()"><i class="fa fa-trash"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        -->
            <div class="row mt-3">
                <div class="col-md-12">
                    <button *ngIf="isCreation && userMapping.add_team" type="submit" class="btn btn-primary btn-sm mx-1" [disabled]="allTeamMembers && allTeamMembers.length == 0" (click)="onCreateTeam(alert_message)">Create Team</button>
                    <button *ngIf="isUpdation && userMapping.update_team" type="submit" class="btn btn-primary btn-sm mx-1" (click)="onUpdateTeam(alert_message)">Update Team</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end :: create & update Team -->

<!-- start :: View Teams -->
<div class="row" *ngIf="isTeamTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">All Teams</h1>
            </div>    
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Project Name</label>
                        <select class="form-control" aria-hidden="true" [(ngModel)]="selectedProject" (change)="getAllTeamsByProjectId(selectedProject)">
                            <option selected="selected" value="" disabled>Select</option>
                            <option *ngFor="let project of allProjectListByManagerId" value="{{project.projectId}}">{{project.projectName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="ml-auto col-md-3 mt-4 pt-2 mb-2">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">	
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'teamInfo'" [tableTHeadId]="'teamInfoTHead'"
                    [tableTHeadTrId]="'teamInfoTHeadTr'">
                    <table class="table table-responsive" id="teamInfo" matSort (matSortChange)="sortTeam($event)">	
                        <thead class="thead-light" id="teamInfoTHead">	
                          <tr id="teamInfoTHeadTr">	
                            <th scope="col" class="info-label">Sr No.</th>	
                            <th scope="col" class="info-label" mat-sort-header="teamName">Team Name</th>	
                            <th scope="col" class="info-label" mat-sort-header="teamLeadName">Team Lead</th>	
                            <th scope="col" class="info-label" mat-sort-header="createdByName">Created by</th>	
                            <th scope="col" class="info-label" mat-sort-header="createdOn">Created on</th>
                            <th scope="col" class="info-label">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="allTeamList.length == 0">
                                <th colspan="8" class="text-center info-label">No details to display...</th>
                            </tr>
                            <tr *ngFor="let team of allTeamList|filter:data | paginate: { itemsPerPage: 20, currentPage: page }; let i = index">
                                <th scope="col" class="info-label">{{20*(page-1)+i+1}}</th>
                                <td>{{team.teamName}}</td>
                                <td>{{team.teamLeadName}}</td>
                                <td>{{team.createdByName}}</td>
                                <td>{{team.createdOn}}</td>
                                <td>
                                    <button *ngIf="userMapping.update_team" class="btn btn-sm btn-outline-primary" type="submit" (click)="showUpdateTeamForm(team)"><em class="fa fa-edit"></em></button>&nbsp;
                                    <button *ngIf="userMapping.delete_team" class="btn btn-sm btn-outline-danger"  type="submit" (click)="openDeleteTeamMod(delete_team_template,team)"><em class="fa fa-trash"></em></button>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                      <pagination-controls class="my-pagination" [hidden]="allTeamList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls> 
                      <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2" [hidden]="allTeamList.length == 0" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button>
                </div>
            </div>  
        </div>  
    </div>
</div>
<!-- end :: View Teams -->


<!-- start :: Create & Update Activity -->
<div class="row">
    <div class="card col-md-12 px-0" *ngIf="isActivityForm">
        <div class="card-header text-center text-uppercase">
            <strong *ngIf="isCreation">Create Activity</strong>
            <strong *ngIf="isUpdation">Update Activity</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Project Name</label>
                            <select class="form-control" aria-hidden="true" [(ngModel)]="activityObj.projectId"
                                (change)="getAllTeamsByProjectId(activityObj.projectId); isDisabled = true;">
                                <option selected="selected" value="" disabled>Select</option>
                                <option *ngFor="let project of employeeSpecificProjectList"
                                    value="{{project.projectId}}">{{project.projectName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Team Name</label>
                            <select class="form-control" aria-hidden="true" [(ngModel)]="activityObj.teamId"
                                [disabled]="(isDisabled) || (!activityObj.projectId)">
                                <option selected="selected" value="" disabled>Select</option>
                                <option *ngFor="let team of allTeamList;" value="{{team.teamId}}">{{team.teamName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>Activity</label>
                            <input type="text" class="form-control" autocomplete="none"
                                [(ngModel)]="activityObj.activity">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-0">
                    <div class="info-wrapper">
                        <div class="form-group">
                            <label class="info-label"><span class="text-danger">*</span>ETA
                                <small>(Hours)</small></label>
                            <input type="number" class="form-control" autocomplete="none" [(ngModel)]="activityObj.eta">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button *ngIf="isCreation && userMapping.add_activity" type="submit"
                        class="btn btn-primary btn-sm mx-1" (click)="onCreateActivity(alert_message)">Create
                        Activity</button>
                    <button *ngIf="isUpdation && userMapping.update_activity" type="submit"
                        class="btn btn-primary btn-sm mx-1" (click)="onUpdateActivity(alert_message)">Update
                        Activity</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end :: create & update Activity -->

<!-- start :: View Activities -->
<div class="row" *ngIf="isActivityTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-header">
                <h1 class="table-header-title">All Activities</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label"><span class="text-danger">*</span>Project Name</label>
                        <select class="form-control" aria-hidden="true" [(ngModel)]="selectedProject" (change)="getAllTeamsByProjectId(selectedProject); isDisabled = true;">
                            <option selected="selected" value="" disabled>Select</option>
                            <option *ngFor="let project of employeeSpecificProjectList" value="{{project.projectId}}">{{project.projectName}}</option>
    
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-wrapper">
                    <div class="form-group">
                        <label class="info-label" ><span class="text-danger">*</span>Team Name</label>
                        <select class="form-control" aria-hidden="true" [(ngModel)]="selectedTeam" [disabled]="(!selectedProject) || (isDisabled)" (change)="getAllActivitiesByProjectIdAndTeamId(selectedProject, selectedTeam)">
                            <option selected="selected" value="" disabled>Select</option>
                            <option *ngFor="let team of allTeamList;" value="{{team.teamId}}" >{{team.teamName}}</option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ml-auto mt-4 pt-2 mb-2">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data" (keyup)="page=1">	
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto" bassHorizontalScroll [tableId]="'activityInfo'" [tableTHeadId]="'activityInfoTHead'"
                [tableTHeadTrId]="'activityInfoTHeadTr'">
                <table class="table table-responsive" id="activities-table" matSort (matSortChange)="sortActivity($event)">	
                    <thead class="thead-light">	
                      <tr>	
                        <th scope="col" class="info-label">Sr No.</th>	
                        <th scope="col" class="info-label" mat-sort-header="activity">Activity</th>	
                        <th scope="col" class="info-label" mat-sort-header="eta">ETA</th>	
                        <th scope="col" class="info-label" mat-sort-header="createdByName">Created by</th>	
                        <th scope="col" class="info-label" mat-sort-header="createdOn">Created on</th>
                        <th scope="col" class="info-label">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="allActivityList.length == 0">
                            <th colspan="8" class="text-center info-label">No details to display...</th>
                        </tr>
                      <tr *ngFor="let activity of allActivityList|filter:data | paginate: { itemsPerPage: 20, currentPage: page }; let i = index" >
                        <th scope="col" class="info-label">{{20*(page-1)+i+1}}</th>
                        <td>{{activity.activity}}</td>
                        <td>{{activity.eta}} hr(s)</td>
                        <td>{{activity.createdByName}}</td>
                        <td>{{activity.createdOn}}</td>
                        <td>
                            <button *ngIf="userMapping.update_activity" class="btn btn-sm btn-outline-primary" type="submit" (click)="showUpdateActivityForm(activity)"><em class="fa fa-edit"></em></button>&nbsp;
                            <button *ngIf="userMapping.delete_activity" class="btn btn-sm btn-outline-danger"  type="submit" (click)="openDeleteActivityMod(delete_activity_template,activity)"><em class="fa fa-trash"></em></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <pagination-controls class="my-pagination" [hidden]="allActivityList.length == 0" (pageChange)="handlePageChange($event)"></pagination-controls> 
                <button type="button" class="btn btn-sm btn-outline-primary ml-auto mr-5 mt-2 mb-2" [hidden]="allActivityList.length == 0" (click)="exportToExcel()"><em class="fa fa-file-arrow-down fa-2x"></em></button>
            </div>
        </div>
    </div>      
</div>
<!-- end :: View Activities -->


<!-- Modals Template -->
<ng-template #delete_team_template>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete the Team?</p>
        <button type="button" class="btn btn-success" (click)="cancelRequest();onDeleteTeam(alert_message)">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<ng-template #delete_activity_template>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete the Activity?</p>
        <button type="button" class="btn btn-success" (click)="cancelRequest();onDeleteActivity(alert_message)">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<ng-template #update_team_mapping_template>
    <div class="modal-body text-center">
        <p>Are you sure you want to Update the team members for this Team?</p>
        <button type="button" class="btn btn-success" (click)="cancelRequest();">Yes, proceed</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelRequest()">No, Cancel</button>&nbsp;
    </div>
</ng-template>

<ng-template #alert_message>
    <div class="modal-body text-center">
        <p>{{alertMessage}}</p>
        <button type="button" class="btn btn-primary" (click)="cancelRequest()">OK</button>&nbsp;
    </div>
</ng-template>